<div class="container">
    <div id="text-center-div" class="text-center">
        <ul id="pagination-unordered-list" *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li id="pagination-list-item1" class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a id="pagination-anch-1" class="page-link" (click)="setPage(null, 1)">
                    <span class="k-icon k-i-seek-w"></span>
                </a>
            </li>
            <li id="pagination-list-item2" class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a id="pagination-anch-2" class="page-link" (click)="setPage(null, pager.currentPage - 1)">
                    <span class="k-icon k-i-arrow-w"></span>
                </a>
            </li>
            <li name="pager-pages" *ngFor="let page of pager.pages" class="page-item" [ngClass]="{active:pager.currentPage === page}">
                <a name="pagination-anch-3" class="page-link" (click)="setPage(null, page)">
                    <span>
                    {{page}}
                </span>
                </a>
            </li>
            <li id="pagination-list-item3" class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a id="pagination-anch-4" class="page-link" (click)="setPage(null, pager.currentPage + 1)">
                    <span class="k-icon k-i-arrow-e"></span>
                </a>
            </li>
            <li id="pagination-list-item4"class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a id="pagination-anch-5" class="page-link" (click)="setPage(null, pager.totalPages)">
                    <span class="k-icon k-i-seek-e"></span>
                </a>
            </li>
            <div id="pagination-div1" class="pagination-text">
                Showing from {{showingFrom}} to {{showingTo}} of {{total}} entries
            </div>
        </ul>

    </div>

</div>
