.container {
    margin-top: 1rem;
    padding-left: 0px;
    float: left !important;
}

li {
    cursor: pointer;
}

.active {
    cursor: default;
}

.disabled {
    cursor: default;
}

.active .page-link {
    color: #6d7073 !important;
    background-color: #dcdcdc !important;
    border-color: #dcdcdc !important;
}

.page-item {
    color: #007bff;
    width: 4.5%;
}

.pagination-text {
    right: 5%;
    position: absolute;
}