
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
}

.classifiers-filter-inner {
    margin-left: 10px;
    margin-bottom: 10px;
}