<div class="row classifiers-filter-inner">
    <div class="col-3" style="display: block; border-right: 1px solid lightgray" *ngIf="ratioChartData[0].data.length > 0">   
        <app-pie-chart 
            id="pie-chart-1"
            [datasets]="ratioChartData" 
            [labels]="(currentSprint && passedSprint) ? pieChartLabels : ['Today', 'Yesterday']"
            [chartType]="pieChartType" 
            [options]="pieChartOptions" 
            [currentSprint]="(currentSprint && passedSprint) ? currentSprint.title : 'Yesterday'"
            [passedSprint]="(currentSprint && passedSprint) ? passedSprint.title : 'Today'"   
            [currentSprintPercentage]="currentRatio" 
            [passedSprintPercentage]="pastRatio"
            [trend]="'Execution Trend'" 
            [trendPercentage]="ratioTrend" 
            [showSprintsPercentage]="true" 
            [colors]="(currentSprint && passedSprint) ? [pieChartColors[0]] : pieChartColors">
        </app-pie-chart>
    </div>
    <div class="col-3" style="display: block; border-right: 1px solid lightgray" *ngIf="passChartData[0].data.length > 0">
        <app-pie-chart 
            id="pie-chart-2"
            [datasets]="passChartData" 
            [labels]="(currentSprint && passedSprint) ? pieChartLabels : ['Today', 'Yesterday']"
            [chartType]="pieChartType" 
            [options]="pieChartOptions" 
            [currentSprint]="(currentSprint && passedSprint) ? currentSprint.title : 'Yesterday'"
            [passedSprint]="(currentSprint && passedSprint) ? passedSprint.title : 'Today'"  
            [currentSprintPercentage]="currentPassTrend" 
            [passedSprintPercentage]="pastPassTrend"
            [trend]="'Pass Trend'" 
            [trendPercentage]="passTrend" 
            [showSprintsPercentage]="true" 
            [colors]="(currentSprint && passedSprint) ? [pieChartColors[0]] : pieChartColors">
        </app-pie-chart>
    </div>
    <div class="col-3" style="display: block; border-right: 1px solid lightgray" *ngIf="executedChartData[0].data.length > 0">
        <app-pie-chart 
            id="pie-chart-3"
            [datasets]="executedChartData" 
            [labels]="(currentSprint && passedSprint) ? pieChartLabels : ['Today', 'Yesterday']"
            [chartType]="pieChartType" 
            [options]="pieChartOptions" 
            [currentSprint]="(currentSprint && passedSprint) ? currentSprint.title : 'Yesterday'"
            [passedSprint]="(currentSprint && passedSprint) ? passedSprint.title : 'Today'"  
            [currentSprintPercentage]="currentExecutedCount" 
            [passedSprintPercentage]="pastExecutedCount"
            [trend]="'Executed Count'" 
            [trendPercentage]="executedCountTrend" 
            [showSprintsPercentage]="true" 
            [colors]="(currentSprint && passedSprint) ? [pieChartColors[0]] : pieChartColors">
        </app-pie-chart>
    </div>
    <div class="col-3" style="display: block" *ngIf="outstandingChartData[0].data.length > 0">
        <app-pie-chart 
            id="pie-chart-4"
            [datasets]="outstandingChartData" 
            [labels]="(currentSprint && passedSprint) ? pieChartLabels : ['Today', 'Yesterday']"
            [chartType]="pieChartType" 
            [options]="pieChartOptions" 
            [currentSprint]="(currentSprint && passedSprint) ? currentSprint.title : 'Yesterday'"
            [passedSprint]="(currentSprint && passedSprint) ? passedSprint.title : 'Today'"   
            [currentSprintPercentage]="currentOutstandingDefects" 
            [passedSprintPercentage]="pastOutstandingDefects"
            [trend]="'Outstanding Defects'" 
            [trendPercentage]="outstandingDefectsTrend" 
            [showSprintsPercentage]="true" 
            [colors]="(currentSprint && passedSprint) ? [pieChartColors[0]] : pieChartColors">
        </app-pie-chart>
    </div>
</div>
