<app-sidebar></app-sidebar>
<div class="container-fluid">
    <section id="content">
        <div class="row">
            <div>
                <app-add-edit-hierarchy-type [hierarchyTypes]="hierarchyTypes" [isHierarchyTypeEdited]="isHierarchyTypeEdited" [selectedHierarchyType]="selectedHierarchyType" [hierarchyTypeWindowOpen]="hierarchyTypeWindowOpen" (closeHierarchyTypeWindow)="close()" (hierarchyTypeListUpdated)="updatehierarchyTypeList($event)">
                </app-add-edit-hierarchy-type>
            </div>
            <div>
                <div class="pane-content">
                    <kendo-grid id="hierarchy-type-grid" [data]='gridData' [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true" (dataStateChange)="dataStateChange($event)">
                        <ng-template kendoGridToolbarTemplate *ngIf="addHierarchyTypePermission()">
                            <a class="button custom-help" href="#h-manager"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                            <button id="hierarchy-type-window" (click)="openHierarchyTypeWindow()" class="k-button k-grid-add-command ng-star-inserted custom-add-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </ng-template>
                        <div class="top-table">
                            <kendo-grid-column title="Title" [field]="'title'">
                            </kendo-grid-column>
                            <kendo-grid-column title="Description" [field]="'description'">
                            </kendo-grid-column>
                            <kendo-grid-column title="Path" [filterable]="false" [field]="'path'">
                            </kendo-grid-column>
                            <kendo-grid-column field="Actions" [filterable]="false" width="350" *ngIf="deleteHierarchyTypePermission() || editHierarchyTypePermission()">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <button name="hierarchy-type-edit" class="edit-system-btn k-button ng-star-inserted" (click)="openHierarchyTypeWindow(dataItem)" *ngIf="editHierarchyTypePermission()">
                                                  Edit
                                            </button>
                                    <button name="hierarchy-type-delete" class="btn btn-danger delete-system-btn" (click)="openDeleteHierarchyTypeWindow(dataItem)" *ngIf="deleteHierarchyTypePermission()">
                                                  Delete
                                            </button>
                                </ng-template>
                            </kendo-grid-column>
                        </div>
                    </kendo-grid>
                </div>
            </div>
        </div>
        <!-- <kendo-splitter orientation="vertical" style="height: auto; border-color:transparent;">
            <kendo-splitter-pane>
                <kendo-splitter>
                    <kendo-splitter-pane [collapsible]="true" size="30%">
                        <div class="pane-content"> -->

        <app-delete-hierarchy-type [hierarchyTypes]="hierarchyTypes" [deleteHierarchyTypeWindowOpen]="deleteHierarchyTypeWindowOpen" [_selectedHierarchyType]="selectedHierarchyType" (closeDeleteHierarchyTypeWindow)="close()" (removeHierarchyTypeFromList)="removeHierarchyTypeFromList($event)">
        </app-delete-hierarchy-type>
        <!-- </div>
                    </kendo-splitter-pane> -->
        <!-- <kendo-splitter-pane style="z-index: 1;"> -->

        <!-- </kendo-splitter-pane> -->
        <!-- </kendo-splitter>
            </kendo-splitter-pane>
        </kendo-splitter> -->
    </section>
</div>
<app-hierarchy-popup></app-hierarchy-popup>
