.edit-system-btn {
    color: black;
    width: 5rem;
    margin-right: 1.5rem;
    background-color: lightgray;
}

.delete-system-btn {
    width: 5rem;
    margin-right: 1.5rem;
    font-size: 14px;
}

.action-buttons {
    border-color: #92c94d;
    color: #ffffff;
    background-color: #92c94d;
}

.action-buttons :hover {
    border-color: #c7cdd5;
    color: #212529;
    background-color: #ced3db;
}


/* Astrit Marleku */

html,
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

body {
    background: #FFFFFF;
    height: 100%;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#content {
    float: right;
    width: 87%;
    height: 100%;
    word-wrap: break-word;
    background: #FFFFFF;
    font-family: Raleway, sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.content {
    padding: 31px 0;
    float: left;
    background: #E9EEF4;
    width: 100%;
    height: 87vh;
    box-sizing: border-box;
}

.content-header {
    background: #fff;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.content-header h1 {
    margin: 0;
    font-weight: normal;
    padding-bottom: 5px;
}

.content-header p {
    margin: 0;
    padding-left: 2px;
}

.widget-box {
    background: #fff;
    border: 1px solid #E0E0E0;
    float: left;
    width: 100%;
    margin: 0 0 15px 15px;
}

.widget-header {
    background: #279BE4;
}

.widget-header h2 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 11px 15px;
    color: #F9F9F9;
    display: inline-block;
}

.sample-widget {
    max-width: 47%;
}

.widget-box .fa-cog {
    float: right;
    color: #fff;
    margin: 11px 11px 0 0;
    font-size: 20px;
}


/* Custom css */

.btn-primary {
    color: #fff;
    background-color: #124b5e;
    border-color: #124b5e;
}

.custom-btn {
    width: 94.5%;
}

::ng-deep.k-grid-toolbar .k-button {}

.custom-add-button {
    vertical-align: middle;
    background: #92c94d;
    color: white;
    border-radius: 86px;
    height: 57px;
    width: 57px;
    font-size: 28px;
}

::ng-deep .k-grid tr {
    color: #124b5e;
    font-weight: 600;
}

::ng-deep .k-splitter-flex .k-pane {
    z-index: 1;
}

.pane-content {
    top: 2rem;
    position: relative;
}

.custom-help {
    background: rgba(0, 0, 0, .12);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    float: right;
    right: 16px;
    top: 15px;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
