<div id="view-workflow-main" class="main">
    <div id="app" class="joint-app joint-theme-modern stylesForPopUp ">
        <div id="view-workflow-app-header" class="app-header" style="display: none">
            <div id="view-workflow-toolbar-container" class="toolbar-container" style="display: none"></div>
        </div>
        <div id="view-workflow-main-heighlight" class="main-highlight">
            <div id="view-workflow-stencil-container" class="stencil-container" style="display: none">
            </div>
            <div id="view-workflow-paper-container" class="paper-container"></div>
            <div id="view-workflow-Navigator-container" class="navigator-container"></div>
        </div>
    </div>
</div>
