.dialog {
  text-align: center;
  font-size: 18px;
  overflow: hidden;
}

input {
  width: 19rem;
}

input {
  height: 2rem;
}

.action-buttons {
  top: 1rem;
}

.add {
  margin: 1px 10px;
  background: #9bc34d;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 8px 39px;
}

.exit {
  background: #e55039;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 8px 39px;
}

.k-window-content {
  overflow: hidden !important;
}

.typical-types {
  width: 19rem;
}
