<kendo-dialog id="add-edit-attr"[minWidth]="isTypicalEdited ? '500' : '600'" [height]="isTypicalEdited ? '500px' : '620px'" [title]="isTypicalEdited ? 'Edit Attribute' : 'Add Attribute'" *ngIf="typicalWindowOpen" (close)="close()">
  <div class="dialog">
    <div class="row">
      <div class="col-12">
        <span id="title">Title</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input id="selected-typical" type="text" (input)="changeTitle($event)" [value]="selectedTypical.title" />
      </div>
    </div>
    <br/><br/>
    <div class="row" *ngIf="!this.isTypicalEdited">
      <div class="col-12">
        <span id="typical-type-span">Typical Type</span>
      </div>
    </div>
    <div class="row" *ngIf="!this.isTypicalEdited">
      <div class="col-12">
        <kendo-combobox id="typical-types" class="typical-types" [data]="typicalTypes" placeholder="Select Typical Type" [textField]="'title'" [valueField]="'type'" [filterable]="true" [value]="selectedTypicalType" (valueChange)="changeTypicalType($event)">
        </kendo-combobox>
      </div>
    </div><br *ngIf="!this.isTypicalEdited" /><br *ngIf="!this.isTypicalEdited" />
    <kendo-dialog-actions>
      <div id="actions" class="row">
        <div class="col-12 action-buttons">
          <button id="btn-add" class="btn add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">Submit</button>
          <button id="btn-exit" class="btn exit" (click)="close()">Cancel</button>
        </div>
      </div>
    </kendo-dialog-actions>
  </div>
</kendo-dialog>
