<div>
  <strong id="time-to-fix-bussiness-area-strong-text" >Time to fix per business area and root cause</strong>
  <div *ngIf="!nodata">
    <div class="row">
      <div class="col-md-12">
        <div style="display: block">
          <canvas id="time-to-fix-bussiness-area-canvas" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ng5-slider id="time-to-fix-bussiness-area-slider" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
          (userChange)="onRangeSliderApply()">
        </ng5-slider>
      </div>
    </div>
  </div>
  <p id="no-data-time-to-fix-bussiness-area" *ngIf="nodata">
    No data for this period.
  </p>
</div>