#legend{
    display:inline-block;
    margin-left:20px;
}

#legend_container{
    display: block;    
}
.box_legend {
    display: inline-block;
    height: 10px;
    width: 10px;
    padding: 5px;
    border: 0px solid;
    margin-right: 2px;
}