.full-Content {
    float: right;
    width: 88%;
    margin-left: 1rem;
}

.edit-system-btn {
    color: black;
    width: 5rem;
    margin-right: 1.5rem;
    background-color: lightgray;
}

.delete-system-btn {
    width: 5rem;
    margin-right: 1.5rem;
    font-size: 14px;
}

.card-actions {
    background-color: #80808021;
    height: 2rem;
    display: flex;
    width: 95%;
    margin-top: 2%;
}

.card-actions>p {
    margin-top: 3px;
    margin-bottom: 1rem;
    margin-left: 15px;
    color: grey;
}

.list-group {
    width: 95%;
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: #eeeeee;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    width: 94%;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.roles-title {
    display: flex;
    justify-content: center;
}

.card {
    width: 96%;
    margin-top: 3%;
}

.card:hover {
    background-color: #80808021;
    cursor: pointer;
    color: #124b5e;
    box-shadow: #6c757d 0px 0px 12px 0px;
}

.card a {
    text-transform: none;
}

.a {
    text-transform: none;
    color: black;
}

.a:hover {
    text-transform: unset;
    text-decoration: none;
}


/* New css based on mockups */

.roles-people {
    background-color: white;
    padding: 4rem 2rem;
    border-radius: 3rem;
}

i {
    font-size: 30px;
}

.card-body {
    display: flex;
    justify-content: center;
}

.card-title {
    color: #124b5e;
}


/* end new css based on mockups */


/* AM Code */

.main-title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #6c757d;
}

.custom-button {
    color: white;
    background-color: #92c94d;
}

.k-grid tr.dragging {
    background-color: #92c94d;
}

.custom-add-button {
    vertical-align: middle;
    background: #92c94d;
    color: white;
    border-radius: 86px;
    height: 57px;
    width: 57px;
    font-size: 28px;
}

.custom-help {
    background: rgba(0, 0, 0, .12);
    width: 40px;
    height: 40px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    right: 0;
    margin: -7px 9px;
    padding: 1px 3px;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}


/* AM Code */


/* Responsive for loptop */

@media screen and (max-width: 1600px) {
    .card {
        height: 64%;
    }
    h5 {
        bottom: 7px;
        position: relative;
    }
}
