<div id="priority-popup" class="popup-text">
    <a id="priority-ahref" class="button custom-help" href="#priority"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
    <h5 id="priority-title" class="main-title">Configure Priorities</h5>
</div>
<kendo-grid id="priority-grid1" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [pageable]="true" (dataStateChange)="dataStateChange($event)" [rowClass]="rowCallback" class="priorityTable">
    <ng-template kendoGridToolbarTemplate *ngIf="addPriorityPermission()">
        <button id="priority-openWindow" (click)="openPriorityWindow()" class="k-button k-grid-add-command ng-star-inserted custom-add-button"> <i  aria-hidden="true" class="fa fa-plus"></i></button>
    </ng-template>
    <kendo-grid-column title="Title" [field]="'title'">
    </kendo-grid-column>
    <kendo-grid-column title="Description" [field]="'code'">
    </kendo-grid-column>
    <kendo-grid-column field="Actions" [filterable]="false" width="350" *ngIf="deletePriorityPermission() || editPriorityPermission()">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button name="priority-edit" class="edit-system-btn k-button k-grid-add-command ng-star-inserted" (click)="openPriorityWindow(dataItem)" *ngIf="editPriorityPermission()">
        Edit
      </button>
            <button name="priority-delete" class="btn btn-danger delete-system-btn" (click)="openDeletePriorityWindow(dataItem)" *ngIf="deletePriorityPermission()">
        Delete
      </button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>
<app-add-edit-priority [isPriorityEdited]="isPriorityEdited" [selectedPriority]="selectedPriority" [priorityWindowOpen]="priorityWindowOpen" (closePriorityWindow)="close()" (priorityListUpdated)="updatePriorityList($event)"></app-add-edit-priority>
<app-delete-priority [deletePriorityWindowOpen]="deletePriorityWindowOpen" [selectedPriority]="selectedPriority" (closeDeletePriorityWindow)="close()" (removePriorityFromList)="removePriorityFromList($event)"></app-delete-priority>
<app-priority-popup></app-priority-popup>
