<div id="p-header-topContainer" class="row top-container">
    <div class="col-7" style="margin-left: 1.3rem; margin-top: 0.3rem;">
        <div class="row">
        </div>
        <div class="row">
            <div class="navigation">
                <div id="p-header-navigation" *ngFor="let nav of navigation" class="navigation-text">
                    <span id="p-header-navigation0" *ngIf="nav.id !== navigation[0].id"> > {{ " "}} </span> <a [title]="nav.title" [ngClass]="{'link': nav.id !== navigation[navigation.length - 1].id}" (click)="navigateClicked(nav)">{{nav.title}}</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4 back-search" style="margin-left: auto;">
        <button id="p-header-GOBACK" name="p-header-GOBACK" class="btn btn-default back-btn custom-button-style" title="Go Back" (click)="goBack()"><i
        class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
        <div id="p-header-promiossion" class="form-group has-search" *ngIf="permissionService.hasPermission('/api/Process/Browse/SearchHierarchies')">
            <span id="p-header-s-promission" class="fa fa-search form-control-feedback"></span>
            <input id="p-header-input-promission" type="text" class="form-control" placeholder="Search..." [value]="searchCriteria" (input)="onChangeHierarchies($event)">
        </div>
    </div>
</div>
<div class="row">
    <kendo-splitter style="height: 100%;">
        <kendo-splitter-pane size="50%" style="height: auto;overflow: hidden;">
            <div class="col-md-12" style="padding-right: 0">
                <div id="p-header-group" class="btn-group btn-breadcrumb">
                    <button id="p-header-bigbuton" name="p-header-bigbutton" [title]="hierarchyType.title" style="height: 2rem;" [ngClass]="{
                                            'btn': true,
                                            'btn-primary': (!selectedHierarchy || hierarchyType.id !== selectedHierarchy.hierarchyTypeId),
                                            'active-btn': (selectedHierarchy && hierarchyType.id === selectedHierarchy.hierarchyTypeId)
                                        }" [ngStyle]="{'width': 100/_hierarchyTypes.length + '%'}" *ngFor="let hierarchyType of _hierarchyTypes">
            <span class="hierarchy-type-title">{{hierarchyType.title}}</span>
          </button>
                </div>
            </div>
        </kendo-splitter-pane>
        <kendo-splitter-pane size="50%" style="height: auto;overflow: hidden;">
            <div class="col-md-12" style="padding-left: 0">
                <button id="p-header-smallbutton" name="p-header-smallbutton" style="height: 2rem; width: 100%; text-align: center;" class="btn btn-primary" [ngClass]="{'requirement-btn': _hierarchyTypes && _hierarchyTypes.length > 0}">
          Requirements
        </button>
            </div>
        </kendo-splitter-pane>

    </kendo-splitter>

</div>
