.headers {
    padding-bottom: 0.6rem;
    padding-top: 1.2rem;
    padding-left: 0.3rem;
    margin: 0;
    color: #696969 !important;
}

.navigation {
    margin-bottom: 0.2rem;
    margin-top: 0.6rem;
    display: inline-flex;
    float: right;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.process-header {
    display: inline-flex;
    width: 100%;
}

.fa-angle-left:hover {
    color: black !important;
}

.fa-angle-left {
    margin-top: 1rem;
    margin-right: 1.3rem;
    color: #696969 !important;
    cursor: pointer;
}

.fa-search {
    color: #696969 !important;
    margin-top: 0.9rem;
}

.form-control {
    width: 100%;
}

.form-group {
    margin-right: 0.3rem;
}

.has-search .form-control {
    margin-top: 0.9rem;
    padding-left: 2.375rem;
}

.has-search {
    position: absolute;
    right: 1rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.link {
    cursor: pointer;
    text-decoration: underline !important;
}

.navigation-text {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.back-btn {
    height: 2.37rem;
    border: 1px solid #ccc;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.9rem;
    margin-right: 0.5rem;
    overflow: hidden;
    color: #333;
    background-color: #fff;
    position: absolute;
    right: 16.5rem;
}

.back-btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}


/* .btn-breadcrumb .btn:first-child {
    padding: 6px 6px 6px 10px;
}

.btn-breadcrumb .btn:last-child {
    padding: 6px 18px 6px 24px;
} */

.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
    border-left: 7px solid #757575;
}

.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
    border-left: 7px solid #757575;
}

.btn-breadcrumb .active-btn:not(:last-child):after {
    border-left: 7px solid #92c94d;
}

.btn-breadcrumb .active-btn:not(:last-child):before {
    border-left: 7px solid #92c94d;
}

.btn-breadcrumb .btn:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.requirement-btn {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.hierarchy-type-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin-left: 0.6rem;
}

.btn-primary {
    color: #fff;
    background-color: #0000008a;
    border-color: #0000008a;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding: 0 0;
    position: relative;
}

.active-btn {
    background-color: #92c94d;
    color: #fff;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding: 0 0;
    position: relative;
}


/* .btn-group {
    overflow: auto;
} */

.back-search {
    display: flex
}

.custom-button-style {}

.arrow-right {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 15px solid #92c94d;
}

.btn-group,
.btn-group-vertical {
    display: flex;
    vertical-align: middle;
    /* max-width: 116%; */
    flex: 1 1 auto;
}

.top-container {
    height: 3.9rem;
}