<div class="main">
    <div class="container">
        <kendo-tabstrip>
            <kendo-tabstrip-tab [title]="'Basic'" [selected]="true">
                <ng-template kendoTabContent>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="name">Field</h6>
                            <kendo-combobox id="fieldSelectorComboboxCondition" class="form-control" #cmbAttribute [data]="attributes" [readonly]="readonly" [value]="selectedAttribute" [filterable]="true" [textField]="'Name'" [valueField]="'Name'" (valueChange)="attributeChanged($event)">
                            </kendo-combobox>
                        </div>
                        <div style="margin-top: 10px; position: relative;"></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h6 class="name">Select Operator</h6>
                            <kendo-dropdownlist id="operatorSelectorComboboxCondition" class="form-control" [data]="operators" [readonly]="readonly" [value]="'Select Operator'" [(ngModel)]="filterOperator">
                            </kendo-dropdownlist>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="application">Validation Value</h6>
                            <kendo-textbox-container class="input-name">
                                <input id="validationValue" kendoTextBox placeholder="value" [readonly]="readonly" [(ngModel)]="filterValue">
                            </kendo-textbox-container>
                        </div>
                        <div class="col-12 add-button">
                            <button id="filterClickedButton" class="btn btn-info custom-button" [disabled]="readonly" (click)="addFilterClicked($event)">
                                Add
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <form novalidate #myForm="ngForm">
                            <kendo-grid id="condition-grid" [data]="workflowItemData.Constraints" (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)">
                                <kendo-grid-column field="AttributeName" title="Field">
                                    <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                                        <input id="attributeName" [(ngModel)]="dataItem.AttributeName" [readonly]="readonly" kendoGridFocusable name="AttributeName" class="k-textbox field" required>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="Operator" title="Operator">
                                    <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                                        <input id="operator" [(ngModel)]="dataItem.Operator" [readonly]="readonly" kendoGridFocusable name="Operator" class="k-textbox operator" required>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="AttributeValue" title="Value">
                                    <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                                        <input id="attributeValue" [(ngModel)]="dataItem.AttributeValue" [readonly]="readonly" kendoGridFocusable name="AttributeValue" class="k-textbox" required>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column>
                                    <ng-template kendoGridCellTemplate let-isNew="isNew" class="edit-b">
                                        <button id="gridEditCommand" kendoGridEditCommand type="button" [disabled]="readonly" [primary]="true">
                                            <i class="fa fa-edit edit-b"></i>
                                        </button>
                                        <button id="gridRemoveCommand" kendoGridRemoveCommand class="delete-icon" type="button" [disabled]="readonly">
                                            <i class="fa fa-trash trash-b"></i>
                                        </button>
                                        <button id="gridSaveCommand" kendoGridSaveCommand type="button" [disabled]="myForm.invalid || myForm.pristine">
                                            {{ isNew ? 'Add' : 'Update' }}
                                        </button>
                                        <button id="gridCancelCommand" kendoGridCancelCommand type="button" [disabled]="readonly">
                                            {{ isNew ? 'Discard changes' : 'Cancel' }}
                                        </button>
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid>
                        </form>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'Advance'">
                <ng-template kendoTabContent>
                    <p></p>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </div>
</div>
