<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- SenseAI Project -->
            <div class="form-group">
                <label for="sel0">SenseAI Project:</label>
                <select disabled class="form-control" id="sel0">
                    <option *ngIf="project" value="{{project.id}}"> {{project.title}} </option>
                </select>
            </div>

            <!-- SenseAI SubProject -->
            <div class="form-group">
                <label for="sel1">SenseAI Sub-Project:</label>
                <select disabled class="form-control" id="sel1">
                    <option *ngIf="subproject" value="{{subproject.id}}"> {{subproject.title}} </option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Jira Project -->
            <div class="form-group">
                <label for="sel2">Select Jira Project: <i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i> </label>
                <select [disabled]="isLoading" class="form-control" id="sel2" [(ngModel)]="integration.jiraProjectKey">
                    <option *ngFor="let p of jiraProjects" value="{{p.projectId}}"> {{ p.projectName }} </option>
                </select>
            </div>

            <!-- SenseAI SubProject -->

        </div>
        <br>
        <div class="well border rounded mt-4 mb-4 p-2 col-md-12">

            <ng-container
                *ngIf="hierarchySavedValues && hierarchySavedValues.hierarchyTypeName && !editingHierarchies; else hirarchyEditor">

                <div class="row p-0 m-0">
                    <div class="col-md-2 form-group text-center">
                        <label class="mb-3">
                            Map Hierarchies
                        </label>
                        <br>
                        <input id="mapHierarchies" disabled type="checkbox" [(ngModel)]="mapHierarchies">
                    </div>
                    <div class="col-md-5">
                        <label>Hierarchy type:</label>
                        <br>
                        <input id="hierarchyTypeName" type="text" disabled class="form-control"
                            value="{{ savedModel.hierarchyTypeName }}">
                    </div>
                    <div class="col-md-5">
                        <label>Hierarchy:</label>
                        <br>
                        <input id="hierarchyParentName" type="text" disabled class="form-control"
                            value="{{ savedModel.hierarchyParentName || 'Epics mapped here' }}">
                    </div>
                </div>
                <div class="col-md-4 offset-4 text-center pt-1">
                    <button id="edit-mapp" (click)="setEditHierarchyEditModeOn()" class="btn btn-link text-dark"> Edit
                        hierarchy mapping </button>
                </div>
            </ng-container>

            <ng-template #hirarchyEditor>
                <div class="form-group">
                    <label class="ml-4 mb-0">
                        <input id="mapHierarchies2" type="checkbox" class="form-check-input"
                            [(ngModel)]="mapHierarchies">
                        Map Hierarchies
                    </label>
                </div>
                <div *ngIf="mapHierarchies">
                    <div class="row p-1 m-0" *ngFor="let h of hierarchyList; let i = index">
                        <div class="col-md-6">
                            <input id="ji-project-title" type="text" class="form-control" disabled [value]="h.title">
                        </div>
                        <div class="col-md-6">
                            <div id="ji-project-parents" *ngIf="(i != (hierarchyList.length - 1)) && h.HirearchyOptions"
                                class="form-group">
                                <select name="ji-project-select-parents"
                                    (change)="onGetHierarchiesByParent(h.id, $event.target.value, hierarchyList[i+1], i)"
                                    class="form-control" [(ngModel)]="h.selectedOption">
                                    <option *ngFor="let ho of h.HirearchyOptions" [value]="ho.id"> {{ ho.title }}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="(i == (hierarchyList.length - 1)) && h.HirearchyOptions">
                                <input id="ji-project-epics" type="text" class="form-control" disabled
                                    value="Epics are mapped here">
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isInEditMode" class="col-md-4 offset-4 text-center pt-1">
                    <button id="ji-project-cancel-edit" (click)="setEditHierarchyEditModeOff()"
                        class="btn btn-link text-dark"> Cancel hierarchy edit </button>
                </div>

            </ng-template>

        </div>
        <br>

        <!-- <div class="col-md-12 text-right"> -->
        <!-- <ng-container *ngIf="savedProject && savedProject != integration.jiraProjectKey; else forNotChangedProject">
      <button [disabled]="!validateHiearchies || !validateHiearchies" type="button"
        class="btn btn-success btn-sm px-5 col-md-3 mr-2" data-toggle="modal" data-target="#confirmProjectEditModal">
        Edit Project
      </button>
    </ng-container> -->

        <!-- <ng-template #forNotChangedProject> -->
        <!-- If is editing -->
        <!-- <button [disabled]="!isValidToBeSaved || !validateHiearchies" *ngIf="isInEditMode"
        type="button" class="btn btn-success btn-sm px-5 col-md-3 mr-2" (click)="editProjectMap()">
        Edit & Continue <i class="pl-2 fa fa-save"></i>
      </button> -->

        <!-- If is saving for first time -->
        <!-- <button [disabled]="!isValidToBeSaved || !validateHiearchies" *ngIf="!isInEditMode" type="button"
        class="btn btn-success btn-sm px-5 mb-1 col-md-3 px-1" (click)="saveProjectMap()">
        Save & Continue <i class="pl-2 fa fa-arrow-right"></i>
      </button>
    </ng-template> -->


        <!-- Does nothing. Just continues on the next step -->
        <!-- <button *ngIf="isInEditMode" type="button" class="btn btn-outline-success btn-sm px-5 col-md-3"
      (click)="navigateForward()">
      Next Page <i class="pl-2 fa fa-arrow-right"></i>
    </button>
  </div> -->

        <!-- </div> -->

    </div>
</div>

<footer class="wizard-footer fixed-bottom bg-light py-2 px-5">
    <ng-container *ngIf="savedProject && savedProject != integration.jiraProjectKey; else forNotChangedProject">
        <button id="ji-project-confirm-edit" [disabled]="!validateHiearchies || !validateHiearchies" type="button"
            class="col-md-2 btn btn-sm btn-success offset-10" data-toggle="modal"
            data-target="#confirmProjectEditModal">
            Edit Project
        </button>
    </ng-container>

    <ng-template #forNotChangedProject>
        <!-- If is editing -->
        <button id="ji-project-next" [disabled]="!isValidToBeSaved || !validateHiearchies" *ngIf="isInEditMode"
            type="button" class="col-md-2 btn btn-sm btn-success offset-10" (click)="editProjectMap()">
            Next <i class="pl-2 fa fa-arrow-right"></i>
        </button>

        <!-- If is saving for first time -->
        <button id="ji-project-next2" [disabled]="!isValidToBeSaved || !validateHiearchies" *ngIf="!isInEditMode"
            type="button" class="col-md-2 btn btn-sm btn-success offset-10" (click)="saveProjectMap()">
            Next <i class="pl-2 fa fa-arrow-right"></i>
        </button>
    </ng-template>

    <!-- Does nothing. Just continues on the next step -->
    <!-- <button *ngIf="isInEditMode" type="button" class="btn btn-success btn-sm col-md-2 offset-8"
    (click)="navigateForward()">
    Next <i class="pl-2 fa fa-arrow-right"></i>
  </button> -->



</footer>







<!-- Modal -->
<div class="modal fade" id="confirmProjectEditModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editing project</h5>
                <button id="ji-project-editing-project" type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Changing Jira Project would delete all current saved data about this mapping. Are you sure you want to
                continue?
            </div>
            <div class="modal-footer">
                <button id="ji-project-close" type="button" class="btn btn-sm btn-secondary"
                    data-dismiss="modal">Close</button>

                <button id="ji-project-save-continue" [disabled]="!(isValidToBeSaved && validateHiearchies)"
                    data-dismiss="modal" *ngIf="isInEditMode" type="button" class="btn btn-success btn-sm"
                    (click)="editProjectMap()">
                    Save & Continue <i class="pl-2 fa fa-save"></i>
                </button>
            </div>
        </div>
    </div>
</div>