.full-image {
    width: 100%;
    height: 92.5%;
    object-fit: cover;
    position: absolute;
}

.user-profile-pannel {
    background-color: #f6f6f6;
    width: 100%;
    height: 32rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 40%);
    border-radius: 10px;
    box-shadow: 0 2px 50px -5px #333333;
}

.avatar {
    display: block;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.user-profile-title {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
}

.close {
    padding: 5px;
    position: fixed;
    float: right;
    font-size: 15px;
    right: 15px;
    top: 6px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}

.seperate-line {
    background-color: #0d4b5e;
    width: 100%;
    height: 1px
}

.role {
    padding-left: 50px;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.info {
    position: relative;
    float: right;
    right: 15px;
    font-size: 15px;
    top: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.href {
    color: dodgerblue !important;
    cursor: pointer;
    text-decoration: underline !important;
    font-family: 'Montserrat', sans-serif;
}


/* popup css starts here  */

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
}

.box {
    width: 8%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 0;
    border: 1px solid #fff;
    border-radius: 5px/50px;
    background-clip: padding-box;
    text-align: center;
    float: right;
    right: 2rem;
    position: relative;
    top: 2rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9000;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    height: 56%;
    position: relative;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #0d4b5e;
}

.popup .content {
    /* max-height: 30%; */
    /* overflow: auto; */
}

.table {
    margin-left: auto;
    margin-top: 25px;
    border-radius: 20px !important;
    margin-right: auto;
    position: relative;
    /* display: flex; */
    left: calc(50% - 18.5rem);
}

.table-row {
    display: table-row;
    border-radius: 20px !important;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid grey;
}

.blue {
    background-color: #0d4b5e;
    color: #fff;
}

.blue-text {
    color: #0d4b5e;
}

#blue-text {
    color: #0d4b5e !important;
}

.grey-text {
    color: grey;
}

h2 {
    color: #0d4b5e;
}


/* popup css ends here */

@media screen and (max-width: 1600px) {
    .user-profile-pannel {
        top: -101px;
    }
    .full-image {
        height: 92%;
    }
}

@media screen and (max-width: 1366px) {
    .user-profile-pannel {
        top: -77px;
        height: auto;
    }
}

@media screen and (max-width: 700px) {
    .box {
        width: 100%;
    }
    .popup {
        width: 70%;
    }
}
