<div id="regular-user" class="main regular-user">
    <img id="profile-img" class="full-image" src="assets/images/background.jpg">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="user-profile-pannel">
                <div class="row">
                    <div class="col-md-12">
                        <p id="profile-x" class="close" (click)="back()">X</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="user-profile" class="user-profile-title">User Profile</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="avatar">
                            <ngx-avatar id="my-avatar" class="my-avatar" size="80" name="{{currentUser.name}}"></ngx-avatar>
                        </div>
                    </div>
                </div>
                <div class="seperate-line"></div>
                <div class="row">
                    <div id="curr-user" class="col-md-12">
                        <h6 id="curr-role" class="role">Role: <span>{{currentUser.role}}</span></h6>
                        <h6 id="curr-name"class="role">Name: <span>{{currentUser.name}}</span></h6>
                        <h6 id="curr-email" class="role">Email: <span>{{currentUser.email}}</span></h6>
                    </div>
                </div>
                <div style="padding-top: 40px;"></div>
                <div class="row">
                    <div id="changes-user" class="col-md-12">
                        <h6 id="chan-pass" class="role"><a  id="chan-pass-a" class="href" (click)="onPassword()">Change Password</a></h6>
                        <h6 id="chan-email" class="role"><a id="chan-email-a" class="href" (click)="onEmail()">Change Email</a></h6>
                        <h6 id="chan-name" class="role"><a id="chan-name-a" class="href" (click)="onUser()">Change Profile Name</a></h6>
                        <h6 id="logout-h6" class="role"><a id="logout-a" class="href" (click)="logOut()">Logout</a></h6>
                    </div>
                </div>
                <div class="box">
                    <a id="profile-anch" class="button" href="#profile"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<div id="profile" class="overlay">
    <div class="popup">
        <h2 id="blue-text">User Profile</h2>
        <a id="tms" class="close" href="/#/change-profile">&times;</a>
        <div id="content-div" class="content grey-text ">
            <i id="light-b" class="fa fa-lightbulb-o " aria-hidden="true "></i>Use this screen to view the details about the user’s profile and do certain changes.
            <div class="table ">
                <div class="table-row blue ">
                    <div id="fiel" class="table-cell ">
                        Field
                    </div>
                    <div id="usag" class="table-cell ">
                        Usage
                    </div>
                </div>
                <div class="table-row ">
                    <div id="rol" class="table-cell blue-text ">
                        Role
                    </div>
                    <div id="rol-d" class="table-cell grey-text ">
                        The assigned role(s) of the user
                    </div>
                </div>
                <div class="table-row ">
                    <div id="nam" class="table-cell blue-text ">
                        Name
                    </div>
                    <div id="nam-d" class="table-cell grey-text ">
                        The LogIn name of the user
                    </div>
                </div>
                <div class="table-row ">
                    <div id="emai" class="table-cell blue-text ">
                        Email
                    </div>
                    <div id="emai-d" class="table-cell grey-text ">
                        The email of the user
                    </div>
                </div>
                <div class="table-row ">
                    <div id="buttons-pass" class="table-cell blue-text ">
                        Change Password button
                    </div>
                    <div id="buttons-pas-desc" class="table-cell grey-text ">
                        Opens a screen to change the password
                    </div>
                </div>
                <div class="table-row ">
                    <div id="buttons-em" class="table-cell blue-text ">
                        Change Email
                    </div>
                    <div id="buttons-em-desc" class="table-cell grey-text ">
                        Opens a screen to change the email
                    </div>
                </div>
                <div class="table-row ">
                    <div id="buttons-name" class="table-cell blue-text ">
                        Change Profile Name
                    </div>
                    <div id="buttons-name-desc" class="table-cell grey-text ">
                        Opens a screen to change the profile name
                    </div>
                </div>
                <div class="table-row ">
                    <div id="logout" class="table-cell blue-text ">
                        Logout
                    </div>
                    <div id="logout-desc" class="table-cell grey-text ">
                        Logs out from Sense.ai
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>