<kendo-dialog 
    id="delete-issue-window"
    [minWidth]="'400'" 
    [title]="'Delete Issue'" 
    *ngIf="openDeleteIssueWindow" 
    (close)="close()"
>
    <div class="content" style="text-align: center">
        <div class="field-group">
            <label id="complete-sprint-label" style="width: auto; font-size: 15px">Are you sure you want to delete this issue ?</label>
        </div>
    </div>
    <kendo-dialog-actions id="complete-sprint-actions" >
        <div class="buttons-container form-footer">
            <div class="buttons">
                <input id="complete-sprint-submit" class="aui-button aui-button-primary btn btn-primary" id="select-sprint-submit"  type="submit" value="Submit" (click)="submitClicked()">
                <button id="complete-sprint-cancel" class="aui-button aui-button-primary btn cancel" (click)="close()">Cancel</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>