div.tooltip {
    padding: 25px;
    position: absolute;
    text-align: center;
    font: 14px sans-serif;
    font-weight: bold;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.no-border {
    border: none !important;
}

#processing_span1,
#processing_span2 {
    background: #D3D3D3;
}

.justification-item-option-A {
    position: absolute;
    top: -14px;
    left: 105%;
}

.justification-item-option-B {
    position: absolute;
    top: -22px;
    left: 88%;
}

.justification-item-option-C {
    position: absolute;
    top: -27px;
    left: 97%;
}

.rotate-m-90 {
    transform: rotate(-90deg);
}

.mg-t-2 {
    margin-top: 2px;
}

::-webkit-scrollbar-thumb {
    background: #92c94d;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #92c94d;
}

::-webkit-scrollbar {
    width: 10px;
}

.seperateDivs {
    position: absolute;
    border-top: 1px solid #c7bbbb;
    border-bottom: 1px solid #ccc4c4;
    height: 4%;
    width: 100%;
    left: 0%;
    top: 51%;
}
