<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{report.NAME}}</h4>
    <button id="activeModal" type="button" class="close" aria-label="Close" (click)="activeModal.close('closed')">
    <span id="times" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="p-15">
        <div class="row bordered">
            <div class="col-md-4">
                <div *ngIf="modalType == 0">
                    <table id="main-table" #mainTable style="width:100%; margin-left:-15px" class="table row-border hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Significant tokens</th>
                                <th>Significance value</th>
                            </tr>
                        </thead>
                        <span id="processing_span1"> (Please wait: Significant words analysis is loading...)</span>
                        <tbody *ngIf="lime_justification?.length != 0">
                            <tr *ngFor="let item of lime_justification">
                                <td>{{item[0] }}</td>
                                <td>{{item[1] | number : '1.2-2' }}%</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="lime_justification?.length == 0">
                            <tr>
                                <td colspan="12" class="no-data-available">No matching records found!</td>
                            </tr>
                            <tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <div id="d3_selectable_force_directed_graph" style="width: 100%; height: 350px;">
                        <svg id="svg" style="border: none!important;"></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bordered" *ngIf="modalType == 0 && report.TYPEPREDICTION">
            <div class="col-md-2" style="border-right: 1px solid #ccc;">
                <div style="display: flex; flex-direction: column; height: 100%;">
                    <div id="defectNameDiv" class="justification-header" style="top:43%;position: absolute;">Defect Name:</div>
                    <div id="reportNameDiv" style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center">
                        {{report.NAME}}</div>
                </div>
            </div>
            <div class="col-md-8" style="padding-left: 30px!important;">
                <div style="display: flex; flex-direction: row; justify-content: start; padding-top: 70px;">
                    <div id="div1" class="justification-item-width" style="height: 50px; width: 120px;">

                    </div>
                    <div id="div2"class="justification-item-width" style="height: 50px;">

                    </div>
                    <div id="div3" style="flex-grow: 1;">
                        <div>
                            <div class="row">
                                <div id="rootCauseDiv" class="justification-line-item col-md-3">
                                    <strong id="rootCauseStrong" class="no-border">
                                        Root Cause
                                    </strong>
                                </div>
                                <div id="severityDiv" class="justification-line-item no-border col-md-3">
                                    <strong id="severityStrong" class="no-border">
                                        Severity
                                    </strong>
                                </div>
                                <div id="priorityDiv" class="justification-line-item no-border col-md-3">
                                    <strong id="priorityDivStrong" class="no-border">
                                        Priority
                                    </strong>
                                </div>
                                <div id="timeToFix" class="justification-line-item no-border col-md-3">
                                    <strong id="timeToFixStrong" class="no-border">
                                        Time to Fix
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: flex; flex-direction: row; justify-content: start; padding-top: 70px;">
                    <div id="justification-item-div1" class="justification-item-width" style="height: 200px;">
                        <div class="rotate-45 p-30" style="width: 120px; height: 120px; z-index: 10; position: relative;border-radius: 13%;left: 9%;background-color: #83c1d4">
                            <div id="root-cause-candidates-div" class="rotate-m-45 font-14 center-text" style="width: 100px; margin-left: -20px; margin-top: 10px; font-weight: bold;">
                                Root cause candidates
                            </div>
                        </div>
                    </div>
                    <div id="justification-item-div2" class="justification-item-width">
                        <div class="rotate-m-45" *ngIf="model.length > 0" style="border-top: 1px solid #ccc;margin-top: 13px; margin-left: -5px;">
                            <span id="a-span" class="justification-item-option-A rotate-45">A</span>
                        </div>
                        <div style="border-top: 1px solid #ccc; margin-top: 45px; position: relative;" *ngIf="model.length > 1">
                            <span id="b-span" class="justification-item-option-B">B</span>
                        </div>
                        <div class="rotate-45" *ngIf="model.length > 2" style="border-top: 1px solid #ccc;margin-top: 48px; margin-left: -5px;">
                            <span id="c-span" class="justification-item-option-C rotate-m-45">C</span>
                        </div>
                    </div>

                    <div style="flex-grow: 1;margin-top: -35px;">

                        <div style="border-top: 1px solid #ccc; height: 94px;margin-left: -20px;" [ngClass]="[i == 2 ? 'mg-t-2': '' ]" *ngFor="let item of model; let i = index">
                            <div class="row">
                                <div *ngIf="item.type" class="justification-line-item error col-md-3" style="border-radius: 40px 40px 40px 40px;" style="top: -8px;">
                                    <div  id="{{'type-name-value-div-'+ i}}" style="border-radius: 40px 40px 40px 40px;">
                                        {{item.type.name}} ({{item.type.value | number : '1.1-2'}}%)
                                    </div>
                                </div>
                                <div  id="{{'type-div-'+ i}}" *ngIf="!item.type" class="justification-line-item col-md-3">

                                </div>
                                <div *ngIf="item.severity" class="justification-line-item critical col-md-3" style="top: -8px;" [ngClass]="[item.severity.name == 'High' ? 'critical' : (item.severity.name == 'Medium' ? 'medium' : 'success')]">
                                    <div id="{{'severity-name-value' + i}}"style="border-radius: 40px 40px 40px 40px;">
                                        <span>{{item.severity.name}} ({{item.severity.value | number : '1.1-2'}}%)</span>
                                    </div>
                                </div>
                                <div id="{{'severity-div-'+ i}}" *ngIf="!item.severity" class="justification-line-item col-md-3">

                                </div>
                                <div *ngIf="item.priority" class="justification-line-item critical col-md-3" style="top: -8px;" [ngClass]="[item.priority.name == 'High' ? 'critical' : (item.priority.name == 'Medium' ? 'medium' : 'success')]">
                                    <div id="{{'priority-name-value-div-'+ i}}" style="border-radius: 40px 40px 40px 40px;">
                                        <span  id="{{'priority-name-value-span-'+ i}}">{{item.priority.name}} ({{item.priority.value | number : '1.1-2'}}%)</span>
                                    </div>

                                </div>
                                <div id="{{'priority-div-'+ i}}" *ngIf="!item.priority" class="justification-line-item col-md-3">

                                </div>
                                <div class="justification-line-item warning col-md-3" style="top: -8px;">
                                    <div id="{{'timeToFix'+ i}}" style="border-radius: 40px 40px 40px 40px;">
                                        <span>{{report.TIMETOFIX}} Days</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="separateDivs" class="seperateDivs"></div>
                <div style="display: flex; flex-direction: row; justify-content: start; padding-top: 70px;position: relative;left: 10%;">
                    <div class="justification-item-width" style="height: 200px;">
                        <div class="rotate-45 p-30" style="width: 120px;height: 120px;left: 56%;position: relative;">
                            <div id="root-cause-similarities" class="rotate-m-45 font-14 center-text" style="width: 170px; margin-left: -133px; margin-top: 95px;font-weight: bold;font-size: 1em;">
                                Root cause similarities
                            </div>
                        </div>
                    </div>
                    <div class="justification-item-width">
                        <div id="model-length-0" class="rotate-m-45" *ngIf="model.length > 0" style="border-top: 1px solid #ccc;margin-top: 13px; margin-left: -5px;"></div>
                        <div  id="model-length-1" *ngIf="model.length > 1" style="border-top: 1px solid #ccc; margin-top: 45px;margin-left: 17px;"></div>
                        <div  id="model-length-2" *ngIf="model.length > 2" class="rotate-45" style="border-top: 1px solid #ccc;margin-top: 48px; margin-left: -5px;"></div>
                    </div>
                    <div style="width: 400px;margin-top: -35px;">
                        <div style="border-top: 1px solid #ccc; height: 94px;margin-left: -20px;" [ngClass]="[i == 2 ? 'mg-t-2': '' ]" *ngFor="let item of model; let i = index">
                            <div class="row" style="margin-top: -15px;">
                                <div id="typeDiv" *ngIf="item.type" class="justification-line-item col-md-12 right-align" [ngClass]="getSimilatiesClass(item.type.value)">
                                    <div id="name-value-div" class="center-text" style="width: 50%;border-radius: 40px 40px 40px 40px;">
                                        {{item.type.name}}{{(item.type.value | number : '1.1-2')}}%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-2" style="border-left: 1px solid #ccc;">
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: start;height: 100%;overflow: hidden;margin-left: -115px;">
                    <div>
                        <div style="display: inline-block;border-top: 1px solid #ccc; border-right: 1px solid #ccc; transform: rotate(45deg); width: 200px; height: 200px;vertical-align: middle;position:relative;top: 5%;">
                        </div>
                        <span id="option-A" style="vertical-align: text-top; text-indent: 50px;display: inline-block; font-weight: bold; position: relative;top: 4%;">Option A</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal-footer">
</div> -->
