<kendo-dialog width="600" height="200" title="Delete Requirement Type" *ngIf="deleteTypeWindowOpen" (close)="close()">
    <div id="delete-req-row" class="row">
        <div class="col-12">
            <span id="delete-req-description" class="description">
                Are you sure you want to delete '{{selectedTypes.title}}'?
            </span>
        </div>
    </div>
    <kendo-dialog-actions>
        <div class="row">
            <div class="col-12 action-buttons">
                <button id="delete-req-yes" name="delete-req-yes" class="btn add" (click)="deleteType()">Yes</button>
                <button id="delete-req-no" name="delete-req-no" class="btn exit" (click)="close()">No</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>
