.action-buttons {
    top: 1rem;
}

.add {
    margin: 1px 10px;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
    margin-right: 1rem;
}

.description {
    font-size: 18px;
}
