.main {
    background-color: #034b5e;
}

.service-image {
    width: 70px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 37px;
}

.command-logs-image {
    width: 70px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 37px;
}

.service-title {
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: white;
}

.item-name {
    user-select: all;
}

.k-tabstrip-items {
    border-color: rgba(33, 37, 41, 0.125) !important;
    color: #dee2e6 !important;
    background: white !important;
}
