<div div="main-container-fluid" class="main container-fluid">

    <div class="row">
        <div class="col-md-12">
            <img id="monitoring-png" class="service-image" src="/assets/images/monitoring.png">
            <h5 id="monitoring-h5" class="service-title">Service Monitor</h5>
        </div>
    </div>

    <kendo-grid id="monitoring-grid1"[data]="tableData" style="border-radius: 5px">
        <kendo-grid-column title="Service name" [field]="'Active'" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <p name="grid1-title" class="item-name">{{dataItem.Title}}</p>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Service Status" [field]="'Info'" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span name="grid1-active" *ngIf="dataItem.Active" style="color:green; font-weight: bold;">Active</span>
                <span name="grid1-not-active" *ngIf="!dataItem.Active" style="color:red; font-weight: bold;">Not Active</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="IP Address" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
                <a name="info-anch" href="{{dataItem.Info}}">{{dataItem.Info}}</a>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column width="100">
            <ng-template kendoGridHeaderTemplate>
                <span name="grid1-last-upd">Last update </span>
                <a name="grid1-refr" href="javascript:;" (click)="refreshData()" style="font-weight: bold; text-decoration: underline;">
          REFRESH</a>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <p name="grid1-date" class="item-name">{{now | date:'short'}}</p>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <div class="row">
        <div class="col-md-12">
            <img id="img2" class="command-logs-image" src="/assets/images/logs.png">
            <h5 id="monitoring-command-log" class="service-title">Command Log</h5>
        </div>
    </div>
    <kendo-tabstrip id="monitoring-tabs" >
        <kendo-tabstrip-tab id="monitoring-tabs-1" [title]="'Query Logs'" [selected]="true">
            <ng-template kendoTabContent>
                <kendo-grid id="monitoring-tabs-grid" [resizable]="true" [data]="queryLog">
                    <kendo-grid-column title="Queried By" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="queried-parag" class="item-name">{{item.QueriedBy}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Called From" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="calledFor-parag" class="item-name">{{item.CalledFrom}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="Name" title="Name" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="name-parag" class="item-name">{{item.Name}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Error Exception Type" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="error-excep-parag" class="item-name">{{item.ErrorExceptionType}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Error Exception Message" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="error-excep-message"class="item-name">{{item.ErrorExceptionMessage}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Started" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="date-paragh"class="item-name">{{item.Started | date:'short'}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Elapsed Milliseconds" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="ellapsed-millis-paragh" class="item-name">{{item.ElapsedMilliseconds}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="ipAddress" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="ip-address-paragh" class="item-name">{{item.IpAddress}}</p>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab id="monitoring-tabs-2" [title]="'Command Log'">
            <ng-template kendoTabContent>
                <kendo-grid id="monitoring-tabs-2-grid" [resizable]="true" [data]="commandLog">
                    <kendo-grid-column title="Executed By" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="executed-by-parag" class="item-name">{{item.ExecutedBy}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="API Endpoint" width="auto">
                        <ng-template name="called-from-templ" kendoGridCellTemplate let-item>
                            {{item.CalledFrom}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Name" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="grid2-name" class="item-name">{{item.Name}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Error Exception Type" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p  name="err2" class="item-name">{{item.ErrorExceptionType}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Error Exception Message" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="err3"class="item-name">{{item.ErrorExceptionMessage}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Started" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="date3"class="item-name">{{item.Started | date:'short'}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="Elapsed Milliseconds" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="ellapsed-parag" class="item-name">{{item.ElapsedMilliseconds}}</p>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="ipAddress" width="auto">
                        <ng-template kendoGridCellTemplate let-item>
                            <p name="ip-addr-2" class="item-name">{{item.IpAddress}}</p>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
</div>
