<div class="main">
    <div id="resource-item-container" class="container">
        <app-title></app-title>
        <app-file-type></app-file-type>
        <app-description></app-description>
    </div>
</div>