<div id="import-bank" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Import Banking Processes </h2>
        <a class="close" href="/#/settings/import-hierarchy">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                          Import Banking Processes View
                </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to import banking processes from supported files(XXXXXX).

                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “Choose File” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Use this button to navigate at your files and select the desired one.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “Submit” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Submit the chosen file.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “Reset” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Discard the chosen file.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
