<div class="row">
    <div class="col-md-12 ">
        <h6 class="descroption">Description</h6>
        <textarea 
            id="workflowItemDescription"
            class="form-control text-box" 
            [readonly]="readonly" 
            kendoTextArea 
            [value]="workflowItemData.Description" 
            (input)="changeDescription($event.target.value, true)"></textarea>
    </div>
</div>
