<kendo-dialog [minWidth]="isPeopleEdited ? '500' : '600'" [height]="isPeopleEdited ? '500px' : '620px'" [title]="isPeopleEdited ? 'Edit Assignee' : 'Add Assignee'" *ngIf="peopleWindowOpen" (close)="close()">
    <div id="add-people" class="dialog">
        <div class="row">
            <div class="col-12">
                <span id="add-people-login">Login User</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <kendo-combobox id="add-people-customCombo" class="custom-combo" [data]="filteredUsers" (valueChange)="changeUser($event)" (filterChange)="handleFilter($event, 'user')" [value]="selectedPeople.userAdminPanelObject" [filterable]="true" [textField]="'fullName'"
                    [valueField]="'id'">
                </kendo-combobox>
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-12">
                <span id="add-people-nickName">Nick Name*</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" id="add-people-changeName" (input)="changeName($event)" [value]="selectedPeople.name" required/>
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-12">
                <span id="add-people-fullName">Full Name</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" id="add-people-ChangeSurname" (input)="changeSurname($event)" [value]="selectedPeople.surname" />
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-12">
                <span id="add-people-Role">Role*</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <kendo-combobox #cmbRole class="custom-combo" id="add-people-role" [data]="filteredRoles" (valueChange)="changeRole($event)" (filterChange)="handleFilter($event, 'role')" [value]="selectedPeople.RoleObject" [filterable]="true" [textField]="'title'" [valueField]="'id'">
                </kendo-combobox>
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-12">
                <span id="add-people-email">Email</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="add-people-email" type="email" #email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$" (input)="changeEmail($event)" [ngModel]="selectedPeople.email" #emailref="ngModel" />
                <div id="add-people-invalid" *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
                    <div [hidden]="!emailref.errors?.pattern">
                        Invalid email
                    </div>
                </div>
            </div>
        </div><br /><br />

        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <a class="button custom-help" href="#add-role"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                    <button class="btn add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">Submit</button>
                    <button class="btn exit" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>
<app-add-people-popup></app-add-people-popup>
