.dialog {
    text-align: center;
    font-size: 18px;
    overflow: hidden;
}

input {
    width: 19rem;
}

input {
    height: 2rem;
}

.action-buttons {
    top: 1rem;
}

.add {
    margin: 1px 10px;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.k-window-content {
    overflow: hidden !important;
}

.custom-combo {
    width: 304px;
    border-color: darkgray !important;
}

.k-combobox-clearable .k-input {
    width: 304px;
    border-color: darkgray !important;
    color: tomato;
}

.custom-help {
    background: rgba(0, 0, 0, .12);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    left: -14em;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
