<div class="container-fluid">
    <kendo-grid id="catalogs-grid" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
        <ng-template kendoGridToolbarTemplate>
            <button *ngIf="permissionService.hasPermission('/api/Administration/AddTenantCatalog') || permissionService.hasPermission('/api/Administration/AddProjectCatalog') || permissionService.hasPermission('/api/Administration/AddSubProjectCatalog')" name="new-catalog-window" (click)="openCatalogWindow()" class="k-button k-grid-add-command ng-star-inserted">Add new</button>
            <div class="box">
                <a name="pop-up-anchor" class="button" href="#popup1"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </div>
        </ng-template>
        <kendo-grid-column title="Title" [field]="'title'">
        </kendo-grid-column>
        <kendo-grid-column title="Description" [field]="'description'">
        </kendo-grid-column>
        <kendo-grid-column field="Actions" [filterable]="false" width="450">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button *ngIf="permissionService.hasPermission('/api/Administration/UpdateCatalog')" name="edit-catalog-window" class="edit-catalog-btn k-button k-grid-add-command ng-star-inserted action-buttons" (click)="openCatalogWindow(dataItem)">
                Edit
            </button>
                <button  *ngIf="permissionService.hasPermission('/api/Administration/DeleteCatalog')" name="delete-catalog-window" class="btn btn-danger delete-catalog-btn" (click)="openDeleteCatalogWindow(dataItem)">
                Delete
            </button>
                <button *ngIf="permissionService.hasPermission('/api/Administration/GetCatalogSystem')" name="select-system-window" class="k-button k-grid-add-command ng-star-inserted" (click)="openSelectSystemWindow(dataItem)">
                Select System
            </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <app-add-edit-catalog [isCatalogEdited]="isCatalogEdited" [selectedCatalog]="selectedCatalog" [catalogWindowOpen]="catalogWindowOpen" (closeCatalogWindow)="close()" (catalogListUpdated)="updateCatalogList($event)">
    </app-add-edit-catalog>
    <app-delete-catalog [deleteCatalogWindowOpen]="deleteCatalogWindowOpen" [selectedCatalog]="selectedCatalog" (closeDeleteCatalogWindow)="close()" (removeCatalogFromList)="removeCatalogFromList($event)">
    </app-delete-catalog>
    <app-select-system [selectSystemWindowOpen]="selectSystemWindowOpen" [systems]="systems" [selectedCatalog]="selectedCatalog" (closeSelectSystemWindow)="close()">
    </app-select-system>
</div>
<!-- popup content -->
<div id="popup1" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Catalogs</h2>
        <a id="catalogs-anch" class="close" href="/#/systems-catalogs">&times;</a>
        <div class="content grey-text">
            <i id="catalogs-icon" class="fa fa-lightbulb-o" aria-hidden="true"></i> Use this screen to view the defined catalog entries with their descriptions and to select from the possible operations on them. To edit a system entry, use the “Edit” button, to delete a
            system entry use “Delete” button, to select entry’s system use “Select System” button and if you want to add a new entry, click on “Add new” button.
            <div class="table">
                <div class="table-row blue">
                    <div id="t-field" class="table-cell">
                        Field
                    </div>
                    <div id="t-usage" class="table-cell">
                        Usage
                    </div>
                </div>
                <div class="table-row">
                    <div id="t-title" class="table-cell blue-text">
                        Title
                    </div>
                    <div id="t-name" class="table-cell grey-text">
                        The name of the catalog
                    </div>
                </div>
                <div class="table-row">
                    <div id="t-desc" class="table-cell blue-text">
                        Description
                    </div>
                    <div id="t-catalog-desc" class="table-cell grey-text">
                        The description of the catalog
                    </div>
                </div>
                <div class="table-row">
                    <div id="t-edit-btn" class="table-cell blue-text">
                        Edit button
                    </div>
                    <div id="t-edit-desc" class="table-cell grey-text">
                        Allows editing of the selected catalog. Fields that can be edited are Title and Description
                    </div>
                </div>
                <div class="table-row">
                    <div id="t-delete-btn" class="table-cell blue-text">
                        Delete Button
                    </div>
                    <div id="t-delete-desc" class="table-cell grey-text">
                        Deletes a catalog
                    </div>
                </div>
                <div class="table-row">
                    <div id="t-system-btn" class="table-cell blue-text">
                        Select System button
                    </div>
                    <div id="t-system-desc" class="table-cell grey-text">
                        Allows the user to select one of the existing systems on Sense.ai from a dropdown list
                    </div>
                </div>
                <div class="table-row">
                    <div id="t-new-btn" class="table-cell blue-text">
                        Add new button
                    </div>
                    <div id="t-new-desc" class="table-cell grey-text">
                        Opens a screen for defining a new catalog
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>