<div id="regular-user" class="main regular-user container-fluid">
    <img id="regular-user-img" class="full-image" src="assets/images/background.jpg" />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="user-profile-pannel" class="user-profile-pannel">
                <div class="row">
                    <div class="col-md-12">
                        <p id="paragraph-x" class="close" (click)="back()">X</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="default-settings" class="user-profile-title">Default Settings</h4>
                    </div>
                </div>
                <div class="seperate-line"></div>
                <form #defaultSettingsForm="ngForm" (ngSubmit)="confirm()">
                    <h5 id="default-setting" class="user-profile-title">Default Catalogs</h5>
                    <tr>
                        <td width="50%">
                            <h6 id="catalog" class="application">Catalog</h6>
                        </td>
                        <td width="50%">
                            <kendo-combobox id="applicationCatalogs-combo" class="password" required #cmbAppilcationCatalogs [data]="applicationCatalogs" [filterable]="true" [textField]="'title'" [valueField]="'id'" [value]="defaultSettings.catalog" (valueChange)="applicationCatalogChanged($event)">
                            </kendo-combobox>
                        </td>
                    </tr>
                    <h5 id="exe-preferences" class="user-profile-title">Execution Preferences</h5>
                    <tr>
                        <td width="50%">
                            <h6 id="syst" class="application">System</h6>
                        </td>
                        <td width="50%">
                            <kendo-combobox id="systems-combo" class="password" required #cmbAppilcationSystems [data]="systems" [filterable]="true" [textField]="'title'" [valueField]="'id'" [value]="defaultSettings.system" (valueChange)="systemChanged($event)">
                            </kendo-combobox>
                        </td>
                    </tr>
                    <div class="col-md-12">
                        <button id="sav-btn" type="submit" class="btn btn-success blue" *ngIf="permissionService.hasPermission('/api/Administration/GetSetting') && (permissionService.hasPermission('/api/Administration/AddSettings') || permissionService.hasPermission('/api/Administration/UpdateSettings'))">Save</button>
                        <button id="canc-btn" type="button" class="btn btn-danger white" (click)="back()">
              Cancel
            </button>
                    </div>
                </form>

                <!-- popup info starts here  -->
                <div class="box">
                    <a id="popup1-anc" class="button" href="#popup1"><i class="fa fa-question-circle" aria-hidden="true"></i>
          </a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div id="popup1" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Define Default Settings</h2>
        <a id="tim" class="close" href="#">&times;</a>
        <div class="content grey-text">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i> The Default Setting screen allows the user to define the default Catalog in Element's Properties and the default System for the Start Element
            <div id="table" class="table">
                <div class="table-row blue">
                    <div id="fiel" class="table-cell">
                        Field
                    </div>
                    <div id="usa" class="table-cell">
                        Usage
                    </div>
                </div>
                <div class="table-row">
                    <div id="cat"class="table-cell blue-text">
                        Catalog
                    </div>
                    <div id="cat-des" class="table-cell grey-text">
                        The name of the catalog chosen from the dropdown list
                    </div>
                </div>
                <div class="table-row">
                    <div id="sys" class="table-cell blue-text">
                        System
                    </div>
                    <div id="sys-des" class="table-cell grey-text">
                        The name of the automation system chosen from the dropdown list
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
