.container-fluid {
    width: 100%;
    background-image: url(../../../../assets/images/background.jpg);
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    -moz-box-shadow: 0 4px 4px rgb(169, 169, 169);
    -webkit-box-shadow: 0 4px 4px rgb(169, 169, 169);
    box-shadow: 0 2px 2px rgb(169, 169, 169);
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    height: 10%;
}

.bg-danger {
    background-color: #dcdcdc !important;
    width: 100%;
    background-image: url(../../../../assets/images/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.text-light {
    color: #696969 !important;
    font-size: 1.5vh;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 0px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.text-light:hover {
    color: #696969 !important;
}

.text-light:focus {
    color: #0d4b5e !important;
}

.project-top {
    color: #0d4b5e;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notification {
    float: right;
    margin-right: 1.5rem;
}

.subproject-top {
    color: #0d4b5e;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
}

.versions {
    color: #0d4b5e;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
    float: right;
    margin-right: 1.5rem;
    font-size: 13px;
}

.projectSubProject {
    padding-right: 15px;
    overflow: hidden;
    max-width: 10%;
    text-overflow: ellipsis;
    white-space: nowrap
}

.menu {
    background-color: #0d4b5e;
    width: 100%;
}

.fa {
    color: #0d4b5e;
    cursor: pointer;
}

a .navbar-name {
    padding-right: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a .navbar-name:hover {
    color: #fff;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border-style: none;
    width: auto;
}

.dropdown-menu {
    right: 0 !important;
    top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.project-top {
    cursor: pointer;
}

.subproject-top {
    cursor: pointer;
}

.project-top:hover {
    text-decoration: underline;
}

.subproject-top:hover {
    text-decoration: underline;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 500;
    font-family: 'Montserrat', sans-serif;
}

.notification-circle {
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    padding: 12px 18px;
    border-radius: 50px;
    color: white;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background: white;
    height: -webkit-fill-available;
}

.container-fluid {
    height: 4.3rem;
    z-index: 1;
}

@media only screen and (max-width: 991px) {
    .dropdown {
        float: right;
    }
    .navbar {
        background: white !important;
    }
}