<div class="container-fluid" id="navbar">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light text-light">
        <button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul id="navbar-list" class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li id="listitem-1" class="nav-item">
                    <a id="logo-anchor" href="#">
                        <img src="assets/images/validata_logo.png">
                    </a>
                </li>
                <li id="listitem-2" class="nav-item">
                    <a id="req-int" routerLink="/process-main" (click)="closePopups()" class="nav-link text-light" *ngIf="licenseService.hasLicenseForRequirement()">Requirements Intelligence</a>
                    <!-- <a (click)="checkJira()" class="nav-link text-light">Requirements Manager</a> -->
                </li>
                <li id="listitem-3" class="nav-item">
                    <a id="flow-des" routerLink="/workflow-designer" (click)="closePopups()" class="nav-link text-light" *ngIf="licenseService.hasLicenseForFlowDesigner()">Flow Designer</a>
                </li>
                <li id="listitem-4" class="nav-item" *ngIf="permissionService.hasPermission('/api/Design/GetFolders')">
                    <a id="data-intel" routerLink="/data-management" (click)="closePopups()" class="nav-link text-light" *ngIf="licenseService.hasLicenseForDataIntelligence()">Data Intelligence</a>
                </li>
                <li id="listitem-5" class="nav-item" *ngIf="permissionService.hasPermission('/api/Design/GetFolders')">
                    <a id="test-case-intell" routerLink="/test-generation" (click)="closePopups()" class="nav-link text-light" *ngIf="licenseService.hasLicenseForTestIntelligence()">Test Case Intelligence</a>
                </li>
                <li id="listitem-6" class="nav-item">
                    <a id="defect-intell" routerLink="/reports" (click)="closePopups()" class="nav-link text-light" *ngIf="licenseService.hasLicenseForDefectIntelligence()">Defect Intelligence</a>
                </li>
                <li id="listitem-7" class="nav-item">
                    <a id="ai-analyt" routerLink="/requirement-reports" (click)="closePopups()" class="nav-link text-light" *ngIf="licenseService.hasLicenseForAIAnalytics()">AI Analytics</a>
                </li>
                <!-- <li class="nav-item">
                    <a routerLink="/product" class="nav-link text-light">Product</a>
                </li> -->
            </ul>
            <div class="my-2 my-lg-0 versions">
                <span id="ui-version">UI version: {{uiVersion}}</span>
                <br>
                <span id="api-version">API version: {{apiVersion}}</span>
                <br>
                <span>ML version: {{mlVersion}}</span>
            </div>
            <div class="my-2 my-lg-0 notification">
                <span id="typ-changes" (click)="notification()" class="notification-circle">{{numberOfTypicalChanges}}</span>
            </div>
            <div class="my-2 my-lg-0 projectSubProject">
                <span id="selectedProjectTitle" (click)="select()" class="project-top" data-toggle="tooltip" data-placement="left" [title]="selectedProjectTitle">{{selectedProjectTitle}}</span>
                <br>
                <span id="selectedSubProjectTitle" (click)="select()" class="subproject-top" data-toggle="tooltip" data-placement="left" [title]="selectedSubProjectTitle">{{selectedSubProjectTitle}}</span>
            </div>
            <div class="my-2 my-lg-0" style="padding:10px;">
                <div class="dropdown dropleft">
                    <i class="fa fa-cog fa-lg" id="dropdownMenuSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <div id="navbar-drop" class="dropdown-menu" aria-labelledby="dropdownMenuSettings">
                        <a id="change-project" class="dropdown-item" (click)="select()">Change Project /
              Subproject</a>
                        <a id="def-sett" class="dropdown-item" (click)="defaultSettings()" *ngIf="permissionService.hasPermission('/api/Administration/GetSetting') && (permissionService.hasPermission('/api/Administration/AddSettings') || permissionService.hasPermission('/api/Administration/UpdateSettings'))">Default
              Settings</a>
                        <a id="manage-sys" class="dropdown-item" (click)="goToSystemsCatalogs()">Manage Systems / Catalogs</a>
                        <!--<a class="dropdown-item">Preferences</a>-->
                        <!-- <a id="manage-sys" class="dropdown-item" (click)="themes()">Themes</a> -->
                    </div>
                </div>
            </div>
            <div class="my-2 my-lg-0" style="padding:10px;">
                <div id="dropdown-dropleft" class="dropdown dropleft">

                    <i class="fa fa-user-o fa-lg" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <div id="drop-down-2" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a id="change-prof" class="dropdown-item" (click)="userProfile()">Change Profile</a>
                        <a id="change-pass" class="dropdown-item" (click)="changePassword()">Change Password</a>
                        <a id="log-out" class="dropdown-item" (click)="logOut()">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>

<!-- <app-jira-user-auth [jiraAuthWindowOpen]="jiraAuthWindowOpen" (closeJiraAuthWindow)="onJiraAuthDialogClose()"></app-jira-user-auth> -->
