<app-ai-analitics-menu></app-ai-analitics-menu>
<section class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="upload">
                    <h6 id="loadCSVtitle" class="load-csv-file">Load CSV file</h6>
                    <div id="languageWrapper" class="languageWrapper">
                        <p id="select-language-paragraph">Please select language: </p>
                        <select id="select-language-dropdown" class="select-language" [(ngModel)]="selectedLang">
                            <option *ngFor="let lang of optionLanguage"
                                [value]="lang" [selected]="lang">{{lang}}</option>
                        </select>
                    </div>
                    <form id="form-group" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="upload">
                                <input type="file" name="upload file" class="upload-elements btn inputStyle input-custom" id="defectfile" (change)="onFileChange($event)" accept=".csv" #fileInput>
                            </div>
                            <div class="action-buttons">
                                <button id="reset-button" class="btn clear" type="reset" (click)="cancel()">Reset</button>
                                <button id="submit-save-defects-btn" type="submit" [disabled]="loading" class="btn load" *ngIf="permissionService.hasPermission('/api/Insight/SaveDefects') ? true : false">Submit
                                    <i class="fa fa-spinner fa-spin fa-fw"
                                        *ngIf="loading">
                                    </i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <h6 id="upload-progress">Upload progress :</h6>
                    <div class="progress">
                        <div id="progress-bar-animated-div" [ngClass]="{'progress-bar-animated': loading == true ,'bg-success': loading == true || uploadPercentage == 100 ,'bg-danger': responseStatus === 'false'}" class="progress-bar progress-bar-striped progressBorder" role="progressbar"
                            [ngStyle]="setProccesBar()" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <span id="uploadPercentage" *ngIf="uploadPercentage !== 0">{{uploadPercentage}}%</span>
                        </div>
                        <img id="responseStatus-true-img" class="statusImage" *ngIf="responseStatus === 'true'" src="assets/checked.png" alt="checked">
                        <span id="responseStatus-false-span" *ngIf="responseStatus === 'false'" class="k-icon k-i-warning statusImage"></span>
                    </div>
                </div>

            </div>
            <div>
                <div class="progress-bar-container">
                    <div id="progress-bar-div" class="progress-bar stripes"><span id="progress-bar-inner-1" class="progress-bar-inner"></span></div>
                    <div id="progress-bar-animated-div" class="progress-bar stripes animated reverse slower"><span id="progress-bar-inner-2" class="progress-bar-inner"></span></div>
                </div>
            </div>
            <a class="button custom-help" href="#defects-import"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            <div class="col-md-8">
                <div class="table-position">
                    <table id="defect-imports" class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">User Field Name</th>
                                <th scope="col">CSV File Header Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of validataHeaders;">
                                <td>
                                    <h6 class="table-title">{{ item }}</h6>
                                </td>
                                <td class="selector">
                                    <select id="selectionHolderSelect" class="browser-default custom-select" [(ngModel)]="selectionHolder[item]">
                                        <option selected="selected">Empty</option>
                                        <option *ngFor="let csvHeader of csvHeaders;" [value]="csvHeader"
                                                [selected]="csvHeader === selectionHolder[item]"> {{ csvHeader }}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<app-defects-import-popup></app-defects-import-popup>