.color-thead {
    background-color: #114b5e;
    color: #ffffff;
}

.load-csv-file {
    background: #e9ecef;
    width: 188%;
    padding: 14px 6px;
    margin-top: 30px;
    margin-bottom: 43px;
    border: solid 1px #dee2e6;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.load {
    width: 70%;
    margin-top: 36px;
    color: white;
    background: #4CAF50;
    font-family: 'Montserrat', sans-serif;
}

.clear {
    width: 70%;
    margin-top: 36px;
    color: #111;
    background: lightgray;
    margin-right: 12px;
    font-family: 'Montserrat', sans-serif;
}

.upload {
    display: inline-grid;
}

.upload-elements {
    margin-top: 30px;
    margin: 0 auto;
}

.table-position {
    position: relative;
    margin-top: 30px;
}

.selector {
    width: 50%;
}

.action-buttons {
    display: flex;
}

.progress {
    margin-top: 15px;
}

.statusImage {
    position: absolute;
    left: 337px;
}

.inputStyle {
    border: 1px solid gainsboro;
}

.fileName {
    position: absolute;
    left: 22%;
    top: 11%;
    text-decoration: underline;
}

.progressBorder {
    border-radius: 3px 11px 10px 4px;
}

.input-custom {}

.table-title {
    color: #555;
    font-family: 'Montserrat', sans-serif;
}

.table td,
.table th {
    padding: 0.55rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-family: 'Montserrat', sans-serif;
}

#defect-imports {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#defect-imports td,
#defect-imports th {
    border: 1px solid #ddd;
    padding: 8px;
}

#defect-imports tr:nth-child(even) {
    background-color: #f2f2f2;
}

#defect-imports tr:hover {
    background-color: #ddd;
}

#defect-imports th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.languageWrapper {
    display: flex;
}

.select-language {
    width: 62px;
    height: 31px;
    margin-left: 19px;
    position: relative;
}

.custom-help {
    width: 40px;
    height: 40px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    bottom: 0;
    top: 27em;
    left: 40px;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1600px) {
    .load-csv-file {
        width: 107%;
    }
}