<div class="container">
    <h1>Hero Form</h1>
    <form (ngSubmit)="onSubmit()" #filterForm="ngForm">
        <div class="form-row">
            <div class="form-group">
                <label id="dateTimestampLabel" for="dateTimestamp">Date timestamps</label>
                <select class="form-control" id="dateTimestamp" required [(ngModel)]="dateTimestamp" name="dateTimestamp">
            <option *ngFor="let val of defectTimestampsVals" [value]="val">{{val}}</option>
          </select>
            </div>

            <div class="form-group">
                <label id="dateRangeLabel" for="dateRange">Date range</label>
                <input type="text" class="form-control" id="dateRange" required [(ngModel)]="dateRange" name="dateRange">
            </div>

            <div class="form-group">
                <label id="severityLabel" for="severity">Severity</label>
                <select class="form-control" id="severity" required [(ngModel)]="severity" name="severity">
          <option *ngFor="let sev of severityVals" [value]="sev">{{sev}}</option>

        </select>
            </div>

            <div class="form-group">
                <label id="priorityLabel" for="priority">Priority</label>
                <select class="form-control" id="priority" required [(ngModel)]="priority" name="priority">
          <option *ngFor="let prior of priorityVals" [value]="prior">{{prior}}</option>

        </select>
            </div>

            <div class="form-group">
                <label id="statusLabel" for="status">Status</label>
                <select class="form-control" id="status" required [(ngModel)]="status" name="status">
          <option *ngFor="let stat of statusVals" [value]="stat">{{stat}}</option>

        </select>
            </div>

        </div>

        <!-- <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button> -->
        <button id="submitBtn" type="submit" class="btn btn-success">Submit</button>

    </form>
</div>