<kendo-dialog id="add-edit-system" [minWidth]="isSystemEdited ? '500' : '500'" [height]="isSystemEdited ? '500px' : '500px'" [title]="isSystemEdited ? 'Edit System' : 'Add New System'" *ngIf="systemWindowOpen" (close)="close()">
    <div class="dialog">
        <div class="row">
            <div class="col-12">
                <span id="system-title" >Title</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="change-title" type="text" (input)="changeTitle($event)" [value]="selectedSystem.title" />
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-12">
                <span id="adapter-name" >Adapter Name</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <kendo-combobox id="system-adapters" style="width: 65%;" [data]="adapters" [filterable]="true" [(ngModel)]="selectedSystem.adapterName" (valueChange)="changeAdapterName($event)">
                </kendo-combobox>
            </div>
        </div><br /><br />
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <button id="submit-action" class="btn add" [disabled]="disableSubmitBtn" (click)="submitClicked()">Submit</button>
                    <button id="cancel-action" class="btn exit" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
    <a id="add-system-anchor" class="button" href="#add-system"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
</kendo-dialog>
<div id="add-system" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Add New System</h2>
        <a id="systems-catalogs" class="close" href="/#/systems-catalogs">&times;</a>
        <div class="content">
            <i id="icon-screen" class="fa fa-lightbulb-o" aria-hidden="true"></i> <span id="screen-span" class="grey-text">Use this screen to create a new system. The fields that need to have values are Title and Adapter Name</span>
            <div class="table">
                <div class="table-row blue">
                    <div id="field-field" class="table-cell">
                        Field
                    </div>
                    <div id="usage-field" class="table-cell">
                        Usage
                    </div>
                </div>
                <div class="table-row">
                    <div id="title-field" class="table-cell blue-text">
                        Title
                    </div>
                    <div id="system-name-field" class="table-cell grey-text">
                        The name of the system
                    </div>
                </div>
                <div class="table-row">
                    <div id="adapter-field" class="table-cell blue-text">
                        Adapter Name
                    </div>
                    <div id="name-field" class="table-cell grey-text">
                        The name of the adapter chosen from the dropdown list
                    </div>
                </div>
                <div class="table-row">
                    <div id="tab-submit" class="table-cell blue-text">
                        Submit button
                    </div>
                    <div id="subm" class="table-cell grey-text">
                        Submits the changes made on the system
                    </div>
                </div>
                <div class="table-row">
                    <div id="tab-cancel" class="table-cell blue-text">
                        Cancel button
                    </div>
                    <div id="canc" class="table-cell grey-text">
                        Discards the changes made on the system
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>