<kendo-dialog id="sys-dialog" width="600" height="250" title="Select System" *ngIf="selectSystemWindowOpen" (close)="close()">
    <div class="row">
        <div class="col-12">
            <span id="sys-descrption" class="description">
                Select system for '{{selectedCatalog.title}}' catalog:
            </span>
        </div>
    </div> <br />
    <div class="row systems">
        <div class="col-12">
            <kendo-combobox id="sys-combo" class="systems-combo" required [data]="systems" [filterable]="true" [textField]="'title'" [valueField]="'id'" [value]="selectedCatalog.system" (valueChange)="changeCatalogSystem($event)">
            </kendo-combobox>
        </div>
    </div>
    <kendo-dialog-actions>
        <div class="row">
            <div class="col-12 action-buttons">
                <button *ngIf="(selectedCatalog.systemCatalogId && permissionService.hasPermission('/api/Administration/AddSystemCatalog')) || (!selectedCatalog.systemCatalogId && permissionService.hasPermission('/api/Administration/UpdateSystemCatalog'))" id="sys-submit" class="btn add" [disabled]="disableSubmitButton()" (click)="addSystemToCatalog()">Submit</button>
                <button id="sys-cancel" class="btn exit" (click)="close()">Cancel</button>
            </div>
        </div>
    </kendo-dialog-actions>
    <div class="row">
        <div class="col-md-12">
            <a id="sys-anchor" class="button" href="#select-system"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
    </div>
</kendo-dialog>
<div id="select-system" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Select System</h2>
        <a id="sys-catal" class="close" href="/#/systems-catalogs">&times;</a>
        <div id="sys-content" class="content">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i> <span class="grey-text">Use this screen to select system for the catalog. </span>
            <div class="table">
                <div class="table-row blue">
                    <div id="sys-field" class="table-cell">
                        Field
                    </div>
                    <div id="sys-usage" class="table-cell">
                        Usage
                    </div>
                </div>
                <div class="table-row">
                    <div id="sys-drops" class="table-cell blue-text">
                        Dropdown list
                    </div>
                    <div id="sys-drops-desc" class="table-cell grey-text">
                        Select from the dropdown list the desired system
                    </div>
                </div>
                <div class="table-row">
                    <div id="sys-submit-btn" class="table-cell blue-text">
                        Submit button
                    </div>
                    <div id="sys-submit-btn-desc" class="table-cell grey-text">
                        Submits the changes made on the catalog
                    </div>
                </div>
                <div class="table-row">
                    <div id="sys-cancel" class="table-cell blue-text">
                        Cancel button
                    </div>
                    <div id="sys-cancel-desc" class="table-cell grey-text">
                        Discards the changes made on the catalog
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
