.k-dialog-wrapper .k-dialog .workflow-dialouge {
    position: absolute !important;
    bottom: calc(50% - 537px) !important;
}

.submenu {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    background-color: transparent !important;
}

.submenu-item {
    padding: 1px 6px !important;
}

.disabled-context-menu {
    display: none !important;
}

.k-i-play {
    transform: rotate(180deg);
    color: #696969;
    margin-right: 0 !important;
    margin-bottom: 0.2rem;
}

.enabled-context-menu {
    display: block;
}

.buttons-dialog {
    padding: 20px;
}

.template {
    display: inline-block;
    background: #0d4b5e;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.template:hover {
    background-color: #333333;
}

.k-dialog-buttongroup {
    border-color: rgba(33, 37, 41, 0.125);
    height: 38px !important;
}

.no-button {
    background-color: #C00D0F;
    border-color: #C00D0F;
    color: #fff;
}

.cancel-button {
    background: #C00D0F !important;
    border-color: #C00D0F !important;
    color: #fff !important;
}

.bordercorners {
    border-radius: 70px;
    border: 2px solid #0d4b5e;
    padding: 0px 40px;
}

.bordercorners2 {
    border-radius: 25px;
    border: 2px solid #eeeeee;
    padding: 20px;
    width: 200px;
    height: 212px;
}

.percentage {
    color: #003d52;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
}

.title {
    color: rgb(68, 170, 188);
    font-family: Helvetica, "Times New Roman", Times, serif;
    font-size: 18px;
}

.icones-workflow {
    width: 14%;
    position: relative;
    left: -38px;
}

.workflow-coverage-row {
    margin: 0 !important;
}

.data-coverage-row {
    margin: 0 !important;
}

.k-item {
    box-shadow: initial !important;
}

.hierarchy-combo {
    font-size: 14px;
    width: 18rem;
}

.fa-check {
    color: #28a745 !important;
}

.title-description-input {
    height: 1.5rem;
    width: 18rem;
}

.description {
    /* border: 1px solid lightgray;
    height: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
    cursor: default;
    overflow-x: hidden; */
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 3rem;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 82rem;
    border-radius: 10px;
}

.k-menu {
    background: #dadada!important;
}

/* AM CSS */

.link-workflow-issue {
    padding: 8px !important;
}

.process-details-title {
    cursor: default;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 0.6rem;
    width: 18rem;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    color: #0f4a5d;
}

.process-details-description-title {
    cursor: default;
    color: #0f4a5d;
}

.process-details-description {
    width: 100%;
}


/* AM CSS */

::ng-deep .k-menu.k-menu-horizontal:not(.k-context-menu)>.k-item>.k-link {
    display: block;
}

::ng-deep .k-menu.k-menu-horizontal:not(.k-context-menu) {
    padding: 0 !important;
}

@media only screen and (max-width: 1600px) {
    .description {
        width: 63rem;
    }
}