<hr style="margin-top: 0; margin-bottom: 0" />
<div style="box-shadow: inset rgba(0,0,0,.38) 5px -4px 8px 0px; z-index: 99;" class="req-header">
    <kendo-menu id="workf-toolbar-menu" [vertical]="false">
        <kendo-menu-item id="workf-toolbar-menu1">
            <ng-template kendoMenuItemTemplate>
                <div>
                </div>
                <div id="workf-toolbar-title" style="display: flex;" [title]="_processDetail ? _processDetail.title : ''">
                    <div id="workf-toolbar-back" title="Go Back" (click)="goBack()">
                        <i class="k-icon k-i-play"></i>
                    </div>
                    <span id="workf-toolbar-span" class="process-details-title">
                        {{_processDetail ? _processDetail.title : " "}}
                    </span>
                </div>
                <kendo-menu id="workf-toolbar-submenu"  [vertical]="false" class="workflow-issue" *ngIf="linkIssueProcessPermission() || linkWorkflowProcessPermission()">
                    <kendo-menu-item id="workf-toolbar-it1" > 
                        <ng-template kendoMenuItemTemplate>
                            <div id="workf-toolbar-link-req" class="link-label"><b>Link requirement to:</b></div>
                        </ng-template>
                    </kendo-menu-item>
                    <kendo-menu-item id="workf-toolbar-it2" *ngIf="linkWorkflowProcessPermission()">
                        <ng-template kendoMenuItemTemplate >
                                <div id="workf-toolbar-workflow" style="cursor:pointer" class="link-workflow-issue" (click)="linkWfPopup(_processDetail)"><span >Workflow</span></div>
                        </ng-template>
                    </kendo-menu-item>
                    <kendo-menu-item id="workf-toolbar-it3" *ngIf="linkIssueProcessPermission()">
                        <ng-template kendoMenuItemTemplate >
                                <div id="workf-toolbar-issue" style="cursor:pointer" class="link-workflow-issue" (click)="linkIssuePopup(_processDetail)"><span>Issue</span></div>
                        </ng-template>
                    </kendo-menu-item>
                </kendo-menu>
            </ng-template>
        </kendo-menu-item>
        <kendo-menu-item id="workf-toolbar-menu2" >
            <ng-template kendoMenuItemTemplate>
                <span id="workf-toolbar-descr" class="process-details-description">Description:</span>
                <div id="workf-toolbar-descr-text" mwlResizable [enableGhostResize]="true" [resizeEdges]="{right: true}" [ngStyle]="{'width': descriptionWidth}" [title]="_processDetail ? _processDetail.description : ''" class="description" (resizeStart)="onResizeEnd($event)" (resizing)="onResizeEnd($event)">
                    <span class="process-details-description" style="white-space: pre-wrap;">{{_processDetail ? _processDetail.description : " "}}</span>
                </div>
            </ng-template>
        </kendo-menu-item>
        <kendo-menu-item id="workf-toolbar-menu3">
            <ng-template kendoMenuItemTemplate>
                <ul id="workf-toolbar-unordered-list" style="list-style-type: none; padding-left: 0.8rem; cursor: default; margin-left:auto;">
                    <li id="workf-toolbar-nr" >{{"Workflows: " + processStatistics.nrWorkflows}}</li>
                    <li id="workf-toolbar-total" >{{"Total Issues: " + processStatistics.nrTotalIssues}}</li>
                    <li id="workf-toolbar-open" >{{"Open Issues: " + processStatistics.nrOpenIssues}}</li>
                </ul>
            </ng-template>
        </kendo-menu-item>
    </kendo-menu>
</div>
<hr style="margin-top: 0; margin-bottom: 0" />
<kendo-window id="workf-toolbar-additionalInfo"  [minWidth]="200" [minHeight]="125" title="About" *ngIf="windowOpened" (close)="close('window')">
    <p style="text-align: center;">Additional info</p>
</kendo-window>

<div class="example-wrapper">
    <kendo-dialog id="workf-toolbar-link-workflow" title="Link Workflow" *ngIf="openWfPopup" (close)="closeWfPopup()" [minWidth]="600" [width]="600" class="process-dialog">
        <kendo-grid id="workf-toolbar-subProjectFolders" [kendoGridBinding]="subProjectFolders" [selectable]="{checkboxOnly:false,mode:'single'}" [kendoGridSelectBy]="'id'" [filterable]="true" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [sort]="sort" [sortable]="true" [navigable]="true"
            (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column title="Folder" [field]="'title'"></kendo-grid-column>
            <div *kendoGridDetailTemplate="let dataItem">
                <app-link-process-workflow [folder]="dataItem" [processDetail]="_processDetail" (closeWfPopupBool)="closeWfPopup()" (decreaseWorkflowStatistic)="decreaseWorkflowStatistic()" (increaseWorkflowStatistic)="increaseWorkflowStatistic()"></app-link-process-workflow>
            </div>
        </kendo-grid>
    </kendo-dialog>
</div>

<div class="example-wrapper">
    <kendo-dialog id="workf-toolbar-issue-popup" title="Link Issue" *ngIf="openIssuePopup" (close)="closeIssuePopup()" [minWidth]="250" [width]="isDefect ? 1050 :500">
        <app-link-wf-issue [allIssues]="allIssues" (closeIssuePopupBool)="closeIssuePopupBool()" [processDetail]="_processDetail" (isDefectType)="isDefectType($event)"></app-link-wf-issue>
    </kendo-dialog>
</div>

<app-select-hierarchy (processHierarchyUpdated)="processUpdated($event)" [processDetail]="_processDetail" [openMoveProcessWindow]="openMoveProcessWindow" (closeMoveProcessWindow)="closeMoveProcessWindow()"></app-select-hierarchy>
