body,
html {
    height: 100%;
    overflow: hidden;
}

.container1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container1:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}

.container1:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

.container1 {
    background: inherit;
}

.container1:before {
    background: #ffffffbd;
    z-index: -1;
}

.full-image {
    width: 100%;
    height: 89vh;
    object-fit: cover;
}

.footer-text {
    position: absolute;
    bottom: 10%;
    text-align: center;
    font-size: 14px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #034b5e;
}

.versions {
    font-size: 13px;
}

.login-container {
    height: auto;
    width: 36.2rem;
    border-radius: 8px;
    position: absolute;
    top: 38%;
    left: calc(50% - 289px);
    z-index: 1;
    box-shadow: 0 2px 35px 6px #888;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.error-message {
    display: none;
}

@-webkit-keyframes login-container {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes login-container {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

.app-logo {
    height: 44px;
    margin: 0 auto;
    display: flex;
    top: 32%;
    position: absolute;
    left: calc(50% - 131px);
}

.section-title {
    text-align: center;
    font-size: 3vh;
    color: #0d4b5e;
    padding: 10px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.section-description {
    font-size: 14px;
    color: #023658;
    text-align: center;
    padding-top: 10px;
    padding: 0 35px;
    margin-bottom: 45px;
    font-family: "Cabin", sans-serif;
}

input {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

input::-webkit-input-placeholder {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

input::-moz-placeholder {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

input :-ms-input-placeholder {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

input :-moz-placeholder {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

input:focus {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.user-email {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
    outline: 0;
    display: block;
    width: 65%;
    height: 55px;
    border-width: 1px;
    border-color: #0d4b5e;
    border-radius: 35px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.password {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
    outline: 0;
    display: block;
    width: 65%;
    height: 55px;
    border-color: #0d4b5e;
    border-width: 1px;
    border-radius: 35px;
    margin-bottom: 20px;
}

.custom-btn {
    font-size: 14px;
    padding: 15px 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    top: 2.7rem;
    background-color: #93c94e;
    border-color: #93c94e;
    box-shadow: 0px 2px 23px 2px #93c94e;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.forgot-password {
    color: #005a9d;
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1600px) {
    .app-logo {
        top: 14%;
    }
    .login-container {
        height: auto;
        top: 11rem;
    }
    .footer-text {
        bottom: 10%;
    }
}

@media screen and (max-width: 1366px) {
    .app-logo {
        top: 27%;
    }
}