.dialog {
    font-size: 16px;
    overflow: hidden;
}

input {
    height: 32px;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    background-color: #fff;
    padding: 4px 7px 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    vertical-align: baseline;
    width: 100%;
}

textarea {
    height: 150px;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    background-color: #fff;
    padding: 4px 7px 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    vertical-align: baseline;
    width: 100%;
}

.field-group, fieldset.group {
    padding: 4px 0;
}

.field-group label, .field-group legend, .field-group legend>span, fieldset.group label, fieldset.group legend,  fieldset.group legend>span {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    color: #5e6c84;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    float: none;
    margin: 0 16px 0 0;
    display: block;
    text-align: left;
    width: auto;
}

legend, .field-group>label, .field-group>aui-label {
    float: left;
    padding: 5px 0 0 0;
    position: relative;
    width: 130px;
    word-wrap: break-word;
}
legend, label {
    color: #707070;
}


.action-buttons {
    top: 1rem;
}

.add {
    margin: 1px 10px;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.k-window-content {
    overflow: hidden !important;
}

.sprints {
    width: 100% !important;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 2.1rem;
    font-size: 0.8rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-right: 0 !important;
}

.add-issue-btn {
    background-color: #fff;
    border-color: #ccc;
    color: #2e6da4;
    right: 13px;
    position: absolute;
    padding-left: 0 !important;
    padding-right: 0.8px !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 4px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.fa-plus {
    font-size: 1.4em;
}

.btn:focus {
    box-shadow: 0 !important;
}

.field-group .icon-required, form.aui fieldset.group .icon-required {
    position: static;
}
.icon-required {
    left: 100%;
    position: absolute;
    top: 5px;
}
.icon-required, .icon-f-required {
    width: 10px;
}
.aui-icon {
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: -999em;
    vertical-align: text-bottom;
    width: 16px;
    color: #d04437;
}

.buttons-container, #edit-issue-dialog .buttons-container {
    padding: 16px 24px;
    margin-left: auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

 .buttons-container.form-footer .aui-button, .adg3 .jira-dialog .jira-dialog-content .form-footer .aui-button {
    color: #42526e;
    background: #f4f5f7;
    border: none;
    margin-right: 4px;
    height: 32px;
    min-width: 24px;
    border-radius: 3px;
    text-shadow: none;
    line-height: 32px;
    padding: 0 10px;
    color: #fff;
    background: #0052cc;
}

.buttons-container .cancel {
    background-color: #dc3545 !important;
}
.buttons-container>.buttons>* {
    font-size: 14px;
}
.cancel {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
    vertical-align: baseline;
}

#create-issue-dialog .buttons-container .buttons, #edit-issue-dialog .buttons-container .buttons {
    display: inline-block;
    float: none;
}

.buttons-container>.buttons {
    font-size: 0;
}
#select-sprint-submit {
    width: auto;
    background-color: #9bc34d !important;
}

#select-sprint-submit:hover {
    background-color: #9bc34d !important;
}

.buttons-container .buttons {
    float: right;
    white-space: nowrap;
}

.buttons-container .cancel:focus, .buttons-container .cancel:hover {
    background-color: #dc3545 !important;
}

