<kendo-dialog 
id="move-issue-dialog"
    [minWidth]="'400'" 
    [title]="'Move Issue'" 
    *ngIf="openMoveIssueWindow" 
    (close)="close()"
>
    <div class="content">
        <div class="field-group">
            <label for="sprint">Sprint<span class="aui-icon icon-required">*</span></label>
            <kendo-combobox id="move-issue-combo" class="sprints" [data]="sprints" placeholder="Select Sprint" [textField]="'title'" [valueField]="'id'" [filterable]="true" [(ngModel)]="selectedSprint">
            </kendo-combobox>
        </div>
    </div>
    <kendo-dialog-actions>
        <div class="buttons-container form-footer">
            <div class="buttons">
                <input  class="aui-button aui-button-primary btn btn-primary" id="select-sprint-submit"  type="submit" value="Select" [disabled]="disableSubmitBtn()" (click)="submitClicked()">
                <button id="move-issue-submit" class="aui-button aui-button-primary btn cancel" (click)="close()">Cancel</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>