#content {
    float: right;
    width: 88%;
    margin-left: 1rem;
}

.line {
    margin-top: 0;
    margin-bottom: 0;
}

.headers {
    padding-bottom: 0.6rem;
    padding-top: 0.8rem;
    padding-left: 0.3rem;
    margin: 0;
    color: #696969 !important;
}

.filter-component {
    height: 3.5rem;
    border-top: 1px solid #e5e5e5 !important;
    margin-left: 0;
    margin-right: 0;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 4px 0px;
    padding-top: 6px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.sprint-header {
    display: inline-flex;
    width: 100%;
}

.add-sprint-btn {
    background-color: #fff;
    border-color: #ccc;
    margin-top: 0.7rem;
    color: #92c94d;
    right: 13px;
    position: absolute;
    padding-right: 1px;
    padding-left: 0 !important;
}

.backlog-header {
    display: inline-flex;
    width: 100%;
}

.add-issue-btn {
    background-color: #fff;
    border-color: #ccc;
    margin-top: 0.7rem;
    color: #92c94d;
    right: 13px;
    position: absolute;
    padding-left: 0 !important;
    padding-right: 0.8px !important;
}

.add-issue-btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #92c94d;
}

.add-sprint-btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #92c94d;
}

.fa-plus {
    font-size: 1.4em;
}