<app-sidebar></app-sidebar>
<div id="content" [ngStyle]="{'display': openCloneIssueWindow ? 'none' : 'block'}">
    <div class="row filter-component">
        <div class="col-12">
            <app-filter [assignees]="assignees" (filterChanged)="setIssues($event)"></app-filter>
        </div>
    </div>
    <div cdkDropListGroup>
        <kendo-splitter id="backlog-main-splitter" >
            <kendo-splitter-pane id="backlog-main-pane1" [size]="openDetails ? '37%' : '50%'">
                <div class="backlog-header">
                    <h4 class="headers">Backlog</h4>
                    <button id="backlog-main-create-issue" type="button" title="Create Issue" class="btn btn-default btn-circle btn-lg add-issue-btn" (click)="addBacklog()"><i class="fa fa-lg fa-plus"></i></button>
                </div>
                <div class="pane-content">
                    <app-backlog [_backlogIssues]="backlogIssues" [people]="people" (moveIssue)="moveIssue($event)" [openDetails]="openDetails" (backlogIssueClicked)="backlogIssueClicked()" (issueToShow)="showIssue($event)" (selectionRemoved)="removedSelection()" (backlogIssueDeleted)="onDeleteIssue($event)"
                        (backlogDroped)="dropBacklog($event)"></app-backlog>
                </div>
            </kendo-splitter-pane>
            <kendo-splitter-pane id="backlog-main-pane2" [size]="openDetails ? '37%' : '49.5%'">
                <div class="sprint-header">
                    <h4 class="headers sprint-label">Sprints</h4>
                    <button id="backlog-main-create-sprint" *ngIf="permissionService.hasPermission('/api/Process/Sprint/AddSprint')" type="button" title="Create Sprint" class="btn btn-default btn-circle btn-lg add-sprint-btn" (click)="addSprint()"><i class="fa fa-lg fa-plus"></i></button>
                </div>
                <hr class="line" *ngIf="sprintsComponent && sprintsComponent.sprintItems.length === 0" />
                <div class="pane-content">
                    <app-sprints [sprintsIssues]="sprintsIssues" [people]="people" [openDetails]="openDetails" (backlogIssueMoved)="backlogIssueMoved($event)" (sprintIssueClicked)="sprintIssueClicked()" (sprintDroped)="dropSprint($event)" (selectionRemoved)="removedSelection()"
                        (issueToShow)="showIssue($event)" (sprintIssueDeleted)="onDeleteIssue($event)" (moveIssuesFromSprint)="moveIssuesFromSprint($event)"></app-sprints>
                </div>
            </kendo-splitter-pane>

            <kendo-splitter-pane id="backlog-main-pane3" *ngIf="openDetails">
                <div class="pane-content" style="overflow-x: hidden; height: 100%;">
                    <div>
                        <app-issue-details (cloneClicked)="cloneClicked($event)" (assigneeReload)="reloadAssignees($event)" (removeIssueFromBacklog)="removeIssueFromBacklog($event)" [issueTypes]="issueTypes" [sprints]="sprintsComponent ? sprintsComponent.sprintItems : []" [_issue]="issueToShow"
                            [people]="people" [openDetails]="openDetails" (sprintUpdated)="sprintUpdated($event)" (issueUpdated)="updateIssue($event)" (detailsClosed)="closeDetails()">
                        </app-issue-details>
                    </div>
                </div>
            </kendo-splitter-pane>
        </kendo-splitter>
    </div>
</div>

<div id="content2" *ngIf="openCloneIssueWindow">
    <app-clone-issue [issue]="issueToClone" [affectedWorkflows]="affectedWorkflows" [linkedIssues]="linkedIssues" [resources]="resources" (closeCloneIssueWindow)="closeCloneIssueWindow()" (issueListUpdated)="updateIssueList($event)">
    </app-clone-issue>
</div>

<app-add-sprint [isSprintEdited]="false" [sprintToEdit]="null" [openAddSprintWindow]="openAddSprintWindow" (closeAddSprintWindow)="closeAddSprintWindow()" (sprintListUpdated)="updateSprintList($event)">
</app-add-sprint>

<app-add-edit-issue [people]="people" [selectedIssue]="selectedIssue" [issueWindowOpen]="issueWindowOpen" (closeIssueWindow)="closeIssueWindow()" (issueListUpdated)="updateIssueList($event)">
</app-add-edit-issue>