<div id="roles" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Assignees </h2>
        <a class="close" href="/#/settings/people">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                        Assignees View
                    </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to see the available Assignees, manage them and create new. “Contains” search field: Search for assignees with keywords. “+” button: Click this button to create
                            a new assignee.

                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Login User
                                    </div>
                                    <div class="table-cell grey-text">
                                        The name of the login user.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Nick Name
                                    </div>
                                    <div class="table-cell grey-text">
                                        The nick name of the assignee.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Full Name
                                    </div>
                                    <div class="table-cell grey-text">
                                        The full name of the assignee.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Role
                                    </div>
                                    <div class="table-cell grey-text">
                                        The defined role for the assignee.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Email
                                    </div>
                                    <div class="table-cell grey-text">
                                        The email address of the assignee.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Actions
                                    </div>
                                    <div class="table-cell grey-text">
                                        The available actions on the assignee (Edit, Delete).
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “Edit” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Edit the details of an existing assignee.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “Delete” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Delete the assignee.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
