text {
    pointer-events: none;
}

.grandparent text {
    font-weight: bold;
}

rect {
    fill: none;
    stroke: gray;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

.grandparent rect {
    fill: orange;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.children:hover rect.child {
    fill: #bbb;
}

.ledg {
    font: .8em sans-serif;
    position: absolute;
    text-indent: 5px;
}

a {
    color: dimgray;
}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 14px;
    line-height: 15px;
    left: 130px;
    width: 250px;
    border-style: solid;
    border-color: #76787A;
    border-width: 2px;
    border-radius: 7px;
    position: absolute;
    z-index: 1000;
}

#legend_container {
    display: block;
}

.box_legend {
    display: inline-block;
    height: 10px;
    width: 10px;
    padding: 5px;
    border: 0px solid;
    margin-right: 2px;
}

text {
    pointer-events: none;
}

.grandparent text {
    font-weight: bold;
}

rect {
    stroke: #fff;
    stroke-width: 1px;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

.grandparent:hover rect {
    fill: darkgrey;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.child {
    opacity: 0;
}

.children rect.parent {}

.children:hover rect.child {
    opacity: 1;
    stroke-width: 1px;
}

.children:hover rect.parent {
    opacity: 0;
}

.legend {
    margin-bottom: 8px !important;
}

.legend rect {
    stroke-width: 0px;
}

.legend text {
    text-anchor: middle;
    pointer-events: auto;
    font-size: 13px;
    font-family: sans-serif;
    fill: black;
}

.form-group {
    text-align: left;
}

.textdiv {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 7px;
    cursor: pointer;
    overflow: none;
}

.textdiv .title {
    font-size: 102%;
    font-weight: bold;
    margin-top: 8px;
    font-size: 11px !important;
}

.textdiv p {
    line-height: 13px;
    margin: 0 0 4px !important;
    padding: 0px;
    font-size: 10px !important;
}

#legend_of_treemap {
    display: inline-block;
    margin-left: 20px;
}

.back-button {
    padding: 15px;
}

#legend_of_treemap_div{
    display: none;
}