<div>
    <strong id="defect-severity-allocation-strong-text">Defect severity allocation per business area</strong>
    <div *ngIf="!nodata">
        <div id="svg_d3_severity_per_bus_areas_treemap">
            <div class="back-button" id="severity_grandparent">
                <i id="defect-severity-allocation-strong-text-icon" class="report-detail-key fa fa-arrow-left" aria-hidden="true"></i> Back to upper level
            </div>
            <div id="domainDrillDown" #domainDrillDown style="width: 100%;height:400"></div>
        </div>
        <div class="row">
            <div class="col-sm" id="legend_of_treemap_div">
                <div id="legend_of_treemap" *ngFor="let data of colorLegend; let i = index">
                    <div class="box_legend" [ngStyle]="{'background': data.color}"></div>
                    <label class="form-check-label">{{data.name}}
          </label>
                </div>
            </div>
        </div>
    </div>

    <p id="no-data-defect-severity-allocation" *ngIf="nodata">
        No data for this period.
    </p>
</div>