<div>
    <strong id="defect-root-cause-allocation">Defect root cause allocation per business area</strong>
    <div *ngIf="!nodata">
        <div class="back-button" id="root_cause_grandparent">
            <i  id="defect-root-cause-allocation-icon" class=" report-detail-key fa fa-arrow-left" aria-hidden="true"></i> Back to upper level
        </div>
        <div id="domainDrillDown_root_cause_treemap" style="width: 100%;height:400"></div>
    </div>
    <p  id="no-data-defect-root-cause-allocation" *ngIf="nodata">
        No data for this period.
    </p>
</div>