<div id="ji-user-map-bigDiv" *ngIf="!loadingMappings" style="padding-bottom: 30px;">
  <div *ngIf="mappingUserList && mappingUserList.length > 0" class="row p-0 m-0">
    <div class="col-md-5">
      <label id="ji-user-map-loadingSenseUsers"> SenseAI User <i *ngIf="loadingSenseUsers"
          class="ml-2 fa fa-spin fa-spinner"></i> </label>
      <br>
    </div>
    <div class="col-md-5">
      <label id="ji-user-map-loadingJiraUsers"> Jira User <i *ngIf="loadingJiraUsers"
          class="ml-2 fa fa-spin fa-spinner"></i></label>
      <br>
    </div>
    <div class="col-md-2">
      <label id="ji-user-map-options"> Options </label>
      <br>
    </div>
  </div>
  <div class="row p-0 m-0" *ngFor="let m of mappingUserList; let i = index">
    <div class="col-md-5">
      <div class="form-group">
        <select name="ji-user-map-userId" *ngIf="m.id" disabled class="custom-select" [(ngModel)]="m.senseaiUserId">
          <option *ngFor="let s of senseUserList" value="{{s.id}}"> {{ s.surname || '' }} </option>
        </select>
        <select name="ji-user-map-userId2" *ngIf="!m.id" [disabled]="loadingSenseUsers" class="custom-select"
          [(ngModel)]="m.senseaiUserId">
          <option *ngFor="let s of _senseUserList" value="{{s.id}}"> {{ s.surname || '' }} </option>
        </select>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group">
        <select name="ji-user-map-jiraUserId" *ngIf="m.id" disabled class="custom-select" [(ngModel)]="m.jiraUserId">
          <option *ngFor="let j of jiraUserList" value="{{j.id}}"> {{ j.name }} </option>
        </select>
        <select name="ji-user-map-jiraUserId2" *ngIf="!m.id" [disabled]="loadingJiraUsers" class="custom-select"
          [(ngModel)]="m.jiraUserId">
          <option *ngFor="let j of _jiraUserList" value="{{j.id}}"> {{ j.name }} </option>
        </select>
      </div>
    </div>

    <div class="col-md-2">
      <!-- When adding user -->
      <div *ngIf="!m.id" class="btn-group btn-block">
        <button name="ji-user-map-removeUserMapp" (click)="removeUserMapping(null, i)"
          class="btn btn-outline-secondary"> <i class="fa fa-ban"></i> </button>
        <button name="ji-user-map-btn" [disabled]="!m.jiraUserId || !m.senseaiUserId" (click)="save(m)"
          class="btn btn-success"> <i class="fa fa-save"></i> </button>
      </div>

      <!-- For saved users -->
      <button name="ji-user-map-btn2" *ngIf="m.id" (click)="removeUserMapping(m.id, null)"
        class="btn btn-block btn-outline-secondary"> <i class="fa fa-times"></i> </button>
    </div>
  </div>

  <div class="col-md-12 text-center">
    <small class="form-group text-danger" *ngIf="this._senseUserList.length ==0 && this._jiraUserList.length == 0">
      No more users to map
    </small>
    <small class="form-group text-danger" *ngIf="this._senseUserList.length ==0 && this._jiraUserList.length != 0">
      No more SenseAI users to map
    </small>
    <small class="form-group text-danger" *ngIf="this._senseUserList.length !=0 && this._jiraUserList.length == 0">
      No more Jira users to map
    </small>
  </div>

  <div class="row p-0 m-0">
    <button id="ji-user-map-new"
      [disabled]="isAddingOneUser || this._senseUserList.length ==0 || this._jiraUserList.length == 0"
      class="btn btn-dark col-4 offset-4" (click)="addUserMapping()">
      Add user <i class="fa fa-plus pl-2"></i>
    </button>
  </div>

</div>
<div *ngIf="loadingMappings" class="text-center">
  <h5 id="ji-user-map-spinner" class="fa fa-spin fa-spinner"></h5>
</div>


<footer class="wizard-footer fixed-bottom bg-light py-2 px-5">
  <button id="ji-user-map-back" class="col-md-2 btn btn-sm btn-outline-secondary" (click)="goBack()">
    <i class="fa fa-arrow-left pr-2"></i> Back
  </button>
  <button id="ji-user-map-next" type="button" class="btn btn-success btn-sm col-md-2 offset-8"
    (click)="saveUserMappings()">
    Next <i class="pl-2 fa fa-arrow-right"></i>
  </button>
</footer>