<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button id="toggleNavigation" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span id="icon-span" class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]="['active']" *ngIf="licenseService.hasLicense(license.Defect_Recommendations)">
                <a id="defects-reports-anchor" class="nav-item nav-link" routerLink="/defects-reports">AI  Recommendations</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" *ngIf="licenseService.hasLicense(license.Defect_Import)">
                <a id="defects-import-anchor" class="nav-item nav-link" routerLink="/defects-import">Defects Import</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a id="logs-anchor" class="nav-item nav-link" routerLink="/ml-logs">Execution Logs</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" *ngIf="licenseService.hasLicense(license.Dev_Plan)">
                <a id="developers-workload-anchor" class="nav-item nav-link" routerLink="/developers-workload">Resource Workload</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a id="manage-resources-anchor" class="nav-item nav-link" routerLink="/resources">Manage Resources</a>
            </li>
        </ul>
    </div>
</nav>