<kendo-menu *ngIf="menuItems.length>0" class="submenu" [vertical]="false" style="float: left;">
    <kendo-menu-item class="submenu-item" [text]="menuItem.text" [data]="menuItem" [disabled]="!menuItem.isActive" *ngFor="let menuItem of menuItems">
        <ng-template  kendoMenuItemLinkTemplate let-item="item" let-index="index">
            <span id="menuItemSpan" [kendoMenuItemLink]="index" (click)="menuItemClick(item)">
        {{ item.text }}
        </span>
        </ng-template>
    </kendo-menu-item>
</kendo-menu>
<kendo-menu class="submenu" style="float: right;" [vertical]="false" (select)="timeVarianceClicked()" *ngIf="timeVarianceVisible">
    <kendo-menu-item id="timeVariance" [text]="'Time variance'"></kendo-menu-item>
</kendo-menu>
<span class="submenu popup-button" style="float: right;">
    <!-- <a class="button" href="#flow"><i class="fa fa-question-circle" aria-hidden="true"></i></a> -->
</span>
<kendo-window id="additionalInfo" [minWidth]="200" [minHeight]="125" title="About" *ngIf="windowOpened" (close)="close('window')">
    <p style="text-align: center;">Additional info</p>
</kendo-window>
<!-- End rollback dialog -->
<!-- Kengo UI POPUP -->
<kendo-dialog id="processModelDialog"[title]="inProcessModel.popupTitle" *ngIf="isPopupOpen" [minWidth]="400" [height]="300" (close)="close()">
    <label class="k-form-field" *ngIf="!isImportedChecked">
    <span>Title:</span>
    <br />
    <input id="title"
           class="k-textbox"
           width="200"
           placeholder="Please give a name."
           [(ngModel)]="inProcessModel.text"
           name="title">
  </label>
    <label class="k-form-field" *ngIf="isImportedChecked">
    <span>File:</span>
    <br />
    <input id="file"
           type="file"
           (change)="onChangeFile($event)" />
    <div class="loading-message"
         *ngIf="showLoadingMessage">Waiting for the Workflow to be created...</div>
  </label>
    <kendo-dialog-actions class="buttons-dialog">
        <button id="submitButtonToolbar" type="button" class="k-button k-primary submit-button" (click)="submit()" [disabled]="inProcessModel.text === ''">
    Submit
    </button>
        <button id="cancelButtonToolbar" type="button" class="k-button cancel-button" (click)="close()">
    Cancel
    </button>
    </kendo-dialog-actions>
</kendo-dialog>
<!-- Delete Dialog -->
<div>
    <kendo-dialog id="criticalAction" title="Critical action" *ngIf="isIssueOpen" (close)="close()" [minWidth]="250" [width]="450" [@.disabled]="true">
        <!-- <p [innerText]="inProcessModel.popupTitle"></p> -->
        <div class="row">
            <div class="col-md-12">
                <label>
          <input type="radio"
                 name="issue"
                 id="createVersion"
                 value="new"
                 (change)="newclicked()"
                 checked> Create new version
        </label>
                <br>
                <label>
          <input type="radio"
                 name="issue"
                 id='upgradeVersion'
                 value="update"
                 (change)="updatedclicked()"> Upgrade last version
        </label>
            </div>
        </div>
        <kendo-dialog-actions>
            <button id="submitButtonVersion" kendoButton class="yes-button first" (click)="submit()" primary="true">
        Yes
        </button>
            <button id="closeButtonVersion" kendoButton class="no-button second" (click)="close()">
        No
    </button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>
<!-- // View Coverage Dialog -->
<kendo-dialog id="coverageDialog" title="Coverage" *ngIf="isViewCoverageOpen" (close)="close()" [minWidth]="250" [width]="520">
    <div id="coverageDiv" class="row workflow-coverage-row">
        <div class="col-md-12 bordercorners">
            <span>
        <img class="icones-workflow"
             src="../../../../assets/reporticons/flow.svg">
      </span>
            <span class=" percentage ">
        <b>{{workflowCoverage}}%</b>
      </span>
            <span id="titleWorkflowCoverage" class="title" >Workflow Coverage</span>
        </div>
    </div>
    <br>
    <div class="row data-coverage-row">
        <div class="col-md-12 bordercorners">
            <span>
        <img class="icones-workflow"
             src="../../../../assets/reporticons/db.svg">
      </span>
            <span id="percentageDataCoverage" class="percentage">
        <b>{{dataCoverage}}%</b>
      </span>
            <span id="titleDataCoverage" class="title">Data Coverage</span>
        </div>
    </div>
</kendo-dialog>
<!-- // Delete Dialog -->
<kendo-dialog id="criticalActionDialog" title="Critical action" *ngIf="isDialogOpen" (close)="close()" [minWidth]="250" [width]="450" [@.disabled]="true">
    <p [innerText]="inProcessModel.popupTitle"></p>
    <kendo-dialog-actions>
        <button id="criticalActionYes" kendoButton class="first" (click)="submit()" primary="true">
            Yes
        </button>
        <button id="criticalActionNo" kendoButton class="second" (click)="close()">
            No
        </button>
    </kendo-dialog-actions>
</kendo-dialog>
<!-- Create new worklow -->
<div>
    <kendo-dialog id="workflowDialog" class="workflow-dialouge" title="New Workflow:Type" *ngIf="newWorkflowOpen" (close)="close()" style="height:auto; position: absolute !important;
  bottom: calc(50% - 537px) !important;" [minWidth]="400">
        <div>
            <form class="k-form">
                <div class="k-form-field">
                    <input id="computerAssisted" type="radio" name="group" id="radio2" class="k-radio" (change)="computerAssistedChecked()" checked>
                    <label class="k-radio-label" for="radio2">
                        Computer assisted
                    </label>
                    <br />
                    <input id="computerGenerated" *ngIf="licenseService.hasLicense(license.Computer_Assisted_Computer_generated)" type="radio" name="group" id="radio3" class="k-radio" (change)="computerGeneratedChecked()">
                    <label *ngIf="licenseService.hasLicense(license.Computer_Assisted_Computer_generated)" class="k-radio-label" for="radio3">
                        Computer generated
                    </label>
                    <br />
                    <input id="import" type="radio" name="group" class="k-radio" id="radio4" hidden="true" (change)="importChecked()">
                    <label class="k-radio-label" for="radio4" hidden="true">
                        Import
                    </label>
                    <br hidden="true" />
                    <input id="record" *ngIf="hasRecordingPermission()" type="radio" name="group" id="radio5" class="k-radio" (change)="recordWorkflow()">
                    <label *ngIf="hasRecordingPermission()" class="k-radio-label" for="radio5">
                        Sense AI Explorer
                    </label>
                </div>
            </form>
            <div class="text-right">
                <button id="next" type="button" class="k-button k-primary next" (click)="next()">
                    Next
                </button>
                <button id="close" type="button" class="k-button k-alert-error" (click)="close()">
                    Close
                </button>
            </div>
        </div>
        <div></div>
    </kendo-dialog>
    <kendo-dialog id="recordingDialog" class="workflow-dialouge" title="Waiting" *ngIf="recordingOpen" (close)="closeRecording()" style="height:auto; position: absolute !important;
  bottom: calc(50% - 537px) !important;" [minWidth]="400">
        <div id= "recordingScreen" class="recorgind screen">
            <form class="k-form">
                <div class="k-form-field">
                    <label>
                        <img class="recording-png" src="https://cdn.dribbble.com/users/255512/screenshots/2235810/sa.gif">
                        <h5 class="recording-text">Workflow is being recording</h5>
                    </label>
                <br/>
                </div>
            </form>
        </div>
        <div></div>
    </kendo-dialog>
</div>

<!-- Computer Generated Workflows -->
<div>
    <kendo-dialog id="computerGeneratedWorkflow" class="generated-workflow-dialog" title="Computer Generated Workflow" *ngIf="openComputerGeneratedDialog" (close)="closeComputerGeneratedDialog()">
        <div>
            <div class="row">
                <div class="col-5 title-col">
                    <span class="workflow-title">Title:</span>
                    <input id="titleChanged" type="text" class="title-input" [value]="generatedWorkflowTitle" (input)="changeTitle($event)" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-5 typical-col">
                    <span class="workflow-typical">Typical:</span>
                    <kendo-combobox id="typicalCombobox" class="typicals" [data]="typicals" [filterable]="true" [textField]="'title'" [valueField]="'id'" [value]="selectedTypical" [filterable]="true" (filterChange)="handleChange($event)" (valueChange)="changeTypical($event)">
                    </kendo-combobox>
                </div>
                <div class="col-7">
                    <button id="generateWorkflows" *ngIf="permissionService.hasPermission('/api/Design/GetComputerGeneratedWorkflows')" type="button" class="k-button" [disabled]="disableGenerateBtn()" (click)="generateWorkflows()">Generate</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    <span class="generated-workflows">Generated Workflows:</span>
                </div>
            </div>
            <div id="generateWorkflowTable" class="row generate-workflow-table">
                <div class="col-12">
                    <kendo-grid id="workf-toolbar-gridd" [data]="gridData" [selectable]="selectableSettings" [pageSize]="gridState.take" [skip]="gridState.skip" [kendoGridSelectBy]="'id'" [pageable]="true" (dataStateChange)="onStateChange($event)" (selectionChange)="selectionChanged($event)" [selectedKeys]="selectedDataSetsIds">
                        <kendo-grid-checkbox-column id="checkbox" [width]="40"></kendo-grid-checkbox-column>
                        <kendo-grid-column field="title" title="Title"></kendo-grid-column>
                        <kendo-grid-column field="Actions" width="120">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <button id="previewWorkflow" kendobutton class="k-button ng-star-inserted" (click)="previewWorkflow(dataItem, previewWorkflowWindow)">
                                    Preview
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>
            <br />
            <div class="text-right">
                <button *ngIf="permissionService.hasPermission('/api/Design/SaveComputerGeneratedWorkflows')" id="createWorkflowsButton" type="button" class=" custom-button k-button create-btn" [disabled]="disableCreateBtn()" (click)="createWorkflows()">
                    Create
                </button>
                <button id="cancelWorkflowButton" type="button" class="k-button cancel-btn" (click)="closeComputerGeneratedDialog()">
                    Cancel
                </button>
            </div>
        </div>
    </kendo-dialog>
</div>
<ng-template #previewWorkflowWindow>
    <app-preview-workflow [workflow]="workflowToPreview"></app-preview-workflow>
</ng-template>
<div kendoWindowContainer></div>
<!-- popup content -->
<!-- <div id="flow" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Workflow</h2>
        <a class="close" href="#">&times;</a>
        <div class="content grey-text">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Displays the possible operations on the workflow.
            <div class="table">
                <div class="table-row blue">
                    <div class="table-cell">
                        Field
                    </div>
                    <div class="table-cell">
                        Usage
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell blue-text">
                        Edit
                    </div>
                    <div class="table-cell grey-text">
                        Allows editing on the selected workflow
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell blue-text">
                        Save
                    </div>
                    <div class="table-cell grey-text">
                        Saves the changes made on the workflow
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell blue-text">
                        Cancel
                    </div>
                    <div class="table-cell grey-text">
                        Discards the changes made on the workflow
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell blue-text">
                        Rename
                    </div>
                    <div class="table-cell grey-text">
                        Opens a window to modify the Title field
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell blue-text">
                        Copy
                    </div>
                    <div class="table-cell grey-text">
                        Copy the chosen workflow
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell blue-text">
                        Cut
                    </div>
                    <div class="table-cell grey-text">
                        Cut the chosen workflow
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell blue-text">
                        Delete
                    </div>
                    <div class="table-cell grey-text">
                        Delete the chosen workflow
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell blue-text">
                        Issue
                    </div>
                    <div class="table-cell grey-text">
                        Issue the chosen workflow
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell blue-text">
                        View Coverage
                    </div>
                    <div class="table-cell grey-text">
                        View of workflow and data coverage
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell blue-text">
                        Download Video
                    </div>
                    <div class="table-cell grey-text">
                        Download the recorded video*
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell blue-text">
                        Time variance button
                    </div>
                    <div class="table-cell grey-text">
                        Opens a screen to display the different versions of the chosen workflow on a specified period of time .
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->