.k-dialog-wrapper .k-dialog .workflow-dialouge {
    position: absolute !important;
    bottom: calc(50% - 537px) !important;
}

.k-content {
    padding-top: 0!important;
}

.submenu {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    background-color: transparent !important;
}

.submenu-item {
    padding: 1px 6px !important;
}

.disabled-context-menu {
    display: none !important;
}

.enabled-context-menu {
    display: block;
}

.loading-message {
    margin-top: 3rem;
    text-align: center;
}

.buttons-dialog {
    padding: 20px;
}

.template {
    display: inline-block;
    background: #0d4b5e;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.template:hover {
    background-color: #333333;
}

.k-dialog-buttongroup {
    border-color: rgba(33, 37, 41, 0.125);
    height: 38px !important;
}

.no-button {
    background-color: #C00D0F;
    border-color: #C00D0F;
    color: #fff;
}

.cancel-button {
    background: #C00D0F !important;
    border-color: #C00D0F !important;
    color: #fff !important;
}

.row {
    background-color: white;
}

.bordercorners {
    border-radius: 70px;
    border: 2px solid #0d4b5e;
    padding: 0px 40px;
}

.bordercorners2 {
    border-radius: 25px;
    border: 2px solid #eeeeee;
    padding: 20px;
    width: 200px;
    height: 212px;
}

.percentage {
    color: #003d52;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    position: relative;
    margin-right: 0.3rem;
}

.title {
    color: rgb(68, 170, 188);
    font-family: Helvetica, "Times New Roman", Times, serif;
    font-size: 18px;
}

.icones-workflow {
    width: 14%;
    position: relative;
    left: -38px;
}

.workflow-coverage-row {
    margin: 0 !important;
}

.data-coverage-row {
    margin: 0 !important;
}

.k-form {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.workflow-typical {
    font-size: 18px;
    margin-right: 0.5rem;
}

.workflow-title {
    font-size: 18px;
    margin-right: 1.7rem;
}

.title-input {
    width: 100%;
}

.title-col,
.typical-col {
    display: inline-flex;
}

.typicals {
    width: 100%;
    height: 2rem;
    margin-bottom: 0.2rem;
}

.generate-btn {
    background-color: #0d4b5e;
    border-color: #0d4b5e;
    color: white;
    height: 2rem;
    margin-bottom: 0.2rem;
    padding-top: 3px;
    padding-bottom: 6px;
}

.create-btn {
    margin-right: 0.8rem;
    color: white;
}

.cancel-btn {
    color: #111;
    background: lightgray;
    border: lightgray;
}

.generated-workflows,
.workflow-preview {
    font-size: 18px;
}

.generated-workflow-dialog {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex !important;
    left: 28%;
}

.generate-workflow-table {
    margin-top: 0.6rem
}

.custom-button {
    color: white;
    background-color: #92c94d;
}

.recording-png {
    width: 39%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recording-text {
    display: block;
    text-align: center;
}

.first {
    float: right !important;
    margin: 0 !important;
    background-color: #92c94d !important;
}

.second {
    float: left !important;
    border: 0 !important;
    background-color: #C00D0F !important;
}


/* CSS popup style */

.fa-question-circle {
    color: #0d4b5e;
    top: 1rem;
    position: relative;
}


/* popup css starts here  */

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
}

.box {
    width: 4%;
    margin: 0 auto;
    background: #e4e7eb;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 5px/50px;
    background-clip: padding-box;
    text-align: center;
    float: right;
    right: 2rem;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9000;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    height: 77%;
    position: relative;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #0d4b5e;
}

.table {
    margin-left: auto;
    margin-top: 25px;
    border-radius: 20px !important;
    margin-right: auto;
    position: relative;
    left: calc(50% - 28.5rem);
}

.table-row {
    display: table-row;
    border-radius: 20px !important;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid grey;
}

.blue {
    background-color: #0d4b5e;
    color: #fff;
}

.blue-text {
    color: #0d4b5e;
}

#blue-text {
    color: #0d4b5e !important;
}

.grey-text {
    color: grey;
}

h2 {
    color: #0d4b5e;
}

::ng-deep .k-button-group .k-group-start,
.k-button-group .k-button:first-child {
    background: #92c94d;
}

.next {
    margin-right: 22px
}


/* popup css ends here */
