.dashboard-main {
    background-color: #EFEFEF;
}

.container-fluid {
    float: right;
    width: calc(100% - 260px);
    margin-top: 0.5rem;
}

.filters,
.force-directed-graph,
.business-areas-teemap,
.business-areas-bar-chart {
    background-color: white;
    box-shadow: 8px 7px 18px 4px grey;
}

.apply-filters {
    margin-left: 7%;
    margin-right: 7%;
}

.sunburst-viz svg {
    width: 70% !important;
    height: 70% !important;
}

.alert {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #92c94d;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #92c94d;
}

::-webkit-scrollbar {
    width: 10px;
}

#radio_filters {
    margin-top: 4px;
    margin-left: 5%;
}

#filters_on_defects {
    margin-top: 4px;
}

#legend_container {
    display: block;
}

.box_legend {
    display: inline-block;
    height: 10px;
    width: 10px;
    padding: 5px;
    border: 0px solid;
    margin-right: 2px;
}

#status_choices,
#severity_choices,
#priority_choices {
    display: none;
}

#colorPer {
    margin-top: 2px;
}

.timestamp-filters {
    margin: 10px;
    background: whitesmoke;
    border: 0px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    border-color: solid 1px grey;
    transition: 0.3s;
    border-style: solid;
    border-color: #9999;
    border-width: 2px;
}

.classifiers-filter {
    margin: 10px;
    background: whitesmoke;
    border: 0px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    border-color: solid 1px grey;
    transition: 0.3s;
    border-style: solid;
    border-color: #9999;
    border-width: 2px;
}

.classifiers-filter-inner {
    margin-left: 10px;
    margin-bottom: 10px;
}

#processing_span {
    display: none;
}

#legend_of_treemap {
    display: inline-block;
    margin-left: 25px;
}

.color-list {
    display: inline-block;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.apply-filters {
    color: #ffffff;
    background-color: #92c94d;
}

.defect-title {
    color: rgb(16, 74, 93);
    font-size: 16px;
    font-weight: 600;
}

input[type=checkbox],
input[type=radio] {
    width: 17px;
    height: 17px;
}

.center-message {
    color: rgb(16, 74, 93);
}

.defects-title {
    color: rgb(16, 74, 93);
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    color: grey;
}

.filters {
    color: #000;
}

.color-per{
    color: grey;
}

select {
    border-radius: 50px;
    width: 100%;
    display: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}

@media screen and (max-width: 768px) {
    .box {
        width: 70%;
    }
}

path {
    stroke: #fff;
  }


  .drop-above {
    border-top: 10px solid #dddddd;
    margin-top: -10px;
  }

  .drop-below {
    border-bottom: 10px solid #dddddd;
    margin-bottom: -10px;
  }

  .drop-center {
    background-color: #dddddd;
  }

  #comparebtn{
    width: 20%;
    align-self: flex-end;
    background-color: #129BAD;
    color: #fff;
    margin: auto;
    margin-left: 70%;
  }

  .valueLabels_after{
      color: #B3345C;
      font-size: 20px;
  }

  .budget_man_day{
    color: #214049;
    font-size: 15px;
  }

  .squares_of_info{
      margin-top: 50px;
  }

  .nav-pills .nav-link.active{
    color: #fff!important;
    background-color: #129bad!important;
}

  /*sunburst*/

/*.slice {*/
/*  cursor: pointer;*/
/*}*/

/*.slice .main-arc {*/
/*  stroke: #fff;*/
/*  stroke-width: 1px;*/
/*}*/

/*.slice .hidden-arc {*/
/*  fill: none;*/
/*}*/

/*.slice text {*/
/*  pointer-events: none;*/
/*  dominant-baseline: middle;*/
/*  text-anchor: middle;*/
/*}*/


.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #fff;
  stroke-width: 1px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

.numberTotal{
    font-size: 26px;
    color: #08ecec;
}
