<app-ai-analitics-menu></app-ai-analitics-menu>
<div id="container-fluid-dashboard-main-div" class="container-fluid dashboard-main">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <div>
        <label id="color-per-filter-label"class="color-per" for="colorPer">
          Filters
        </label>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <div class="row timestamp-filters">
        <label id="project-label" class="color-per" for="project">
          Project
        </label>
        <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="selectedProject" id="projectRangeFilter" (change)="onChangeprojectRangeFilter($event.target.value)">
          <option class="color-per" *ngFor="let project of ProjectsFilter" [ngValue]="project.Id" [value]="project.Id">
            {{project.Title}}
          </option>
        </select>
        <label id="subproject-label"class="color-per" for="subproject" *ngIf="SubprojectsData == true">
          Subproject
        </label>
        <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="selectedSubproject"
          id="subprojectRangeFilter" (change)="onChangesubprojectRangeFilter($event.target.value)" *ngIf="SubprojectsData == true">
          <option class="color-per" *ngFor="let subproject of SubprojectsFilter" [ngValue]="subproject.Id" [value]="subproject.Id">
            {{subproject.Title}}
          </option>
        </select>
      </div>
      <div class="classifiers-filter" *ngIf="SprintsData == true">
        <label id="current-sprint-label" class="color-per" for="curentSprint" >
          Select Sprint for Optimization
        </label>
        <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="selectedSprint1"
          id="SprintRangeFilter1" (change)="onChangeSprintFilter()">
          <option class="color-per" *ngFor="let Sprint of SprintFilter1" [ngValue]="Sprint.Id" [value]="Sprint.Id">
            {{Sprint.Title}}
          </option>
        </select>
      </div>
      <div class="classifiers-filter" *ngIf="SprintsData == true">
        <label class="color-per" for="curentSprint" >
          Select Sprint to get tickets from
        </label>
        <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="selectedSprint2"
          id="SprintRangeFilter2" (change)="onChangeSprintFilter()">
          <option class="color-per" *ngFor="let Sprint of SprintFilter2" [ngValue]="Sprint.Id" [value]="Sprint.Id">
            {{Sprint.Title}}
          </option>
        </select>
      </div>
      <div class="row">
        <button id="defects-reports-apply-filters-btn" class="defects-reports-apply-filers-btn btn-block btn apply-filters" (click)="clearInputs()" *ngIf = "!treeview_data_display">
          Clear
        </button>
        <button id="defects-reports-apply-filters-btn2" class="defects-reports-apply-filers-btn btn-block btn apply-filters" (click)="viewHierarchy(selectedSprint1, selectedSprint2)" *ngIf = "!treeview_data_display">
          View Hierarchy
        </button>
      </div>
      <div class="classifiers-filter" id = "treeview_data" *ngIf = "treeview_data_display">
        <kendo-treeview
            id="treeview-impact-analysis"
            [nodes]="treeView_data"
            textField="text"
            [hasChildren]="hasChildren"
            [children]="fetchChildren"
            kendoTreeViewCheckable
            kendoTreeViewExpandable
            [kendoTreeViewSelectable]="selection"
            kendoTreeViewDisable
            [disabledKeys]="disabledKeys"
            [(checkedKeys)]="checkedKeys"
            [(expandedKeys)]="expandedKeys"
            [(selectedKeys)]="selectedKeys"
        >
        </kendo-treeview>
      </div>
      <div class="row">
        <button id="run-impact-simulation" class="defects-reports-apply-filers-btn btn-block btn apply-filters" (click)="applyFilters()" *ngIf = "treeview_data_display || checkedKeys.length != 0">
          Run Impact Simulation
        </button>
      </div>
    </div>
    <div class="col-lg-9 col-3 col-md-12 col-sm-12 col-xs-12 force-directed-graph">
      <div class="row">
        <h5 id="impact-tag" class="defects-title">Impact</h5>
        <span id="processing_span">is loading...</span>
      </div>
      <div class="row classifiers-filter-inner">
        <div class="col-8" id="myDOMElementParent">
            <div id="myDOMElement"></div>
        </div>
        <div class="col-3 rounded " *ngIf = "optimization_clicked">
            <div class="row squares_of_info">
              <div class="col-12 shadow-sm p-3 mb-2 rounded text-center" >
                <label id="label1" class="valueLabels_after"><b>{{totalWorklfows}} Workflows</b></label><br>
                need to be <b>re-executed</b> to cover the selected tickets
              </div>
              <div class="col-6 shadow-sm p-3 mb-2 rounded text-center" style="display: none;">
                <label id="label2" class="valueLabels_after"><b>{{defects_label_new}} more Resources</b></label><br>
                need for High Priority defects in BA 1
              </div>
            </div>
            <div class="row squares_of_info">
              <div class="col-6 shadow-sm p-3 mb-2 rounded text-center" style="display: none;">
              <label id="label3" class="valueLabels_after"><b>{{coverage_new}} Defects</b></label><br>
                may arise
              </div>
              <div class="col-6 shadow-sm p-3 mb-2 rounded text-center" style="display: none;">
              <label id="label4" ><b>{{datacoverage_new}}</b></label><br>
              <label id="label5" class="budget_man_day"><b>Budget per Man Day</b></label>
              </div>
            </div>
        </div>
        <p id="nodataparagraph5"*ngIf="noDataInGraph">No data for this period.</p>
      </div>
      <div id="optimization_clicked" class="row classifiers-filter-inner text-right" *ngIf = "optimization_clicked">
          <button id="defects-reports-apply-filters-compare" class="defects-reports-apply-filers-btn btn-block btn align-item-end" (click)="compare()" id="comparebtn">
            Compare
          </button>
      </div>
      <div class="row classifiers-filter-inner" *ngIf = "optimization_clicked">
        <tabset #tabset type="pills">
          <!-- <tab id="Smart-Capacity-Planner" heading="Smart Capacity Planner" id="tab1" (selectTab)="onSelect($event)">
            <div class="row" *ngIf = "optimization_clicked">
              <div class="col-3 shadow-sm p-3 mb-2 rounded" >
                <label id="schedulle-label" ><b>Schedule variation </b></label><br>
                <b id="changes1">Changes:</b>{{changes_schedule_variation}}<br>
                <b id="impact1 ">Impact:</b>{{impact_schedule_variation}}<br>
              </div>
              <div class="col-3 shadow-sm p-3 mb-2 rounded " >
                <label id="durationVarioation" ><b>Duration variation </b></label><br>
                <b id="change2" >Changes:</b>{{changes_duration_variation}}<br>
                <b id="impact2">Impact:</b>{{impact_duration_variation}}<br>
              </div>
              <div class="col-3 shadow-sm p-3 mb-2 rounded " >
               <label  id="defects_new_developers"  class="valueLabels_after"><b >{{defects_new_developers}} more Developers</b></label><br>
                 need for ...... defects in .......
              </div>
              <div class="col-3 shadow-sm p-3 mb-2 rounded " >
               <label  id="defects_new_qas"  class="valueLabels_after"><b>{{defects_new_qas}} more QAs</b></label><br>
                 need for ...... defects in .......
              </div>
            </div>
            <div class="row" *ngIf = "optimization_clicked">
              <label  id="developers"  class="budget_man_day"><b id="developers-bold">Developers</b></label><br>
              <hr><br>
            </div>
            <div class="row" *ngIf = "optimization_clicked">
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div>
                  <label  id="colorper1"  class="color-per" for="colorPer">
                    Color per.
                  </label>
                  <select class="custom-select my-1 mr-sm-2" type="number" [(ngModel)]="selectedColorPerDeveloper" (ngModelChange)="onChangeColorPerDeveloper($event)" id="colorPer1">
                    <option *ngFor="let property of colorPer" [ngValue]="property">
                      {{property.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <label  id="schedulle-label1"  class="color-per" for="colorLegend" id="colorLabel">
                    Color Label
                </label>
                <div class="row">
                  <div *ngFor="let data of colorLegendDeveloper;  let i=index" class="color-list" id="legend_of_timeline">
                    <div class="box_legend" [ngStyle]="{'background': data.color}"></div>
                    <label id="schedulle-label1"  class="form-check-label color-per">{{data.name}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="optimization_clicked">
              <div class="col-lg-12 col-md-12 col-ssm-12 col-xs-12 defects-replay">
                <div class="FixedHeightContainer">
                  <div class="Content" id="timeline" #timeline></div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf = "optimization_clicked">
              <label  id="testers"  class="budget_man_day"><b>Testers (QAs)</b></label><br>
              <hr><br>
            </div>
            <div class="row" *ngIf = "optimization_clicked">
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div>
                  <label  id="colorper2"  class="color-per" for="colorPer">
                    Color per.
                  </label>
                  <select class="custom-select my-1 mr-sm-2" type="number" [(ngModel)]="selectedColorPerQA" (ngModelChange)="onChangeColorPeronChangeColorPerQA($event)" id="colorPer2">
                    <option *ngFor="let property of colorPer" [ngValue]="property">
                      {{property.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <label  id="schedulle-label1"  class="color-per" for="colorLegend" id="colorLabel">
                    Color Label
                </label>
                <div class="row">
                  <div *ngFor="let data of colorLegendQA;  let i=index" class="color-list" id="legend_of_timeline">
                    <div class="box_legend" [ngStyle]="{'background': data.color}"></div>
                    <label id="data-name"  class="form-check-label color-per">{{data.name}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="optimization_clicked">
              <div class="col-lg-12 col-md-12 col-ssm-12 col-xs-12 defects-replay">
                <div class="FixedHeightContainer">
                  <div class="Content" id="timeline" #timeline></div>
                </div>
              </div>
            </div>
          </tab> -->
          <!-- <tab id="Cost-Impact" heading="Cost Impact" (selectTab)="onSelect($event)"> Cost Impact</tab> -->
          <tab id="Regression-Test-Pack-Impact" heading="Regression Test Pack" (selectTab)="onSelect($event)">
            <div style="width:100%">
              <span> Total: </span> <span class="numberTotal">{{totalWorklfows}}</span>  Workflows <span class="numberTotal">{{totalTestCases}} </span> <span> Test Cases</span>
            </div>
          <div style="height: 500px;width:100%;min-width: 900px;">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" id="root_cause_grandparent" >
                <i  id="defect-root-cause-allocation-icon" class=" report-detail-key fa fa-arrow-left" aria-hidden="true"></i> Back to upper level
            </div>
            <div id="domainDrillDown_root_cause_treemap" style="width: 900px;height:400"></div>
          </div>
          <div id="domainDrillDown" #domainDrillDown style="width: 100%;height:400"></div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
  <app-alert></app-alert>
</div>

<app-compare-states 
*ngIf="openCompareStatusWindow"
  [openCompareStatusWindow]="openCompareStatusWindow" 
  [selectedSubproject]="selectedSubproject" 
  [postData]="postData"
  (closeCompareStatusWindow)="closeCompareStatusWindow()"
></app-compare-states>
