<table id="process-res-table" class="table">
    <tr *ngFor="let resource of resources">
        <td>
            <span>{{resource.fileName}}</span>
            <div class="actions">
                <i name="process-res-downl" title="Download" class="fa fa-lg fa-download" (click)="downloadResource(resource)" *ngIf="permissionService.hasPermission('/api/Process/Browse/DownloadProcessResource')"></i>
                <i name="process-res-edit" title="Edit" class="fa fa-lg fa-edit" (click)="editResourceClicked(resource)" *ngIf="permissionService.hasPermission('/api/Process/Browse/UpdateProcessResources')"></i>
                <i name="process-res-delete" title="Delete" class="fa fa-lg fa-trash" (click)="deleteResourceClicked(resource)" *ngIf="permissionService.hasPermission('/api/Process/Browse/DeleteProcessResources')"></i>
            </div>
            
        </td>
    </tr>
</table>

<app-delete-process-resource 
    [deleteProcessResourceWindowOpen]="deleteProcessResourceWindowOpen"
    [selectedProcessResource]="resourceToDelete"
    (closeDeleteProcessResourceWindow)="closeDeleteProcessResourceWindow()"
    (removeProcessResourceFromList)="removeProcessResourceFromList($event)"
></app-delete-process-resource>

<app-update-resource
    [openResourceWindow]="openResourceWindow"
    [selectedResource]="resourceToEdit"
    [processDetail]="processDetail"
    (closeResourceWindow)="closeResourceWindow()"
    (resourceListUpdated)="resourceListUpdated($event)"
>
</app-update-resource>