.fa-edit {
    color: #f0ad4e;
    margin-right: 0.5rem;
    cursor: pointer;
}

.actions {
    float: right;
    display: inline-flex;
    margin-top: 0.4rem;
}

.fa-download {
    color: #337ab7;
    font-size: 1.23em;
    cursor: pointer;
    margin-right: 0.7rem;
}

.fa-trash {
    color: #d9534f;
    font-size: 1.23em;
    cursor: pointer;
}

td {
    border-bottom: 1px solid #dee2e6;
    box-sizing: border-box;
    max-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}