<kendo-grid id="typical-attr-grid" [data]="gridData" (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
    [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)" (listChange)="listChange($event)">
    <ng-template kendoGridToolbarTemplate>
        <button id="typical-attr-grid" kendoGridAddCommand *ngIf="permissionService.hasPermission('/api/Data/AddTypicalAttributeManually')">Add new</button>
        <div class="box">
            <a id="typical-attr-anchor" class="button" href="#attributes"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
    </ng-template>
    <kendo-grid-column field="name" title="Name">
        <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup" let-isNew="isNew">
            <input name="typical-attr-field" #input class="k-textbox" [formControl]="formGroup.get(column.field)">
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="Actions">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button name="typical-attr-edit" kendoGridEditCommand [primary]="true">Edit</button>
            <button name="typical-attr-remove" kendoGridRemoveCommand>Remove</button>
            <button name="typical-attr-add" kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
            <button name="typical-attr-cancel" kendoGridCancelCommand>{{ isNew ? 'Cancel' : 'Cancel' }}</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
<app-delete-typical-attribute [typicalId]="typicalId" [deleteTypicalAttributeWindowOpen]="deleteTypicalAttributeWindowOpen" [selectedTypicalAttribute]="selectedTypicalAttribute" (removeTypicalAttributeFromList)="removeTypicalAttribute($event)" (closeAttributeWindow)="closeDeleteAttribute()"></app-delete-typical-attribute>
<div id="attributes" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Attributes</h2>
        <a id="typical-attr-sys-catalogs" class="close" href="/#/systems-catalogs">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="typical-attr-attributes" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#req" aria-expanded="false" aria-controls="collapseThree">
                          Attributes View
                      </button>
                    </h2>
                </div>
                <div id="req" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div id="typical-attr-text" class="content grey-text">
                            <i id="typical-attr-icon" class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen in order to see the attributes of the selected typical and to select from the possible operations on them. To edit an attribute entry, click on “Edit” button
                            and to delete an attribute entry, click on “Delete” button.
                            <div class="table">
                                <div class="table-row blue">
                                    <div id="typical-attr-field" class="table-cell">
                                        Field
                                    </div>
                                    <div id="typical-attr-usage" class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="typical-attr-name" class="table-cell blue-text">
                                        Name
                                    </div>
                                    <div id="typical-attr-name-d" class="table-cell grey-text">
                                        The name of the attribute
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="typical-attr-edit" class="table-cell blue-text">
                                        Edit button
                                    </div>
                                    <div id="typical-attr-edit-des" class="table-cell grey-text">
                                        Allows editing of the selected attribute. The only editable field is the name
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="typical-attr-remove" class="table-cell blue-text">
                                        Remove button
                                    </div>
                                    <div id="typical-attr-remove-desc" class="table-cell grey-text">
                                        Deletes the attribute
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="typical-attr-add" class="table-cell blue-text">
                                        Add new button
                                    </div>
                                    <div id="typical-attr-add-desc" class="table-cell grey-text">
                                        Opens a screen for defining a new attribute
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
