<main>
    <div id="not-found-big-div" class="content">
        <h1 id="err404">404</h1>
        <p id="err404-text">Apparently, the page you wanted got lost in the cloud. Sorry about that.</p>
    </div>
</main>
<div id="cloud" class="cloud"></div>
<div id="cloud2" class="cloud bt"></div>
