<mat-form-field id="search-spr"color="gray">
    <input id="searhc-spr-input" matInput placeholder="Search sprint" [type]="'text'" (input)="searchSprint($event)" />
    <mat-icon>search</mat-icon>
</mat-form-field>