/* general utility classes */

nav[role=navigation] {
    background: rgba(0, 0, 0, .54);
    box-shadow: rgba(0, 0, 0, .54) 2px 5px 7px 1px;
}

nav[role=navigation] li {
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

nav[role=navigation] li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.7em;
}

nav[role=navigation] li a:hover {
    background-color: #92c94d;
    color: #fff;
}

.active {
    background-color: #92c94d;
    color: #fff;
}

nav[role=navigation] li a:before {
    font-family: FontAwesome;
    padding-right: 0.6em;
}

nav[role=navigation] .dashboard a:before {
    content: "\f0e4";
}

nav[role=navigation] .tasks a:before {
    content: "\f0ae";
}

nav[role=navigation] .reports a:before {
    content: "\f044";
}

nav[role=navigation] .write a:before {
    content: "\f055";
}

nav[role=navigation] .edit a:before {
    content: "\f040";
}

nav[role=navigation] .table a:before {
    content: "\f0ce";
}

nav[role=navigation] .settings a:before {
    content: "\f085";
}

nav[role=navigation] .comments a:before {
    content: "\f27b";
}

nav[role=navigation] .users a:before {
    content: "\f007";
}

nav[role=navigation] .search a:before {
    content: "\f002";
}

current nav item .current,
.dashboard .dashboard a,
.write .write a,
.edit .edit a,
.comments .comments a,
.users .users a {
    background-color: rgba(255, 255, 255, .1);
}


/* panels */

.panel {
    background-color: white;
    color: darkslategray;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    border-radius: 0.3rem;
    margin: 1%;
}

.panel>h2,
.panel>ul {
    margin: 1rem;
}


/* typography */

a {
    text-decoration: none;
    color: inherit;
}

h2,
h3,
h4 {
    font-weight: 300;
    margin: 0;
}

h2 {
    color: #1eb6a7;
}

b {
    color: lightsalmon;
}

.hint {
    color: lightslategray;
}


/* lists */

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main li {
    position: relative;
    padding-left: 1.2em;
    margin: 0.5em 0;
}

main li:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0.3em;
    border-left: solid 10px #dde;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
}


/* forms */

form input,
form textarea,
form select {
    width: 100%;
    display: block;
    border: solid 1px #dde;
    padding: 0.5em;
}

form input:after,
form textarea:after,
form select:after {
    content: "";
    display: table;
    clear: both;
}

form input[type=checkbox],
form input[type=radio] {
    display: inline;
    width: auto;
}

form label,
form legend {
    display: block;
    margin: 1em 0 0.5em;
}

form input[type=submit] {
    background: turquoise;
    border: none;
    border-bottom: solid 4px #21ccbb;
    padding: 0.7em 3em;
    margin: 1em 0;
    color: white;
    text-shadow: 0 -1px 0 #21ccbb;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    width: auto;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
}

form input[type=submit]:hover {
    background: khaki;
    border: none;
    border-bottom: solid 4px #eadc5f;
    padding: 0.7em 3em;
    margin: 1em 0;
    color: white;
    text-shadow: 0 -1px 0 #eadc5f;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    width: auto;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
}


/* feedback */

.error {
    background-color: #ffe9e0;
    border-color: #ffc4ad;
}

label.error {
    padding: 0.2em 0.5em;
}

.feedback {
    background: #fcfae6;
    color: #857a11;
    margin: 1em;
    padding: 0.5em 0.5em 0.5em 2em;
    border: solid 1px khaki;
}

.feedback:before {
    content: '\f05a';
    font-family: fontawesome;
    color: #e4d232;
    margin-left: -1.5em;
    margin-right: 0.5em;
}

.feedback li:before {
    border-left-color: #f6f0b9;
}

.feedback.error {
    background: #ffe9e0;
    color: #942a00;
    margin: 1em;
    padding: 0.5em 0.5em 0.5em 2em;
    border: solid 1px lightsalmon;
}

.feedback.error:before {
    content: '\f06a';
    font-family: fontawesome;
    color: #ff5714;
    margin-left: -1.5em;
    margin-right: 0.5em;
}

.feedback.error li:before {
    border-left-color: #ffc4ad;
}

.feedback.success {
    background: #98eee6;
    color: #08322e;
    margin: 1em;
    padding: 0.5em 0.5em 0.5em 2em;
    border: solid 1px turquoise;
}

.feedback.success:before {
    content: '\f164';
    font-family: fontawesome;
    color: #1aa093;
    margin-left: -1.5em;
    margin-right: 0.5em;
}

.feedback.success li:before {
    border-left-color: #6ce7db;
}


/* tables */

table {
    border-collapse: collapse;
    width: 96%;
    margin: 2%;
}

th {
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    padding-bottom: 14px;
}

tr:not(:first-child):hover {
    background: rgba(0, 0, 0, 0.1);
}

td {
    line-height: 40px;
    font-weight: 300;
    padding: 0 10px;
}

nav[role=navigation] {
    position: fixed;
    width: 240px;
    height: 100%;
}

.settings {
    bottom: 0;
    position: fixed;
    width: 12%;
}

.active-link {
    background-color: #92c94d
}

.nav-navigation {
    margin-left: -15px;
}

@media screen and (min-width: 600px) {
    html,
    body {
        height: 100%;
    }
    header[role=banner] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        height: 75px;
    }
    header[role=banner] .utilities {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        color: darkslategray;
        width: auto;
    }
    header[role=banner] .utilities li {
        display: inline-block;
    }
    header[role=banner] .utilities li a {
        padding: 0.5em 1em;
    }
    main[role=main] {
        margin: 75px 0 40px 200px;
    }
    main[role=main]:after {
        content: "";
        display: table;
        clear: both;
    }
    .panel {
        margin: 2% 0 0 2%;
        float: left;
        width: 96%;
    }
    .panel:after {
        content: "";
        display: table;
        clear: both;
    }
    .box,
    .onethird,
    .twothirds {
        padding: 1rem;
    }
    .onethird {
        width: 33.333%;
        float: left;
    }
    .twothirds {
        width: 66%;
        float: left;
    }
}

@media screen and (min-width: 900px) {
    .panel {
        width: 47%;
        clear: none;
    }
    .panel.important {
        width: 96%;
    }
    .panel.secondary {
        width: 23%;
    }
}
