<div style="position: relative;">
    <nav role="navigation" class="nav-navigation">
        <ul id="reports-menu-nav" class="main">
            <li routerLinkActive="active-link">
                <a id="requirement-reports-anchor" routerLink="/requirement-reports">Test Analytics</a>
            </li>
            <li routerLinkActive="active-link" *ngIf="licenseService.hasLicense(license.Defect)">
                <a id="predictive-analytics-defect-anchor" routerLink="/predictive-analytics-defect">Defects Analytics</a>
            </li>
            <li routerLinkActive="active-link">
                <a id="predictive-analytics-anchor" routerLink="/predictive-analytics-project">Project Analytics</a>
            </li>
            <li routerLinkActive="active-link">
                <a id="data-mining-anchor" routerLink="/data-mining">Data Mining</a>
            </li>
        </ul>
    </nav>
</div>


