<kendo-grid id="dataset-row-grid" [kendoGridBinding]="dataSet" [selectable]="{checkboxOnly:false,mode:'single'}">
    <kendo-grid-column title="Row id" [field]="'rowId'" width="100">
    </kendo-grid-column>
    <kendo-grid-command-column width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button name="view-row-btn" kendoButton (click)="viewRow(dataItem,rowTemplate)" width="100">View
      </button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
<ng-template #rowTemplate>
    <app-view-dataset-row [model]="selectedRow"></app-view-dataset-row>
</ng-template>
