<app-ai-analitics-menu></app-ai-analitics-menu>
<div class="main-background">
    <section class="container">
        <div class="content">
            <div class="row">
                <div class="col-6" *ngIf="licenseService.hasLicense(license.Release_summary)">
                    <a class="a" [routerLink]="['/predictive-analytics-project/summary-report']">
                        <div class="card">
                            <div class="card-body">
                                <h5 id="release-summary-tag" > <i id="release-summary-icon" class="fa fa-pie-chart" aria-hidden="true"></i> Release Summary</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6" *ngIf="hasImpactAnalysisPermission()">
                    <a class="a" [routerLink]="['/predictive-analytics-project/impact-analysis']">
                        <div class="card card-hover">
                            <div class="card-body ">
                                <h5 id="live-impact-analysis"> <i id="live-impact-analysis-icon" class="fa fa-line-chart" aria-hidden="true"></i> Live Impact Analysis</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-6" *ngIf="licenseService.hasLicense(license.Requirements_Insights)">
                    <a class="a" [routerLink]="['/predictive-analytics-project/dashboard-main']">
                        <div class="card">
                            <div class="card-body">
                                <h5 id="release-insights" > <i id="release-insights-icon" class="fa fa-tachometer" aria-hidden="true"></i> Release Insights</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6" *ngIf="licenseService.hasLicense(license.Risk_optimize)">
                    <a class="a" [routerLink]="['/predictive-analytics-project/risk-optimizer']">
                        <div class="card">
                            <div class="card-body">
                                <h5 id="risk-optimizer" > <i id="risk-optimizer-icon" class="fa fa-area-chart" aria-hidden="true"></i> Risk Optimizer</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
