.name {
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.input-name {
    width: 100%;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.title {
    margin-top: 8px;
    position: relative;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
