<div id="title-div" class="row">
    <div class="col-md-12">
        <kendo-textbox-container id="title-textbox" class="input-name">
            <h6 class="title">Title</h6>
            <input id="title-changed" kendoTextBox type="text" name="name" [readonly]="readonly" [value]="workflowItemData.Title" (input)="titleChanged($event.currentTarget.value)">
        </kendo-textbox-container>
    </div>
    <div style="margin-top: 10px; position: relative;"></div>
</div>
