<div class="row">
    <div class="col-md-12">
        <kendo-textbox-container class="input-action">
            <h6 class="action">Action</h6>
            <input id="changeActionInput" kendoTextBox type="text" name="action" [readonly]="readonly" [value]="workflowItemData.Action" (input)="actionChanged($event.currentTarget.value, true)">
        </kendo-textbox-container>
    </div>
</div>
