<kendo-dialog 
    id="select-hierarchy-dialog" 
    [minWidth]="'400'" 
    [title]="'Select Hierarchy'" 
    *ngIf="openMoveProcessWindow" 
    (close)="close()"
>
    <div class="dialog">
        <div class="row">
            <div class="col-12">
                <kendo-combobox id="select-hierarchy-combo" class="hierarchies" [data]="hierarchies" [filterable]="true" textField="title" placeholder="Select Hierarchy" valueField="id" [(ngModel)]="hierarchy">
                </kendo-combobox>
            </div>
        </div><br />
        <kendo-dialog-actions id="select-hierarchy-actions"  style="height: 3.5rem;">
            <div class="row">
                <div class="col-6 action-buttons">
                    <button id="select-hierarchy-submit" class="btn add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">Submit</button>
                    <button id="select-hierarchy-cancel" class="btn exit" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>