.dialog {
    font-size: 18px;
    text-align: center;
}

#title,
textarea {
    width: 19rem;
}

#title {
    height: 2rem;
}

textarea {
    height: 6rem;
}

.hierarchies {
    width: 15rem;
}

.action-buttons {
    top: 1rem;
}

.add {
    margin: 1px 10px;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
}