<app-sidebar></app-sidebar>
<div class="container-fluid">
    <section id="content">
        <kendo-grid id="issue-t-grid" [data]="gridData" 
                    [pageSize]="state.take" 
                    [skip]="state.skip" 
                    [sort]="state.sort" 
                    [filter]="state.filter" 
                    [sortable]="true" 
                    [pageable]="true" 
                    (dataStateChange)="dataStateChange($event)">
            <ng-template kendoGridToolbarTemplate *ngIf="addIssueTypePermission()">
                <a class="button custom-help" href="#issue-types"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                <button (click)="openIssueTypeWindow()" class="k-button k-grid-add-command ng-star-inserted custom-add-button"> <i  aria-hidden="true" class="fa fa-plus"></i></button>
            </ng-template>
            <kendo-grid-column title="Title" [field]="'title'">
            </kendo-grid-column>
            <kendo-grid-column title="Description" [field]="'description'">
            </kendo-grid-column>
            <kendo-grid-column title="Unit" [field]="'unit'">
            </kendo-grid-column>
            <kendo-grid-column field="Actions" [filterable]="false" width="350" *ngIf="deleteIssueTypePermission() || editIssueTypePermission()">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button name="issue-t-edit" class="edit-system-btn k-button k-grid-add-command ng-star-inserted" (click)="openIssueTypeWindow(dataItem)" *ngIf="editIssueTypePermission()">
                       Edit
                    </button>
                    <button name="issue-t-delete" class="btn btn-danger delete-system-btn" [disabled]="dataItem.default" (click)="openDeleteIssueTypeWindow(dataItem)" *ngIf="deleteIssueTypePermission()">
                        Delete
                    </button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
        <app-add-edit-issue-type [isIssueTypeEdited]="isIssueTypeEdited" [selectedIssueType]="selectedIssueType" [issueTypeWindowOpen]="issueTypeWindowOpen" (closeIssueTypeWindow)="close()" (issueTypeListUpdated)="updateIssueTypeList($event)">
        </app-add-edit-issue-type>
        <app-delete-issue-type [deleteIssueTypeWindowOpen]="deleteIssueTypeWindowOpen" [selectedIssueType]="selectedIssueType" (closeIssueTypeWindow)="close()" (removeIssueTypeFromList)="removeIssueTypeFromList($event)">
        </app-delete-issue-type>
    </section>
</div>
<app-issue-types-popup></app-issue-types-popup>
