.edit-system-btn {
    color: black;
    width: 5rem;
    margin-right: 1.5rem;
    background-color: lightgray;
}

.delete-system-btn {
    width: 5rem;
    margin-right: 1.5rem;
    font-size: 14px;
}

.action-buttons {
    border-color: #92c94d;
    color: #ffffff;
    background-color: #92c94d;
}

.action-buttons :hover {
    border-color: #c7cdd5;
    color: #212529;
    background-color: #ced3db;
}

#content {
    float: right;
    width: 88%;
    height: 100%;
    word-wrap: break-word;
    background: #FFFFFF;
    font-family: Raleway, sans-serif;
}

.custom-add-button {
    vertical-align: middle;
    background: #92c94d;
    color: white;
    border-radius: 86px;
    height: 57px;
    width: 57px;
    font-size: 28px;
}

.custom-help {
    background: rgba(0, 0, 0, .12);
    width: 40px;
    height: 40px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    right: 22px;
    top: 20px;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
