<kendo-grid id="view-row-grid" [data]="gridData" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort" [pageable]="true" [sortable]="true" (dataStateChange)="onStateChange($event)">
    <kendo-grid-column title="Attribute" field="Name">
    </kendo-grid-column>
    <kendo-grid-column title="Value" field="Value">
    </kendo-grid-column>

</kendo-grid>