<kendo-dialog [minWidth]="isTypeEdited ? '500' : '500'" [height]="isTypeEdited ? '500px' : '500px'" [title]="isTypeEdited ? 'Edit Information type' : 'Add Information type'" *ngIf="typesWindowOpen" (close)="close()">
    <div id="add-edit-req-dialog" class="dialog">
        <div class="row">
            <div class="col-12">
                <span id="add-edit-req-title"> Title*</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="add-edit-req-selectTypes" type="text" (input)="changeTitle($event)" [value]="selectedTypes.title" />
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-12">
                <span id="add-edit-req-description">Description</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="add-edit-req-selectTypes-code" type="text" (input)="changeCode($event)" [value]="selectedTypes.code" />
            </div>
        </div><br /><br />
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <button id="add-edit-req-dialog-submit" name="add-edit-req-dialog-submit" class="btn add" [disabled]="disableSubmitBtn" (click)="submitClicked()">Submit</button>
                    <button id="add-edit-req-dialog-cancel" name="add-edit-req-dialog-cancel" class="btn exit" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>
