<kendo-dialog 
    id="add-sprint-dialog" 
    [minWidth]="'500'" 
    [title]="isSprintEdited ? 'Edit Sprint' : 'Create Sprint'" 
    *ngIf="openAddSprintWindow" 
    (close)="close()"
>
    <div class="content">
        <div class="field-group">
            <label for="title">Title<span class="aui-icon icon-required">*</span></label>
            <input id="add-sprint-changeTitle" type="text" (input)="changeTitle($event)" [value]="sprintToAdd.title" />
        </div>
        <div class="field-group">
            <label for="description">Description</label>
            <textarea id="add-sprint-changeDesc" (input)="changeDescription($event)" [value]="sprintToAdd.description"></textarea>
        </div>
        <div class="field-group">
            <label for="duration">Duration</label>
            <input id="add-sprint-duration" type="number" [ngClass]="{'disabled': sprintToAdd.started}" [disabled]="sprintToAdd.started" (input)="changeDuration($event)" [value]="sprintToAdd.duration" />
        </div>
        <div class="field-group">
            <label for="durationUnit">Duration Unit</label>
            <kendo-combobox id="add-sprint-units" class="duration-units" [disabled]="sprintToAdd.started" [data]="durationUnits" placeholder="Select Duration Unit" [textField]="'title'" [valueField]="'type'" [filterable]="true" [value]="selectedDurationUnit" (valueChange)="changeDurationUnit($event)">
            </kendo-combobox>
        </div>
    </div>
    <kendo-dialog-actions id="add-sprint-act" >
        <div class="buttons-container form-footer">
            <div class="buttons">
                <input  class="aui-button aui-button-primary btn btn-primary" id="create-sprint-submit"  type="submit" [value]="isSprintEdited ? 'Update' : 'Create'" [disabled]="disableSubmitBtn()" (click)="submitClicked()">
                <button id="add-sprint-cancel" class="aui-button aui-button-primary btn cancel" (click)="close()">Cancel</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>
    