<ul id="show-hide-process-statistics" *ngIf="showStatistics"><br />
    <li>{{"Workflows: " + processStatistics.nrWorkflows}}</li>
    <li>{{"Total Issues: " + processStatistics.nrTotalIssues}}</li>
    <li>{{"Open Issues: " + processStatistics.nrOpenIssues}}</li>
    <li>{{"Requirement type: " + processStatistics.requirementType}}</li>
    <li>{{"Priority: " + processStatistics.priority}}</li>
</ul>
