.main {
    height: auto;
    width: 100%;
    position: absolute;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.properties {
    color: #0d4b5e;
    position: relative;
    padding-top: 25px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.name {
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.input-name {
    width: 100%;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.application {
    margin-top: 8px;
    position: relative;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.bottom-space {
    position: relative;
    margin-bottom: 18px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.select-menu {
    width: 100%;
}

.path {
    width: 100%;
}

.input-group-text {
    width: 100%;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.descroption {
    margin-top: 8px;
    position: relative;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.text-box {
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.dependencies {
    margin-top: 15px;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

#authStep {
    position: relative;
    margin-top: 10px !important;
    color: #0d4b5e !important;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.authStep {
    position: relative;
    margin-top: 10px !important;
    color: #0d4b5e !important;
    font-weight: 600;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

#errorTest {
    position: relative;
    margin-top: 10px !important;
    color: #0d4b5e !important;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.errorStep {
    position: relative;
    margin-top: 10px !important;
    color: black !important;
    font-weight: 600;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-checkbox-label {
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-textbox-container {
    position: relative;
    padding-top: 0 !important;
    display: inline-flex;
    width: 100% !important;
    height: 40px;
    flex-direction: column;
    justify-content: stretch;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-textbox-container>.k-textbox,
.k-textbox-container>.k-textarea,
.k-textbox-container>.k-widget {
    flex: 1 1 auto;
    width: auto;
    font-size: 14px !important;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-widget.form-control .k-input {
    padding: .375rem .75rem;
    height: 2.25rem;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-autocomplete,
.k-combobox .k-dropdown-wrap,
.k-datepicker .k-picker-wrap,
.k-timepicker .k-picker-wrap,
.k-datetimepicker .k-picker-wrap,
.k-dateinput .k-dateinput-wrap,
.k-textbox,
.k-textarea,
.k-input.k-textbox,
.k-multiselect-wrap,
.k-numerictextbox .k-numeric-wrap {
    border-color: rgba(33, 37, 41, 0.15);
    color: #212529;
    background-color: #fff;
    height: 41px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.filter {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.dynamic-data {
    position: relative;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    left: 93px;
    background-color: #92c94d;
    border-color: #92c94d;
}

@media screen and (max-width: 1600px) {
    .dynamic-data {
        left: 67px;
    }
}
