.pane-content {
    width: 100%;
}

.line {
    margin-top: 0;
    margin-bottom: 0;
}

.headers {
    padding-bottom: 0.6rem;
    padding-top: 1.2rem;
    padding-left: 0.3rem;
    margin: 0;
    color: #696969 !important;
}

.wf-issues {
    padding-bottom: 1.7rem;
    padding-top: 1.5rem;
}

.navigation {
    margin-top: 1.5rem;
    display: inline-flex;
    float: right;
    width: fit-content;
    overflow: hidden;
}

.process-header {
    display: inline-flex;
    width: 100%;
}

.fa-angle-left:hover {
    color: black !important;
}

.fa-search:hover {
    color: black !important;
}

.process-spliter {
    overflow: hidden;
}

.fa-angle-left {
    margin-top: 1rem;
    margin-right: 1.3rem;
    color: #696969 !important;
    cursor: pointer;
}

.fa-search {
    color: #696969 !important;
    margin-top: 0.9rem;
}

.k-pane {
    overflow-x: hidden;
}

.form-group {
    margin-right: 1rem !important;
}

.form-control {
    width: 150%;
}

.has-search .form-control {
    margin-top: 0.9rem;
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.link {
    cursor: pointer;
    text-decoration: underline !important;
}

.navigation-text {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: inline-flex;
}

#content {
    width: calc(100% - 176px);
    float: right;
}

.buttons-container,
#edit-issue-dialog .buttons-container {
    padding: 16px 24px;
    margin-left: auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.buttons-container.form-footer .aui-button,
.adg3 .jira-dialog .jira-dialog-content .form-footer .aui-button {
    color: #42526e;
    background: #f4f5f7;
    border: none;
    margin-right: 4px;
    height: 32px;
    min-width: 24px;
    border-radius: 3px;
    text-shadow: none;
    line-height: 32px;
    padding: 0 10px;
    color: #fff;
    background: #0052cc;
}

buttons-container,
#edit-issue-dialog .buttons-container {
    padding: 16px 24px;
    margin-left: auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.buttons-container.form-footer .aui-button,
.adg3 .jira-dialog .jira-dialog-content .form-footer .aui-button {
    color: #42526e;
    background: #f4f5f7;
    border: none;
    margin-right: 4px;
    height: 32px;
    min-width: 24px;
    border-radius: 3px;
    text-shadow: none;
    line-height: 32px;
    padding: 0 10px;
    color: #fff;
    background: #0052cc;
}

.buttons-container .cancel {
    background-color: #dc3545 !important;
}

.buttons-container>.buttons>* {
    font-size: 14px;
}

.cancel {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
    vertical-align: baseline;
}

#create-issue-dialog .buttons-container .buttons,
#edit-issue-dialog .buttons-container .buttons {
    display: inline-block;
    float: none;
}

.buttons-container>.buttons {
    font-size: 0;
}

#create-issue-submit {
    width: auto;
    background-color: #9bc34d !important;
}

#create-issue-submit:hover {
    background-color: #9bc34d !important;
}

.buttons-container .buttons {
    float: right;
    white-space: nowrap;
}

.buttons-container .cancel:focus,
.buttons-container .cancel:hover {
    background-color: #dc3545 !important;
}

.buttons {
    display: inline-flex;
}