<kendo-dialog 
    id="req-dialog-move"
    [width]="'900'" 
    [height]="'700'" 
    [title]="shouldSelectHierarchyItem ? 'Move Requirement' : 'Select Requirement'" 
    *ngIf="openRequirementDialog"
    (close)="cancelClicked()" >
        <div>
            <app-process-header [selectedHierarchy]="selectedHierarchy" [searchCriteria]="searchCriteria" [navigation]="navigation" (onClickNavigate)="navigateClicked($event)" (goBackClicked)="goBack()" (hierarchyChanged)="onChangeHierarchies($event)" [hierarchies]="hierarchyItemsComponent ? hierarchyItemsComponent.hierarchies : []"
                [hierarchyTypes]="hierarchyTypes">
            </app-process-header>
            <kendo-splitter id="req-dialog-splitter" style="height: 100%;">
                <kendo-splitter-pane id="req-dialog-pane1" size="50%" style="height: auto">
                    <div class="pane-content">
                        <app-hierarchy-items [hideIcons]="true" [hierarchyTypes]="hierarchyTypes" (hierarchyClicked)="hierarchyClicked($event)" [listOfHierarchies]="listOfHierarchies" [resetHierarchyProcessList]="resetHierarchyProcessList"></app-hierarchy-items>
                    </div>
                </kendo-splitter-pane>
                <kendo-splitter-pane id="req-dialog-pane2" size="49.5%" style="height: auto">
                    <div class="pane-content">
                        <app-process-items [hideIcons]="true" (processUpdated)="processUpdated($event)" (processClicked)="processClicked($event)" [selectedHierarchy]="selectedHierarchy" [listOfProcesses]="listOfProcesses" [resetHierarchyProcessList]="resetHierarchyProcessList" (processRemoved)="setRemovedProcess($event)"
                            (processAdded)="setAddedProcess($event)" [searchCriteria]="searchCriteria"></app-process-items>
                    </div>
                </kendo-splitter-pane>
            </kendo-splitter>
        </div>
        <kendo-dialog-actions id="req-dialog-actio" >
            <div class="buttons-container form-footer">
                <div class="buttons">
                    <input  class="aui-button aui-button-primary btn btn-primary" id="req-dialog-submit-issue"  type="submit" value="Submit" [disabled]="disableSubmitButton()" (click)="submitClicked()">
                    <button id="req-dialog-cancel" class="aui-button aui-button-primary btn cancel" (click)="cancelClicked()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions> 
</kendo-dialog>

