<kendo-dialog id="delete-Hierarchy-Type-WindowOpen" width="600" title="Delete Hierarchy" *ngIf="_deleteHierarchyTypeWindowOpen" (close)="close()">
    <div class="row">
        <div class="col-12">
            <span id="delete-Hierarchy-Type-msg" class="description">
        {{message}}
      </span>
        </div>
        <br *ngIf="deleted" />
    </div>
    <div class="row hierarchy-action" *ngIf="deleted">
        <div class="col-md-12">
            <label>
        <input id="delete-Hierarchy-Type-delete" type="radio"
               name="hierarchyTypeAction"
               value="delete"
               (change)="deleteTypeClicked()"
               checked>
        Delete the associations
      </label>
            <label>
        <input id="delete-Hierarchy-Type-move" type="radio"
               name="hierarchyTypeAction"
               value="move"
               (change)="moveTypeClicked()">
        Move the associations
      </label>
        </div>
    </div>
    <kendo-dialog-actions id="delete-Hierarchy-Type-action" >
        <div class="row">
            <div class="col-12 action-buttons">
                <button id="delete-Hierarchy-Type-y" class="btn add" (click)="deleteHierarchyType()">Yes</button>
                <button id="delete-Hierarchy-Type-n" class="btn exit" (click)="close()">No</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>
