<div id="defects-report" class="overlay">
    <div class="popup">
        <h2 id="blue-text"> AI Recommendations </h2>
        <a class="close" href="/#/reports">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                          AI Recommendations screen
            </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to view all the imported defects and do the desired filtering.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Shown Values
                                    </div>
                                    <div class="table-cell grey-text">
                                        Select between real (initial imported) or Suggested (Sense.ai suggested) defects’ display.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Defect Timestamp
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter defects with a certain date.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        From
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter defects after a certain date
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        To
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter defects until a certain date.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Severity
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter defects based on the selected severity level.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Priority
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter defects based on the selected priority level.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Status
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter defect based on the selected status.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Business Area
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter defects based on the selected business area.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Apply Filters button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Apply the selected filters.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Clear Filters
                                    </div>
                                    <div class="table-cell grey-text">
                                        Clear the selected filters.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Search
                                    </div>
                                    <div class="table-cell grey-text">
                                        Search for specific defects based on strong words.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        ID
                                    </div>
                                    <div class="table-cell grey-text">
                                        The ID of the defect.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Name
                                    </div>
                                    <div class="table-cell grey-text">
                                        The name of the defect.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Business Area
                                    </div>
                                    <div class="table-cell grey-text">
                                        The business area of the defect.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Route cause
                                    </div>
                                    <div class="table-cell grey-text">
                                        The root cause of the defect.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Severity
                                    </div>
                                    <div class="table-cell grey-text">
                                        The severity of the defect.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Priority
                                    </div>
                                    <div class="table-cell grey-text">
                                        The priority of the defect.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Target Date
                                    </div>
                                    <div class="table-cell grey-text">
                                        The target date to fix the defect.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Time to fix
                                    </div>
                                    <div class="table-cell grey-text">
                                        The days between creation and target dates.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Status
                                    </div>
                                    <div class="table-cell grey-text">
                                        The status of the defect.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Defect aging
                                    </div>
                                    <div class="table-cell grey-text">
                                        Representation of status change of the defect.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Details
                                    </div>
                                    <div class="table-cell grey-text">
                                        Pops up a window with the details of the defect.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        First button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Displays the first page of the defects’ list.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Next
                                    </div>
                                    <div class="table-cell grey-text">
                                        Displays the next page of the defects’ list.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Last
                                    </div>
                                    <div class="table-cell grey-text">
                                        Displays the last page of the defects’ list.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card 2 -->
            </div>
        </div>
