.report-detail-background {
    background-color: #efefef;
    height: 100%;
}

.back-button {
    padding: 15px;
}

.report-detail-container {
    margin: 15px;
    background-color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.report-detail-key {
    color: #10495c;
    font-weight: bold;
}

.report-detail-before-after-table {
    background-color: #efefef;
}

.report-detail-before-after-table-title {
    height: 50px;
    background-color: white;
}

.report-detail-before-after-table-title-before {
    border: 0px solid white !important;
    padding: 0px !important;
}

.report-detail-before-after-table-title-after {
    border: 0px solid white !important;
}

select {
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #92c94d;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #92c94d;
}

::-webkit-scrollbar {
    width: 10px;
}

.infoImage {
    position: absolute;
    width: 58px;
}

.imageAgeing {
    position: absolute;
    width: 58px;
    left: -54px;
    top: -15px;
}

.infoDiv {
    left: 43px;
    top: 16px;
}

.infoAgeing {
    left: 24px;
    top: 16px;
}

.breakeline {
    padding-right: 200px;
    display: block;
}

.seperatorInfo {
    border-left: 1px solid black;
}

.infoCompare {
    top: 12px;
}

.ImageInRow {
    height: 60px;
}

.seperateAgeing {
    border-left: 1px solid #85aab5;
    border-right: 1px solid #85aab5;
    position: absolute;
    height: 77%;
    width: 24%;
    left: 31%;
}

.apply-filters {
    color: #ffffff;
    background-color: #92c94d;
    font-size: 18px;
}
