<div class="report-detail-background" *ngIf="report">
    <div id="goBack" class="back-button" (click)="goBack()">
        <i id="goBackIcon"class="report-detail-key fa fa-arrow-left" aria-hidden="true"></i> {{report["NAME"]}}
    </div>
    <div class="report-detail-container row">
        <img id="infoImage" src="assets/reporticons/info.svg" class="infoImage">
        <div class="report-detail-general-information infoDiv col-12 col-sm-12 col-md-12 col-lg-4">
            <h5 id="generalInfo-h5" >General Information</h5>
            <br>
            <p><span id="defectId-span" class="report-detail-key">Defect ID:<br> </span>{{report["DEFECTID"]}}</p>
            <br>
            <p><span id="name-span" class="report-detail-key">Name: <br> </span><span class="breakeline">{{report["NAME"]}}</span></p>
            <br>
            <p><span id="summary-span" class="report-detail-key">Summary: <br> </span><span class="breakeline">{{report["DESCRIPTION"]}}</span></p>
            <br>
            <p><span id="root-cause-span" class="report-detail-key">Root cause: <br> </span>{{report["TYPE"]}}</p>
            <br>
            <p><span id="severity-span" class="report-detail-key">Severity: <br> </span>{{report["SEVERITY"]}}</p>
            <br>
            <p><span id="priority-span" class="report-detail-key">Priority: <br> </span>{{report["PRIORITY"]}}</p>
            <br>
            <p><span id="bussiness-area-span" class="report-detail-key">Business area: <br></span>{{report["COMPONENT"]}}</p>
            <br>
            <p><span id="assigned-to-span" class="report-detail-key">Assigned to: <br> </span>{{report["ASSIGNEDTO"]}}</p>
            <br>
        </div>
        <div class="seperateAgeing"></div>
        <div class="report-detail-ageing infoAgeing col-12 col-sm-12 col-md-12 col-lg-3">
            <img id="imageAgeing" src="assets/reporticons/timer.svg" class="imageAgeing">
            <h5 id="ageing ">Ageing</h5>
            <br>
            <p><span id="status-span" class="report-detail-key">Status: <br></span>{{report["STATUS"]}}</p>
            <br>
            <p><span id="date-detected-span" class="report-detail-key">Date Detected: <br></span>{{report["STARTDATE"]}}</p>
            <br>
            <p><span id="target-date-span" class="report-detail-key">Target date: <br></span>{{report["TARGETDATE"]}}</p>
            <br>
            <p><span id="time-to-fix-span" class="report-detail-key">Time to fix: <br></span>{{report["TIMETOFIX"]}}</p>
            <br>
            <p><span id="date-modified-span" class="report-detail-key">Date modified: <br></span>{{report["MODIFIEDDATE"]}}</p>
            <br>
        </div>
        <div class="report-detail-before-after infoCompare col-12 col-sm-12 col-md-12 col-lg-5">
            <img id="imageAgeing2" src="assets/reporticons/compare.svg" class="imageAgeing">
            <div class="column">
                <div>
                    <table id="report-details-table" class="table report-detail-before-after-table">
                        <tr class="report-detail-before-after-table-title">
                            <td class="report-detail-before-after-table-title-before" colspan="4">
                                <h5>Before</h5>
                            </td>
                        </tr>
                        <tr>
                            <th class="report-detail-key"><img src="assets/reporticons/a-b.svg" class="ImageInRow"></th>
                            <th class="report-detail-key"><img src="assets/reporticons/perform.svg" class="ImageInRow"></th>
                            <th class="report-detail-key"><img src="assets/reporticons/order.svg" class="ImageInRow"></th>
                            <th class="report-detail-key"><img src="assets/reporticons/target.svg" class="ImageInRow"></th>
                        </tr>
                        <tr>
                            <th class="report-detail-key">Root cause</th>
                            <th class="report-detail-key">Severity</th>
                            <th class="report-detail-key">Priority</th>
                            <th class="report-detail-key">Target Date</th>
                        </tr>
                        <tr>
                            <td>{{report["TYPE"]}}</td>
                            <td>{{report["SEVERITY"]}}</td>
                            <td>{{report["PRIORITY"]}}</td>
                            <td>{{report["TARGETDATE"]}}</td>
                        </tr>
                        <tr>
                            <th class="report-detail-key" colspan="1">Name:</th>
                            <td colspan="3">{{report["NAME"]}} </td>
                        </tr>
                        <tr class="report-detail-before-after-table-title">
                            <td class="report-detail-before-after-table-title-after" colspan="4">
                                <h5>After</h5>
                            </td>
                        </tr>
                        <tr>
                            <th class="report-detail-key"><img src="assets/reporticons/a-b.svg" class="ImageInRow"></th>
                            <th class="report-detail-key"><img src="assets/reporticons/perform.svg" class="ImageInRow"></th>
                            <th class="report-detail-key"><img src="assets/reporticons/order.svg" class="ImageInRow"></th>
                            <th class="report-detail-key"><img src="assets/reporticons/target.svg" class="ImageInRow"></th>
                        </tr>
                        <tr>
                            <th class="report-detail-key">Root cause</th>
                            <th class="report-detail-key">Severity</th>
                            <th class="report-detail-key">Priority</th>
                            <th class="report-detail-key">Target Date</th>
                        </tr>
                        <tr>
                            <td>
                                <table id="type-prediction" *ngFor="let item of report['TYPEPREDICTION']">
                                    <tr>{{item.name}} : {{item.value | number : '1.1-2'}}%</tr>
                                </table>
                                <span id="reportType" *ngIf="report['TYPEPREDICTION'] == null">{{report["TYPE"]}}</span>
                            </td>
                            <td>
                                <table id="severity-prediction" *ngFor="let item of report['SEVERITYPREDICTION']">
                                    <tr>{{item.name}} : {{item.value | number : '1.1-2'}}%</tr>
                                </table>
                                <span id="reportSeverity" *ngIf="report['SEVERITYPREDICTION'] == null">{{report["SEVERITY"]}}</span>
                            </td>
                            <td>
                                <table id="priority-prediction" *ngFor="let item of report['PRIORITYPREDICTION']">
                                    <tr>{{item.name}} : {{item.value | number : '1.1-2'}}%</tr>
                                </table>
                                <span id="reportPriority" *ngIf="report['PRIORITYPREDICTION'] == null">{{report["PRIORITY"]}}</span>
                            </td>
                            <td>
                                <span id="target-date-prediction" *ngIf="report['TARGETDATEPREDICTION'] != null">{{report["TARGETDATEPREDICTION"]}}</span>
                                <span id="targetDate" *ngIf="report['TARGETDATEPREDICTION'] == null">{{report["TARGETDATE"]}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="report-detail-key" colspan="1">Name:</th>
                            <td  colspan="3">
                                <span *ngIf="report['ENRICHEDNAME'] != '' || report['ENRICHEDNAME'] != null">{{report["ENRICHEDNAME"]}}</span> 
                                <span *ngIf="report['ENRICHEDNAME'] == '' || report['ENRICHEDNAME'] == null">{{report["NAME"]}}</span> 
                            </td>
                        </tr>
                        <tr *ngIf="report['TYPEPREDICTION'] != null && report['SEVERITYPREDICTION'] != null && report['PRIORITYPREDICTION'] != null && report['TARGETDATEPREDICTION'] != null">
                            <td colspan="2" align="right">
                                <button id="justification" class="btn btn-sm apply-filters" (click)="openJustificationModal(0)">Justification</button>
                            </td>
                            <td colspan="2" align="left">
                                <button id="correctiveActionPlan" class="btn btn-sm apply-filters" (click)="openCorrectiveActionPlanModal(0)">Corrective action plan</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
