<div id="settings" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Project Settings </h2>
        <a class="close" href="/#/settings">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#req" aria-expanded="false" aria-controls="collapseThree">
                           Project Setting Choices
                        </button>
                    </h2>
                </div>
                <div id="req" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to view all the available project settings.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Hierarchy Manager
                                    </div>
                                    <div class="table-cell grey-text">
                                        Create dynamic requirement structure
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Import Banking Requirements
                                    </div>
                                    <div class="table-cell grey-text">
                                        Import T24 process reference
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Issue Types
                                    </div>
                                    <div class="table-cell grey-text">
                                        Create and manage all different issue types e.g. defect, task, change request
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Requirement Layout
                                    </div>
                                    <div class="table-cell grey-text">
                                        Define possible values of the requirement’s fields
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Roles
                                    </div>
                                    <div class="table-cell grey-text">
                                        Create and manage Roles
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Assignee
                                    </div>
                                    <div class="table-cell grey-text">
                                        Create and manage assignees
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Jira Integration
                                    </div>
                                    <div class="table-cell grey-text">
                                        Configure dynamically mapping between Sense.ai and Jira
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu Screen -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#menuScreen" aria-expanded="false" aria-controls="collapseThree">
                            Menu Screen
                            </button>
                    </h2>
                </div>
                <div id="menuScreen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>This screens shows all the menu options
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Requirements Insights
                                    </div>
                                    <div class="table-cell grey-text">
                                        Screen with holistic view of the project.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Business Requirements
                                    </div>
                                    <div class="table-cell grey-text">
                                        Requirements categorization display.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Sprint Planner
                                    </div>
                                    <div class="table-cell grey-text">
                                        List of existing issues both in backlog and sprints.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Issue Tracking
                                    </div>
                                    <div class="table-cell grey-text">
                                        Display of all issues with multiple filtering options.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
