    .top {
        width: 100%;
        position: absolute;
        overflow: hidden;
    }
    
    .main {
        position: relative;
        top: 0rem;
    }
    
    .full-image {
        width: 100%;
        object-fit: cover;
        height: calc(127vh - 350px);
    }
    
    .title {
        display: flex;
        justify-content: center;
        color: #0d4b5e;
        position: relative;
        margin-top: 60px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
    
    .WrapperContainer {
        overflow-y: auto;
        border-radius: 5px;
        position: relative;
        max-width: 100%;
        width: 100%;
        height: 350px;
        display: block;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        top: 190px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        z-index: 1;
        box-shadow: 0px 2px 35px 6px #888;
        -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    
    .project-col {
        height: 26rem;
    }
    
    .subproject-col {
        height: 26rem;
    }
    
    .project {
        font-weight: 500;
        display: flex;
        justify-content: center;
        color: #0d4b5e;
        font-size: 24px;
        position: relative;
        top: 180px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
    
    .subproject {
        font-weight: 500;
        display: flex;
        justify-content: center;
        color: #0d4b5e;
        font-size: 24px;
        position: relative;
        top: 180px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
    
    .ActionButtons {
        color: blue;
        position: relative;
        top: 198px;
        z-index: 1;
        margin-right: auto;
        margin-left: auto;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        z-index: 100;
    }
    
    .SelectedLi {
        background-color: #92c94d;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        text-transform: none;
    }
    
    ul {
        list-style-type: none;
        position: relative;
        right: 0;
        left: 0;
        font-family: 'Montserrat', sans-serif;
        text-transform: none;
    }
    
    li {
        font-size: 14px;
        padding: 10px 15px;
        background-color: #f9f9f9;
        display: block;
        position: relative;
        right: 25px;
        width: 108%;
        font-family: 'Montserrat', sans-serif;
        text-transform: none;
    }
    
     ::-webkit-scrollbar-thumb {
        background: #92c94d;
    }
    
     ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: #92c94d;
    }
    
     ::-webkit-scrollbar {
        width: 10px;
    }
    
    .test {
        color: blue;
        position: fixed;
        bottom: 0;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
    
    .ok {
        min-width: 7%;
        height: 50px;
        margin: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #92c94d;
        border-color: #92c94d;
        box-shadow: 0px 2px 50px -5px #0d4b5e;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }
    
    .delete {
        min-width: 7%;
        height: 50px;
        margin: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 0px 2px 50px -5px #dc3545;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }
    
    .info {
        width: 2%;
        height: 50px;
        margin: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #fff;
        border-color: #fff;
        color: #555;
        box-shadow: 0px 2px 50px -5px #555;
        font-family: 'Montserrat', sans-serif;
    }
    
    .popup {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
    }
    
    .title-info {
        display: block;
        position: relative;
        color: #0d4b5e;
        top: 63px;
        padding: 17px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0px 2px 50px -5px #fff;
        opacity: 5;
        -moz-transition: opacity 5s;
        -webkit-transition: opacity 5s;
        -o-transition: opacity 5s;
        transition: opacity 5s;
    }
    
    .submit-button {
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        background: #92c94d;
        color: #fff;
        border-color: #92c94d;
        width: 35%;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }
    
    .cancel-button {
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        background: #dee2e6;
        color: #495057;
        border-color: #dee2e6;
        width: 35%;
        font-family: 'Montserrat', sans-serif;
    }
    
    .k-button-group .k-group-end,
    .k-button-group .k-button:last-child {
        background: #dc3545;
        color: #fff;
        border-color: #dc3545
    }
    
    .k-button-group .k-group-start,
    .k-button-group .k-button:first-child {
        background: #92c94d;
        color: #ffffff;
        margin-right: 9px;
    }
    
    .k-button {
        margin-right: 9px;
    }
    
    .k-form,
    .k-form-inline {
        font-size: 1rem;
        line-height: 1.5;
        padding: 2rem;
        background-color: #ffffff !important;
    }
    
    text-right {
        margin-top: 18px;
    }
    
    @media screen and (max-width: 1600px) {
        .WrapperContainer {
            top: 179px;
            height: 250px;
        }
        .k-button-group .k-group-start,
        .k-button-group .k-button:first-child {
            font-size: 13px;
        }
        .k-button-group .k-group-end,
        .k-button-group .k-button:last-child {
            font-size: 13px;
        }
        .k-button {
            font-size: 13px;
        }
        li {
            font-size: 13px;
        }
        .title {
            font-size: 31px;
            top: -4rem;
        }
        .project .subproject {
            font-size: 20px;
        }
        .ok {
            min-width: 7%;
            height: 38px;
            font-size: 13px;
        }
        .delete {
            min-width: 7%;
            height: 38px;
            font-size: 13px;
        }
        .info {
            font-size: 13px;
            height: 38px;
            font-family: 'Montserrat', sans-serif;
        }
    }
    
    @media screen and (max-width: 1366px) {
        .subproject {
            top: 76px;
        }
        .project {
            top: 76px;
        }
        .WrapperContainer {
            top: 82px;
        }
        .ActionButtons {
            top: 101px;
        }
        .popup {
            top: -129px;
            z-index: 111;
        }
    }
    
    @media screen and (max-height: 770px) {
        .full-image {
            height: calc(127vh - 267px);
        }
        .project {
            top: 70px;
        }
        .subproject {
            top: 70px;
        }
        .WrapperContainer {
            top: 87px;
        }
        .ActionButtons {
            top: 109px;
        }
    }