<div class="main">
    <div class="top" id="top">
        <img id="project-selection-backg-img" class="full-image" src="assets/images/background.jpg" alt="full-image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="project-selection-h1" class="title">Project Selection</h1>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <div id="project-selection-div" class="popup" [ngStyle]="{'display':display}">
                    <h5 id="project-selection-h5" align="center" class="title-info"> Welcome to Validata SenseAI here you can chose Project and SubProject, edit the Project and SubProject name and delete Projects or SubProjects</h5>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-6 project-col">
                <h3 id="project-selection-h3" class="project">Projects</h3>
                <div id="project-selection-div2" class="col-md-5 WrapperContainer">
                    <ul class="list-group ml-3 mt-2" id="projectsList">
                        <li name="projects-listitem" class="list" *ngFor="let project of projects;" [ngClass]="{SelectedLi: selectedProject?.id===project.id}" (click)="selectProject(project.id)">{{project.title}}</li>
                    </ul>
                </div>
                <kendo-buttongroup name="buttons-group" class="ActionButtons col-5">
                    <button id="addProject" *ngIf="permissionService.hasPermission('/api/Administration/AddProject')" kendoButton (click)="open('project','create')" #checkPermission name="AddProject">
                        New
                    </button>
                    <button id="updateProject" *ngIf="permissionService.hasPermission('/api/Administration/UpdateProject')" kendoButton (click)="open('project','edit')" #checkPermission name="UpdateProject"> 
                        Edit
                    </button>
                    <button id="deleteProject" *ngIf="permissionService.hasPermission('/api/Administration/DeleteProject')" kendoButton (click)="open('project','delete')" #checkPermission name="DeleteProject"> 
                        Delete
                    </button>
                </kendo-buttongroup>
            </div>
            <div class="col-md-6 subproject-col">
                <h3 id="project-selection-subprojects" class="subproject">
                    Sub Projects
                </h3>
                <div id="project-selection-5" class="col-md-5 WrapperContainer offset-1">
                    <ul class="list-group ml-3 mt-2" #checkPermission name="GetSubProjects">
                        <li name="subproject-listitems" class="list" *ngFor="let subProject of subProjects;" [ngClass]="{SelectedLi: selectedSubProject?.id === subProject.id}" (click)="selectSubProject(subProject.id)">{{subProject.title}}</li>
                    </ul>
                </div>
                <kendo-buttongroup id="btn-group" class="ActionButtons offset-1 col-5">
                    <button id="addSubproject" *ngIf="permissionService.hasPermission('/api/Administration/AddSubProject')" kendoButton (click)="open('Sub project','create')" #checkPermission name="AddSubProject"> 
                        New
                    </button>
                    <button id="updateSubproject" *ngIf="permissionService.hasPermission('/api/Administration/UpdateSubProject')" kendoButton (click)="open('Sub project','edit')" #checkPermission name="UpdateSubProject"> 
                        Edit
                    </button>
                    <button id="deleteSubproject" *ngIf="permissionService.hasPermission('/api/Administration/DeleteSubProject')" kendoButton (click)="open('Sub project','delete')" #checkPermission name="DeleteSubProject"> 
                        Delete
                    </button>
                </kendo-buttongroup>
            </div>
        </div>
    </div>
    <div class="test col-md-12">
        <button  id="projectSelectionSubmit" class="btn btn-info ok" (click)='okClicked()'>Ok</button>
        <button id="projectSelectionClose" class="btn btn-danger delete" (click)='closeClicked()'> Close</button>
        <button id="projectSelectionInfo" class="btn btn-success info" (click)="info()"> ?</button>
    </div>
    <div class="">
        <kendo-dialog id="project-selection-dialog" [title]="inProcessModel.popupTitle" *ngIf="isPopupOpen" (close)="close()" [minWidth]="350" [width]="450" [height]="350">
            <form name="project-selection-form" class="k-form">
                <label id="project-selection-title" class="k-form-field">
                    <span>Title</span>
                    <input id="title" class="k-textbox" placeholder="Please give a name."
                        [(ngModel)]="inProcessModel.text" name="title"
                        id="{{inProcessModel.entityTypeId}}Name"/>
                </label>
                <div class="text-right">
                    <button id="create{{inProcessModel.entityTypeId}}Submit" type="button" class="k-button k-primary submit-button" (click)="submit()" [disabled]="inProcessModel.text === ''">
                        Submit
                    </button>
                    <button id="cancel{{inProcessModel.entityTypeId}}Submit" type="button" class="k-button cancel-button" (click)="close()">
                        Cancel
                    </button>
                </div>
            </form>
        </kendo-dialog>
    </div>
    <!-- Delete Confirmation Dialog -->
    <div class="example-wrapper">
        <kendo-dialog id="project-selection-dialog2" title="Critical action" *ngIf="isDialogOpen" (close)="delete('cancel')" [minWidth]="450" [width]="550" [height]="250" [@.disabled]="true">
            <p [innerText]="inProcessModel.popupTitle"></p>
            <kendo-dialog-actions id="actions-btn-group">
                <button id="deleteConfirmationYes" kendoButton class="submit-button" (click)="delete('yes')" primary="true">Yes</button>
                <button id="deleteConfirmationNo" kendoButton class="cancel-button" (click)="delete('no')">No</button> 
            </kendo-dialog-actions>
        </kendo-dialog>

    </div>
</div>
