<div class="container-fluid">
    <kendo-grid id="grid-typicals" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)"> 
        <ng-template kendoGridToolbarTemplate>
            <div class="row col-md-9 float-left">
                    <div class="input-group col-md-3">
                            <kendo-combobox class="form-control" [(ngModel)]="selectedCatalog" name="catalogList" [data]="catalogList" [textField]="'title'" [valueField]="'id'" (valueChange)="getTypicalsByCatalog($event)" [placeholder]="'Select Catalog'"></kendo-combobox>
                        </div>
            <button id="add-typicals" (click)="openTypicalWindow()" class="k-button k-grid-add-command ng-star-inserted" *ngIf="permissionService.hasPermission('/api/Data/AddTypicalManually')">Add new</button>
        </div>       
        <div class="box float-right">
                <a id="anch-typicals"class="button" href="#popup1"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
        </ng-template>
        <kendo-grid-column title="Title" [field]="'title'">
        </kendo-grid-column>
        <kendo-grid-column field="Actions" [filterable]="false" width="350">
            <ng-template  kendoGridCellTemplate let-dataItem>
                <button *ngIf="permissionService.hasPermission('/api/Data/UpdateTypicalManually')" name="edit-typicals" class="edit-system-btn k-button k-grid-add-command ng-star-inserted" (click)="openTypicalWindow(dataItem)">
          Edit
        </button>
                <button *ngIf="permissionService.hasPermission('/api/Data/DeleteTypicalManually')" name="delete-typicals" class="btn btn-danger delete-system-btn" (click)="openDeleteTypicalWindow(dataItem)">
          Delete
        </button>
                <button name="attr-typicals" kendoButton (click)="viewRows(dataItem,rowsTemplate)">Attributes</button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <app-add-edit-typical  [isTypicalEdited]="isTypicalEdited"  [selectedCatalogFromDropDown]="selectedCatalog" [selectedTypical]="selectedTypical" [typicalWindowOpen]="typicalWindowOpen" (closeTypicalWindow)="close()" (typicalListUpdated)="updateTypicalList($event)">
    </app-add-edit-typical>
    <app-delete-typical [deleteTypicalWindowOpen]="deleteTypicalWindowOpen" [selectedTypical]="selectedTypical" (closeDeleteTypicalWindow)="close()" (removeSystemFromList)="removeSystemFromList($event)">
    </app-delete-typical>
    <div kendoWindowContainer></div>
    <ng-template #rowsTemplate>
        <app-typical-attributes [typicalId]="selectedTypicalId"></app-typical-attributes>
        <!--<app-dataset-rows [dataSet]="selectedDataSet"></app-dataset-rows>-->
    </ng-template>
</div>
<!-- popup content -->
<div id="popup1" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Typicals</h2>
        <a id="a-typicals"class="close" href="/#/systems-catalogs">&times;</a>
        <div class="content grey-text">
            <i id="icon-typicals"class="fa fa-lightbulb-o" aria-hidden="true"></i> Use this screen to view the defined typical entries under the defined catalog from Default Settings and to select possible operations on them. To edit a typical entry, use the “Edit” button,
            to delete a typical entry use “Delete”
            <div class="table">
                <div class="table-row blue">
                    <div id="field-typicals" class="table-cell">
                        Field
                    </div>
                    <div id="usage-typicals" class="table-cell">
                        Usage
                    </div>
                </div>
                <div class="table-row">
                    <div id="title-typicals" class="table-cell blue-text">
                        Title
                    </div>
                    <div id="title-d-typicals" class="table-cell grey-text">
                        The name of the typical
                    </div>
                </div>
                <div class="table-row">
                    <div id="edit-typicals" class="table-cell blue-text">
                        Edit Button
                    </div>
                    <div id="edit-d-typicals" class="table-cell grey-text">
                        Allows editing of the selected typical. The only editable field is the Title
                    </div>
                </div>
                <div class="table-row">
                    <div id="delete-typicals" class="table-cell blue-text">
                        Delete button
                    </div>
                    <div id="delete-d-typicals" class="table-cell grey-text">
                        Deletes a typical
                    </div>
                </div>
                <div class="table-row">
                    <div id="attr-typicals" class="table-cell blue-text">
                        Attributes button
                    </div>
                    <div id="attr-d-typicals" class="table-cell grey-text">
                        Allows the user see and add or modify existing attributes of the typical
                    </div>
                </div>
                <div class="table-row">
                    <div id="add-typicals" class="table-cell blue-text">
                        Add new button
                    </div>
                    <div id="add-d-typicals" class="table-cell grey-text">
                        Opens a screen for defining a new typical
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>