<div class="example-container">
    <div
        name="backlog-cdkDropList"
        cdkDropList
        [cdkDropListData]="backlogIssues"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        (cdkDropListEntered)="enteredItem()"
        (cdkDropListExited)="exitItem()"
        >
        <div [title]="item.title" [id]="item.id" [ngClass]="{'example-box': true, 'issues': true, 'active': shouldBeActive(item)}" 
            *ngFor="let item of backlogIssues; let i = index" cdkDrag 
                (cdkDragStarted)="startDrag(item)"
                (cdkDragDropped)="endDrag(item)">
            <span class="title" [id]="item.id">{{item.title}}</span>
            <div class="issue-actions">
                <button [id]="'estimate' + item.id" class="btn btn-default btn-circle-issue btn-lg estimation-issue-btn" title="Estimate" *ngIf="item.estimate">
                    <span>{{item.estimate}}</span>
                </button>
                <button [id]="'name' + item.id"  class="btn btn-default btn-circle-issue btn-lg name-issue-btn" [ngStyle]="{'background-color': item.assigne.color}" [title]="item.assigne.name" *ngIf="item.assigne && item.assigne.name !== ''">
                    <span>{{item.assigne.name.charAt(0)}}</span>
                </button>
                <button *ngIf="permissionService.hasPermission('/api/Process/Sprint/AddSprintIssue')" [id]="'move' + item.id" class="btn btn-default btn-circle-issue btn-lg move-issue-btn" title="Move Issue" (click)="moveIssueClicked(item)">
                    <i class="fa fa-arrow-right"></i>
                </button>
                <button *ngIf="permissionService.hasPermission('/api/Process/Browse/DeleteIssue')" [id]="'delete' + item.id" class="btn btn-default btn-circle-issue btn-lg delete-issue-btn" title="Delete Issue" (click)="deleteIssueClicked(item)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>

            <div [title]="item.title" [id]="item.id" [ngClass]="{'example-box': true, 'issues': true, 'active': shouldBeActive(item)}" 
                    *cdkDragPreview
                    [ngStyle]="{'width': openDetails ? '32%' : '44%'}"
                    [matBadge]="selectedBacklogItems.length" matBadgeOverlap="false" matBadgePosition="after" 
                    [matBadgeHidden]="!(selectedBacklogItems.length > 1)" >
                <span class="title">{{item.title}}</span>
                <div class="issue-actions">
                    <button [id]="'est' + item.id" class="btn btn-default btn-circle-issue btn-lg estimation-issue-btn" title="Estimate" *ngIf="item.estimate">
                        <span>{{item.estimate}}</span>
                    </button>
                    <button [id]="'nam' + item.id" class="btn btn-default btn-circle-issue btn-lg name-issue-btn" [ngStyle]="{'background-color': item.assigne.color}" [title]="item.assigne.name" *ngIf="item.assigne && item.assigne.name !== ''">
                        <span>{{item.assigne.name.charAt(0)}}</span>
                    </button>
                    <button *ngIf="permissionService.hasPermission('/api/Process/Sprint/AddSprintIssue')" [id]="'move-issue' + item.id" class="btn btn-default btn-circle-issue btn-lg move-issue-btn" title="Move Issue" (click)="moveIssueClicked(item)">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                    <button *ngIf="permissionService.hasPermission('/api/Process/Browse/DeleteIssue')" [id]="'delete-issue' + item.id" class="btn btn-default btn-circle-issue btn-lg delete-issue-btn" title="Delete Issue" (click)="deleteIssueClicked(item)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            
            </div>

            
        </div>
        <div id="notHasItemEntered" class="no-backlog" *ngIf= "(!this.backlogIssues || this.backlogIssues.length === 0) && !hasItemEntered">
            <label style="color: rgb(107, 119, 140); font-size: 14px">
                Your backlog is empty
            </label>
        </div>
    </div>
</div>

<app-delete-issue
    [issueToDelete]="issueToDelete"
    [openDeleteIssueWindow]="openDeleteIssueWindow"
    (closeDeleteIssueWindow)="closeDeleteIssueWindow()"
    (updateIssueList)="updateIssueList($event)">
</app-delete-issue>
    