<kendo-dialog width="600" height="200" title="Delete Role" *ngIf="deleteRoleWindowOpen" (close)="close()">
    <div id="delete-role-row" class="row">
        <div class="col-12">
            <span id="delete-role-description" class="description">
        Are you sure you want to delete '{{selectedRole.title}}' Role ?
      </span>
        </div>
    </div>
    <kendo-dialog-actions>
        <div class="row">
            <div class="col-12 action-buttons">
                <button id="delete-role-yes" name="delete-role-yes" class="btn add" (click)="deleteRole()">Yes</button>
                <button id="delete-role-no" name="delete-role-no" class="btn exit" (click)="close()">No</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>
