<kendo-grid id="view-dataset-grid" #grid [data]="gridData" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort" [pageable]="true" [sortable]="true" [filterable]="true" [filter]="gridState.filter" [navigable]="true" (dataStateChange)="onStateChange($event)"
    (cellClick)="cellClickHandler($event)" (cellClose)="cellCloseHandler($event)">
    <kendo-grid-column title="Attribute" field="Name" [editable]="false">
    </kendo-grid-column>
    <kendo-grid-column title="Value" field="Value">
    </kendo-grid-column>
</kendo-grid>