<div>
    <strong id="defects-priority-allocation-strong-text" >Defects priority allocation per root cause</strong>
    <div>
        <div style="display: block">
            <canvas id="defects-priority-allocation-canvas" *ngIf="!nodata" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
      </canvas>
            <p id="no-data-defects-priority-allocation" *ngIf="nodata">
                No data for this period.
            </p>
        </div>
    </div>
</div>