<div id="backlog" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Sprint Planner </h2>
        <a id="backlog-sprint-planner" class="close" href="/#/backlog">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="view-sprint-planner" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#req" aria-expanded="false" aria-controls="collapseThree">
                         Sprint Planner View
                        </button>
                    </h2>
                </div>
                <div id="req" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to view the already created issues and sprints and manage them, or create new ones.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Backlog +
                                    </div>
                                    <div class="table-cell grey-text">
                                        Create a new issue in backlog.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Sprints +
                                    </div>
                                    <div class="table-cell grey-text">
                                        Create a new sprint
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Filter by requirement field
                                    </div>
                                    <div class="table-cell grey-text">
                                        Use this functionality to find the desired requirement based on which the issues will be displayed.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Search field
                                    </div>
                                    <div class="table-cell grey-text">
                                        Search for specific issues
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu Screen -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="sprint-planner-menu-screen" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#menuScreen" aria-expanded="false" aria-controls="collapseThree">
                            Menu Screen
                            </button>
                    </h2>
                </div>
                <div id="menuScreen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>This screens shows all the menu options
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Requirements Insights
                                    </div>
                                    <div class="table-cell grey-text">
                                        Screen with holistic view of the project.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Business Requirements
                                    </div>
                                    <div class="table-cell grey-text">
                                        Requirements categorization display.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Sprint Planner
                                    </div>
                                    <div class="table-cell grey-text">
                                        List of existing issues both in backlog and sprints.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Issue Tracking
                                    </div>
                                    <div class="table-cell grey-text">
                                        Display of all issues with multiple filtering options.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>