<kendo-dialog id="import-workflow-to-designer" [minWidth]="400" [height]="200" *ngIf="openedImportArisWorkFlowDialogBox" (close)="closeImportArisWorkFlowDialogBox()">
    <label class="k-form-field">
    <span>File:</span>
    <br>
    <input id="import-workflow-to-designer-file" type="file" width="200" (change)="fileChanged($event)" />
  </label>
    <kendo-dialog-actions class="buttons-dialog">
        <button id="import-workflow-to-designer-cancel" type="button" class="k-button cancel-button" (click)="closeImportArisWorkFlowDialogBox()">
      Cancel
    </button>
        <button id="import-workflow-to-designer-submit" type="button" class="k-button k-primary submit-button" (click)="submit()">
      Submit
    </button>
    </kendo-dialog-actions>
</kendo-dialog>