.k-dialog-wrapper .k-dialog .workflow-dialouge {
    position: absolute !important;
    bottom: calc(50% - 537px) !important;
}

.submenu {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    background-color: transparent !important;
}

.submenu-item {
    padding: 1px 6px !important;
}

.disabled-context-menu {
    display: none !important;
}

.enabled-context-menu {
    display: block;
}

.buttons-dialog {
    padding: 20px;
}

.template {
    display: inline-block;
    background: #0d4b5e;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.template:hover {
    background-color: #333333;
}

.k-dialog-buttongroup {
    border-color: rgba(33, 37, 41, 0.125);
    height: 38px !important;
}

.no-button {
    background-color: #C00D0F;
    border-color: #C00D0F;
    color: #fff;
}

.cancel-button {
    background: #C00D0F !important;
    border-color: #C00D0F !important;
    color: #fff !important;
}

.row {
    background-color: white;
}

.bordercorners {
    border-radius: 70px;
    border: 2px solid #0d4b5e;
    padding: 0px 40px;
}

.bordercorners2 {
    border-radius: 25px;
    border: 2px solid #eeeeee;
    padding: 20px;
    width: 200px;
    height: 212px;
}

.percentage {
    color: #003d52;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
}

.title {
    color: rgb(68, 170, 188);
    font-family: Helvetica, "Times New Roman", Times, serif;
    font-size: 18px;
}

.icones-workflow {
    width: 14%;
    position: relative;
    left: -38px;
}

.workflow-coverage-row {
    margin: 0 !important;
}

.data-coverage-row {
    margin: 0 !important;
}