<div id="loadingDiv"
     class="k-overlay"
     *ngIf="loading">
  <div id="loadingIconDiv"
       class="k-i-loading k-icon overlay-icon"></div>
</div>

<div style="position:relative;">
  <div id="compareWorkflow"
       class="compare-workflow">
    <app-compare-workflow *ngIf="showTimeVariance"
                          (closeTimeVariance)="closeTimeVariance($event)"
                          [selectedTreeViewItem]="selectedTimeVarianceItem"></app-compare-workflow>
  </div>

  <div class="pane-content">
    <app-workflow-toolbar (loading)="setLoading($event)"
                          (treeViewItemRenamed)="treeViewItemRenamed($event)"
                          (treeViewItemCreated)="treeViewItemCreated($event)"
                          (treeViewItemDeleted)="treeViewItemDeleted($event)"
                          (saveClicked)="saveClicked($event)"
                          (editClicked)="editClicked()"
                          (cancelClicked)="cancelClicked()"
                          (issueClicked)="issueClicked($event, false)"
                          (disableTreeView)="disableTreeView($event)"
                          (reloadFolder)="reloadFolder($event)"
                          (varianceClicked)="timeVarianceClicked($event)"
                          [rappid]="rappid">
    </app-workflow-toolbar>
  </div>
  <div>
    <kendo-splitter id="splitter"
                    class="body"
                    orientation="vertical">
      <kendo-splitter-pane id="splitterPane">
        <kendo-splitter id="splitter2"
                        style="height:auto">
          <kendo-splitter-pane id="splitterPane2"
                               [collapsible]="true"
                               size="15%"
                               class="search">
            <div class="pane-content">
              <app-tree-view (workflowToLoad)="loadWorkflow($event)"
                             (treeViewItemSelected)="treeViewItemSelected($event)"></app-tree-view>
            </div>
          </kendo-splitter-pane>
          <kendo-splitter-pane id="splitterPane3">
            <!-- Kendo UI pre and post suggestion dialouge -->

            <div class="kendo-dialouge">
              <kendo-dialog id="prePostSuggestionDialog"
                            title="Pre / Post Suggestion"
                            *ngIf="opened"
                            (close)="close('cancel')"
                            [minWidth]="450"
                            [width]="750">
                <kendo-tabstrip>
                  <kendo-tabstrip-tab [title]="'Post Suggestion'"
                                      [selected]="true">
                    <ng-template kendoTabContent>
                      <div class="grid-wrapper">
                        <kendo-grid [data]="gridPostData"
                                    [height]="400">
                          <kendo-grid-column field="workflowItem.Title"
                                             title="Title"></kendo-grid-column>
                          <kendo-grid-column field="workflowItem.ActionTitle"
                                             title="Action"></kendo-grid-column>
                          <kendo-grid-column title="Actions">
                            <ng-template kendoGridCellTemplate
                                         let-dataItem>
                              <button name="drawSuggestionFalseButton"
                                      kendoButton
                                      style="float: center"
                                      (click)="drawSuggestion(dataItem, false)">
                                Draw
                              </button>
                            </ng-template>
                          </kendo-grid-column>
                        </kendo-grid>
                        <div *ngIf="loading"
                             class="k-i-loading"></div>
                      </div>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab [title]="'Pre Suggestion'">
                    <ng-template kendoTabContent>
                      <div class="grid-wrapper">
                        <kendo-grid [data]="gridPreData"
                                    [height]="400">
                          <kendo-grid-column field="workflowItem.Title"
                                             title="Title"></kendo-grid-column>
                          <kendo-grid-column field="workflowItem.ActionTitle"
                                             title="Action"></kendo-grid-column>
                          <kendo-grid-column title="Actions">
                            <ng-template kendoGridCellTemplate
                                         let-dataItem>
                              <button name="drawSuggestionTrueButton"
                                      kendoButton
                                      style="float: center"
                                      (click)="drawSuggestion(dataItem, true)">
                                Draw
                              </button>
                            </ng-template>
                          </kendo-grid-column>
                        </kendo-grid>
                        <div *ngIf="loading"
                             class="k-i-loading"></div>
                      </div>
                    </ng-template>
                  </kendo-tabstrip-tab>
                </kendo-tabstrip>
                <kendo-dialog-actions></kendo-dialog-actions>
              </kendo-dialog>
            </div>
            <!-- Kendo UI pre and post suggestion dialouge -->
            <div id="paneContentDiv"
                 class="pane-content">
              <div id="app"
                   class="joint-app joint-theme-modern ">
                <div id="appHeaderDiv"
                     class="app-header">
                  <div id="toolbarContainerDiv"
                       class="toolbar-container"></div>
                </div>
                <div id="appBodyDiv"
                     class="app-body">
                  <div id="stencilContainerDiv"
                       class="stencil-container "
                       style="height: 100%"
                       [ngClass]="{ elementVisibility: !editMode }"></div>
                  <div id="inspectorContainerDiv"
                       class="inspector-container "
                       [ngClass]="{ elementVisibility: !editMode }"></div>
                  <div id="paperContainerDiv"
                       class="paper-container "
                       droppable
                       (onDrop)="onDrop()"></div>
                  <div id="navigatorContainerDiv"
                       class="navigator-container"
                       [ngStyle]="{ 'pointer-events': 'initial' }"></div>
                </div>
              </div>
            </div>
          </kendo-splitter-pane>
          <kendo-splitter-pane id="splitterPane4"
                               [collapsible]="true"
                               [collapsed]="propertiesCollapsed"
                               size="18%"
                               style="background-color: whitesmoke; box-shadow: rgb(170, 170, 170) -3px 0px 10px 1px">
            <div class="workflow-versions"
                 id="workflow-versions">
              <div id="borderWorkflowVersionsDiv"
                   class="border-workflow-version">
                <app-workflow-version></app-workflow-version>
                <app-workflow-paths></app-workflow-paths>
              </div>
            </div>
            <app-propeties-container [cells]="rappid && rappid.graph ? rappid.graph.getCells() : []"
                                     [actionType]="actionType"
                                     [type]="type"></app-propeties-container>
          </kendo-splitter-pane>
        </kendo-splitter>
      </kendo-splitter-pane>
    </kendo-splitter>
    <!-- Link/Copy workflow dialog -->
    <div>
      <kendo-dialog title="Please confirm"
                    *ngIf="isLinkWorkflowDialogOpen"
                    (close)="closeLinkWorkflowDialog()"
                    [minWidth]="250"
                    [width]="450">
        <div class="row">
          <div class="col-md-12">
            <label>
              <input id="workflowClickedInput"
                     type="radio"
                     name="workflowaction"
                     value="copy"
                     (change)="copyWorkflowClicked()"
                     checked />
              Copy Workflow
            </label>
            <br />
            <label>
              <input id="linkworkflowClicked"
                     type="radio"
                     name="workflowaction"
                     value="link"
                     (change)="linkWorkflowClicked()" />
              Link Workflow
            </label>
          </div>
        </div>
        <kendo-dialog-actions>
          <button *ngIf="permissionService.hasPermission('/api/Design/GetWorkflow')"
                  id="yes-button"
                  kendoButton
                  class="yes-button first"
                  primary="true"
                  (click)="setWorkflow()">
            Yes
          </button>
          <button id="no-button"
                  kendoButton
                  class="no-button second"
                  (click)="closeLinkWorkflowDialog()">
            No
          </button>
        </kendo-dialog-actions>
      </kendo-dialog>
    </div>
    <!-- Link/Copy workflow dialog -->
    <div>
      <kendo-dialog title="Warning"
                    *ngIf="isEditWorkflowDialogOpen"
                    (close)="closeEditWorkflowDialog()"
                    [minWidth]="250"
                    [width]="450">
        <div class="row">
          <div class="col-md-12">
            <label id="applying-changes-label">
              Applying changes on the linked workflows will break the connection
              between source and target
            </label>
          </div>
        </div>
        <kendo-dialog-actions>
          <button id="continue-button"
                  kendoButton
                  class="yes-button first"
                  primary="true"
                  (click)="breakLinkage()">
            Continue
          </button>
          <button id="cancel-Button"
                  kendoButton
                  class="no-button second"
                  (click)="closeEditWorkflowDialog()">
            Cancel
          </button>
        </kendo-dialog-actions>
      </kendo-dialog>
    </div>
    <!-- Negative Step dialog -->
    <div>
      <kendo-dialog id="Negative-Test-Step"
                    title="Negative Test Step"
                    *ngIf="isNegativeStepDialogOpen"
                    (close)="closeNegativeStepDialog()"
                    [minWidth]="250"
                    [width]="520">
        <div class="row">
          <div class="col-12">
            <span id="expected-error">Expected Error:</span>
          </div>
        </div>
        <div class="row expected-error-row">
          <div class="col-12">
            <textarea id="expectedError-textarea"
                      class="expected-error-textarea"
                      (input)="changeExpectedError($event)">{{ negativeTestStep.ExpectedError }}</textarea>
          </div>
        </div>
        <kendo-dialog-actions id="actions">
          <button id="submit-btn"
                  kendoButton
                  class="yes-button first"
                  primary="true"
                  (click)="saveExpectedError()">
            Submit
          </button>
          <button id="close-btn"
                  kendoButton
                  class="no-button second"
                  (click)="closeNegativeStepDialog()">
            Close
          </button>
        </kendo-dialog-actions>
      </kendo-dialog>
    </div>
    <!-- Warning issue workflow dialog -->
    <div>
      <kendo-dialog id="warning-dialog"
                    title="Warning"
                    *ngIf="openWorkflowWarningDialog"
                    (close)="closeWorkflowWarningDialog()"
                    [minWidth]="250"
                    [width]="520">
        <div class="row">
          <div class="col-md-12">
            <label id="workflowWarningMessage">
              {{ workflowWarningMessage }}
            </label>
          </div>
        </div>
        <kendo-dialog-actions>
          <button id="proceed-btn"
                  *ngIf="permissionService.hasPermission('/api/Design/SaveWorkflow')"
                  kendoButton
                  class="yes-button first"
                  primary="true"
                  (click)="changeStepSkip()">
            Proceed
          </button>
          <button id="cancel-btn"
                  kendoButton
                  class="no-button second"
                  (click)="closeWorkflowWarningDialog()">
            Cancel
          </button>
        </kendo-dialog-actions>
      </kendo-dialog>
    </div>
    <kendo-popup id="popup-connectorShow"
                 [offset]="offset"
                 (anchorViewportLeave)="show = false"
                 *ngIf="connectorShow">
      <div class="content">
        <button id="toggle-yes"
                class="k-button"
                (click)="onToggle('yes')">
          Yes
        </button>
        <button id="toggle-no"
                class="k-button"
                (click)="onToggle('no')">
          No
        </button>
        <button id="remove-btn"
                class="k-button"
                (click)="onToggle('remove')">
          Remove
        </button>
      </div>
    </kendo-popup>
    <div id="loading-div"
         *ngIf="loadingExpand"
         class="k-i-loading"></div>
  </div>
</div>

<kendo-dialog title="This item is linked in other workflows"
              *ngIf="dialogForLinkedItemsNewVersionOpened"
              (close)="closeDialogForLinkedItemsNewVersionOpened()"
              [minWidth]="450"
              [width]="650">
  <div class="row p-3 p m-0">
    <div class="col"><button class="btn btn-info btn-block"
              (click)="issueClickedForWorkflowWithLinkedElements(0)">Upgrade</button></div>
    <div class="col"><button class="btn btn-info btn-block"
              (click)="issueClickedForWorkflowWithLinkedElements(1)">New</button></div>
  </div>
  <br>
  List of other workflows where this item is linked:
  <br>
  <ul>
    <li *ngFor="let l of linkedWorkflows"> {{ l.title }} </li>
  </ul>
  <br>
</kendo-dialog>
