<app-start-item [cells]="cells" *ngIf="type === WorkflowItemType.Start"></app-start-item>
<app-condition [cells]="cells" *ngIf="type === WorkflowItemType.Condition"></app-condition>
<app-application-step [cells]="cells" *ngIf="actionType === WorkflowItemActionType.Input"></app-application-step>
<app-perform-action-step [cells]="cells" *ngIf="actionType === WorkflowItemActionType.Authorise
         || actionType === WorkflowItemActionType.Delete
         || actionType === WorkflowItemActionType.Reverse
         || actionType === WorkflowItemActionType.See
         || actionType === WorkflowItemActionType.Verify
         || actionType === WorkflowItemActionType.Validate
         "></app-perform-action-step>
<app-enquiry-action-step [cells]="cells" *ngIf="actionType === WorkflowItemActionType.EnquiryAction"></app-enquiry-action-step>
<app-check-enquiry-step [cells]="cells" *ngIf="actionType === WorkflowItemActionType.EnquiryResult"></app-check-enquiry-step>
<app-navigation-step [cells]="cells" *ngIf="actionType === WorkflowItemActionType.Menu || actionType === WorkflowItemActionType.Tab"></app-navigation-step>
<app-manual-step [cells]="cells" *ngIf="type === WorkflowItemType.Manual"></app-manual-step>
<a class="button custom-help" (click)="openHelpPopup()" href="#properties"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
<app-popup-content *ngIf="helpPopupOpened" (closeHelpPopup)="closeHelpPopup()"></app-popup-content>