<app-ai-analitics-menu></app-ai-analitics-menu>
<div>
    <section id="content">
			<div class="grid-wrapper">
		<kendo-grid id="grid" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
			<ng-template kendoGridToolbarTemplate>
				<h4>Requirements Prioritization</h4>
				<button id="expExcel" type="button" kendoGridExcelCommand icon="file-excel" class="k-button k-grid-add-command ng-star-inserted">Export to Excel</button>
			</ng-template>
			<div *ngFor="let column of columns">
				<kendo-grid-column id="grid2" *ngIf="column.title==='Priority'" [title]="column.title" [field]="column.field">
					<ng-template kendoGridFilterCellTemplate let-gridData>
								<ng-multiselect-dropdown 
									[placeholder]="'Choose Priority'" 
									[data]="priorities" 
									[(ngModel)]="selectedPriorities" 
									[settings]="dropdownSettings"
									(onSelect)="filterByPriorities()" 
									(onDeSelect)="filterByPriorities()"
									(onSelectAll)="onSelectDeselectAll($event)"
									(onDeSelectAll)="onSelectDeselectAll($event)" >
								</ng-multiselect-dropdown>
					</ng-template>
				</kendo-grid-column>
				<kendo-grid-column *ngIf="column.title!=='Priority'" [title]="column.title" [field]="column.field">
				</kendo-grid-column>
			</div>
			<kendo-grid-excel fileName="Requirements_Prioritization.xlsx" [fetchData]="allData"></kendo-grid-excel>
		</kendo-grid>
		<div *ngIf="loading" class="k-i-loading"></div>
	</div>
    </section>
</div>