<app-sidebar></app-sidebar>
<div id="roles-container-fluid" class="container-fluid">
    <section id="content">
        <kendo-grid id="role-grid" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true" (dataStateChange)="dataStateChange($event)">
            <ng-template kendoGridToolbarTemplate *ngIf="addRolePermission()">
                <button id="roles-container-openWindow" name="roles-container-openWindow" (click)="openRoleWindow()" class="k-button k-grid-add-command ng-star-inserted custom-add-button"><i  aria-hidden="true" class="fa fa-plus"></i></button>
                <a class="button custom-help" href="#roles"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </ng-template>
            <kendo-grid-column title="Title" [field]="'title'">
            </kendo-grid-column>
            <kendo-grid-column title="Description" [field]="'description'">
            </kendo-grid-column>
            <kendo-grid-column field="Actions" [filterable]="false" width="350" *ngIf="deleteRolePermission() || editRolePermission()">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button name="roles-container-edit" class="edit-system-btn k-button k-grid-add-command ng-star-inserted" (click)="openRoleWindow(dataItem)" *ngIf="editRolePermission()">
            Edit
          </button>
                    <button name="roles-container-delete" class="btn btn-danger delete-system-btn" (click)="openDeleteRoleWindow(dataItem)" *ngIf="deleteRolePermission()">
            Delete
          </button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
        <app-add-edit-role [isRoleEdited]="isRoleEdited" [selectedRole]="selectedRole" [roleWindowOpen]="roleWindowOpen" (closeRoleWindow)="close()" (roleListUpdated)="updateRoleList($event)">
        </app-add-edit-role>
        <app-delete-role [deleteRoleWindowOpen]="deleteRoleWindowOpen" [selectedRole]="selectedRole" (closeDeleteRoleWindow)="close()" (removeRoleFromList)="removeRoleFromList($event)">
        </app-delete-role>
    </section>
</div>
<app-role-popup></app-role-popup>
