<div id="systems-container" class="container-fluid">
    <kendo-grid id="systems-kendoGrid" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
        <ng-template kendoGridToolbarTemplate>
            <button *ngIf="permissionService.hasPermission('/api/Administration/AddSystem')" id="systems-add-new" (click)="openSystemWindow()" class="k-button k-grid-add-command ng-star-inserted">Add new</button>
            <div class="box">
                <a id="systems-box-anch" class="button" href="#popup1"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </div>
        </ng-template>
        <kendo-grid-column title="Title" [field]="'title'">
        </kendo-grid-column>
        <kendo-grid-column title="Adapter Name" [field]="'adapterName'">
        </kendo-grid-column>
        <kendo-grid-column field="Actions" [filterable]="false" width="350">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button *ngIf="permissionService.hasPermission('/api/Administration/UpdateSystem')" name="systems-edit" class="edit-system-btn k-button k-grid-add-command ng-star-inserted" (click)="openSystemWindow(dataItem)">
                Edit
            </button>
                <button *ngIf="permissionService.hasPermission('/api/Administration/DeleteSystem')" name="delete-systems" class="btn btn-danger delete-system-btn" (click)="openDeleteSystemWindow(dataItem)">
                Delete
            </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <app-add-edit-system [isSystemEdited]="isSystemEdited" [selectedSystem]="selectedSystem" [systemWindowOpen]="systemWindowOpen" (closeSystemWindow)="close()" (systemListUpdated)="updateSystemList($event)">
    </app-add-edit-system>
    <app-delete-system [deleteSystemWindowOpen]="deleteSystemWindowOpen" [selectedSystem]="selectedSystem" (closeDeleteSystemWindow)="close()" (removeSystemFromList)="removeSystemFromList($event)">
    </app-delete-system>
</div>
<!-- popup content -->
<div id="popup1" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Systems</h2>
        <a id="systems-catalogs-sys" class="close" href="/#/systems-catalogs">&times;</a>
        <div class="content grey-text">
            <i id="icon-text-systems" class="fa fa-lightbulb-o" aria-hidden="true"></i> Use this screen to view the defined system entries, the specified Adapter for each of them and to select from the possible operations on them. To edit a system entry, use the “Edit” button,
            to delete a system entry use “Delete” button and if you want to add a new entry, click on “Add new” button.
            <div class="table">
                <div class="table-row blue">
                    <div id="systems-field" class="table-cell">
                        Field
                    </div>
                    <div id="systems-usage" class="table-cell">
                        Usage
                    </div>
                </div>
                <div class="table-row">
                    <div id="systems-title" class="table-cell blue-text">
                        Title
                    </div>
                    <div id="systems-title-d" class="table-cell grey-text">
                        The name of the system.
                    </div>
                </div>
                <div class="table-row">
                    <div id="systems-adapter" class="table-cell blue-text">
                        Adapter Name
                    </div>
                    <div id="systems-adapter-d" class="table-cell grey-text">
                        The name of the specified adapter.
                    </div>
                </div>
                <div class="table-row">
                    <div id="systems-edit" class="table-cell blue-text">
                        Edit button
                    </div>
                    <div id="systems-edit-d" class="table-cell grey-text">
                        Allows editing of the selected system. Fields that can be edited are Title and Adapter Name.
                    </div>
                </div>
                <div class="table-row">
                    <div id="systems-delete" class="table-cell blue-text">
                        Delete Button
                    </div>
                    <div id="systems-delete-d" class="table-cell grey-text">
                        Deletes a system.
                    </div>
                </div>
                <div class="table-row">
                    <div id="systems-add" class="table-cell blue-text">
                        Add new button
                    </div>
                    <div id="systems-add-d" class="table-cell grey-text">
                        Opens a screen for defining a new system.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>