.workflow-search {
    width: 100%;
}

#searchWorkflow {
    background-color: #92c94d;
    color: #fff;
    height: 51px;
    border-radius: 30px;
    width: 209px;
}

::-webkit-input-placeholder {
    color: #0d4b5e;
}

::-moz-placeholder {
    color: #0d4b5e;
}

:-ms-input-placeholder {
    color: #0d4b5e;
}

:-moz-placeholder {
    color: #0d4b5e;
}

.search-circle {
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #92979b;
    left: calc(50% - -169px);
    top: -7px;
    border-radius: 47px;
    cursor: pointer;
}

.search-icon {
    position: relative;
    left: 23px;
    font-size: 3vh;
    top: 19px;
    color: #fff;
    cursor: pointer;
}

input::placeholder {
    color: #ffffff !important;
    font-size: 1.9vh;
}

.test {
    position: relative;
    height: 250px;
    width: 250px;
    background-color: yellow;
    margin-top: 100px;
}

.select-version-title {
    position: relative;
    padding-top: 10px;
}

#searchWorkflow::placeholder {
    color: #fff;
}

.treeview-item {
    margin-left: 0px;
    width: 100%;
    white-space: normal;
}

.button {
    display: block;
    float: right;
    margin-right: 19px;
}

.fa-question-circle {
    color: #0d4b5e;
    top: 1rem;
    position: relative;
}


/* popup css starts here  */

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
}

.box {
    width: 4%;
    margin: 0 auto;
    background: #e4e7eb;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 5px/50px;
    background-clip: padding-box;
    text-align: center;
    float: right;
    right: 2rem;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9000;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    height: 45%;
    position: relative;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #0d4b5e;
}

.table {
    margin-left: auto;
    margin-top: 25px;
    border-radius: 20px !important;
    margin-right: auto;
    position: relative;
    left: calc(50% - 28.5rem);
}

.table-row {
    display: table-row;
    border-radius: 20px !important;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid grey;
}

.blue {
    background-color: #0d4b5e;
    color: #fff;
}

.blue-text {
    color: #0d4b5e;
}

#blue-text {
    color: #0d4b5e !important;
}

.grey-text {
    color: grey;
}

h2 {
    color: #0d4b5e;
}

::ng-deep .k-treeview .k-in.k-state-selected {
    background-color: #92c94d;
    border-color: #92c94d;
}


/* popup css ends here */

@media only screen and (max-width: 1600px) {
    .search-icon {
        left: 39%;
        position: relative;
        font-size: 2.5vh;
        top: 14px;
    }
    .search-circle {
        width: 60px;
        height: 60px;
        position: absolute;
        background-color: #92979b;
        top: -3px;
        border-radius: 47px;
        cursor: pointer;
        left: calc(50% - -164px);
        padding: 5px;
    }
    #searchWorkflow {
        width: 90%;
    }
}

@media only screen and (max-width: 1366px) {
    .search-icon {
        font-size: 2.5vh;
        top: 18px;
    }
    .search-circle {
        width: 70px;
        height: 70px;
        position: absolute;
        background-color: #92979b;
        top: -60px;
        border-radius: 47px;
        cursor: pointer;
        background-color: #92979b;
        left: calc(50% - -30px);
    }
    #searchWorkflow {
        width: 50%;
    }
}
