<input [(ngModel)]="searchTerm" *ngIf="permissionService.hasPermission('/api/Design/SearchWorkflows')" id="searchWorkflow" #search (input)='onkeyup(search.value)' class="form-control " type="text" placeholder="Search">
<span class="search-circle" *ngIf="permissionService.hasPermission('/api/Design/SearchWorkflows')"><i class="fa fa-search search-icon"></i> </span>
<kendo-treeview [nodes]="filterdData" id="workflowTreeview" [children]="fetchChildren" (childrenLoaded)="childrenLoaded($event)" [hasChildren]="hasChildren" kendoTreeViewExpandable [expandBy]="'id'" [(expandedKeys)]="expandedKeys" kendoTreeViewDisable
    [disabledKeys]="disabledKeys" (selectionChange)="handleSelection($event)" [selectBy]="'id'" [(selectedKeys)]="selectedKeys" [kendoTreeViewSelectable]="!editModeState" (disable)="disable($event)">
    <ng-template kendoTreeViewNodeTemplate let-dataItem>
        <div [id]="dataItem.id" (onDragStart)="onDragStart($event)" draggable [dragEnabled]="this.selectedItem?.type === 2" style="display: inline-flex">
            <span [ngClass]="iconClass(dataItem)"></span>
            <span class="treeview-item">{{dataItem.title}}</span>
        </div>
    </ng-template>
</kendo-treeview>