<div class="row">
    <div class="col-md-12">
        <input id="chkbNegative" type="checkbox" id="chkbNegative" [readonly]="readonly" [disabled]="readonly" class="k-checkbox" [(ngModel)]="workflowItemData.IsNegativeStep" (change)="chkbNegativeChanged($event)">
        <label id="chkbNegativeLabel" class="k-checkbox-label" for="chkbNegative">
      Negative Test Step
    </label>
    </div>
</div>
