.descroption {
    margin-top: 8px;
    position: relative;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-checkbox-label {
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-textbox-container {
    position: relative;
    padding-top: 0 !important;
    display: inline-flex;
    width: 100% !important;
    height: 40px;
    flex-direction: column;
    justify-content: stretch;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-autocomplete,
.k-combobox .k-dropdown-wrap,
.k-datepicker .k-picker-wrap,
.k-timepicker .k-picker-wrap,
.k-datetimepicker .k-picker-wrap,
.k-dateinput .k-dateinput-wrap,
.k-textbox,
.k-textarea,
.k-input.k-textbox,
.k-multiselect-wrap,
.k-numerictextbox .k-numeric-wrap {
    border-color: rgba(33, 37, 41, 0.15);
    color: #212529;
    height: 27px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
