<div id="h-manager" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Hierarchy Manager </h2>
        <a  id="hierarchy-types" class="close" href="/#/settings/hierarchy-types">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="hierarchy-manager-view" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                          Hierarchy Manager View
                </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to see the available hierarchy levels, manage them and create new.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “+” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Click this button to create a new hierarchy.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Title
                                    </div>
                                    <div class="table-cell grey-text">
                                        The name of the hierarchy.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Description
                                    </div>
                                    <div class="table-cell grey-text">
                                        The description of the hierarchy.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Path
                                    </div>
                                    <div class="table-cell grey-text">
                                        Definition of the hierarchy path.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Actions
                                    </div>
                                    <div class="table-cell grey-text">
                                        The available actions on the hierarchy (Edit, Delete).
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “Edit” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Edit the details of an existing hierarchy.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “Delete” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Delete the hierarchy.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
