<kendo-dialog
  id="deleteTypicalAttribute"
  width="650"
  height="200"
  title="Delete Attribute"
  *ngIf="deleteTypicalAttributeWindowOpen"
  (close)="close()"
>
  <div id="deleteTypicalAttribute-div"class="row">
    <div class="col-12">
        <span id="deleteTypicalAttribute-text" class="description">
            Are you sure you want to delete '{{selectedTypicalAttribute.name}}' attribute ?
        </span>
    </div>
  </div>
  <kendo-dialog-actions id="deleteTypicalAttribute-actions">
    <div class="row">
      <div class="col-12 action-buttons">
        <button id="deleteTypicalAttribute-yes" class="btn add"  (click)="deleteTypicalAttribute()">Yes</button>
        <button id="deleteTypicalAttribute-no" class="btn exit" (click)="close()">No</button>
      </div>
    </div>
  </kendo-dialog-actions>
</kendo-dialog>

