.dashboard-main {
    background-color: #EFEFEF;
    float: right;
    width: calc(100% - 260px);
    margin-top: 0.5rem;
}

.filters,
.defects-replay {
    background-color: white;
    box-shadow: 1px 1px 3px 0px grey;
    height: 51em
}

.alert {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #92c94d;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #92c94d;
}

::-webkit-scrollbar {
    width: 10px;
}

.classifiers-filter {
    margin: 10px;
    background: whitesmoke;
    border: 0px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    border-color: solid 1px grey;
    transition: 0.3s;
    border-style: solid;
    border-color: #9999;
    border-width: 2px;
}

.classifiers-filter-inner {
    margin-left: 10px;
    margin-bottom: 10px;
}

.apply-filters {
    color: #ffffff;
    background-color: #92c94d;
}

input[type=checkbox],
input[type=radio] {
    width: 17px;
    height: 17px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    color: grey;
}

.defects-title {
    color: rgb(16, 74, 93);
}

.handle_animation {
    font-size: 48px;
    cursor: pointer;
    color: #92c94d;
}

select {
    border-radius: 50px;
    width: 100%;
    display: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}

@media screen and (max-width: 1600px) {
    .filters,
    .defects-replay {
        height: 39em;
    }
    .defects_replay_svg {
        height: 32em;
    }
}

@media screen and (max-width: 768px) {
    .box {
        width: 70%;
    }
}

#processing_span {
    display: none;
}

.defects_replay_svg {
    display: flex;
    align-items: center;
}

.box {
    width: 18px;
    height: 18px;
    margin: 3px;
}

.legend {
    position: absolute;
    bottom: 10px;
    left: 0;
}
