<app-ai-analitics-menu></app-ai-analitics-menu>
<div id="container-fluid" class="container-fluid dashboard-main">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3 id="filtersTag">Filters</h3>
            <div class="classifiers-filter row align-items-center" id="from_to_choices">
                <div class="col-8">
                    <div class="col-sm">
                        <label id="fromLabel" class="title-grey-color" for="fromFilter">From</label>
                        <div class="input-group">
                            <input id="selectedDateFilterInput" class="defects-reports-filter-margin form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="selectedDateFilter['from']" ngbDatepicker [footerTemplate]="footerTemplateFrom" #d_from="ngbDatepicker" [minDate]="minDate" [maxDate]="maxDate">
                            <div id="defects-reports-filter" class="defects-reports-filter-margin input-group-append">
                                <button id="calendarDiv" class="btn btn-outline-secondary fa fa-calendar" (click)="d_from.toggle()" type="button"></button>
                            </div>
                        </div>
                        <ng-template #footerTemplateFrom>
                            <hr class="my-0">
                            <button id="todayBtn" class="btn btn-primary btn-sm m-2 float-left" (click)="filters['fromDate']= today; d_from.close()">
                              Today
                            </button>
                            <button id="closeBtn" class="btn btn-secondary btn-sm m-2 float-right" (click)="d_from.close()">Close</button>
                        </ng-template>
                    </div>
                    <div class="col-sm">
                        <label id="toFilterLabel" class="title-grey-color" for="toFilter">To</label>
                        <div id="input-group" class="input-group">
                            <input id="dp" class="defects-reports-filter-margin form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="selectedDateFilter['to']" ngbDatepicker [footerTemplate]="footerTemplateTo" #d_to="ngbDatepicker" [minDate]="minDate" [maxDate]="maxDate">
                            <div id="input-group-append" class="defects-reports-filter-margin input-group-append">
                                <button id="calendarBtn" class="btn btn-outline-secondary fa fa-calendar" (click)="d_to.toggle()" type="button"></button>
                            </div>
                        </div>
                        <ng-template #footerTemplateTo>
                            <hr class="my-0">
                            <button id="dateFiltersBtn" class="btn btn-primary btn-sm m-2 float-left" (click)="filters['toDate']= today; d_to.close()">
                              Today
                            </button>
                            <button id="closeDateBtn" class="btn btn-secondary btn-sm m-2 float-right" (click)="d_to.close()">
                              Close
                            </button>
                        </ng-template>
                    </div>
                </div>
                <div class="col-4">
                    <label id="durationLabel" class="title-grey-color" for="severityFilter">Duration (s)</label>
                    <div id="input-group-div" class="input-group input-group-sm mb-3">
                        <input id="duration" type="number" [(ngModel)]="duration" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>

            </div>
            <div class="classifiers-filter" id="component_choices">
                <label id="componentFilter-label" class="color-per" for="componentFilter">
                  Components
                </label>
                <div id="classifiers-filter-inner" class="row classifiers-filter-inner">
                    <div *ngFor="let component of componentFilter;  let i=index" class="form-check col-6">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="selectedComponentFilter[component.num]['checked']" id={{component.name}}>
                        <label class="form-check-label">{{component.name}}</label>
                    </div>
                </div>
            </div>
            <div class="classifiers-filter" id="severity_choices">
                <label id="severityFilter-label" class="color-per" for="severityFilter">
                  Severity
                </label>
                <div class="row classifiers-filter-inner">
                    <div *ngFor="let severity of severityFilter;  let i=index" class="form-check col-6">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="selectedSeverityFilter[severity['num']]['checked']" id={{severity.name}}>
                        <label class="form-check-label">{{severity['name']}}</label>
                    </div>
                </div>
            </div>
            <div class="classifiers-filter" id="priority_choices">
                <label id="priorityFilter-label" class="color-per" for="priorityFilter">
                  Priority
                </label>
                <div class="row classifiers-filter-inner">
                    <div *ngFor="let priority of priorityFilter;  let i=index" class="form-check col-6">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="selectedPriorityFilter[priority.num]['checked']" id={{priority.name}}>
                        <label class="form-check-label">{{priority.name}}</label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div [ngClass]="{'col-8': showPauseAnimation || showContinueAnimation, 'col-12': !showContinueAnimation && !showPauseAnimation}">
                    <button id="run-animation-button" class="btn-block btn apply-filters" (click)="applyFilters()" *ngIf="this.permissionService.hasPermission('/getDefectsForReplay/hashId') ? true : false">Run Animation</button>
                </div>
                <div [ngClass]="{'col-4': showPauseAnimation || showContinueAnimation}">
                    <button id="show-pause-animation" *ngIf="showPauseAnimation" class="btn apply-filters" (click)="pauseAnimation()">
                      Pause
                    </button>
                    <button id="continue-animation-button" *ngIf="showContinueAnimation" class="btn apply-filters" (click)="continueAnimation()">
                      Continue
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 defects-replay">
            <div id="defects-title-container" class="defects-title-container">
                <h5 id="defects-title" class="defects-title">Defects replay </h5>
            </div>
            <div id="svg_container" class="defects_replay_svg">
                <svg version="1.1" id="defects_replay" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1305.211px" height="638px" viewBox="0 0 1305.211 638" enable-background="new 0 0 1305.211 638" xml:space="preserve">
          <g id="defects_replay_group">
            <g>
              <polygon id="readyforrelease_reopened_arrow" class="defect_arrow"
                points="1204.401,40.993 1204.345,52.435 1194.679,46.667 		" />
              <path id="readyforrelease_reopened" class="defect_path" fill="none" stroke="#231F20" stroke-width="1"
                stroke-miterlimit="10" d="M1196.29,396.258c118.28,0,99.143-349.544,8.086-349.544" />
            </g>

            <g>
              <polygon id="readyforrelease_closed_arrow" class="defect_arrow"
                points="657.065,585.991 657.01,597.433 647.344,591.665 		" />
              <path id="readyforrelease_closed" class="defect_path" fill="none" stroke="#231F20" stroke-width="1"
                stroke-miterlimit="10" d="M1062.79,430.838c0,125.874-212.473,160.755-405.725,160.755" />
            </g>

            <g>
              <polygon id="notadefect_closed_arrow" class="defect_arrow"
                points="511.069,547.722 522.511,547.776 516.743,557.442 		" />
              <path id="notadefect_closed" class="defect_path" fill="none" stroke="#231F20" stroke-width="1"
                stroke-miterlimit="10" d="M516.79,430.838c0,29.162,0,90.105,0,116.884" />
            </g>

            <g>
              <polygon id="duplicate_closed_arrow" class="defect_arrow"
                points="374.258,597.433 374.313,585.991 383.979,591.759 		" />
              <path id="duplicate_closed" class="defect_path" fill="none" stroke="#231F20" stroke-width="1"
                stroke-miterlimit="10" d="M156.79,430.672c0,122.868,126.105,161.04,217.496,161.04" />
            </g>

            <g>
              <polygon id="inprogress_readyforrelease_arrow" class="defect_arrow"
                points="1057.068,350.832 1068.511,350.888 1062.743,360.554 		" />
              <path id="inprogress_readyforrelease" class="defect_path" fill="none" stroke="#231F20" stroke-width="1"
                stroke-miterlimit="10" d="M920.79,221.259c65.947,0,142,72.691,142,129.573" />
            </g>

            <g>
              <polygon id="inprogress_notadefect_arrow" class="defect_arrow"
                points="517.709,350.832 529.15,350.888 523.383,360.554 		" />
              <path id="inprogress_notadefect" class="defect_path" fill="none" stroke="#231F20" stroke-width="1"
                stroke-miterlimit="10" d="M656.79,221.259c-52.48,0-133.36,80.885-133.36,129.573" />
            </g>

            <g>
              <polygon id="inprogress_duplicate_arrow" class="defect_arrow"
                points="157.685,350.832 169.126,350.888 163.359,360.554 		" />
              <path id="inprogress_duplicate" class="defect_path" fill="none" stroke="#231F20" stroke-width="1"
                stroke-miterlimit="10" d="M656.79,221.259c-195.947,0-493.384,35.455-493.384,129.573" />
            </g>

            <g>
              <polygon id="reopened_inprogress_arrow" class="defect_arrow"
                points="790.968,173.858 802.409,173.914 796.642,183.58 		" />
              <path id="reopened_inprogress" class="defect_path" fill="none" stroke="#231F20" stroke-width="1"
                stroke-miterlimit="10" d="M930.789,46.259c-101.444,0-134.101,99.744-134.101,127.6" />
            </g>

            <g>
              <polygon id="detected_inprogress_arrow" class="defect_arrow"
                points="777.171,173.858 788.612,173.914 782.845,183.58 		" />
              <path id="detected_inprogress" class="defect_path" fill="none" stroke="#231F20" stroke-width="1"
                stroke-miterlimit="10" d="M646.291,46.259c85.046,0,136.601,76.244,136.601,127.6" />
            </g>

            <g>
              <polygon id="detected_notadefect_arrow" class="defect_arrow"
                points="504.43,350.832 515.871,350.888 510.104,360.554 		" />
              <path id="detected_notadefect" class="defect_path" fill="none" stroke="#231F20" stroke-width="1"
                stroke-miterlimit="10" d="M510.15,81.5c0,51.5,0,240.664,0,269.332" />
            </g>

            <g>
              <polygon id="detected_duplicate_arrow" class="defect_arrow"
                points="144.453,350.832 155.894,350.888 150.126,360.554 		" />
              <path id="detected_duplicate" class="defect_path" fill="none" stroke="#231F20" stroke-width="1"
                stroke-miterlimit="10" d="M383.623,46.259c-186.847,0-233.45,245.958-233.45,304.573" />
            </g>

            <g id="reopened">
              <path id="reopened-path" fill="#a29bfe" stroke="#034B5E" stroke-width="2" stroke-miterlimit="1" d="M1192,50.409
			C1192,66.377,1179.393,80,1163.426,80H961.252C945.283,80,932,66.377,932,50.409v-8.176C932,26.266,945.283,14,961.252,14h202.174
			C1179.393,14,1192,26.266,1192,42.233V50.409z" />
              <g>
                <text id="re-opened" transform="matrix(1 0 0 1 997.1592 53.1592)" font-family="'Montserrat'" font-size="18" letter-spacing="2">
                  Re-opened
                </text>
              </g>
            </g>

            <g id="closed">
              <path id="closed-path" fill="#00b894" stroke="#034B5E" stroke-width="2" stroke-miterlimit="10" d="M645,595.407
			C645,611.376,632.394,625,616.426,625H414.252C398.284,625,385,611.376,385,595.407v-8.176C385,571.265,398.284,559,414.252,559
			h202.174C632.394,559,645,571.265,645,587.231V595.407z" />
              <g>
                <text id="closed-text" transform="matrix(1 0 0 1 475.6641 598.1592)" font-family="'Montserrat'" font-size="18" letter-spacing="2">
                  Closed
                </text>
              </g>
            </g>

            <g id="readyforrelease">
              <path id="ready-for-release" fill="#be2edd" stroke="#034B5E" stroke-width="2" stroke-miterlimit="10" d="M1192,400.409
			c0,15.969-12.607,29.591-28.574,29.591H961.252C945.283,430,932,416.377,932,400.409v-8.176C932,376.266,945.283,364,961.252,364
			h202.174c15.967,0,28.574,12.266,28.574,28.233V400.409z" />
              <g>
                <text id="ready-for-release-text" transform="matrix(1 0 0 1 954.9883 403.1592)" font-family="'Montserrat'" font-size="18" letter-spacing="2">
                  Ready for release
                </text>
              </g>
            </g>

            <g id="notadefect">
              <path id="not-a-defect" fill="#b2bec3" stroke="#034B5E" stroke-width="2" stroke-miterlimit="10" d="M646,400.409
			C646,416.377,633.394,430,617.426,430H415.252C399.284,430,386,416.377,386,400.409v-8.176C386,376.266,399.284,364,415.252,364
			h202.174C633.394,364,646,376.266,646,392.233V400.409z" />
              <g>
                <text id="not-a-defect-texy" transform="matrix(1 0 0 1 441.0059 403.1592)" font-family="'Montserrat'" font-size="18" letter-spacing="2">
                  Not a defect
                </text>
              </g>
            </g>

            <g id="duplicate">
              <path id="duplicate-path" fill="#95afc0" stroke="#034B5E" stroke-width="2" stroke-miterlimit="10" d="M286,400.409
			C286,416.377,273.394,430,257.426,430H55.252C39.284,430,26,416.377,26,400.409v-8.176C26,376.266,39.284,364,55.252,364h202.174
			C273.394,364,286,376.266,286,392.233V400.409z" />
              <g>
                <text id="duplicate-text" transform="matrix(1 0 0 1 98.4043 403.1592)" font-family="'Montserrat'" font-size="18" letter-spacing="2">
                  Duplicate
                </text>
              </g>
            </g>

            <g id="inprogress">
              <path id="in-progress" fill="#f0932b" stroke="#034B5E" stroke-width="2" stroke-miterlimit="10" d="M918,225.409
			C918,241.377,905.394,255,889.427,255H687.252C671.284,255,658,241.377,658,225.409v-8.176C658,201.266,671.284,189,687.252,189
			h202.175C905.394,189,918,201.266,918,217.233V225.409z" />
              <g>
                <text id="in-progress-text" transform="matrix(1 0 0 1 719.9551 228.1592)" font-family="'Montserrat'" font-size="18" letter-spacing="2">
                  In progress
                </text>
              </g>
            </g>

            <g id="detected">
              <path id="detected-path" fill="#7ed6df" stroke="#034B5E" stroke-width="2" stroke-miterlimit="10" d="M644,51.088C644,67.056,631.055,80,615.087,80
			H412.913C396.945,80,384,67.056,384,51.088v-8.176C384,26.944,396.945,14,412.913,14h202.174C631.055,14,644,26.944,644,42.912
			V51.088z" />
              <g>
                <text id="detected-text" transform="matrix(1 0 0 1 460.6123 53.1592)" font-family="'Montserrat'" font-size="18" letter-spacing="2">
                  Detected
                </text>
              </g>
            </g>

          </g>
        </svg>
                <h5 id="show-initial-message" class="center-message" style="text-align: center" *ngIf="showInitialMessage">
                  Please select the filters and parameters based on which the defects' replay will be generated!
                </h5>
                <p id="no-data-for-period" *ngIf="noDataInGraph">No data for this period.</p>
            </div>
            <div id="pause-continue-div" [ngClass]="{'col-4': showPauseAnimation || showContinueAnimation}">
                <!-- <button *ngIf="showPauseAnimation" class="btn apply-filters"(click)="pauseAnimation()"><i class="material-icons" style="font-size: 24px;">pause</i></button>
                      <button *ngIf="showContinueAnimation" class="btn apply-filters" (click)="continueAnimation()"><i class="material-icons" style="font-size: 24px;">play_arrow</i></button> -->

                <i id="pause_circle_outline" *ngIf="showPauseAnimation" class="material-icons handle_animation" (click)="pauseAnimation()">pause_circle_outline</i>
                <i id="play_circle_outline" *ngIf="showContinueAnimation" class="material-icons handle_animation" (click)="continueAnimation()">play_circle_outline</i>

                <!-- <button *ngIf="showPauseAnimation" class="btn apply-filters" (click)="pauseAnimation()">Pause</button>
                      <button *ngIf="showContinueAnimation" class="btn apply-filters"(click)="continueAnimation()">Continue</button> -->
            </div>
            <div id="container-legend" class="container legend">
                <div class="row">
                    <div class="col">
                        <div id="justify-content-center" class="row justify-content-center">
                            <div id="totalNumberOfDefects-detected" class="box" style="background-color:#79D0EE"></div>
                            <div id="totalNumberOfDefects-detected-div">{{totalNumberOfDefects.detected}} Detected</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-center">
                            <div id="totalNumberOfDefects-reopened" class="box" style="background-color:#A78EDD"></div>
                            <span id="totalNumberOfDefects-reopened-span" >{{totalNumberOfDefects.re_opened}} Re-opened</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-center">
                            <div id="totalNumberOfDefects-in-progress" class="box" style="background-color:#FAC464"></div>
                            <span id="totalNumberOfDefects-in-progress-span" >{{totalNumberOfDefects.in_progress}} In Progress</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row justify-content-center">
                            <div id="totalNumberOfDefects-readyfor-release" class="box" style="background-color:#D178C9"></div>
                            <span id="totalNumberOfDefects-readyfor-release-span" >{{totalNumberOfDefects.ready_for_release}} Ready for Release</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-center">
                            <div id="totalNumberOfDefects-not-a-defect" class="box" style="background-color:#AAAAAA"></div>
                            <span id="totalNumberOfDefects-not-a-defect-span" >{{totalNumberOfDefects.not_a_defect}} Not a Defect</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-center">
                            <div id="totalNumberOfDefects-duplicated" class="box" style="background-color:#95afc0"></div>
                            <span id="totalNumberOfDefects-duplicated-span" >{{totalNumberOfDefects.duplicated}} Duplicated</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-center">
                            <div id="totalNumberOfDefects-closed" class="box" style="background-color:#6EBF47"></div>
                            <span id="totalNumberOfDefects-closed-span" >{{totalNumberOfDefects.closed}} Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
