.el-title {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    color: rgb(9, 30, 66);
    display: flex;
    font-size: 22px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 1.42857;
    max-width: 100%;
    overflow-wrap: break-word;
    border-color: transparent;
    border-radius: 3px;
    border-style: solid;
    flex: 1 0 auto;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    border-width: 2px;
    padding: 6px;
}

.clearable__clear{
    position: absolute;
    right:0; 
    margin-top: -1.9rem;
    margin-right: 0.6rem;
    padding: 0 8px;
    font-style: normal;
    font-size: 1.2em;
    user-select: none;
    cursor: pointer;
  }

.el-title:hover {
    background-color: rgb(235, 236, 240);
    cursor: text !important;
}

.values:hover {
    background-color: rgb(235, 236, 240);
    cursor: text !important;
}

.requirement:hover {
    background: #f4f5f7 !important;
}

.labels {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.757143em;
    font-style: inherit;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
    color: rgb(94, 108, 132);
    line-height: 12px;
    overflow: hidden;
    padding: 6px;
    border-radius: 3px;
    box-sizing: border-box;
}

.component:hover {
    background: white !important;
    cursor: default !important;
}

.unlink-issue {
    font-size: 0.8rem;
    color: rgb(23, 43, 77);
    cursor:  pointer !important;
}

.content {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.title-textarea:hover {
    background: white;
}

.title-textarea {
    width: 100%;
}

.description-textarea {
    width: 100%;
}

.description-textarea:hover {
    background: white;
}

.reason-textarea {
    width: 100%;
}

.reason-textarea:hover {
    background: white;
}

.implication-textarea {
    width: 100%;
}

.implication-textarea:hover {
    background: white;
}

.testcaseid-textarea {
    width: 100%;
}

.testcaseid-textarea:hover {
    background: white;
}

.comment-textarea {
    width: 100%;
}

.comment-textarea:hover {
    background: white;
}

textarea {
    min-height: 6rem !important;
}

.values {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    color: black;
    display: flex;
    font-size: 14px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 1.42857;
    max-width: 100%;
    overflow-wrap: break-word;
    border-color: transparent;
    border-radius: 3px;
    border-style: solid;
    flex: 1 0 auto;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    border-width: 2px;
    padding: 6px;
}

.issue-types {
    width: 100% !important;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 2.1rem;
    font-size: 0.8rem;
}

.description-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9em;
    font-style: inherit;
    font-weight: 600;
    letter-spacing: -0.003em;
    margin-top: 16px;
    line-height: 24px;
    color: rgb(23, 43, 77);
    overflow: hidden;
    padding: 6px;
    border-radius: 3px;
    box-sizing: border-box;
}

input {
    width: 100%;
}

input:hover {
    background: white !important;
}

.upload {
    display: inline-grid;
}

.upload-elements {
    margin-top: 30px;
    margin: 0 auto;
    height: auto;
    font-size: 14px;
    border: 1px solid lightgray;
    margin-left: 0.3rem;
    width: 98%;
}

.in-progress {
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 82, 204) !important;
}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 4px 0px;
    padding-top: 6px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    float: right;
    font-size: 0.65em;
    color: gray;
}

.fa-plus {
    font-size: 0.9em;
    float: right;
    margin-top: 0.7rem;
    color: gray;
    cursor: pointer;
}

.cancel {
    margin-right: 0.5rem;
}

.example-list {
    border: solid 1px #ccc;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

.link {
    color: #fff;
    background: #0052cc;
}

.link:hover {
    background-color: #0065ff;
}

.link, .cancel {
    float: right;
    font-size: 14px;
    height: 1.75rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.fa-plus:hover {
    color: rgb(23, 43, 77);
}

.close-details:hover {
    color: rgb(23, 43, 77);
}

.fa-copy:hover {
    color: rgb(23, 43, 77);
}

.to-do {
    color: rgb(23, 43, 77) !important;
    background: rgb(223, 225, 230) !important;
}

.dropdown-toggle {
    border: lightgray;
}

.done {
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 135, 90) !important;
}

.hideLabel {
    color: transparent;
}

.card {
    margin-top: 0.1rem;
    font-size: 14px;
    margin-left: 0.3rem;
}

td {
    border-bottom: 1px solid #dee2e6;
    box-sizing: border-box;
    max-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: default !important;
}

.actions {
    float: right;
    display: inline-flex;
    margin-top: 0.4rem;
}


.expand-sprint-btn {
    background-color: #fff;
    border-color: #ccc;
    color: #2e6da4;
    float: right;
}

.expand-sprint-btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #2e6da4;
}

.collapse-sprint-btn {
    background-color: #fff;
    border-color: #ccc;
    color: #2e6da4;
    float: right;
    padding-top: 0 !important;
}

.collapse-sprint-btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #2e6da4;
}


.fa-angle-down, .fa-angle-up {
    font-size: 1.4rem;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 4px 0px;
    padding-top: 4px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle-issue {
    width: 24px;
    height: 24px;
    padding: 4px 0px;
    padding-top: 4px;
    border-radius: 15px;
    text-align: center;
    font-size: 11px;
    line-height: 1.42857;
}

.sprint {
    height: 3rem;
}

.issue {
    height: 2rem;
    cursor: pointer !important;
}

td {
    padding-left: 13px;
    padding-right: 13px;
}


.estimation-issue-btn {
    color: #fff;
    background-color: #dfe1e6;
    color: black;
    cursor: default !important;
    margin-right: 0.5rem;
    min-width: 32px !important;
}

.name-issue-btn {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    cursor: default !important;
    padding-top: 2.5px !important;
    padding-bottom: 3px !important;
    margin-right: 0.5rem;
}

.issue-actions {
    display: inline-flex;
    float: right;
}

.move-issue-btn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding-top: 2px !important;
    padding-left: 2px !important;
}

.move-issue-btn:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.delete-issue-btn {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding-top: 2.5px !important;
}

.delete-issue-btn:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.sprints .title {
    font-weight: bold;
    font-size: 1.2em;
}

.sprint-actions {
    display: inline-flex;
    float: right;
}

.start-sprint-btn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    height: 2rem;
    padding-top: 2px;
    font-size: 14px;
    padding-bottom: 2px;
    width: max-content;
}

.fa-download {
    color: #337ab7;
    font-size: 1.23em;
    cursor: pointer;
    margin-top: 0.65rem;
    margin-right: 0.3rem;
}

.start-sprint-btn:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.complete-sprint-btn {
    height: 2rem;
    padding-top: 2px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    font-size: 14px;
    padding-bottom: 2px;
    width: max-content;
}

.complete-sprint-btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    margin-right: 0.3rem;
}

.active {
    background: #deebff !important;
}


.example-container {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .sprints {
    padding: 1px 10px;
    height: 2.6rem;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: default;
    background: white;
    font-size: 14px;
  }

  .issues {
    padding: 1px 10px;
    height: 2rem;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
  }

  .issues:hover {
    background-color: rgba(0,0,0,.075);
  }

  .issues:active {
    background-color: rgba(0,0,0,.075);
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }