<div class="content">
  <div id="details-close" class="row"
       *ngIf="!disableClose">
    <div class="col-12">
      <span id="details-span" style="cursor: pointer; color: gray; float:right"
            title="Close"
            (click)="closeDetails()">
        <svg id="complete-sprint-close-details" class="close-details"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             focusable="false"
             role="presentation">
          <path d="M12 10.586L6.707 5.293a1 1 0 0 0-1.414 1.414L10.586 12l-5.293 5.293a1 1 0 0 0 1.414 1.414L12 13.414l5.293 5.293a1 1 0 0 0 1.414-1.414L13.414 12l5.293-5.293a1 1 0 1 0-1.414-1.414L12 10.586z"
                fill="currentColor"></path>
        </svg>
      </span>
      <span  id="details-clone-clicked" (click)="onCloneClicked()"
            style="cursor: pointer; color: #9bc34d; float: right; margin-right: 0.5rem"
            title="Clone">
        <i class="fa fa-lg fa-copy"></i>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12"
         style="display: inline-flex;">
      <h1 id="details-title-clicked" class="el-title"
          (click)="titleClicked()"
          [ngStyle]="{ display: isTitleClicked ? 'none' : 'block' }">
        {{ issue.title }}
      </h1>
      <textarea [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-changeTitleArea" [value]="issue.title"
                class="el-title title-textarea"
                (input)="onChangeTitle($event)"
                [ngStyle]="{ display: isTitleClicked ? 'block' : 'none' }"
                (focusout)="onTitleFocusout()"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span id="details-status" class="labels">STATUS</span>
    </div>
  </div>
  <div class="row"
       style="margin-bottom: 0.3rem">
    <div class="col-12">
      <div id="dropdown" class="dropdown">
        <button [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" [ngClass]="{
            'to-do': selectedStatusType.type === 0,
            'in-progress': selectedStatusType.type === 1,
            done: selectedStatusType.type === 2
          }"
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          {{ selectedStatusType.title }}
        </button>
        <div class="dropdown-menu"
             aria-labelledby="dropdownMenuButton">
          <a id="details-changeStatusType" class="dropdown-item"
             (click)="changeStatusType(statusType)"
             *ngFor="let statusType of statusTypes">
            {{ statusType.title }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span id="details-issueType" class="labels">ISSUE TYPE</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span id="details-type-title" class="values">{{ issueType ? issueType.title : "" }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span id="description" class="description-label">Description</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span id="details-description-clicked" class="values"
            (click)="descriptionClicked()"
            [ngStyle]="{ display: isDescriptionClicked ? 'none' : 'block' }">
        {{ issue.description ? issue.description : "Add a description..." }}
      </span>
      <textarea [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-descr-area" [value]="issue.description"
                class="values description-textarea"
                [ngStyle]="{ display: isDescriptionClicked ? 'block' : 'none' }"
                (input)="onChangeDescription($event)"
                (focusout)="onDescriptionFocusout()"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span id="details-linked-issues" class="description-label">Linked Issues</span>
      <i  class="fa fa-lg fa-plus"
         (click)="onClickOpenLinkIssue()"></i>
    </div>
  </div>
  <div class="row"
       style="margin-bottom: 0.5rem"
       *ngIf="openLinkIssue">
    <div class="col-12">
      <kendo-multiselect [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-multiselect" style="margin-left: 0.3rem;"
                         [data]="tcrIssuesToShow"
                         [(ngModel)]="issuesToLink"
                         [textField]="'title'"
                         [valueField]="'id'"
                         [filterable]="true"
                         (filterChange)="handleChangeIssueType($event)"></kendo-multiselect>
    </div>
  </div>
  <div class="row"
       *ngIf="openLinkIssue">
    <div class="col-12">
      <button id="details-cancelLinkIssues" class="btn btn-default cancel"
              (click)="cancelLinkIssues()">
        Cancel
      </button>
      <button id="details-linkIssues" class="btn btn-primary link"
              [disabled]="!issuesToLink || issuesToLink.length === 0"
              (click)="linkIssues()">
        Link
      </button>
    </div>
  </div>
  <div id="details-row" class="row"
       *ngIf="linkedIssues && linkedIssues.length > 0"
       style="margin-top: 0.5rem">
    <div class="col-12">
      <div class="example-list"
           style="cursor: default;">
        <div name="details-items" *ngFor="let item of linkedIssues"
             class="issues">
          <span class="title"
                style="font-size: 14px; border: 1px"
                [id]="item.id">{{ item.title }}</span>
          <div class="issue-actions">
            <i class="fa fa-times unlink-issue"
               title="Unlink Issue"
               (click)="unlinkIssueClicked(item)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Priority')">
    <div class="col-12">
      <span class="labels">PRIORITY</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Priority')">
    <div class="col-12">
      <span [ngStyle]="{ display: isPriorityClicked ? 'none' : 'block' }"
            class="values"
            (click)="priorityClicked()"
            *ngIf="!isPriorityClicked">{{ selectedPriority ? selectedPriority.title : "None" }}</span>
      <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-select-Priority"
                      [ngStyle]="{ display: isPriorityClicked ? 'block' : 'none' }"
                      class="issue-types priority"
                      [data]="priorities"
                      placeholder="Select Priority"
                      [textField]="'title'"
                      [valueField]="'type'"
                      [filterable]="true"
                      [value]="selectedPriority"
                      (blur)="onPriorityFocusout()"
                      (valueChange)="changePriority($event)">
      </kendo-combobox>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Severity')">
    <div class="col-12">
      <span class="labels">SEVERITY</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Severity')">
    <div class="col-12">
      <span [ngStyle]="{ display: isSeverityClicked ? 'none' : 'block' }"
            class="values"
            (click)="severityClicked()"
            *ngIf="!isSeverityClicked">{{ selectedSeverity ? selectedSeverity.title : "None" }}</span>
      <kendo-combobox  [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-severity-combo" [ngStyle]="{ display: isSeverityClicked ? 'block' : 'none' }"
                      class="issue-types severity"
                      [data]="severity"
                      placeholder="Select Severity"
                      [textField]="'title'"
                      [valueField]="'type'"
                      [filterable]="true"
                      [value]="selectedSeverity"
                      (blur)="onSeverityFocusout()"
                      (valueChange)="changeSeverity($event)">
      </kendo-combobox>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Application') && shouldDisplay('Attribute')">
    <div class="col-12">
      <span class="labels">APPLICATION</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Application') && shouldDisplay('Attribute')">
    <div class="col-12">
      <span class="values"
            (click)="applicationClicked()"
            *ngIf="!isApplicationClicked">{{ selectedTypical ? selectedTypical.title : "None" }}</span>
      <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-application-combo" [ngStyle]="{ display: isApplicationClicked ? 'block' : 'none' }"
                      class="issue-types application"
                      placeholder="Select Application"
                      [data]="typicals"
                      [filterable]="true"
                      [textField]="'title'"
                      [valueField]="'id'"
                      [value]="selectedTypical"
                      [filterable]="true"
                      (blur)="onApplicationFocusout()"
                      (filterChange)="handleChange($event)"
                      (valueChange)="changeTypical($event)">
      </kendo-combobox>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Application') && shouldDisplay('Attribute')">
    <div class="col-12">
      <span class="labels">ATTRIBUTE</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Application') && shouldDisplay('Attribute')">
    <div class="col-12">
      <span class="values"
            (click)="attributeClicked()"
            *ngIf="!isAttributeClicked">{{ selectedAttribute ? selectedAttribute.Name : "None" }}</span>
      <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-attr-combo" class="issue-types attribute"
                      [ngStyle]="{ display: isAttributeClicked ? 'block' : 'none' }"
                      placeholder="Select Attribute"
                      [data]="attributes"
                      [filterable]="true"
                      [textField]="'Name'"
                      [valueField]="'Name'"
                      [value]="selectedAttribute"
                      [filterable]="true"
                      (blur)="onAttributeFocusout()"
                      (filterChange)="handleChangeAttributes($event)"
                      (valueChange)="changeAttribute($event)">
      </kendo-combobox>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="labels">REPORTER</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span id="details-selected-name" class="values">{{
        selectedReporter ? selectedReporter.name : "None"
      }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="labels">ASSIGNEE</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="values"
            (click)="assigneeClicked()"
            *ngIf="!isAssigneeClicked">{{ selectedAssignee ? selectedAssignee.name : "None" }}</span>
      <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-assignee" [ngStyle]="{ display: isAssigneeClicked ? 'block' : 'none' }"
                      class="issue-types assignee"
                      [data]="people"
                      placeholder="Select Assignee"
                      [textField]="'name'"
                      [valueField]="'id'"
                      [filterable]="true"
                      [value]="selectedAssignee"
                      (blur)="onAssigneeFocusout()"
                      (valueChange)="changeAssignee($event)">
      </kendo-combobox>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Approved By')">
    <div class="col-12">
      <span class="labels">APPROVER</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Approved By')">
    <div class="col-12">
      <span class="values"
            (click)="approverClicked()"
            *ngIf="!isApproverClicked">{{ selectedApprover ? selectedApprover.surname : "None" }}</span>
      <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-approver" [ngStyle]="{ display: isApproverClicked ? 'block' : 'none' }"
                      class="issue-types approver"
                      [data]="people"
                      placeholder="Select Approver"
                      [textField]="'surname'"
                      [valueField]="'id'"
                      [filterable]="true"
                      [value]="selectedApprover"
                      (blur)="onApproverFocusout()"
                      (valueChange)="changeApprover($event)">
      </kendo-combobox>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Estimate')">
    <div class="col-12">
      <span class="labels">ESTIMATE</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Estimate')">
    <div class="col-12">
      <span id="approver-estimate" class="values"
            (click)="estimateClicked()"
            *ngIf="!isEstimateClicked">{{
          issue.estimate && issue.estimate !== 0 ? issue.estimate : "None"
        }}</span>
      <input [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" [ngStyle]="{ display: isEstimateClicked ? 'block' : 'none' }"
             type="number"
             class="values"
             id="details-estimate"
             (input)="changeEstimate($event)"
             [value]="issue.estimate && issue.estimate !== 0 ? issue.estimate : ''"
             (focusout)="onEstimateFocusout()" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="labels">SPRINT</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="values"
            (click)="sprintClicked()"
            *ngIf="!isSprintClicked">{{
        selectedSprint ? selectedSprint.title : "None"
      }}</span>
      <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-sprint" [ngStyle]="{ display: isSprintClicked ? 'block' : 'none' }"
                      class="issue-types sprint"
                      [data]="_sprints"
                      placeholder="Select Sprint"
                      [textField]="'title'"
                      [valueField]="'id'"
                      [filterable]="true"
                      [value]="selectedSprint"
                      (blur)="onSprintFocusout()"
                      (valueChange)="changeSprint($event)">
      </kendo-combobox>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="labels">REQUIREMENT</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-openRequirement" type="text"
             class="values requirement"
             [readOnly]="true"
             (click)="openRequirement()"
             placeholder="Click here to select the requirement"
             [value]="selectedRequirement ? selectedRequirement.title : ''" />
      <i class="clearable__clear"
         *ngIf="selectedRequirement && selectedRequirement.title !== ''"
         (click)="unlinkRequirement()">&times;</i>
    </div>
  </div>
  <div class="row"
       *ngIf="reqWorkflows && reqWorkflows.length > 0 && shouldDisplay('Workflow')">
    <div class="col-12">
      <span class="labels">AFFECTED WORKFLOWS</span>
    </div>
  </div>
  <div class="row"
       *ngIf="reqWorkflows && reqWorkflows.length > 0 && shouldDisplay('Workflow')">
    <div class="col-12">
      <div [id]="i" *ngFor="let workflow of reqWorkflows;let i = index"
           style="margin-left: 0.3rem">
        <span style="display: inline; font-size: 14px">
          <input [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" name="affectedWfChecked" style="width: 15px;"
                 type="checkbox"
                 [checked]="isChecked(workflow)"
                 (change)="affectedWfChecked(workflow, $event)" />&nbsp;{{ workflow.title }}</span><br />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="labels">COMPONENT</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span id="details-selectedComponent-title" class="values component">{{
        selectedComponent ? selectedComponent.title : "None"
      }}</span>
    </div>
  </div>
  <div class="row"
       style="margin-bottom: 0.4rem;"
       *ngIf="shouldDisplay('Approved For Investigation')">
    <div class="col-12"
         style="font-size: 14px; margin-left: 0.25rem;display: inline;">
      <input [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-approvedForInvestigation" style="width: 15px;"
             type="checkbox"
             [checked]="issue.approvedForInvestigation"
             (change)="changeApprovedForInvestigation($event)" />&nbsp;Approved for Investigation
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Investigation Status')">
    <div class="col-12">
      <span class="labels">INVESTIGATION STATUS</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Investigation Status')">
    <div class="col-12">
      <span id="details-inves-status" class="values"
            (click)="investigationStatusClicked()"
            *ngIf="!isInvestigationStatusClicked">{{
          selectedInvestigationStatus
            ? selectedInvestigationStatus.title
            : "None"
        }}</span>
      <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-invest-combo" [ngStyle]="{ display: isInvestigationStatusClicked ? 'block' : 'none' }"
                      class="issue-types investigation"
                      [data]="investigationStatus"
                      placeholder="Select Investigation Status"
                      [textField]="'title'"
                      [valueField]="'type'"
                      [filterable]="true"
                      [value]="selectedInvestigationStatus"
                      (blur)="onInvestigationStatusFocusout()"
                      (valueChange)="changeInvestigationStatus($event)">
      </kendo-combobox>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Defect Type')">
    <div class="col-12">
      <span class="labels">TYPE</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Defect Type')">
    <div class="col-12">
      <span class="values"
            (click)="typeClicked()"
            *ngIf="!isTypeClicked">{{
        selectedType ? selectedType.title : "None"
      }}</span>
      <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="destails-type" [ngStyle]="{ display: isTypeClicked ? 'block' : 'none' }"
                      class="issue-types type"
                      [data]="types"
                      placeholder="Select Type"
                      [textField]="'title'"
                      [valueField]="'type'"
                      [filterable]="true"
                      [value]="selectedType"
                      (blur)="onTypeFocusout()"
                      (valueChange)="changeType($event)">
      </kendo-combobox>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Reason')">
    <div class="col-12">
      <span class="labels">REASON</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Reason')">
    <div class="col-12">
      <span class="values"
            (click)="reasonClicked()"
            *ngIf="!isReasonClicked">{{
        issue.reason && issue.reason !== "" ? issue.reason : "Add a reason..."
      }}</span>
      <textarea [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-changeReason"[ngStyle]="{ display: isReasonClicked ? 'block' : 'none' }"
                class="values reason-textarea"
                (input)="changeReason($event)"
                [value]="issue.reason"
                (focusout)="onReasonFocusout()">
      </textarea>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Implication')">
    <div class="col-12">
      <span class="labels">IMPLICATION</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Implication')">
    <div class="col-12">
      <span class="values"
            (click)="implicationClicked()"
            *ngIf="!isImplicationClicked">
        {{
          issue.implication && issue.implication !== ""
            ? issue.implication
            : "Add an implication..."
        }}
      </span>
      <textarea [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-changeImplication" [ngStyle]="{ display: isImplicationClicked ? 'block' : 'none' }"
                class="values implication-textarea"
                (input)="changeImplication($event)"
                [value]="issue.implication"
                (focusout)="onImplicationFocusout()">
      </textarea>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('TestCaseId')">
    <div class="col-12">
      <span class="labels">TESTCASE ID</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('TestCaseId')">
    <div class="col-12">
      <span class="values"
            (click)="testCaseIdClicked()"
            *ngIf="!isTestCaseIdClicked">
        {{
          issue.testCaseId && issue.testCaseId !== ""
            ? issue.testCaseId
            : "None"
        }}
      </span>
      <textarea [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-isTestCaseIdClicked" [ngStyle]="{ display: isTestCaseIdClicked ? 'block' : 'none' }"
                class="values testcaseid-textarea"
                (input)="changeTestCaseId($event)"
                [value]="issue.testCaseId"
                (focusout)="onTestCaseIdFocusout()">
      </textarea>
    </div>
  </div>

  <div class="row"
       *ngIf="shouldDisplay('Comment')">
    <div class="col-12">
      <span class="labels">COMMENT</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Comment')">
    <div class="col-12">
      <span class="values"
            (click)="commentClicked()"
            *ngIf="!isCommentClicked">
        {{
          issue.comment && issue.comment !== ""
            ? issue.comment
            : "Add a comment..."
        }}
      </span>
      <textarea [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-onCommentFocusout" [ngStyle]="{ display: isCommentClicked ? 'block' : 'none' }"
                class="values comment-textarea"
                (input)="changeComment($event)"
                [value]="issue.comment"
                (focusout)="onCommentFocusout()">
      </textarea>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Change Status')">
    <div class="col-12">
      <span class="labels">CHANGE STATUS</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Change Status')">
    <div class="col-12">
      <span class="values"
            (click)="changeStatusClicked()"
            *ngIf="!isChangeStatusClicked">
        {{ selectedChangeStatus ? selectedChangeStatus.title : "None" }}
      </span>
      <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-selectedChangeStatus" [ngStyle]="{ display: isChangeStatusClicked ? 'block' : 'none' }"
                      class="issue-types change-status"
                      [data]="changeStatus"
                      placeholder="Select Change Status"
                      [textField]="'title'"
                      [valueField]="'type'"
                      [filterable]="true"
                      [value]="selectedChangeStatus"
                      (blur)="onChangeStatusFocusout()"
                      (valueChange)="changeChangeStatus($event)">
      </kendo-combobox>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span id="subm" class="labels">SUBMITTED DATE</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span id="format-subm" class="values">
        {{ submittedDate ? format(submittedDate) : "None" }}
      </span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Approval Date')">
    <div class="col-12">
      <span class="labels">APPROVAL DATE</span>
    </div>
  </div>
  <div class="row"
       *ngIf="shouldDisplay('Approval Date')">
    <div class="col-12">
      <span class="values"
            (click)="approvalDateClicked()"
            *ngIf="!isApprovalDateClicked">
        {{ approvalDate ? format(approvalDate) : "None" }}
      </span>
      <kendo-datepicker [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-subpicker" (blur)="onApprovalDateFocusout()"
                        class="dates approvalDate"
                        [ngStyle]="{
          width: '100%',
          display: isApprovalDateClicked ? 'block' : 'none'
        }"
                        [value]="approvalDate"
                        (valueChange)="onChangeApprovalDate($event)"></kendo-datepicker>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="labels">START DATE</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="values"
            (click)="startDateClicked()"
            *ngIf="!isStartDateClicked">
        {{ startDate ? format(startDate) : "None" }}
      </span>
      <kendo-datepicker  [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-startDate" class="dates startDate"
                        [value]="startDate"
                        [ngStyle]="{
          width: '100%',
          display: isStartDateClicked ? 'block' : 'none'
        }"
                        (blur)="onStartDateFocusout()"
                        (valueChange)="onChangeStartDate($event)"></kendo-datepicker>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="labels">DUE DATE</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="values"
            (click)="dueDateClicked()"
            *ngIf="!isDueDateClicked">
        {{ dueDate ? format(dueDate) : "None" }}
      </span>
      <kendo-datepicker [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-dueDate" class="dates dueDate"
                        [ngStyle]="{
          width: '100%',
          display: isDueDateClicked ? 'block' : 'none'
        }"
                        [value]="dueDate"
                        (blur)="onDueDateFocusout()"
                        (valueChange)="onChangeDueDate($event)"></kendo-datepicker>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="labels">ATTACHMENTS</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input [disabled]="!permissionService.hasPermission('/api/Process/Browse/UpdateIssue')" id="details-onFileSelected" [className]="
          resources.length > 0
            ? 'upload-elements btn hideLabel'
            : 'upload-elements btn'
        "
             id="file"
             type="file"
             (change)="onFileSelected($event)"
             multiple="multiple" />
      <div class="card"
           *ngFor="let file of resources">
        <div class="card-header">
          <span>{{ file.fileName }}</span>
          <span style="float: right">
            <i title="Download"
               class="fa fa-lg fa-download"
               (click)="downloadResource(file)"></i>
            <button id="details-delete" type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                    (click)="onDeleteClicked(file.id)">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>

<app-requirement-dialog [openRequirementDialog]="openRequirementDialog"
                        (closeRequirement)="closeRequirementDialog()"
                        (submitRequirement)="selectRequirementSubmited($event)">
</app-requirement-dialog>
