<kendo-dialog [width]="'700px'"  [height]="'400px'" [title]="'Generate Documentation'" *ngIf="_openDocumentGeneration" (close)="close()" class="process-dialog">
  <div id="generate-document" class="dialog">
      <div class="row">
          <div class="col-12">
            <br /> <br />
              <div id="generate-field" class="k-form-field">
                  <input type="radio" name="latest" id="rdbLatest" class="k-radio" [checked] = "latestCheck" (click)='radioClicked()'>
                  <label class="k-radio-label" for="rdbLatest">Latest</label>
                  <br /><br />
                  <input type="radio" name="specificdate" id="rdbSpecificDate" class="k-radio" [checked] = "dateCheck" (click)='radioClicked()'>
                  <label class="k-radio-label" for="rdbSpecificDate">Specific Date</label>
                  <div id="generate-example-wrapper" class="example-wrapper" style="min-height: 50px">
                      <kendo-datepicker [(value)]="value" [disabled]="disableDate"></kendo-datepicker>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
          </div>
      </div><br /><br />
      <kendo-dialog-actions>
          <div class="row">
              <div class="col-12 action-buttons">
                  <button id="generate-loading" name="generate-loading" class="btn add" [disabled]="loading" (click)="submitClicked()">
                    Generate <i class="fa fa-spinner fa-spin ml-2" *ngIf="loading"></i>
                  </button>
                  <button id="generate-stop" name="generate-stop" class="btn exit" (click)="close()">Cancel</button>
              </div>
          </div>
      </kendo-dialog-actions>
  </div>
</kendo-dialog>
