.dialog {
  font-size: 18px;
  text-align: left;
}

.row {
  margin-left: 5%;
}

#title,
textarea {
  width: 19rem;
}

#title {
  height: 2rem;
}

textarea {
  height: 6rem;
}

.hierarchies,
.people {
  width: 19rem;
}

.action-buttons {
  top: 1rem;
}

.add {
  margin: 1px 10px;
  background: #9bc34d;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 8px 39px;
}

.exit {
  background: #e55039;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 8px 39px;
}

.k-window-content {
  overflow: hidden !important;
}

.upload {
  width: 19.2rem !important;
  background: white !important;
  text-align: -webkit-auto !important;
}

.upload .k-upload-selected {
  display: none !important;
}

.upload .k-clear-selected {
  display: none !important;
}

.process-dialog {
  overflow: auto;
}

.k-upload-selected {
  display: none !important;
}

.color-thead {
  background-color: #114b5e;
  color: #ffffff;
}

.load-csv-file {
  background: #e9ecef;
  text-align: center;
  padding: 14px 6px;
  margin-top: 29px;
  margin-bottom: 43px;
  border-radius: 5px;
  width: 105%;
}

.load {
  width: 70%;
  margin-top: 1rem;
  color: white;
  background: #0e495b;
}

.upload {
  display: inline-grid;
}

.upload-elements {
  margin-top: 30px;
  margin: 0 auto;
}

.table-position {
  position: relative;
  margin-top: 30px;
}

.selector {
  width: 50%;
}

.card {
  margin-bottom: 0.4rem;
}

.align {
  text-align: left;
}

.hideLabel {
  color: transparent;
}

.load {
  width: 70%;
  margin-top: 36px;
  color: white;
  background: #4CAF50;
  font-family: 'Montserrat', sans-serif;
}

.clear {
  width: 70%;
  margin-top: 36px;
  color: #111;
  background: lightgray;
  margin-right: 12px;
  font-family: 'Montserrat', sans-serif;
}
