<div id="process-div1" class="row">
    <div class="col-md-12">
        <kendo-textbox-container id="process-textbox" class="input-name">
            <h6 class="process">Process</h6>
            <input id="process-changed" kendoTextBox type="text" name="name" [value]="workflowItemData.Title" (input)="processChanged($event.currentTarget.value)">
        </kendo-textbox-container>
    </div>
    <div id="process-div2" style="margin-top: 10px; position: relative;"></div>
</div>
