
<div class="row p-0 m-0" style="padding-bottom: 30px !important;">
  <!-- NAME -->
  <div class="col-md-8 p-0">
    <div class="form-group">
      <label for="">Name</label>
      <input id="ji-webhook" *ngIf="webhook" disabled type="text" [ngModel]="webhook.name" class="form-control">
    </div>
  </div>
  <div class="col-md-4">
    <br>
    <p id="ji-webhook-loading" *ngIf="loading === true" class="text-muted"><i  class="fa fa-spinner fa-spin"> </i> Loading...</p>
    
  </div>
  <br>

  <!-- URL -->
  <!-- <div class="col-md-8 p-0">
    <div class="form-group">
      <label for="">URL</label>
      <textarea rows="3" *ngIf="webhook" type="text" [(ngModel)]="webhook.url" class="form-control"> </textarea>
    </div>
  </div>
  <br> -->

  <!-- EVENTS -->
  <div class="col-md-12 border rounded bg-light p-3">
    <h6 id="ji-user-map-trigger" > Select events to be triggered </h6>
    <div class="row p-0 m-0">
      <div class="col-md-3" *ngFor="let e of events">
        <label class="form-check-label">
          <input name="ji-webhook-type" type="checkbox" class="form-check-input" [(ngModel)]="e.selected">
          {{ e.type }}
        </label>
        <div *ngFor="let et of e.events" class="form-check pl-3">
          <label class="form-check-label">
            <input name="ji-webhook-name" disabled type="checkbox" class="form-check-input" [ngModel]="e.selected">
            {{ et.name }}
          </label>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- Is new webhook -->
<div *ngIf="!webhook.self" class="row m-0 px-0 py-3">
  <div class="col-md-2 offset-10">
    <button id="ji-webhook-save" (click)="save()" class="btn btn-block btn-success">
      Save <i class="pl-2 fa fa-save"></i>
    </button>
  </div>
</div>

<!-- Is update of webhook -->
<div *ngIf="webhook.self" class="row m-0 px-0 py-3">
  <div class="col-md-2 offset-10">
    <button id="ji-webhook-update" (click)="update()" class="btn btn-block btn-warning">
      Update
    </button>
  </div>
</div>


<div class="modal fade" id="confirmDeleteWebhookModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Detele webhook</h6>
        <button id="ji-webhook-delete-webhook" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="ji-webhook-text" class="modal-body">
        Are you sure you want to delete this webhook?
      </div>
      <div class="modal-footer">
        <button id="ji-webhook-yes" type="button" class="btn btn-danger px-4" (click)="delete()" data-dismiss="modal">Yes</button>
        <button id="ji-webhook-exit" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<footer class="wizard-footer fixed-bottom bg-light py-2 px-5">
  <button id="ji-webhook-back" class="col-md-2 btn btn-sm btn-outline-secondary" (click)="goBack()">
    <i class="fa fa-arrow-left pr-2"></i> Back
  </button>
  <button id="ji-webhook-next" type="button" class="btn btn-success btn-sm col-md-2 offset-8" (click)="goNext()">
    Next <i class="pl-2 fa fa-arrow-right"></i>
  </button>
</footer>
