.name {
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.input-name {
    width: 100%;
}

.application {
    margin-top: 8px;
    position: relative;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-checkbox-label {
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-widget.form-control .k-input {
    padding: .375rem .75rem;
    height: 2.25rem;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-autocomplete,
.k-combobox .k-dropdown-wrap,
.k-datepicker .k-picker-wrap,
.k-timepicker .k-picker-wrap,
.k-datetimepicker .k-picker-wrap,
.k-dateinput .k-dateinput-wrap,
.k-textbox,
.k-textarea,
.k-input.k-textbox,
.k-multiselect-wrap,
.k-numerictextbox .k-numeric-wrap {
    border-color: rgba(33, 37, 41, 0.15);
    color: #212529;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    top: -13px;
}

.positive-button {
    margin-right: 13px;
}

.negative-button {
    background-color: #C00D0F;
    border-color: #C00D0F;
}

#chkbPostFilter {
    position: relative;
    margin: 26px 19px;
    top: 1.5vh;
}

.add-button {
    color: #fff;
    background-color: #9dc34e;
    border-color: #9dc34e;
    padding: 9px 29px;
    position: relative;
    top: 11px;
}

.append-container {
    position: relative;
    text-align: center;
    width: 1000px;
    height: 50px;
}

.select-operators {
    width: 160px;
}

.field-dropdown {
    width: 269px;
}

.positive-button .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.notification-container {
    width: 100%;
    height: 50px;
}
