<div #appendTo class="append-container"></div>
<table width=100%>
    <tr>
        <td>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="name">Field</h6>
                    <kendo-combobox id="fieldSelectionCombobox" class="form-control field-dropdown" #cmbAttribute [data]="attributes" [readonly]="readonly" [value]="selectedAttribute" [filterable]="true" [textField]="'Name'" [valueField]="'Name'" (valueChange)="attributeChanged($event)">
                    </kendo-combobox>
                </div>
                <div style="margin-top: 10px; position: relative;"></div>
            </div>
        </td>
        <td>
            <div class="row">
                <div class="col-12">
                    <h6 class="name">Select Operator</h6>
                    <kendo-dropdownlist id="operatorSelectionCombobox" class="form-control select-operators" [data]="operators" [readonly]="readonly" [value]="'Select Operator'" [(ngModel)]="filterOperator">
                    </kendo-dropdownlist>
                </div>
            </div>
        </td>
        <td>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="application">Value</h6>
                    <kendo-textbox-container class="input-name">
                        <input id="filterValueInput" kendoTextBox placeholder="value" [readonly]="readonly" [(ngModel)]="filterValue">
                    </kendo-textbox-container>
                </div>

            </div>
        </td>
        <td>
            <div class="row">
                <div class="col-md-12">
                    <input id="chkbPostFilter"  class="postFilter" type="checkbox" #chkbPostFilter [readonly]="readonlyPostFilter" [disabled]="readonlyPostFilter" [(ngModel)]="ispostfilter" (change)="isFilterClicked()" class="k-checkbox">
                    <label id="chkbPostFilterLabel" class="k-checkbox-label" for="chkbPostFilter">
            IsPostFilter
          </label>
                </div>
            </div>
        </td>
        <td>
            <div class="col-12">
                <button id="addFilterCheckedButton" class="btn btn-info add-button" [disabled]="readonly" (click)="addFilterClicked($event)">
          Add
        </button>
            </div>

        </td>
    </tr>
</table>
<form novalidate #myForm="ngForm">
    <kendo-grid id="filter-post-grid"  [data]="constrains" #grid (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)">
        <kendo-grid-column field="AttributeName" title="Field">
        </kendo-grid-column>
        <kendo-grid-column field="Operator" title="Operator">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <kendo-dropdownlist name="operatorSelectionDropdown" class="form-control" [data]="operators" [readonly]="readonly" kendoGridFocusable [value]="'Select Operator'" [(ngModel)]="dataItem.Operator" name="Operator" class="k-textbox" required>
                </kendo-dropdownlist>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="AttributeValue" title="Value">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.AttributeValue" [readonly]="readonly" kendoGridFocusable name="AttributeValue" class="k-textbox" required>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="IsPostFilter" editor='boolean' title="IsPostFilter">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.IsPostFilter" kendoGridFocusable name="IsPostFilter" type="checkbox" />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="DynamicData.Path" editor='boolean' title="Dynamic Data">

        </kendo-grid-column>
        <kendo-grid-column>
            <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem class="edit-b">
                <button class="positive-button" name="addDataItem" kendoButton type="button" [disabled]="readonly" (click)="addDynamicData(dataItem)">
          <!--<span class="tooltiptext">Tooltip text</span>-->
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button name="addDataItemButtonNo" class="negative-button" (click)="removeDynamicData(dataItem)" type="button" kendoButton [disabled]="readonly">
          <!--<span class="tooltiptext">Tooltip text</span>-->
                    <i class="fa fa-trash trash-b"></i>
                </button>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column>
            <ng-template kendoGridCellTemplate let-isNew="isNew" class="edit-b">
                <button name="editButton" kendoGridEditCommand class="positive-button" type="button" [disabled]="readonly" [primary]="true">
                    <i class="fa fa-edit edit-b"></i>
                </button>
                <button name="removeButton" kendoGridRemoveCommand class="negative-button" type="button" [disabled]="readonly">
                    <i class="fa fa-trash trash-b"></i>
                </button>
                <button name="addUpdateButton" kendoGridSaveCommand type="button" [disabled]=" myForm.pristine">
                    {{ isNew ? 'Add' : 'Update' }}
                </button>
                <button name="cancelDiscardButton" kendoGridCancelCommand type="button" [disabled]="readonly">
                    {{ isNew ? 'Discard changes' : 'Cancel' }}
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <div class="kendo-dialouge">
        <kendo-dialog id="addNewReferenceDialog" title="Add New Reference" *ngIf="opened" (close)="close('cancel')" [minWidth]="450" [width]="750">
            <app-dynamicdatapopup [graphJson]="graphJson" [selectedTargetAttribute]="selecteFilter" (applyDynamicData)="applyDynamicData($event)">
            </app-dynamicdatapopup>
        </kendo-dialog>
    </div>
</form>
