<div class="row">
    <div class="col-md-12">
        <h6 class="application">Catalog</h6>
        <kendo-combobox 
            id="catalogSelectionCombobox" 
            class="form-control catalog" 
            #cmbCatalogs 
            [data]="catalogs" 
            [readonly]="readonly" 
            [filterable]="true" 
            [textField]="'title'" 
            [valueField]="'id'" 
            [value]="selectedCatalog" 
            (valueChange)="catalogChanged($event, true)">
        </kendo-combobox>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h6 class="application">{{typicalLabel}}</h6>
        <kendo-combobox 
            id="typicalSelectionCombobox" 
            class="form-control application" 
            #cmbTypicals 
            [data]="typicals" 
            [readonly]="readonly" 
            [value]="selectedTypical" 
            [filterable]="true" 
            [textField]="'title'" 
            [valueField]="'id'" 
            (valueChange)="selectedTypicalChanged($event, true, null)">
        </kendo-combobox>
    </div>
</div>