<app-ai-analitics-menu></app-ai-analitics-menu>
<div class="content">
  <div class="container-fluid">
    <br />
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="col-md-6 col-lg-6"
             style="display: inline-block">
          <ng-multiselect-dropdown
            id="multiselect"
            [placeholder]="'Choose Issue Types'"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onItemDeSelect($event)"
            (onDeSelectAll)="onDeSelectAll($event)"
            *ngIf="hierarchyTypes">
          </ng-multiselect-dropdown>
        </div>
        <!--<div class="col-md-6 col-lg-6" style="display: inline-block">-->
        <!--<button class="btn btn-custom" (click)="filterDropdown()" [disabled]="selectedItems.length===0">Apply</button>-->
        <!--<button class="btn btn-custom" style="margin-left:20px;" (click)="resetFilter()">Reset</button>-->
        <!--</div>-->

      </div>
    </div>
    <br />
    <div class="row"
         style="margin-left: 0px !important;margin-bottom: 5px;">
      <div class="col-md-12 col-lg-12"
           *ngIf="hierarchyTitleHistory && hierarchyTitleHistory.length > 0">
        <button
                id="hierarchyTitleHistory"
                class="btn btn-info"
                style="margin-right: 5px;"
                title="Go Back"
                (click)="backStep()"
                *ngIf="hierarchyTitleHistory.length - 1 > 0">
          <i class="fa fa-arrow-left"
             aria-hidden="true"></i>
        </button>
        <div [id]="'hierarchyTitleHistory' + i" *ngFor="let ht of hierarchyTitleHistory; let j = index"
             style="display:inline-flex;">
          <span>{{ ht }}</span>
          <span *ngIf="ht && j !== hierarchyTitleHistory.length - 1">-></span>
        </div>
      </div>
      <div id="no-history-title-div" class="col-md-12"
           *ngIf="!hierarchyTitleHistory || hierarchyTitleHistory.length == 0"></div>
    </div>

    <div id="no-history-title-div2" class="col-md-12"
         *ngIf="!hierarchyTitleHistory || hierarchyTitleHistory.length == 0">
    </div>
    <section class="b-area-1">
      <div style="font-size: 0.7vw;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-style">
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
               style="display:inline-block;left:75px;top:10px;">
            <!--<span style="text-decoration-line: underline;">{{hierarchyTypeTitle}}</span>-->
            <span
                  id="hierar-position"
                  style="text-decoration-line: underline;"
                  *ngIf="hierarchyTypes && hierarchyTypes.length>0 && hierarchyTypePosition<hierarchyTypes.length">{{hierarchyTypes[hierarchyTypePosition].title}}</span>
            <!--<span style="text-decoration-line: underline;"-->
            <!--*ngIf="hierarchyTypes && hierarchyTypes.length>0 && hierarchyTypes[position].title">{{hierarchyTypes[position].title}}</span>-->
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
               style="display:inline-block;top: 10px;">
            <span id="req-span" style="text-decoration-line: underline;"
                  *ngIf="!this.currentLevel || this.currentLevel<1"> Requirements</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
               style="display:inline-block;top:10px;">
            <span id="workf-span" style="text-decoration-line: underline;"
                  *ngIf="!this.currentLevel || this.currentLevel<2">Workflows</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
               style="display:inline-block;text-align:center;">
            <span id="exe-test-cases-actual-span" *ngIf="currentLevel === 2" style="text-decoration-line: underline;">Executed Number of Test
              Cases<br />(Actual)</span>
            <span id="exe-test-cases-planned-span" *ngIf="currentLevel !== 2" style="text-decoration-line: underline;">Executed Number of Test
                Cases<br />(Actual/Planned)</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
               style="display:inline-block;top: 10px;left:8px;">
            <span id="o-issues-span" style="text-decoration-line: underline;">Open Issues</span>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
               style="display:inline-block;text-align:center;top: 10px;">
            <span id="overall-exe" style="text-decoration-line: underline;">Overall Executions</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
               style="display:inline-block;text-align:center">
            <span id="exe" style="text-decoration-line: underline;">Executions<br />(Last Five Days)</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
               style="display:inline-block;text-align:center">
            <span id="o-issues-last5-span"style="text-decoration-line: underline;">Open Issues<br />(Last Five Days)</span>
          </div>
        </div>
      </div>

      <div id="businessAreaData" *ngIf="businessAreaData.length > 0">
        <div id="{{ 'businessAreaData' + i }}" class="row"
             *ngFor="let data of businessAreaData; let i = index">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="accordion"
                 id="accordionExample">
              <div class="card">
                <div class="card-header"
                     id="{{ 'heading' + i }}">
                  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
                       style="display:inline-block;">
                    <h2 class="mb-0"
                        style="display: inline-flex;">
                      <button *ngIf="currentLevel === 2" class="btn btn-link busniess-area-size"
                              type="button"
                              id="{{'showProcessesOfHierarchy'+ i}}"
                              data-toggle="collapse"
                              [attr.data-target]="'#collapse' + i"
                              aria-expanded="true"
                              [attr.aria-controls]="'collapse' + i"
                              style="color:#305496;text-decoration: none;"
                              (click)="showProcessesOfHierarchy(data.id)">
                        +
                      </button>
                      <button
                              id="{{'diveInNextHierarchy'+ i}}"
                              class="btn btn-link busniess-area-size"
                              type="button"
                              style="color:#305496;text-decoration: none;"
                              (click)="diveInNextHierarchy(data.title, data.id)">
                        {{ data.title }}
                      </button>
                    </h2>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
                       style="display:inline-block;">
                    <h5
                        id="{{'data-processes'+ i}}"
                        class="busniess-area-size busniess-color"
                        *ngIf="!this.currentLevel || this.currentLevel<1"
                        style="left:18px;">
                      {{ data.processes }}
                    </h5>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
                       style="display:inline-block;">
                    <h5
                        id="{{'data-workflows'+ i}}"
                        class="busniess-area-size  busniess-color"
                        *ngIf="!this.currentLevel || this.currentLevel<2">
                      {{ data.workflows }}
                    </h5>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
                       style="display:inline-block;">
                      <h5
                          id="{{'data-test-cases'+ i}}"
                          *ngIf="currentLevel ===2"
                          class="busniess-area-size  busniess-color">
                        {{ data.testCases }}
                      </h5>
                    <h5
                        id="{{'data-planned-tests'+ i}}"
                        *ngIf="currentLevel !==2"
                        class="busniess-area-size  busniess-color">
                      {{ data.testCases }} / {{ data.plannedTestCases }}
                    </h5>
                    <!--<h5 class="busniess-area-size  busniess-color" style="margin-left:0 !important;">Actual: {{data.testCases}}<br/>Planned: {{data.plannedTestCases}}</h5>-->
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
                       style="display:inline-block;">
                    <h5  id="{{'open-issues-tag'+ i}}" class="busniess-area-size  busniess-color">
                      {{ data.openIssues }}
                    </h5>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
                       style="display:inline-block;">
                    <canvas
                            id="{{'canvas'+ i}}"
                            baseChart
                            [data]="[data.successfulExecutions, data.failedExecutions]"
                            [labels]="[data.successfulExecutions+' Successful', data.failedExecutions+' Failed']"
                            [chartType]="doughnutChartType"
                            [colors]="doughnutColors"
                            [options]="{legend:{position:'bottom'}}">
                    </canvas>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
                       style="display:inline-block;">
                    <canvas baseChart
                            id="{{'canvas2' + i}}"
                            [datasets]="data.barData"
                            [labels]="data.barLabel"
                            [options]="barChartOptions"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            [colors]="barChartColors">
                    </canvas>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
                       style="display:inline-block;">
                    <canvas baseChart
                            id="{{'canvas3' + i}}"
                            [datasets]="data.lineData"
                            [labels]="data.lineLabel"
                            [options]="{ legend: { display: false,responsive: true,maintainAspectRatio: false } }"
                            [chartType]="lineChartType"
                            [colors]="lineChartColors">
                    </canvas>
                  </div>
                </div>
                <div [attr.id]="'collapse' + i"
                     class="collapse"
                     aria-labelledby="heading1"
                     data-parent="#accordionExample">
                  <div class="card-body">
                    <ul id="{{'unordered-list'+ i}}"class="list-group">
                      <li id="'li'+ index" class="list-group-item"
                          *ngFor="let cd of data.collapseData; let index = index">
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
                             style="display:inline-block;">
                          <h6>{{ cd.title }}</h6>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
                             style="display:inline-block;"></div>
                        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
                             style="display:inline-block;left:13px;">
                          <span id="{{'spanWorflows'+ index }}"
                                *ngIf="!this.currentLevel || this.currentLevel<1">{{ cd.workflows }}</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
                             style="display:inline-block;left: 21px;">
                             <span id="{{'spanTestCases'+ index }}"*ngIf="!this.currentLevel || this.currentLevel<2">{{ cd.testCases }}</span>
                          <!-- <span *ngIf="!this.currentLevel || this.currentLevel<2">{{ cd.testCases }}
                            / {{ cd.plannedTestCases }}</span> -->
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"
                             style="display:inline-block;left: 17px;">
                          <span id="{{'spanOpens'+ index }}" >{{ cd.openIssues }}</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
                             style="display:inline-block;text-align: center">
                          <span id="{{'spanSuccesExes'+ index }}" style="color:rgba(150,201,110)">{{ cd.successfulExecutions }}
                              Successful</span>
                          <span id="{{'spanSuccesFailed'+ index }}">, </span>
                          <span id="{{'spanFailedExes'+ index }}"style="color:#ff0000;">{{ cd.failedExecutions }} Failed</span>
                        </div>
                        <div id="{{'divExes'+ index }}" class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
                             style="display:inline-block;"></div>
                        <div id="{{'divExes'+ index }}" class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
                             style="display:inline-block;"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
