<div id="file-type-div1" class="row">
    <div class="col-md-12">
        <kendo-textbox-container id="file-type-container" class="input-name">
            <h6 id="file-type-h6" class="file-type">File Type</h6>
            <input id="file-type-changed" kendoTextBox type="text" name="name" [value]="workflowItemData.FileType" (input)="fileTypeChanged($event.currentTarget.value)">
        </kendo-textbox-container>
    </div>
    <div id="file-type-div2" style="margin-top: 10px; position: relative;"></div>
</div>
        