.custom-add-button {
    vertical-align: middle;
    background: #92c94d;
    color: white;
    border-radius: 86px;
    height: 57px;
    width: 57px;
    font-size: 28px;
}

#resources-grid {
    background-color: white !important;
}


.k-grid-remove-command {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}