<app-ai-analitics-menu></app-ai-analitics-menu>
<div class="resources-container">
  <kendo-grid id="resources-grid" [data]="gridData" (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
    [sortable]="true" [pageable]="true" (dataStateChange)="dataStateChange($event)" (listChange)="listChange($event)">
    <ng-template kendoGridToolbarTemplate>
      <button id="add-resource" kendoGridAddCommand class="k-button k-grid-add-command ng-star-inserted custom-add-button">
        <i aria-hidden="true" class="fa fa-plus"></i>
      </button>
    </ng-template>
    <kendo-grid-column field="NAME" title="Name">
        <ng-template kendoGridEditTemplate let-column="column" let-isNew="isNew">
            <input name="resource-field" class="k-textbox" [(ngModel)]="newResource.NAME">
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="EXPERIENCE" title="Experience">
      <ng-template kendoGridEditTemplate let-column="column" let-isNew="isNew">
        <kendo-combobox [data]="filteredExperiences" [filterable]="true" [(ngModel)]="newResource.EXPERIENCE" (filterChange)="handleExperienceChange($event)">
        </kendo-combobox>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="businessAreas" title="Business Areas">
      <ng-template kendoGridEditTemplate let-column="column" let-isNew="isNew">
        <kendo-multiselect [data]="filteredBusinessAreas" [filterable]="true" [(ngModel)]="newResource.BUSINESS_AREAS" (filterChange)="handleBusinessAreasChange($event)">
        </kendo-multiselect>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="expertise" title="Expertise">
      <ng-template kendoGridEditTemplate let-column="column" let-isNew="isNew">
        <kendo-multiselect [data]="filteredExpertiseFields" [filterable]="true" [(ngModel)]="newResource.EXPERTISE" (filterChange)="handleExpertiseChange($event)">
        </kendo-multiselect>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="skillset" title="Skillset">
      <ng-template kendoGridEditTemplate let-column="column" let-isNew="isNew">
        <kendo-multiselect [allowCustom]="true" [data]="filteredSkills" [filterable]="true" [(ngModel)]="newResource.SKILLSET" (filterChange)="handleSkillsetChange($event)">
        </kendo-multiselect>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="POSITION" title="Position" width="140">
      <ng-template kendoGridEditTemplate let-column="column" let-isNew="isNew">
        <kendo-combobox [data]="filteredPositions" [filterable]="true" [(ngModel)]="newResource.POSITION" (filterChange)="handlePositionChange($event)">
        </kendo-combobox>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="RATE" title="Rate" width="100">
      <ng-template kendoGridEditTemplate let-column="column" let-isNew="isNew">
        <input name="resource-field" class="k-textbox" [(ngModel)]="newResource.RATE">
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="WORKLOAD" title="Workload" width="100">
      <ng-template kendoGridEditTemplate let-column="column" let-isNew="isNew">
        <input name="resource-field" class="k-textbox" [(ngModel)]="newResource.WORKLOAD" [disabled]="true">
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="SLACK_ID" title="Slack ID">
      <ng-template kendoGridEditTemplate let-column="column" let-isNew="isNew">
        <input name="resource-field" class="k-textbox" [(ngModel)]="newResource.SLACK_ID">
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="COUNTRY" title="Country" class="resource-country">
      <ng-template kendoGridEditTemplate let-column="column" let-isNew="isNew">
        <kendo-combobox [data]="filteredCountryList" [filterable]="true" [(ngModel)]="newResource.COUNTRY" (filterChange)="handleCountryChange($event)">
        </kendo-combobox>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="Actions" class="resources-actions" width="280">
        <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
            <button class="btn btn-primary" style="font-size: 14px;" [id]="dataItem.DEV_ID" (click)="toggleCalendar(dataItem)" type="button">Days off</button>
            <button name="resource-edit" kendoGridEditCommand class="k-button k-grid-edit-command ng-star-inserted">Edit</button>
            <button name="resource-remove" kendoGridRemoveCommand class="btn btn-danger k-grid-remove-command ng-star-inserted">Remove</button>
            <button name="resource-add" kendoGridSaveCommand [disabled]="disableAddBtn">{{ isNew ? 'Add' : 'Update' }}</button>
            <button name="resource-cancel" kendoGridCancelCommand>{{ isNew ? 'Cancel' : 'Cancel' }}</button>
        </ng-template>
        
    </kendo-grid-command-column>
  </kendo-grid>
</div>
<ngb-multi-date-picker [ngStyle]="{'display': itemToShowCalendar ? 'block' : 'none'}" [datesSelected]="datesSelected" (datesSelectedChange)="change($event)"></ngb-multi-date-picker>

<app-delete-resource
  [selectedResource]="selectedResource"
  [deleteResourceWindowOpen]="deleteResourceWindowOpen"
  (removeResourceFromList)="removeResource($event)"
  (closeDeleteResourceWindow)="closeDeleteResource()"
></app-delete-resource>
