<kendo-dialog
  id="del-attr" 
  width="650"
  height="200"
  title="Delete Attribute"
  *ngIf="deleteTypicalWindowOpen"
  (close)="close()"
>
  <div id="text-div" class="row">
    <div class="col-12">
            <span id="text" class="description">
                Are you sure you want to delete '{{selectedTypical.title}}' attribute ?
            </span>
    </div>
  </div>
  <kendo-dialog-actions id="del-attr-act">
    <div class="row">
      <div id="action-buttons" class="col-12 action-buttons">
        <button id="y-btn" class="btn add"  (click)="deleteTypicalManually()" *ngIf="permissionService.hasPermission('/api/Data/DeleteTypicalAttributeManually')">Yes</button>
        <button id="n-btn" class="btn exit" (click)="close()">No</button>
      </div>
    </div>
  </kendo-dialog-actions>
</kendo-dialog>

