<div class="row timestamp-filters">
    <label class="color-per" for="project">
        Project
    </label>
    <select id="ChangeSelectedProject" class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="selectedProjectId" (change)="onChangeSelectedProject($event)">
        <option class="color-per" *ngFor="let project of projects" [value]="project.Id">
            {{project.Title}}
        </option>
    </select>
    <label class="color-per" for="subproject">
        Subproject
    </label>
    <select id="ChangeSelectedSubProject" class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="selectedSubProjectId" (change)="onChangeSelectedSubProject($event)">
        <option class="color-per" *ngFor="let subProject of subProjects" [value]="subProject.Id">
        {{subProject.Title}}
        </option>
    </select>
</div>