.timestamp-filters {
    margin-bottom: 10px;
    background: whitesmoke;
    border: 0px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    border-color: solid 1px grey;
    transition: 0.3s;
    border-style: solid;
    border-color: #9999;
    border-width: 1px;
}


#colorPer {
    margin-top: 2px;
}

.color-per {
    color: grey;
    font-size: 15px;
}

select {
    width: 100%;
    height: 2rem;
    color: #257590;
    padding-top: 3px;
    padding-bottom: 4px;
    display: inherit;
}
