
<table id="dtBasicExample" cellspacing="0">
    <tr 
        *ngFor="let sprint of sprints" 
        (click)="onSprintClick(sprint)" 
        [ngClass]="{'active': (selectedSprint && sprint.id === selectedSprint.id)}">
        <td>{{sprint.title}}</td>
    </tr>
</table>
