td {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

tr {
    cursor: pointer !important;
    color: gray;
    word-break: break-word;
    width: 100%;
    display: block;
}

tr:hover {
    background-color: rgba(0,0,0,.075);
    color: #257590 !important;
}

.active {
    background-color: rgba(0,0,0,.075);
    color: #257590 !important;
}

table {
    font-size: 13px;
    background: white;
    width: 100%;
    border-radius: 5px;
}

tbody {
    display: block;
    max-height: 200px;
    overflow: auto;
    width: 100%
}

