<form novalidate #myForm="ngForm">
    <table id="dynamicDataTable">
        <tr>
            <td>
                <kendo-grid id="dynam-popup-grid" [data]="gridData" #grid [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort" [pageable]="true" [sortable]="true" [selectable]="true" (dataStateChange)="dataStateChange($event)" (cellClick)="cellClick($event)">
                    <kendo-grid-column field="title" title="Field"></kendo-grid-column>
                </kendo-grid>
            </td>
            <td width=50% style=" vertical-align:  top">
                <div class="row">
                    <div class="col-12">
                        <h6 id="selectedTypicalTag" class="name">Typical:</h6>
                        <label id="selectedTypicalLabel" class="name" [textContent]="selectedTypical"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h6 class="name">Attribute:</h6>
                        <kendo-dropdownlist id="selectAttributeDropdown" class="form-control" #cmbAttribute [filterable]="true" [data]="attributes" [readonly]="readonly" [textField]="'Name'" [valueField]="'Name'" [value]="selectedAttribute" (valueChange)="attributeChanged($event)">
                        </kendo-dropdownlist>
                    </div>
                </div>
                <br>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="row" style="float: right;">
                    <div class="col-12 add-button">
                        <button *ngIf="permissionService.hasPermission('/api/Design/SaveDynamicDataSuggestions')" id="applyButtonPopup" class="btn apply" [disabled]="readonly" (click)="apply()">
                            Apply
                        </button>
                        <button id="cancelButtonPopup" class="btn button-cancel" [disabled]="readonly" (click)="cancel()">
                            Cancel
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</form>
