.process-header {
    display: inline-flex;
    width: 100%;
    margin-bottom: 1rem;
}

.dialog {
    text-align: center;
}

.hierarchy {
    margin-left: 12%;
}

.fa-angle-left:hover {
    color: black !important;
}

.fa-search:hover {
    color: black !important;
}

.process-spliter {
    overflow: hidden;
}

.fa-angle-left {
    margin-right: 1.3rem;
    color: #696969 !important;
    cursor: pointer;
}

.fa-angle-down, .fa-angle-up {
    color: #696969 !important;
    cursor: pointer;
}


.fa-search {
    color: #696969 !important;
    margin-top: 0.9rem;
}

.form-control {
    margin-right: 1rem;
}

.action-buttons {
    top: 1rem;
}

.add {
    margin: 1px 10px;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.hierarchies {
    width: 16rem;
}

.hierarchy {
    margin-left: 2rem;
}