<kendo-dialog [minWidth]="'500'" [title]="'Move/Copy Hierarchy'" *ngIf="_openMoveCopyHierarchy" (close)="close()" class="process-dialog">
    <div id="move-dialog" class="dialog">
        <div class="row">
            <div class="col-12">
                <label style="margin-right: 2.5rem">
                    <input
                    id="move-radio"
                        type="radio"
                        name="actionType"
                        (change)="copyHierarchyChecked()"
                        checked
                    >
                    Copy
                </label>
                <label>
                    <input
                    id="move-radio1"
                        type="radio"
                        name="actionType"
                        (change)="moveHierarchyChecked()"
                    >
                    Move
                </label>
            </div>
        </div><br />
        <div class="row hierarchy">
            <div class="col-12">
                <span>Hierarchy:</span>
            </div>
        </div>
        <div class="row hierarchy">
            <div class="col-12">
                <kendo-combobox id="move-listOf-h" class="hierarchies" [data]="hierarchies" [filterable]="true" textField="title" valueField="id" [(ngModel)]="hierarchyToMoveCopy.parent" (valueChange)="onChangeHierarchy($event)">
                </kendo-combobox>
            </div>
        </div><br />
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <button class="btn add" id="move-yes" name="move-yes" [disabled]="disableSubmitBtn()" (click)="submitClicked()">Submit</button>
                    <button class="btn exit" id="move-no" name="move-no" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>
