<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{report.NAME}}</h4>
    <button id="activeModalButton" type="button" class="close" aria-label="Close" (click)="activeModal.close('closed')">
    <span id="times-span" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body row">

    <div class="developer-list col-sm-12 col-md-12 col-lg-6">
        <table id="mainTable" #mainTable class="table row-border hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Developer ID</th>
                    <th>Name</th>
                    <th>Component relevance</th>
                    <th>Type relevance</th>
                    <th>Severity relevance</th>
                    <th>Priority relevance</th>
                    <th>Skillset relevance</th>
                    <th>Total relevance</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody *ngIf="developersRanking?.length != 0">
                <tr *ngFor="let item of developersRanking">
                    <td>{{item["DEV_ID"]}}</td>
                    <td>{{item["NAME"]}}</td>
                    <td>{{item["comp_relevance"]}}</td>
                    <td>{{item["type_relevance"]}}</td>
                    <td>{{item["severity_relevance"]}}</td>
                    <td>{{item["priority_relevance"]}}</td>
                    <td>{{item["skillset_relevance"] | number : '1.2-2'}}</td>
                    <td>{{item["final_relevance_perc"] | number : '1.2-2'}}%</td>
                    <td class="table-content">
                        <img src="assets/reporticons/view.svg" (click)="getDeveloperById(item['DEV_ID'])" alt="" class="view">
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="developersRanking?.length == 0">
                <tr>
                    <td colspan="12" class="no-data-available">No matching records found!</td>
                </tr>
                <tbody>
        </table>
    </div>

    <div class="infoCompare col-sm-12 col-md-12 col-lg-6">
        <div class="column">
            <div>
                <table id="report-detail-before-after-table" class="table report-detail-before-after-table">
                    <tr class="report-detail-before-after-table-title">
                        <td class="report-detail-before-after-table-title-after" colspan="5">
                            <h5>Defect Details</h5>
                        </td>
                    </tr>
                    <tr>
                        <th class="report-detail-key"><img src="assets/reporticons/a-b.svg" class="ImageInRow"></th>
                        <th class="report-detail-key"><img src="assets/reporticons/a-b.svg" class="ImageInRow"></th>
                        <th class="report-detail-key"><img src="assets/reporticons/perform.svg" class="ImageInRow"></th>
                        <th class="report-detail-key"><img src="assets/reporticons/order.svg" class="ImageInRow"></th>
                        <th class="report-detail-key"><img src="assets/reporticons/target.svg" class="ImageInRow"></th>
                    </tr>
                    <tr>
                        <th class="report-detail-key">Root cause</th>
                        <th class="report-detail-key">Business Area</th>
                        <th class="report-detail-key">Severity</th>
                        <th class="report-detail-key">Priority</th>
                        <th class="report-detail-key">Target Date</th>
                    </tr>
                    <tr>
                        <td>
                            <table *ngFor="let item of report['TYPEPREDICTION']">
                                <tr>{{item.name}} : {{item.value | number : '1.1-2'}}%</tr>
                            </table>
                            <span *ngIf="report['TYPEPREDICTION'] == null">{{report["TYPE"]}}</span>
                        </td>
                        <td>
                            <span>{{report['COMPONENT']}}</span>
                        </td>
                        <td>
                            <table *ngFor="let item of report['SEVERITYPREDICTION']">
                                <tr>{{item.name}} : {{item.value | number : '1.1-2'}}%</tr>
                            </table>
                            <span *ngIf="report['SEVERITYPREDICTION'] == null">{{report["SEVERITY"]}}</span>
                        </td>
                        <td>
                            <table *ngFor="let item of report['PRIORITYPREDICTION']">
                                <tr>{{item.name}} : {{item.value | number : '1.1-2'}}%</tr>
                            </table>
                            <span *ngIf="report['PRIORITYPREDICTION'] == null">{{report["PRIORITY"]}}</span>
                        </td>
                        <td>
                            <span *ngIf="report['TARGETDATEPREDICTION'] != null">{{report["TARGETDATEPREDICTION"]}}</span>
                            <span *ngIf="report['TARGETDATEPREDICTION'] == null">{{report["TARGETDATE"]}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="report-detail-key" colspan="1">Name:</th>
                        <td colspan="3">
                            <span *ngIf="report['ENRICHEDNAME'] != '' || report['ENRICHEDNAME'] != null">{{report["ENRICHEDNAME"]}}</span>
                            <span *ngIf="report['ENRICHEDNAME'] == '' || report['ENRICHEDNAME'] == null">{{report["NAME"]}}</span>
                        </td>
                    </tr>
                </table>





                <table id="developerDetailsTable" *ngIf="developerDetails !=null" class="table report-detail-before-after-table">
                    <tr class="report-detail-before-after-table-title">
                        <td class="report-detail-before-after-table-title-after" colspan="6">
                            <h5>Developer Details</h5>
                        </td>
                    </tr>
                    <tr>
                        <th class="report-detail-key">ID</th>
                        <th class="report-detail-key">Name</th>
                        <th class="report-detail-key">Business Areas</th>
                        <th class="report-detail-key">Experience</th>
                        <th class="report-detail-key">Expertise</th>
                        <th class="report-detail-key">Skillset</th>
                    </tr>
                    <tr>
                        <td>
                            <span>{{developerDetails["DEV_ID"]}}</span>
                        </td>
                        <td>
                            <span>{{developerDetails["NAME"]}}</span>
                        </td>
                        <td>
                            <span>{{developerDetails['BUSINESS_AREAS']}}</span>
                        </td>
                        <td>
                            <span>{{developerDetails["EXPERIENCE"]}}</span>
                        </td>
                        <td>
                            <span>{{developerDetails['EXPERTISE']}}</span>
                        </td>
                        <td>
                            <span>{{developerDetails['SKILLSET']}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>