<div style="position: relative;">
    <nav id="sidebar-navigation" role="navigation" class="nav-navigation">
        <ul id="sidebar-navigation-menu-all-items" class="main">
            <li id="sidebar-navigation-bussniess-req" class="write" routerLinkActive="active-link" *ngIf="licenseService.hasLicense(license.Requirements_and_hierarchies)">
                <a id="sidebar-navigation-b-req-routerlink" [routerLink]="['/process-main']"> Business Requirements</a>
            </li>
            <li id="sidebar-navigation-sprint-backlog" class="table" routerLinkActive="active-link" *ngIf="licenseService.hasLicense(license.Sprint_planning_and_management)">
                <a id="sidebar-navigation-sprint-backlog-insights" [routerLink]="['/backlog']">Sprint Insights</a>
            </li>
            <li id="sidebar-navigation-issue-tracking" class="search" routerLinkActive="active-link" *ngIf="licenseService.hasLicense(license.Sprint_planning_and_management)">
                <a id="sidebar-navigation-issue-tracking-route" [routerLink]="['/issueTracking']">Issue Tracking</a>
            </li>
            <li id="sidebar-navigation-settings" class="collapsed settings">
                <a id="sidebar-navigation-settings-routing" [routerLink]="['/settings']" class="settings" routerLinkActive="active-link">Project Settings <span class="arrow"></span></a>
            </li>
        </ul>
    </nav>
</div>
