<div id="cont-fl" class="container-fluid">
    <kendo-grid id="attributes-grid" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
        <ng-template kendoGridToolbarTemplate>
            <button name="add-new-attribute" (click)="openTypicalWindow()" class="k-button k-grid-add-command ng-star-inserted">Add new</button>
        </ng-template>
        <kendo-grid-column title="Title" [field]="'title'">
        </kendo-grid-column>
        <kendo-grid-column field="Actions" [filterable]="false" width="350">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button name="open-typical-window" class="edit-system-btn k-button k-grid-add-command ng-star-inserted" (click)="openTypicalWindow(dataItem)">
          Edit
        </button>
                <button name="open-delete-typical-window" class="btn btn-danger delete-system-btn" (click)="openDeleteTypicalWindow(dataItem)">
          Delete
        </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <app-add-edit-attributes [isTypicalEdited]="isTypicalEdited" [selectedTypical]="selectedTypical" [typicalWindowOpen]="typicalWindowOpen" (closeTypicalWindow)="close()" (typicalListUpdated)="updateTypicalList($event)">
    </app-add-edit-attributes>
    <app-delete-attribute [deleteTypicalWindowOpen]="deleteTypicalWindowOpen" [selectedTypical]="selectedTypical" (closeDeleteTypicalWindow)="close()" (removeSystemFromList)="removeSystemFromList($event)">
    </app-delete-attribute>
</div>
<!-- popup content -->
<div id="popup1" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Typicals</h2>
        <a id="typicals-catalog" class="close" href="/#/systems-catalogs">&times;</a>
        <div id="screen-typical-entries" class="content grey-text">
            <i id="icon-text" class="fa fa-lightbulb-o" aria-hidden="true"></i> Use this screen to view the defined typical entries under the defined catalog from Default Settings and to select possible operations on them. To edit a typical entry, use the “Edit” button,
            to delete a typical entry use “Delete”
            <div class="table">
                <div class="table-row blue">
                    <div id="cell-field" class="table-cell">
                        Field
                    </div>
                    <div id="cell-usage" class="table-cell">
                        Usage
                    </div>
                </div>
                <div class="table-row">
                    <div id="cell-title" class="table-cell blue-text">
                        Title
                    </div>
                    <div id="cell-name" class="table-cell grey-text">
                        The name of the typical
                    </div>
                </div>
                <div class="table-row">
                    <div id="cell-edit-btn" class="table-cell blue-text">
                        Edit Button
                    </div>
                    <div id="cell-edit-desc" class="table-cell grey-text">
                        Allows editing of the selected typical. The only editable field is the Title
                    </div>
                </div>
                <div class="table-row">
                    <div id="cell-delete-btn" class="table-cell blue-text">
                        Delete button
                    </div>
                    <div id="cell-delete-desc" class="table-cell grey-text">
                        Deletes a typical
                    </div>
                </div>
                <div class="table-row">
                    <div id="cell-attributes-btn" class="table-cell blue-text">
                        Attributes button
                    </div>
                    <div id="cell-attributes-desc" class="table-cell grey-text">
                        Allows the user see and add or modify existing attributes of the typical
                    </div>
                </div>
                <div class="table-row">
                    <div id="cell-new-btn" class="table-cell blue-text">
                        Add new button
                    </div>
                    <div id="cell-new-desc" class="table-cell grey-text">
                        Opens a screen for defining a new typical
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>