.edit-system-btn {
    color: white;
    width: 5rem;
    margin-right: 1.5rem;
    background-color: #92c94d;
}

.delete-system-btn {
    width: 5rem;
    margin-right: 1.5rem;
    font-size: 14px;
}

.action-buttons {
    border-color: #92c94d;
    color: #ffffff;
    background-color: #92c94d;
}

.action-buttons :hover {
    border-color: #c7cdd5;
    color: #212529;
    background-color: #ced3db;
}


/* CSS popup style */

.fa-question-circle {
    color: #0d4b5e;
}


/* popup css starts here  */

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
}

.box {
    width: 4%;
    margin: 0 auto;
    background: #e4e7eb;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 5px/50px;
    background-clip: padding-box;
    text-align: center;
    float: right;
    right: 2rem;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9000;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    height: 50%;
    position: relative;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #0d4b5e;
}

.table {
    margin-left: auto;
    margin-top: 25px;
    border-radius: 20px !important;
    margin-right: auto;
    position: relative;
    /* display: flex; */
    left: calc(50% - 25.5rem);
}

.table-row {
    display: table-row;
    border-radius: 20px !important;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid grey;
}

.blue {
    background-color: #0d4b5e;
    color: #fff;
}

.blue-text {
    color: #0d4b5e;
}

#blue-text {
    color: #0d4b5e !important;
}

.grey-text {
    color: grey;
}

h2 {
    color: #0d4b5e;
}


/* popup css ends here */

::ng-deep.k-grid-pager {
    border-color: #dde2e7;
    color: #212529;
    background-color: #f8f9fa;
    padding: .375rem;
    z-index: 0;
}

@media screen and (max-width: 700px) {
    .box {
        width: 100%;
    }
    .popup {
        width: 70%;
    }
}
