<div id="properties" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Flow Designer Help Text Menu </h2>
        <a class="close" (click)="close()">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                                  Subproject
                        </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>This screen displays the name of the Subproject where the user is logged in
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        New Folder button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Opens up a screen to create a new folder under the Subproject </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Search
                                    </div>
                                    <div class="table-cell grey-text">
                                        Shows all workflows under folder that contains the “key word” that the user searches for.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Test Folder -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#testFolder" aria-expanded="false" aria-controls="collapseThree">
                                      Test Folder
                            </button>
                    </h2>
                </div>
                <div id="testFolder" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Displays the possible operations on the test folder.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        New workflow
                                    </div>
                                    <div class="table-cell grey-text">
                                        Create a workflow under the selected folder
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Rename
                                    </div>
                                    <div class="table-cell grey-text">
                                        Rename the selected folder’s name
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Paste
                                    </div>
                                    <div class="table-cell grey-text">
                                        Paste an already copied workflow under this folder*
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Delete
                                    </div>
                                    <div class="table-cell grey-text">
                                        Deletes the folder
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Search
                                    </div>
                                    <div class="table-cell grey-text">
                                        Shows all workflows under folder that contains the “key word” that the user searches for.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Subproject Content View -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subprojectContent" aria-expanded="false" aria-controls="collapseThree">
                          Workflow
                </button>
                    </h2>
                </div>
                <div id="subprojectContent" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Displays the possible operations on the workflow.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Edit
                                    </div>
                                    <div class="table-cell grey-text">
                                        Allows editing on the selected workflow
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Save
                                    </div>
                                    <div class="table-cell grey-text">
                                        Saves the changes made on the workflow
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Cancel
                                    </div>
                                    <div class="table-cell grey-text">
                                        Discards the changes made on the workflow
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Rename
                                    </div>
                                    <div class="table-cell grey-text">
                                        Opens a window to modify the Title field
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Copy
                                    </div>
                                    <div class="table-cell grey-text">
                                        Copy the chosen workflow
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Cut
                                    </div>
                                    <div class="table-cell grey-text">
                                        Cut the chosen workflow
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Delete
                                    </div>
                                    <div class="table-cell grey-text">
                                        Delete the chosen workflow
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Issue
                                    </div>
                                    <div class="table-cell grey-text">
                                        Issue the chosen workflow
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        View Coverage
                                    </div>
                                    <div class="table-cell grey-text">
                                        View of workflow and data coverage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Download Video
                                    </div>
                                    <div class="table-cell grey-text">
                                        Download the recorded video*
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Time variance button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Opens a screen to display the different versions of the chosen workflow on a specified period of time . </div>
                                </div>
                            </div>
                            <p>*This field is clickable only for workflows made with recording</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toolbar -->
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#toolbarViewElements" aria-expanded="false" aria-controls="collapseThree">
                      Toolbar View
                                </button>
                </h2>
            </div>
            <div id="toolbarViewElements" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="content grey-text">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this toolbar to do certain actions on the created workflow after you pressed “Edit” button.

                        <div class="table">
                            <div class="table-row blue">
                                <div class="table-cell">
                                    Field
                                </div>
                                <div class="table-cell">
                                    Usage
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Undo
                                </div>
                                <div class="table-cell grey-text">
                                    Undo Cancel previous actions starting from the last one

                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Redo
                                </div>
                                <div class="table-cell grey-text">
                                    Brings back all the undone actions starting from the most recent one
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Clear Paper
                                </div>
                                <div class="table-cell grey-text">
                                    Delete everything from the canvas
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Toggle Full Screen Mode
                                </div>
                                <div class="table-cell grey-text">
                                    Displays Validata Sense.ai in full screen
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Open a Print Dialog
                                </div>
                                <div class="table-cell grey-text">
                                    A printing dialog pops up for setting up printing of the current workflow
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Auto lay-out graph
                                </div>
                                <div class="table-cell grey-text">
                                    Auto-fits the workflow on the screen
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Export SVG
                                </div>
                                <div class="table-cell grey-text">
                                    Open the workflow as SVG in a pop-up. Download button is also available
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Export PNG
                                </div>
                                <div class="table-cell grey-text">
                                    Saves the current workflow in PNG format
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Zoom to fit
                                </div>
                                <div class="table-cell grey-text">
                                    Zooms in automatically in a certain percentage
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Zoom
                                </div>
                                <div class="table-cell grey-text">
                                    Zooms in or out manually
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Grid Size
                                </div>
                                <div class="table-cell grey-text">
                                    ZReduce or increase the number of grids shown on the canvas
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Snaplines
                                </div>
                                <div class="table-cell grey-text">
                                    When the box is checked, the user gets information about the alignment of each object’s position with a green line cutting through the linked objects. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Workflow Elements -->
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#workflowElements" aria-expanded="false" aria-controls="collapseTwo">
                              Workflow elements
                </button>
                </h2>
            </div>
            <div id="workflowElements" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="content grey-text">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this toolbar to see all the available actions on the created workflow.
                        <div class="table">
                            <div class="table-row blue">
                                <div class="table-cell">
                                    Field
                                </div>
                                <div class="table-cell">
                                    Usage
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Start
                                </div>
                                <div class="table-cell grey-text">
                                    Mandatory element to start a workflow. Also used with Switch System functionality between other elements.
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Application Step
                                </div>
                                <div class="table-cell grey-text">
                                    Creation of records
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Perform Action Step
                                </div>
                                <div class="table-cell grey-text">
                                    Perform actions like Authorise, Reverse, Delete, See, Verify,
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Check Enquiry Step
                                </div>
                                <div class="table-cell grey-text">
                                    Check enquiry step to execute an enquiry in Temenos System
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Enquiry Action Step
                                </div>
                                <div class="table-cell grey-text">
                                    Enquiry Action step where the user can specify the Search criteria and the Post filtering
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Navigation Step
                                </div>
                                <div class="table-cell grey-text">
                                    Navigate through the user menu and tabs in Temenos system and specify the navigation path
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Manual Step
                                </div>
                                <div class="table-cell grey-text">
                                    Create a manual step in the workflow
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell blue-text">
                                    Condition Step
                                </div>
                                <div class="table-cell grey-text">
                                    Create two different paths
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
