<div class="row" style="text-align: center" *ngIf="showSprintsPercentage">
    <div class="col-6">
        <span id="currentSprintPercentage" class="iteration-percentage">{{currentSprintPercentage}}</span>
    </div>
    <div class="col-6">
        <span id="passedSprintPercentage" class="iteration-percentage">{{passedSprintPercentage}}</span>
    </div>
</div>
<div class="row" style="text-align: center" *ngIf="showSprintsPercentage">
    <div class="col-6" [title]="currentSprint">
        <label id="cs-label" class="color-per">{{currentSprint}}</label>
    </div>
    <div class="col-6" [title]="passedSprint">
        <label id="ps-sprint" class="color-per">{{passedSprint}}</label>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <canvas id="canvas" baseChart [datasets]="datasets" [labels]="labels"
            [chartType]="chartType" [options]="options"
            [colors]="colors">
        </canvas>
    </div>
</div>
<div class="row" style="text-align: center;">
    <div class="col-12">
        <span id="trendPercentage" class="percentage" [ngStyle]="{'color': returnColor(trend, trendPercentage)}">{{trendPercentage}}</span> 
    </div>
</div>
<div class="row" style="text-align: center">
    <div class="col-12">
        <label id="trend" class="color-per">{{trend}}</label>
    </div>
</div>