
.iteration-percentage {
    color: #23a2cd;
    font-size: 22px;
}

.percentage {
    color: rgb(16, 74, 93);
    font-size: 25px;
}

.color-per {
    color: grey;
    font-size: 15px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}