<div class="container-fluid">
  <section id="model-changes-sect" class="wrapper" style="margin-top:2%">
    <kendo-tabstrip id="model-changes-pageChanges" (tabSelect)="pageChanges($event)">
      <kendo-tabstrip-tab id="model-changes-actual-changes" [title]="'Actual Changes'" [selected]="true">
        <ng-template kendoTabContent>
          <kendo-grid id="model-changes-kendo-grid"
            [data]="gridData"
            [pageSize]="state.take"
            [skip]="state.skip"
            [sort]="state.sort"
            [filter]="state.filter"
            [sortable]="true"
            [pageable]="true"
            [filterable]="true"
            (dataStateChange)="dataStateChange($event)"
            [selectable]="selectableSettings"
            [kendoGridSelectBy]="mySelectionKey" 
            [selectedKeys]="mySelection"
            (selectedKeysChange)="onSelectedKeysChange($event)">
        <kendo-grid-checkbox-column  [width]="40">
        <ng-template kendoGridHeaderTemplate>
            <input class="k-checkbox checkbox" id="selectAllCheckboxId" kendoGridSelectAllCheckbox
                [state]="selectAllState"
                (selectAllChange)="onSelectAllChange($event)">
            <label id="selectAllCheckboxId-lab" class="k-checkbox-label" for="selectAllCheckboxId"></label>
        </ng-template>
        </kendo-grid-checkbox-column>
            <kendo-grid-column title="Title" [field]="'title'">
            </kendo-grid-column>
            <kendo-grid-column field="Action" [filterable]="false" width="120">
              <ng-template kendoGridCellTemplate let-dataItem>
                <button name="model-changes-select" class="btn btn-success" (click)="open('window',dataItem.id)">
                  Select
                </button>
              </ng-template>
            </kendo-grid-column>
            <ng-template kendoGridToolbarTemplate position="top" >
                    <div class="action-buttons-popup" style="margin-bottom:1%" *ngIf="mySelection.length>0">
                        <input name="model-changes-mark-workflows" type="checkbox" class="mark-workflow" (change)="markMultiWorkflows($event)" > Mark workflows as invalid
                        <button *ngIf="permissionService.hasPermission('/api/Data/AcceptChanges')" name="model-changes-accept"kendoGridAddCommand (click)="acceptMultiChanges()" class="btn btn-success action">Accept Changes</button>
                    </div> 
            </ng-template>
          </kendo-grid>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab id="model-changes-approved-changes" [title]="'Approved Changes'">
        <ng-template kendoTabContent>
          <kendo-grid
            id="model-changes-grid2"
            [data]="gridDataapprove"
            [pageSize]="stateapprove.take"
            [skip]="stateapprove.skip"
            [sort]="stateapprove.sort"
            [filter]="stateapprove.filter"
            [sortable]="true"
            [pageable]="true"
            [filterable]="true"
            (dataStateChange)="dataStateChangeapprove($event)">
            <kendo-grid-column title="Title" [field]="'typicalName'">
            </kendo-grid-column>
            <kendo-grid-column field="Action" [filterable]="false" width="120">
              <ng-template kendoGridCellTemplate let-dataItem>
                <button name="select2" class="btn btn-success" (click)="openAccepted('window',dataItem.id)">
                  Select
                </button>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
    <kendo-window id="window1" [minWidth]="1200" height="600px" title="About" *ngIf="windowOpened" (close)="close('window')">
      <div class="row">
        <div class="col-md-8">
          <div>
            <div class="row">
              <div class="border">
                <div class="col-md-12">
                  <div id="ne-typical-attr" style="margin:1%">
                    <span id="badge1" class="badge badge-success badge-pill">{{newTypicalAttributeChanges.length}}</span>
                    <p 
                      id="collaped-par-1"
                      class="arrtibute-title size"                  
                      (click)="isCollapsedNewAttributes=!isCollapsedNewAttributes"
                      [attr.aria-expanded]="!isCollapsedNewAttributes"
                      aria-controls="collapsibleNew">New Attributes
                      <span 
                        id="model-changes-span"
                        [ngClass]="isCollapsedNewAttributes? 'fa-plus' : 'fa-minus'" 
                        class="fa span"></span>
                    </p>
                  </div>
                  <div  style="overflow-x:auto; max-height: 350px;">
                  <div 
                    style="margin-top:2%"
                    class="list-group"
                    id="collapsibleNew1" 
                    [ngbCollapse]="isCollapsedNewAttributes"
                    *ngFor="let changes of newTypicalAttributeChanges; let i = index">
                    <p name="changes-par" class="list-group-item list-group-item-success">{{i+1}} . {{changes.name}}</p>
                  </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="row">
              <div class="border">
                <div class="col-md-12">
                    <div style="margin:1%">
                      <span id="badge2" class="badge badge-danger badge-pill">{{deletedTypicalAttributeChanges.length}}</span>
                      <p 
                        id="collapsed-par-2"
                        class="arrtibute-title size" 
                        (click)="isCollapsedDeletedAttributes = !isCollapsedDeletedAttributes"
                        [attr.aria-expanded]="!isCollapsedDeletedAttributes"
                        aria-controls="collapsibleDeleted">Deleted Attributes
                        <span 
                          id="model-changes-sp2"
                          [ngClass]="isCollapsedDeletedAttributes? 'fa-plus' : 'fa-minus'" 
                          class="fa span"></span>
                      </p>
                    </div>
                  <div  style="overflow-x:auto; max-height: 350px;">
                  <div 
                    style="margin-top:2%"
                    class="list-group"
                    id="collapsibleDeleted1" 
                    [ngbCollapse]="isCollapsedDeletedAttributes"
                    *ngFor="let changes of deletedTypicalAttributeChanges; let i = index">
                    <p name="model-chan-paragraph" class="list-group-item list-group-item-danger">{{i+1}} . {{changes.name}}</p>
                  </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="row">
              <div class="border">
                <div class="col-md-12">
                  <div style="margin:1%">
                    <span id="model-chang-span3" class="badge badge-info badge-pill">{{changedTypicalAttributeChanges.length}}</span>
                    <p 
                      id="collaped-par-3"
                      class="arrtibute-title size"
                      (click)="isCollapsedChangedAttributes=!isCollapsedChangedAttributes" 
                      [attr.aria-expanded]="!isCollapsedChangedAttributes"
                      aria-controls="collapsibleChanged">Changed Attributes
                      <span
                        id="model-changes-sp3"
                        [ngClass]="isCollapsedChangedAttributes? 'fa-plus' : 'fa-minus'"  
                        class="fa span"></span>
                    </p>
                  </div>
                <div style="overflow-x:auto; max-height: 350px;">
                  <div
                    style="margin-top:2%"
                    class="list-group"
                    id="collapsibleChanged1" 
                    [ngbCollapse]="isCollapsedChangedAttributes" 
                    *ngFor="let changes of changedTypicalAttributeChanges; let i = index">
                    <p name="model-changes-par5" class="list-group-item list-group-item-info">{{i+1}} . {{changes.name}}</p>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row" *ngIf="listOfWorkflowTypicalAttributeChanges.length>0">
              <div class="border full-border">
                <div id="description-div" class="col-md-12">
                  <p *ngFor="let changes of listOfWorkflowTypicalAttributeChanges">
                    Title: {{changes.title}}, Description: {{changes.description}}
                  </p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top:5%;padding-left:5%">
          <div class="action-buttons-popup" style="margin-bottom:3%">
            <div class="checkbox">
              <input id="mark-workf-2" type="checkbox" id="checkbox" class="mark-workflow" (change)="markWorkflow($event)" style="padding-right:1%">
              <label id="mark-workf-2-lab" for="checkbox">Mark workflow as invalid</label>
            </div>
          </div>
          <div class="action-buttons-popup">
            <button id="accept-chan-btn" class="btn btn-success action" (click)="acceptChanges()" *ngIf="permissionService.hasPermission('/api/Data/AcceptChanges')">
                Accept Changes
            </button>
          </div>
        </div>
      </div>
    </kendo-window>
    <kendo-window id="window2" [minWidth]="1200" height="700px" title="About" *ngIf="windowOpenedAccept"
                  (close)="closeAccepted('window')">
      <div class="row">
        <div class="col-md-12">
            <div class="row">
              <div class="border">
                <div class="col-md-12">
                  <div style="margin:1%">
                    <span id="model-changes-s1" class="badge badge-success badge-pill">{{newTypicalAttributeChanges.length}}</span>
                    <p 
                      id="model-changes-p1"
                      class="arrtibute-title size"                  
                      (click)="isCollapsedNewAttributes = !isCollapsedNewAttributes"
                      [attr.aria-expanded]="!isCollapsedNewAttributes"
                      aria-controls="collapsibleNew">New Attributes
                      <span
                        id="span1"
                        [ngClass]="isCollapsedNewAttributes? 'fa-plus' : 'fa-minus'"  
                        class="fa span"></span>
                    </p>
                  </div>
                  <div  style="overflow-x:auto; max-height: 350px;">
                      <div 
                        style="margin-top:2%"
                        class="list-group"
                        id="collapsibleNew2" 
                        [ngbCollapse]="isCollapsedNewAttributes"
                        *ngFor="let changes of newTypicalAttributeChanges; let i = index">
                        <p name="model-changes-par-5" class="list-group-item list-group-item-success">{{i+1}} - > {{changes.name}}</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="border">
                <div class="col-md-12">
                  <div style="margin:1%">
                    <span id="model-changes-s2"class="badge badge-danger badge-pill">{{deletedTypicalAttributeChanges.length}}</span>
                    <p 
                      id="model-changes-p2"
                      class="arrtibute-title size" 
                      (click)="isCollapsedDeletedAttributes = !isCollapsedDeletedAttributes"
                      [attr.aria-expanded]="!isCollapsedDeletedAttributes"
                      aria-controls="collapsibleDeleted">Deleted Attributes
                      <span 
                        id="span2"
                        [ngClass]="isCollapsedDeletedAttributes? 'fa-plus' : 'fa-minus'"  
                        class="fa span"></span>
                    </p>
                </div>
                  <div  style="overflow-x:auto; max-height: 350px;">
                    <div 
                      style="margin-top:2%"
                      class="list-group"
                      id="collapsibleDeleted2" 
                      [ngbCollapse]="isCollapsedDeletedAttributes"
                      *ngFor="let changes of deletedTypicalAttributeChanges; let i = index">
                      <p name="model-changes-par6" class="list-group-item list-group-item-danger">{{i+1}} - > {{changes.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="border">
                <div class="col-md-12">
                  <div style="margin:1%">
                    <span id="model-changes-s3" class="badge badge-info badge-pill">{{changedTypicalAttributeChanges.length}}</span>
                    <p 
                      id="model-changes-p3"
                      class="arrtibute-title size" 
                      (click)="isCollapsedChangedAttributes = !isCollapsedChangedAttributes" 
                      [attr.aria-expanded]="!isCollapsedChangedAttributes"
                      aria-controls="collapsibleChanged">Changed Attributes
                      <span 
                        id="span3"
                        [ngClass]="isCollapsedChangedAttributes? 'fa-plus' : 'fa-minus'"  
                        class="fa span"></span>
                    </p>
                  </div>
                  <div  style="overflow-x:auto; max-height: 350px;">
                      <div 
                        style="margin-top:2%"
                        class="list-group"
                        id="collapsibleChanged2" 
                        [ngbCollapse]="isCollapsedChangedAttributes" 
                        *ngFor="let changes of changedTypicalAttributeChanges; let i = index">
                        <p name="model-changes-par6" class="list-group-item list-group-item-info">{{i+1}} - > {{changes.name}}</p>
                      </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row" *ngIf="listOfWorkflowTypicalAttributeChanges.length>0">
                <div class="border full-border">
                  <div id="model-changes-div-des"class="col-md-12">
                    <p *ngFor="let changes of listOfWorkflowTypicalAttributeChanges">
                      Title: {{changes.title}}, Description: {{changes.description}}
                    </p>
                    <br>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </kendo-window>
        <div class="example-wrapper">
                <kendo-dialog id="model-changes-dia" title="Please confirm" *ngIf="isPopUpOpen" (close)="closeWindow()" [minWidth]="450" [width]="550" [height]="250" [@.disabled]="true">
                    <p id="approve-parag">Are you sure you want to approve these typical changes?</p>
                    <kendo-dialog-actions id="model-changes-act">
                        <button *ngIf="permissionService.hasPermission('/api/Data/AcceptChanges')" id="model-changes-yes" kendoButton class="submit-button" (click)="approveConfirm()" [disabled]="loading">Yes<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
                        <button id="model-changes-no" kendoButton class="cancel-button" (click)="closeWindow()">No</button>
                    </kendo-dialog-actions>
                </kendo-dialog>
        
            </div>
  </section>
</div>