kendo-tabstrip p {
  margin: 0;
  padding: 8px;
}

kendo-window {
  box-shadow: 0 4px 28px 20px rgba(0,0,0,0.2);
}

.typicals {
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.typicals td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #555555;
}

.cancel-button {
  background-color: #dc3545 !important;
}

.submit-button {
  background-color: #5cb85c !important;
  color: white !important;
}

.typicals tr:nth-child(even) {
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

.typicals tr:hover {
  background-color: #ddd;
  font-family: 'Montserrat', sans-serif;
}

.typicals th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.select-item {
  background-color: #4CAF50;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.action {
  display: block;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
}

.action-buttons-popup {
  display: flex;
}

/* .mark-workflow {
  position: relative;
  top: 6px;
} */

.border {
  width: 100%;
  margin:2% 
}
.arrtibute-title{
  color:rgb(33, 87, 100) ;
  margin:2%;
  font-weight: bold;
  display: inline
}
.full-border{
  width: 100% !important;
}

.span{
  float:right;
  margin:0.5%;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  position: relative;
  display: inline-block;
  
  padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  
  display: inline-block;
}

.checkbox label::before{
  height: 16px;
  width: 16px;
  border: 1px solid;
  border-radius: 3px;
  left: 0px;

  top: 3px;
}

.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  
  transform: rotate(-45deg);
  
  left: 4px;
  top: 7px;
}


.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}


