app-tree-view {
    position: relative;
    width: 100%;
    top: 15px;
    left: 1px;
    right: 1px;
}

.first {
    float: right !important;
    margin: 0 !important;
    background-color: #92c94d !important;
}

.second {
    float: left !important;
    border: 0 !important;
    background-color: #dee2e6 !important;
}

::-webkit-scrollbar-thumb {
    background: #92c94d;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #92c94d;
}

::-webkit-scrollbar {
    width: 10px;
}

::ng-deep .k-splitter-flex.k-splitter-horizontal {
    height: 87vh
}

@media only screen and (max-width: 1600px) {
    .k-splitter-flex {
        display: flex;
        width: 100%;
        height: calc(100vh - 18.5vh);
    }
    .k-treeview .k-in {
        font-size: 14px !important;
    }
}