<div style="position:relative">
<!-- <kendo-menu (select)="menuClick($event)">
    <kendo-menu-item text="Generate test cases" [disabled]="menuDisabled" [data]="'generateTC'"></kendo-menu-item>
</kendo-menu> -->
<kendo-splitter>
    <kendo-splitter-pane [collapsible]="false" size="15%" style="flex-basis: 13.4666%; order: 0; overflow-x: hidden;  box-shadow: 10px 0 5px -2px #b9bbbd; background-color: whitesmoke">
        <div class="comp-title" style="text-align: center">
        </div>
        <div class="pane-content">
            <app-tree-view (treeViewItemSelected)="treeViewItemSelected($event)" [isIssued]="true"></app-tree-view>
        </div>
    </kendo-splitter-pane>
    <kendo-splitter-pane [collapsible]="false" size="25%" style="height:auto; box-shadow: 10px 0 5px -2px gainsboro">
        <div class="pane-content">
            <app-workflow-paths></app-workflow-paths>
        </div>
    </kendo-splitter-pane>
    <kendo-splitter-pane>
        <div class="pane-content">
            <app-path-items #pathItems></app-path-items>
        </div>
    </kendo-splitter-pane>
</kendo-splitter>
<div kendoWindowContainer></div>
<!-- Warning issue workflow dialog -->
<div>
    <kendo-dialog id="workflowWarningDialog" title="Warning" *ngIf="workflowWarningDialogOpen" (close)="closeWorkflowWarningDialog()" [minWidth]="250" [width]="520">
        <div class="row">
            <div class="col-md-12">
                <label>
                    {{workflowWarningMessage}}
                </label>
            </div>
        </div>
        <kendo-dialog-actions>
            <button id="proceedTestCaseGeneration" kendoButton class="yes-button first" primary="true" (click)="proceedTestCaseGeneration()">
                Proceed
            </button>
            <button id="cancelTestCaseGeneration" kendoButton class="no-button second" (click)="closeWorkflowWarningDialog()">
                Cancel
            </button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>
</div>
