<app-sidebar></app-sidebar>
<div id="req-type-container" class="container-fluid">
    <div id="req-type-full-content" class="full-Content">
        <app-priority></app-priority>
        <h5 id="req-type-main-title" class="main-title">Configure Information types</h5>

        <kendo-grid id="req-type-grid" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [pageable]="true" (dataStateChange)="dataStateChange($event)">
            <ng-template kendoGridToolbarTemplate *ngIf="addRequirementTypePermission()">
                <button id="req-type-openTypes" name="req-type-openTypes" (click)="openTypesWindow()" class="k-button k-grid-add-command ng-star-inserted custom-add-button">
                <i  aria-hidden="true" class="fa fa-plus"></i>
      </button>
            </ng-template>
            <kendo-grid-column title="Title" [field]="'title'"> </kendo-grid-column>
            <kendo-grid-column title="Description" [field]="'code'"> </kendo-grid-column>
            <kendo-grid-column field="Actions" [filterable]="false" width="350" *ngIf="deleteRequirementTypePermission() || editRequirementTypePermission()">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button id="req-type-openTypes-edit" name="req-type-openTypes-edit" *ngIf="editRequirementTypePermission()" class="edit-system-btn k-button k-grid-add-command ng-star-inserted" (click)="openTypesWindow(dataItem)">
          Edit
        </button>
                    <button id="req-type-openTypes-delete" name="req-type-openTypes-delete" *ngIf="deleteRequirementTypePermission()" class="btn btn-danger delete-system-btn" (click)="openDeleteTypeWindow(dataItem)">
          Delete
        </button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
        <app-add-edit-requirement-types [isTypeEdited]="isTypeEdited" [selectedTypes]="selectedTypes" [typesWindowOpen]="typesWindowOpen" (closeTypesWindow)="close()" (typeListUpdated)="updateTypeList($event)"></app-add-edit-requirement-types>
        <app-delete-requirement-type [deleteTypeWindowOpen]="deleteTypeWindowOpen" [selectedTypes]="selectedTypes" (closeDeleteTypesWindow)="close()" (removeTypeFromList)="removeTypeFromList($event)"></app-delete-requirement-type>
    </div>
</div>
