.roles-people {
    background-color: white;
    padding: 4rem 2rem;
    border-radius: 3rem;
}

i {
    font-size: 30px;
}

.card-body {
    display: flex;
    justify-content: center;
}

.card-title {
    color: #124b5e;
}


/* end new css based on mockups */


/* AM Code */

.main-title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #6c757d;
}

.custom-button {
    color: white;
    background-color: #92c94d;
}

.custom-add-button {
    vertical-align: middle;
    background: #92c94d;
    color: white;
    border-radius: 86px;
    height: 57px;
    width: 57px;
    font-size: 28px;
}


/* AM Code */