<div id="add-edit-role" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Add / Edit Roles View </h2>
        <a class="close" href="/#/settings/roles">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                        Add / Edit Roles View
                </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to create and edit a new role

                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Title
                                    </div>
                                    <div class="table-cell grey-text">
                                        The name of the role
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Description
                                    </div>
                                    <div class="table-cell grey-text">
                                        The description of the role.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “Submit” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Save the changes on the role.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “Cancel” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Cancel the changes made.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
