<kendo-dialog [minWidth]="isRoleEdited ? '500' : '600'" [height]="isRoleEdited ? '500px' : '620px'" [title]="isRoleEdited ? 'Edit Role' : 'Add Role'" *ngIf="roleWindowOpen" (close)="close()">
    <div id="add-role-dialog" class="dialog">
        <div class="row">
            <div class="col-12">
                <span id="add-role-title">Title*</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="add-role-title" type="text" (input)="changeTitle($event)" [value]="selectedRole.title" />
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-12">
                <span id="add-role-description">Description</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="add-role-description" type="text" (input)="changeDescription($event)" [value]="selectedRole.description" />
            </div>
        </div><br /><br />
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <a class="button custom-help" id="add-role-href-add-role" href="#add-edit-role"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                    <button class="btn add" id="add-role-add" name="add-role-add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">Submit</button>
                    <button class="btn exit" id="add-role-cancel" name="add-role-cancel" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>
<app-add-edit-role-popup></app-add-edit-role-popup>
