<ul id="h-list-1"><br />
    <li id="h-list-2">{{"Requirements: " + hierarchyStatistics.nrProcesses}}</li>
    <li id="h-list-3">{{"Workflows: " + hierarchyStatistics.nrWorkflows}}</li>
    <li id="h-list-4">{{"Total Issues: " + hierarchyStatistics.nrTotalIssues}}</li>
    <li id="h-list-5">{{"Open Issues: " + hierarchyStatistics.nrOpenIssues}}</li>
</ul>
