<kendo-dialog id="del-resources-attach" width="600"
              title="Delete Attachment"
              *ngIf="_deleteProcessResourceWindowOpen"
              (close)="close()">
  <div class="row">
    <div id="del-resources-description-div" class="col-12">
      <span id="del-resources-span" class="description">
        {{message}}
      </span>
    </div>
  </div>
  <kendo-dialog-actions>
    <div class="row">
      <div class="col-12 action-buttons">
        <button id="del-resources-yes" class="btn add"
                (click)="deleteProcessResource()">Yes</button>
        <button id="del-resources-no" class="btn exit"
                (click)="close()">No</button>
      </div>
    </div>
  </kendo-dialog-actions>
</kendo-dialog>
