<div id="properties" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Release Insights </h2>
        <a id="closeAnchor"class="close" href="/#/predictive-analytics-project/dashboard-main">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="collapsed" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#req" aria-expanded="false" aria-controls="collapseThree">
                            Release Insights View
                        </button>
                    </h2>
                </div>
                <div id="req" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i id="lightbulb" class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to view the Requirements allocation and Sprint’s progress
                            <div class="table">
                                <div class="table-row blue">
                                    <div id="fieldDashboard"class="table-cell">
                                        Field
                                    </div>
                                    <div id="usageDashboard"class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="requirementsAllocationDiagram" class="table-cell blue-text">
                                        Requirements Allocation diagram
                                    </div>
                                    <div id="requirementsAllocationDescription" class="table-cell grey-text">
                                        Requirements Allocation per business area display, along with its associations. (Workflows, Test Cases, Open Issues).
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="releaseDiagram" class="table-cell blue-text">
                                        Release diagram
                                    </div>
                                    <div id="releaseDiagramDescription" class="table-cell grey-text">
                                        Current’s or past’s sprint progress along with issues impact on Requirements, Workflows and Test Cases.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu Screen -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="menuScreenButton" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#menuScreen" aria-expanded="false" aria-controls="collapseThree">
                            Menu Screen
                            </button>
                    </h2>
                </div>
                <div id="menuScreen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i id="lightbulb2" class="fa fa-lightbulb-o" aria-hidden="true"></i>This screens shows all the menu options
                            <div class="table">
                                <div class="table-row blue">
                                    <div id="field2"class="table-cell">
                                        Field
                                    </div>
                                    <div id="usage2" class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="requirementsInsightsDiv"class="table-cell blue-text">
                                        Requirements Insights
                                    </div>
                                    <div id="requirementsInsightsDescription" class="table-cell grey-text">
                                        Screen with holistic view of the project.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="bussinessRequirementsDiv" class="table-cell blue-text">
                                        Business Requirements
                                    </div>
                                    <div id="bussinessRequirementsDescription" class="table-cell grey-text">
                                        Requirements categorization display.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="sprintPlanner" class="table-cell blue-text">
                                        Sprint Planner
                                    </div>
                                    <div id="sprintPlannerDescription" class="table-cell grey-text">
                                        List of existing issues both in backlog and sprints.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="issueTrackingDiv" class="table-cell blue-text">
                                        Issue Tracking
                                    </div>
                                    <div id="issueTrackingDescription" class="table-cell grey-text">
                                        Display of all issues with multiple filtering options.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>