<div class="row">
  <div id="jira-auth" class="col-md-4 offset-4">
    <div id="jira-auth-con" *ngIf="isAuthenticating" class="text-center py-3">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
      <br>
      <i>Trying to set a connection with Jira</i>
    </div>

    <div id="jira-auth-authenticate" *ngIf="!isAuthenticating">
      <div class="text-center">
        <i>Authenticate with Jira credencials</i>
      </div>
      <br>
      <div id="jira-auth-link" class="form-group">
        <label for="mail">Jira Link: </label>
        <input id="jira-auth-jiraUrl" type="text" (keyup.enter)="authenticate()" [(ngModel)]="user.jiraUrl" placeholder="https://your_organization.atlassian.net" autocomplete="off" class="form-control">
      </div>
      <div class="form-group">
        <label for="mail">Jira Email: </label>
        <input id="jira-auth-jiraUsern" type="text" (keyup.enter)="authenticate()" [(ngModel)]="user.jiraUsername" placeholder="name.surname@your-organization.com" autocomplete="off" class="form-control">
      </div>

      <div class="form-group">
        <label for="mail">Jira Token: </label>
        <input id="jira-auth-jiraToken" type="text" (keyup.enter)="authenticate()" [(ngModel)]="user.jiraToken" placeholder="xxxxxxxxxxxxxxxxxxxxxxxx" autocomplete="off" class="form-control">
      </div>

      <button id="jira-auth-log-in" [disabled]="!isValid" (click)="authenticate()" class="btn btn-primary btn-block">
        LOG IN <i class="pl-2 fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>