<kendo-dialog id="delete-issue-dialog" width="600" height="200" title="Delete Issue Type" *ngIf="deleteIssueTypeWindowOpen" (close)="close()">
    <div class="row">
        <div class="col-12">
            <span id="delete-issue-span" class="description">
                Are you sure you want to delete '{{selectedIssueType.title}}' Issue Type ?
            </span>
        </div>
    </div>
    <kendo-dialog-actions id="delete-issue-actions-gr">
        <div class="row">
            <div class="col-12 action-buttons">
                <button id="delete-issue-yes" class="btn add" (click)="deleteIssueType()">Yes</button>
                <button id="delete-issue-no" class="btn exit" (click)="close()">No</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>