<kendo-dialog 
id="add-edit-issue-create"
[width]="'600'"
              [title]="'Create Issue'"
              *ngIf="_issueWindowOpen"
              class="issue-dialog"
              (close)="close()">

  <div id="add-edit-issue-content1" class="content">
    <div class="field-group">
      <label id="add-edit-issue-type" for="type">Issue Type<span class="aui-icon icon-required">*</span></label>
      <kendo-combobox id="add-edit-issue-combo" class="issue-types"
                      [data]="issueTypes"
                      placeholder="Select Issue Type"
                      [textField]="'title'"
                      [valueField]="'id'"
                      [filterable]="true"
                      [value]="selectedIssueType"
                      (filterChange)="handleChangeIssueType($event)"
                      (valueChange)="changeIssueType($event)">
      </kendo-combobox>
    </div>
    <div class="field-group">
      <label id="add-edit-issue-title" for="title">Title<span class="aui-icon icon-required">*</span></label>
      <input class="text long-field"
             id="title"
             name="title"
             type="text"
             (input)="changeTitle($event)"
             [value]="selectedIssue.title">
    </div>
    <div class="field-group">
      <label for="description">Description</label>
      <textarea  id="add-edit-issue-description" (input)="changeDescription($event)"
                [value]="selectedIssue.description"></textarea>
    </div>

    <div class="field-group"
         *ngIf="shouldDisplay('Priority')">
      <label for="priority">Priority</label>
      <kendo-combobox 
          id="add-edit-issue-priorities" 
          class="issue-types"
          [data]="priorities"
          placeholder="Select Priority"
          [textField]="'title'"
          [valueField]="'type'"
          [filterable]="true"
          [value]="selectedPriority"
          (valueChange)="changePriority($event)">
      </kendo-combobox>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Severity')">
      <label for="priority">Severity</label>
      <kendo-combobox 
      id="add-edit-issue-severity" class="issue-types"
                      [data]="severity"
                      placeholder="Select Severity"
                      [textField]="'title'"
                      [valueField]="'type'"
                      [filterable]="true"
                      [value]="selectedSeverity"
                      (valueChange)="changeSeverity($event)">
      </kendo-combobox>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Application') && shouldDisplay('Attribute')">
      <label for="typical">Application</label>
      <kendo-combobox 
      id="add-edit-issue-application" class="issue-types"
                      placeholder="Select Application"
                      [data]="typicals"
                      [filterable]="true"
                      [textField]="'title'"
                      [valueField]="'id'"
                      [value]="selectedTypical"
                      [filterable]="true"
                      (filterChange)="handleChange($event)"
                      (valueChange)="changeTypical($event)">
      </kendo-combobox>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Application') && shouldDisplay('Attribute')">
      <label for="typical">Attribute</label>
      <kendo-combobox 
      id="add-edit-issue-attribute" class="issue-types"
                      placeholder="Select Attribute"
                      [data]="attributes"
                      [filterable]="true"
                      [textField]="'Name'"
                      [valueField]="'Name'"
                      [value]="selectedAttribute"
                      [filterable]="true"
                      (filterChange)="handleChangeAttributes($event)"
                      (valueChange)="changeAttribute($event)">
      </kendo-combobox>
    </div>
    <div class="field-group">
      <label for="assignee">Assignee<span class="aui-icon icon-required">*</span></label>
      <kendo-combobox id="add-edit-issue-assignee" 
                      class="issue-types"
                      [data]="people"
                      placeholder="Select Assignee"
                      [textField]="'name'"
                      [valueField]="'id'"
                      [filterable]="true"
                      [value]="selectedAssigne"
                      (valueChange)="changeAssigne($event)">
      </kendo-combobox>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Approved By')">
      <label for="approver">Approver</label>
      <kendo-combobox 
                      id="add-edit-issue-approver" 
                      class="issue-types"
                      [data]="people"
                      placeholder="Select Approver"
                      [textField]="'name'"
                      [valueField]="'id'"
                      [filterable]="true"
                      [value]="selectedApprover"
                      (valueChange)="changeApprover($event)">
      </kendo-combobox>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Estimate')">
      <label for="estimate">Estimate</label><br />
      <div style="display: inline-flex; width: 100%">
        <input id="add-edit-issue-change-estimate"  type="number"
               (input)="changeEstimate($event)"
               [value]="selectedIssue.estimate" />
        <label id="add-edit-issue-unit" style="margin-top: 0.5rem; margin-left: 0.5rem; white-space: nowrap"
               *ngIf="selectedIssueType.unit && selectedIssueType.unit !== ''">{{selectedIssueType.unit}}</label>
      </div>
    </div>
    <div class="field-group">
      <label for="sprint">Sprint</label>
      <kendo-combobox id="add-edit-issue-sprint" 
                      class="issue-types"
                      [data]="sprints"
                      placeholder="Select Sprint"
                      [textField]="'title'"
                      [valueField]="'id'"
                      [filterable]="true"
                      [value]="selectedSprint"
                      (valueChange)="changeSprint($event)">
      </kendo-combobox>
    </div>
    <div class="field-group">
      <label for="requirement">Requirement</label>
      <div>
        <input id="add-edit-issue-openReq"
               type="text"
               [readOnly]="true"
               style="background: #f4f5f7"
               placeholder="Click here to select the requirement"
               [value]="selectedRequirement ? selectedRequirement.title : ''"
               (click)="openRequirement()" />
      </div>
    </div>
    <div class="field-group"
         *ngIf="workflows && workflows.length > 0 && shouldDisplay('Workflow')">
      <label for="affected-workflows">Affected Workflows</label><br />
      <div name="repetable-workflow" *ngFor="let workflow of workflows">
        <span name="add-edit-issue-workflows-title" tyle="display: inline-flex"><input style="width: 15px;"
                 type="checkbox"
                 [checked]="isChecked(workflow)"
                 (change)="affectedWfChecked(workflow, $event)" /><label
                 style="margin-top: 0.45rem">{{workflow.title}}</label></span><br />
      </div>
    </div>
    <div class="field-group">
      <label for="component">Component</label>
      <kendo-combobox id="add-edit-issue-component" class="issue-types"
                      [data]="components"
                      placeholder="Select Component"
                      [textField]="'title'"
                      [valueField]="'id'"
                      [filterable]="true"
                      [disabled]="true"
                      [value]="selectedComponent"
                      (valueChange)="changeComponent($event)">
      </kendo-combobox>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Approved For Investigation')">
      <span style="display: inline-flex">
        <input id="add-edit-issue-approvedForInvestigation" style="width: 15px;"
               type="checkbox"
               [checked]="selectedIssue.approvedForInvestigation"
               (change)="changeApprovedForInvestigation($event)" /><label
               style="margin-top: 0.45rem">Approved for Investigation</label></span>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Investigation Status')">
      <label for="investigationStatus">Investigation Status</label>
      <kendo-combobox id="add-edit-issue-investigation-status" class="issue-types"
                      [data]="investigationStatus"
                      placeholder="Select Investigation Status"
                      [textField]="'title'"
                      [valueField]="'type'"
                      [filterable]="true"
                      [value]="selectedInvestigationStatus"
                      (valueChange)="changeInvestigationStatus($event)">
      </kendo-combobox>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Defect Type')">
      <label for="type">Type</label>
      <kendo-combobox id="add-edit-issue-type" class="issue-types"
                      [data]="types"
                      placeholder="Select Type"
                      [textField]="'title'"
                      [valueField]="'type'"
                      [filterable]="true"
                      [value]="selectedType"
                      (valueChange)="changeType($event)">
      </kendo-combobox>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Reason')">
      <label for="reason">Reason</label>
      <textarea id="add-edit-issue-reason" (input)="changeReason($event)"
                [value]="selectedIssue.reason"></textarea>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Implication')">
      <label for="implication">Implication</label>
      <textarea id="add-edit-issue-implication" (input)="changeImplication($event)"
                [value]="selectedIssue.implication"></textarea>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('TestCaseId')">
      <label for="testCaseId">TestCaseId</label>
        <input id="add-edit-issue-testCaseId" type="text"
               (input)="changeTestCaseId($event)"
               [value]="selectedIssue.testCaseId" />
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Comment')">
      <label for="comment">Comment</label>
      <textarea id="add-edit-issue-comment" (input)="changeComment($event)"
                [value]="selectedIssue.comment"></textarea>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Change Status')">
      <label for="changeStatus">Change Status</label>
      <kendo-combobox id="add-edit-issue-change-status" class="issue-types"
                      [data]="changeStatus"
                      placeholder="Select Change Status"
                      [textField]="'title'"
                      [valueField]="'type'"
                      [filterable]="true"
                      [value]="selectedChangeStatus"
                      (valueChange)="changeChangeStatus($event)">
      </kendo-combobox>
    </div>
    <div class="field-group">
      <label for="submittedDate">Submitted Date</label>
      <kendo-datepicker id="add-edit-issue-submittedDate" class="dates"
                        [disabled]="true"
                        style="width: 100%"
                        [(value)]="submittedDate"></kendo-datepicker>
    </div>
    <div class="field-group"
         *ngIf="shouldDisplay('Approval Date')">
      <label for="approvalDate">Approval Date</label>
      <kendo-datepicker id="add-edit-issue-approvalDate" class="dates"
                        style="width: 100%"
                        [(value)]="approvalDate"></kendo-datepicker>
    </div>
    <div class="field-group">
      <label for="startDate">Start Date</label>
      <kendo-datepicker id="add-edit-issue-startDate" class="dates"
                        style="width: 100%"
                        [(value)]="startDate"></kendo-datepicker>
    </div>
    <div class="field-group">
      <label for="dueDate">Due Date</label>
      <kendo-datepicker id="add-edit-issue-dueDate" class="dates"
                        style="width: 100%"
                        [(value)]="dueDate"></kendo-datepicker>
    </div>
    <div class="field-group">
      <label for="attachments">Attachments</label>
      <input [className]="(resources.length > 0) ? 'upload-elements btn hideLabel' : 'upload-elements btn'"
             id="file"
             type="file"
             (change)="onFileSelected($event)"
             multiple="multiple" />
      <div class="card"
           *ngFor="let file of resources">
        <div class="card-header">
          <span>{{file.fileName}}</span>
          <button name="add-edit-issue-delete-clicked" type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                  (click)="onDeleteClicked(file.id)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <kendo-dialog-actions id="add-edit-issue-actions" >
    <div id="add-edit-issue-btns" class="buttons-container form-footer">
      <div class="buttons">
        <input *ngIf="permissionService.hasPermission('/api/Process/Browse/AddIssue')" class="aui-button aui-button-primary btn btn-primary"
               id="create-issue-submit"
               type="submit"
               value="Create"
               [disabled]="disableSubmitBtn()"
               (click)="submitClicked()">
        <button id="add-edit-issue-canc" class="aui-button aui-button-primary btn cancel"
                (click)="close()">Cancel</button>
      </div>
    </div>
    <a id="add-edit-issue-addIssue" class="button custom-help"
       href="#add-issue"><i class="fa fa-question-circle"
         aria-hidden="true"></i></a>
  </kendo-dialog-actions>
</kendo-dialog>

<app-requirement-dialog [openRequirementDialog]="openRequirementDialog"
                        (closeRequirement)="closeRequirementDialog()"
                        (submitRequirement)="selectRequirementSubmited($event)">
</app-requirement-dialog>

<!-- POPUP CONTENT -->
<div id="add-issue"
     class="overlay">
  <div class="popup">
    <h2 id="blue-text">Create Issue View </h2>
    <a id="add-edit-issue-backlog" class="close"
       href="/#/backlog">&times;</a>
    <div class="accordion"
         id="accordionExample">
      <!-- subproject -->
    </div>
    <div class="content grey-text">
      <i id="add-edit-issue-text" class="fa fa-lightbulb-o"
         aria-hidden="true"></i>Use this screen to create new issue by filling the appropriate
      fields.
      <div class="table">
        <div class="table-row blue">
          <div id="add-edit-issue-field" class="table-cell">
            Field
          </div>
          <div id="add-edit-issue-field" class="table-cell">
            Usage
          </div>
        </div>
        <div class="table-row">
          <div id="add-edit-issue-field" class="table-cell blue-text">
            Issue Type field
          </div>
          <div id="add-edit-issue-field" class="table-cell grey-text">
            Define the type of the issue from the dropdown list
          </div>
        </div>
        <div class="table-row">
          <div id="add-edit-issue-field" class="table-cell blue-text">
            Title field
          </div>
          <div id="add-edit-issue-field" class="table-cell grey-text">
            Define the title of the issue
          </div>
        </div>
        <div class="table-row">
          <div id="add-edit-issue-field" class="table-cell blue-text">
            Description field
          </div>
          <div id="add-edit-issue-field" class="table-cell grey-text">
            Define the description of the issue
          </div>
        </div>
        <div class="table-row">
          <div id="add-edit-issue-field" class="table-cell blue-text">
            Assignee field
          </div>
          <div id="add-edit-issue-field" class="table-cell grey-text">
            Define the assignee from the dropdown list
          </div>
        </div>
        <div class="table-row">
          <div id="add-edit-issue-field" class="table-cell blue-text">
            Sprint field
          </div>
          <div id="add-edit-issue-field" class="table-cell grey-text">
            Define the sprint from the dropdown list
          </div>
        </div>
        <div class="table-row">
          <div id="add-edit-issue-field" class="table-cell blue-text">
            Requirement
          </div>
          <div id="add-edit-issue-field" class="table-cell grey-text">
            Select a requirement from the pop up window
          </div>
        </div>
        <div class="table-row">
          <div id="add-edit-issue-field" class="table-cell blue-text">
            Component
          </div>
          <div id="add-edit-issue-field" class="table-cell grey-text">
            Define the component from the dropdown list
          </div>
        </div>
        <div class="table-row">
          <div id="add-edit-issue-field" class="table-cell blue-text">
            Attachments
          </div>
          <div id="add-edit-issue-field" class="table-cell grey-text">
            Select a file by navigating in your files from the pop up window
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
