<app-ai-analitics-menu></app-ai-analitics-menu>
<div id="dashboard-main" class="container-fluid dashboard-main">
    <!-- --------------------------------------------- -->
    <!-- color-per and color-label -->
    <!-- --------------------------------------------- -->
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div>
                <label id="colourperLabel" class="color-per" for="colorPer">
                    Colour per.
                </label>
                <select class="custom-select my-1 mr-sm-2" type="number" [(ngModel)]="selectedColorPer" (ngModelChange)="onChangeColorPer($event)" id="colorPer">
                    <option *ngFor="let property of colorPer" [ngValue]="property">
                        {{property.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <label id="colourperLabel2" class="color-per" *ngIf="selectedColorPer['name'] != 'Component' && selectedColorPer['name'] != 'Root cause' " for="colorLegend" id="colorLabel">
                Color Label
            </label>
            <div class="row">
                <div *ngFor="let data of colorLegend;  let i=index" class="color-list">
                    <div id="'colorLegendDiv' + i" class="box_legend" [ngStyle]="{'background': data.color}"></div>
                    <label  id="'colorLegendLabel' + i"class="form-check-label color-per">{{data.name}}</label>
                </div>
            </div>
        </div>
        <!-- --------------------------------------------- -->
        <!-- color-per and color-label -->
        <!-- --------------------------------------------- -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div id="timestamp-filters" class="row timestamp-filters">
                <label id="defectsOfLastLabel" class="color-per" for="defectsRangeFilter">
                    Defects of last:
                </label>
                <select id="defectsRangeFilter" class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="selectedDefectsRange" >
                    <option class="color-per" *ngFor="let defectRange of defectsRangeFilter" [ngValue]="defectRange">
                        {{defectRange}}
                    </option>
                </select>
            </div>
            <div id="positioningBaseOnDiv" class="classifiers-filter">
                <label id="positioningBaseOn" class="color-per" for="defectsPositioningPer">
                    Positioning base on
                </label>
                <div class="row classifiers-filter-inner">
                    <div *ngFor="let property of defectsPositioningPer;  let i=index" class="form-check col-6">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="selectedDefectsPositioningPer[property.num]['checked']" (click)="setradio(property.num)" id={{property.name}}>
                        <label class="form-check-label" for={{property.name}}>
                            {{selectedDefectsPositioningPer[property.num]['name']}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="classifiers-filter" id="severity_choices">
                <label id="severityLabel" class="color-per" for="severityFilter">
                    Severity
                </label>
                <div class="row classifiers-filter-inner">
                    <div *ngFor="let severity of severityFilter;  let i=index" class="form-check col-6">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="selectedSeverityFilter[severity['num']]['checked']" id={{severity.name}}>
                        <label class="form-check-label">{{severity['name']}}</label>
                    </div>
                </div>
            </div>
            <div class="classifiers-filter" id="priority_choices">
                <label id="priorityFilterLabel" class="color-per" for="priorityFilter">
                    Priority
                </label>
                <div class="row classifiers-filter-inner">
                    <div *ngFor="let priority of priorityFilter;  let i=index" class="form-check col-6">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="selectedPriorityFilter[priority.num]['checked']" id={{priority.name}}>
                        <label class="form-check-label">{{priority.name}}</label>
                    </div>
                </div>
            </div>
            <div class="classifiers-filter" id="status_choices">
                <label id="statusFilterLabel" class="color-per" for="statusFilter">
                    Status
                </label>
                <div class="row classifiers-filter-inner">
                    <div *ngFor="let status of statusFilter;  let i=index" class="form-check col-6">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="selectedStatusFilter[status.num]['checked']" id={{status.name}}>
                        <label class="form-check-label">{{status.name}}</label>
                    </div>
                </div>
            </div>
            <button id="applyFiltersBtn" *ngIf="this.permissionService.hasPermission('/generateForceDirectedGraph/hashId/') ? true : false" class="defects-reports-apply-filers-btn btn-block btn apply-filters" (click)="applyFilters()">
                Apply
                Filters
            </button>
        </div>
        <div id="defectsClusteringDiv" class="col-lg-9 col-3 col-md-12 col-sm-12 col-xs-12 force-directed-graph">
            <h5 class="defects-title">Defects clustering</h5>
            <span id="processing_span">is loading...</span>
            <div id="d3_selectable_force_directed_graph" style="width: 100%; height: 650px;">
                <svg></svg>
                <h5 id="initialMessage" class="center-message" style="text-align: center" *ngIf="showInitialMessage">
                  Please select the filters and parameters based on which the defects' clusters will be generated!
                </h5>
                <p id="noData" *ngIf="noDataInGraph">No data for this period.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 business-areas-teemap shadow-sm p-3 mb-2 rounded">
            <p class="defect-title color-per">Risky business areas based on defects</p>
            <div *ngIf="!noDataInTreemap">
                <div class="row" id="filters_on_defects">
                    <div class="col-md-6">
                        <span class="color-per">Risk:</span>
                        <div id="radio_filters">
                            <input id="highRadio" class="color-per" type="radio" value="high" name="risk_value" [(ngModel)]="treemap_filtering" (ngModelChange)="onRadioBtnApply()"> High
                            <input id="mediumRadio" class="color-per" type="radio" value="medium" name="risk_value" [(ngModel)]="treemap_filtering" (ngModelChange)="onRadioBtnApply()"> Medium
                            <input id="lowRadio" class="color-per" type="radio" value="low" name="risk_value" [(ngModel)]="treemap_filtering" (ngModelChange)="onRadioBtnApply()"> Low
                            <input id="displayAll" class="color-per" type="radio" value="all" name="risk_value" [(ngModel)]="treemap_filtering" (ngModelChange)="onRadioBtnApply()" [checked]="'checked'"> Display All
                        </div>
                    </div>
                    <div id="numberBusAreasDiv" class="col-md-6">
                        <span class="color-per">Number of Bus. Areas (%):</span>
                        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChange)="onRangeSliderApply()"></ng5-slider>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 business-areas-teemap shadow-sm p-3 mb-2 rounded">
                        <div id="d3_treemap">
                            <svg id="svg_d3_treemap" style="width: 100%;height:300">
                            </svg>
                        </div>
                        <div id="legend_of_treemap" *ngFor="let treemap_legend of treemap_colorLegend">
                            <div id="legend" class="box_legend" [ngStyle]="{'background': treemap_legend.color}"></div>
                            <label id="legendLabel" class="form-check-label">{{treemap_legend.name}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <p id="noData2" *ngIf="noDataInTreemap">No data for this period.</p>
        </div>
    </div>
    <app-alert></app-alert>
</div>
