<div class="pane-content">
  <button id="link-wf-issue-btn" class="back-btn" title="Go Back" kendoButton *ngIf="openIssueModal || openDefectIssue" (click)="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
  <kendo-splitter id="link-wf-issue-splitter" orientation="vertical" style="height:auto">
    <kendo-splitter-pane id="link-wf-issue-pane1"size="400px" *ngIf="openDefectIssue">
      <kendo-splitter id="link-wf-issue-splitter2" >
        <kendo-splitter-pane id="link-wf-issue-pane2" size="20%">
          <kendo-grid id="link-wf-issue-grid-workfl" [kendoGridBinding]="processWorkflows"
                      [selectable]="{checkboxOnly:false,mode:'single'}"
                      [kendoGridSelectBy]="'workflowId'"
                      (selectionChange)="handleWorkflowSelection($event)"
                      [filterable]="true">
            <kendo-grid-column title="Workflow name"[field]="'title'"> </kendo-grid-column>
          </kendo-grid>
        </kendo-splitter-pane>
        <kendo-splitter-pane id="link-wf-issue-pane3" size="80%">
         <kendo-grid id="link-wf-issue-grid-issueByType" [kendoGridBinding]="issuesByType"  
                      [selectable]="{checkboxOnly:false,mode:'single'}"
                      [kendoGridSelectBy]="'id'"
                      (selectionChange)="handleIssueSelection($event)"
                      [filterable]="true">
            <kendo-grid-column title="Issue name" [field]="'title'"> </kendo-grid-column>
            <kendo-grid-column title="Route cause" [field]="'type'"> </kendo-grid-column>
            <kendo-grid-column title="Priority" [field]="'priority'"> </kendo-grid-column> 
            <kendo-grid-column title="Severity" [field]="'severity'"> </kendo-grid-column> 
            <kendo-grid-column title="Due Date" [field]="'dueDate'"> </kendo-grid-column> 
          </kendo-grid>
        </kendo-splitter-pane>
      </kendo-splitter>
    </kendo-splitter-pane>description
    <kendo-splitter-pane id="link-wf-issue-pane4" size="400px" *ngIf="!openIssueModal && !openDefectIssue">
        <kendo-grid id="link-wf-issue-grid-types" [kendoGridBinding]="issueTypes"
        [selectable]="{checkboxOnly:false,mode:'single'}"
        [kendoGridSelectBy]="'id'"
        (selectionChange)="handleIssueTypeSelection($event)"
        [filterable]="true">
        <kendo-grid-column title="Select the type of Issue to Link with:">
          <ng-template kendoGridCellTemplate let-dataItem>
              {{dataItem.title}} <span class="badge badge-info badge-pill issue-number">{{dataItem.issueNumber}}</span>
          </ng-template>
        </kendo-grid-column>
        </kendo-grid>
    </kendo-splitter-pane>
    <kendo-splitter-pane id="link-wf-issue-pane5" size="400px" *ngIf="openIssueModal">
        <kendo-grid id="link-wf-issue-grid-iss-type" [kendoGridBinding]="issuesByType"
        [selectable]="{checkboxOnly:false,mode:'single'}"
        [kendoGridSelectBy]="'id'"
        (selectionChange)="handleIssueSelection($event)"
        [filterable]="true">
          <kendo-grid-column title="Issue:" [field]="'title'"></kendo-grid-column>
          <kendo-grid-column title="Description:" [field]="'description'"> </kendo-grid-column>
          <kendo-grid-column title="Priority" [field]="'priority'"> </kendo-grid-column>
        </kendo-grid>
    </kendo-splitter-pane>
    <kendo-splitter-pane id="link-wf-issue-pane6" *ngIf="openDefectIssue || openIssueModal">
      <div>
        <div id="link-wf-issue-selected-workf" *ngIf="openDefectIssue">
          Selected Workflow:<br />
          <span *ngIf="selectedWorkflow && selectedWorkflow.title">{{selectedWorkflow.title}}</span>
          <span *ngIf="selectedWorkflow && !selectedWorkflow.title">No selected Workflow!</span>
        </div>
        <div id="link-wf-issue-selected-span" *ngIf="openDefectIssue || openIssueModal">
          Selected Issue:<br />
          <span *ngIf="selectedIssue && selectedIssue.title">{{selectedIssue.title}}</span>
          <span *ngIf="selectedIssue && !selectedIssue.title">No selected Issue!</span>
        </div>
        <div *ngIf="!openIssueModal">
            <button id="link-wf-issue-link-workf-issue" *ngIf="!unLinkIssue" kendoButton [disabled]="!selectedIssue || !selectedWorkflow || !selectedWorkflow.workflowId || !selectedIssue.id"
            (click)="linkWorkflowIssue()"
            >Link Workflow Issue</button>
            <button id="link-wf-issue-unlink-workf-issue" *ngIf="unLinkIssue" kendoButton [disabled]="!selectedIssue || !selectedWorkflow || !selectedWorkflow.workflowId || !selectedIssue.id"
                    (click)="unLinkWorkflowIssue()"
            >Unlink Workflow Issue</button>
        </div>

        <div *ngIf="openIssueModal">
            <button id="link-wf-issue-link-issue-req" *ngIf="!unLinkIssue" kendoButton [disabled]="!selectedIssue || !selectedIssue.id"
            (click)="linkIssueRequirement()"
            >Link Issue</button>
            <button id="link-wf-issue-unlink-issue-req" *ngIf="unLinkIssue" kendoButton [disabled]="!selectedIssue || !selectedIssue.id"
                    (click)="unLinkIssueRequirement()"
            >Unlink Issue</button>
            
        </div>
      </div>
    </kendo-splitter-pane>
  </kendo-splitter>
</div>
