<kendo-dialog 
    id="update-res-dialog" 
    width="600"
    [title]="'Edit Attachment'"
    *ngIf="_openResourceWindow"
    (close)="close()">
  <div class="dialog">
    <div class="row">
      <div class="col-12">
        <input 
              id="update-res-file-selected" 
              type="file"
               id="resource"
               (change)="fileSelected($event)"
               placeholder="test" />
        <div class="card">
          <div class="card-header">
            <span id="update-res-fileName" >{{file ? file.name : selectedResource.fileName}}</span>
          </div>
        </div>
      </div>
    </div><br />
    <kendo-dialog-actions d="update-res-actions">
      <div class="row">
        <div class="col-12 action-buttons">
          <button id="update-res-submit" class="btn add"
                  (click)="submitClicked()">Submit</button>
          <button id="update-res-cancel" class="btn exit"
                  (click)="close()">Cancel</button>
        </div>
      </div>
    </kendo-dialog-actions>
  </div>
</kendo-dialog>
