.dialog {
    font-size: 18px;
    text-align: center;
}

.row {
    margin-left: 12%;
}

#title,
textarea {
    width: 19rem;
}

#title {
    height: 2rem;
}

textarea {
    height: 6rem;
}

.hierarchies, .people {
    width: 19rem;
}

.action-buttons {
    top: 1rem;
}

.add {
    margin: 1px 10px;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.k-window-content {
    overflow: hidden !important;
}

.upload {
    width: 19.2rem !important;
    background: white !important;
    text-align: -webkit-auto !important;
}

.upload .k-upload-selected {
    display: none !important;
}

.upload .k-clear-selected {
    display: none !important;
}

.process-dialog {
    overflow: auto;
}

.k-upload-selected {
    display: none !important;
}

.card {
    margin-bottom: 0.4rem;
    margin-top: 1rem;
    width: 85%;
}

#resource {
    float: left;
    margin-bottom: 1rem;
    color: transparent;
}
