<div id="issue" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Issue Tracking </h2>
        <a id="blue-text-issueTracking" class="close" href="/#/issueTracking">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="issue-tracking-view" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#req" aria-expanded="false" aria-controls="collapseThree">
                            Issue Tracking View
                        </button>
                    </h2>
                </div>
                <div id="req" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to track the issues existing in Validata Sense.ai, filter them with multiple options and export them to Excel.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Priority
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter issues based on Priority level
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Issue Type
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter issues based on Issue Type
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Status
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter issues based on Status
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Assignee
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter issues based on Assignee
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Component
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter Issues based on Components
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Sprint
                                    </div>
                                    <div class="table-cell grey-text">
                                        Filter issues based on Sprint
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Contains
                                    </div>
                                    <div class="table-cell grey-text">
                                        Search for specific issues
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Export to Excel button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Use this button in order to export the displayed issues in excel.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu Screen -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="issue-tracking-menu-screen" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#menuScreen" aria-expanded="false" aria-controls="collapseThree">
                            Menu Screen
                            </button>
                    </h2>
                </div>
                <div id="menuScreen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>This screens shows all the menu options
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Requirements Insights
                                    </div>
                                    <div class="table-cell grey-text">
                                        Screen with holistic view of the project.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Business Requirements
                                    </div>
                                    <div class="table-cell grey-text">
                                        Requirements categorization display.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Sprint Planner
                                    </div>
                                    <div class="table-cell grey-text">
                                        List of existing issues both in backlog and sprints.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Issue Tracking
                                    </div>
                                    <div class="table-cell grey-text">
                                        Display of all issues with multiple filtering options.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>