<div class="row" style="padding-bottom: 30px;">
  <!-- <div class="col-md-12 py-2 pb-4">
    <button class="col-md-2 btn btn-sm btn-outline-secondary" (click)="goBack()">
      <i class="fa fa-arrow-left pr-2"></i> Back
    </button>
    <button type="button" class="btn btn-success btn-sm col-md-2 offset-8" (click)="saveIssueMapping()">
      Continue <i class="pl-2 fa fa-arrow-right"></i>
    </button>
  </div> -->
  <div class="col-md-6 p-2">

    <!-- General Options -->
    <div class="row p-0 m-0">
      <div class="col-md-12">
        <b>Which issue types on JIRA do you want to synchronize?</b>
      </div>
      <div id="senseai-issue-type-div" class="col-md-5">
        <div class="form-group">
          <label>SenseAI Issue Type</label>
          <!-- <select [disabled]="isInEditmode" (ngModelChange)="onSenseAiIssueTypeChange($event)" -->
          <select id="senseai-issue-type-map-select" [disabled]="isInEditmode" (ngModelChange)="onSenseAiIssueTypeChange($event)"
            [(ngModel)]="modelToSave.SenseaiIssueTypeField" class="form-control">
            <option *ngFor="let sit of senseAiIssueTypes" [ngValue]="sit"> {{ sit.title }} </option>
          </select>
          <small ></small>
          <i *ngIf="senseAi_loading || senseAiAttributes_loading" class="fa fa-spin fa-spinner mr-2"></i>
          <small id="senseai-issue-type-small" *ngIf="senseRequired && senseRequired.length"> <b>Required fields: </b> <span
              *ngFor="let sr of senseRequired" [ngClass]="{'text-danger': !sr.filled}"> {{ sr.fieldName }}, </span>
          </small>
        </div>
      </div>
      <div id="jira-issue-type-map-div" class="col-md-5">
        <div class="form-group">
          <label>JIRA Issue Type</label>
          <!-- <select [disabled]="isInEditmode" (ngModelChange)="onJiraIssueTypeChange($event)" -->
          <select id="jira-issue-type-map-select" [disabled]="isInEditmode" (ngModelChange)="onJiraIssueTypeChange($event)"
            [(ngModel)]="modelToSave.JiraIssueTypeField" class="form-control">
            <option *ngFor="let jit of jiraIssueTypes" [ngValue]="jit"> {{ jit.issueTypeName }} </option>
          </select>
          <i *ngIf="jira_loading || jiraAttributes_loading" class="fa fa-spin fa-spinner mr-2"></i>
          <small id="jira-issue-type-map-small" *ngIf="jiraRequired && jiraRequired.length > 0"><b>Required fields: </b> <span
              *ngFor="let sr of jiraRequired" [ngClass]="{'text-danger': !sr.filled}"> {{ sr.fieldName }}, </span>
          </small>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <label id="jira-issue-type-save" *ngIf="!isInEditmode"> Save</label>
        <label id="jira-issue-type-update" *ngIf="isInEditmode"> Update </label>


        <button id="jira-issue-type-mapping" *ngIf="(!isInEditmode) && isValidModel"
                [disabled]="isSavingOrEditing"
                (click)="saveMapping()"
                class="btn btn-block btn-success">
          <i *ngIf="!isSavingOrEditing" class="fa fa-save"></i>
          <i *ngIf="isSavingOrEditing" class="fa fa-spin fa-spinner"></i>
        </button>

        <button id="jira-issue-type-validat" type="button"
                *ngIf="(!isInEditmode) && (!isValidModel)" 
                class="btn btn-block btn-danger" 
                (click)="gatherValidationMessages()" 
                data-toggle="modal" 
                data-target="#validationMessagesModal">
          <i class="fa fa-save"></i>
        </button>

        

        <div id="jira-issue-type-editM" *ngIf="isInEditmode" class="btn-group btn-block">
          <button id="jira-issue-type-btn" [disabled]="(jira_loading || senseAi_loading || jiraAttributes_loading) || isSavingOrEditing" 
                  (click)="saveMapping()" 
                  class="btn btn-block btn-warning">
            <i *ngIf="!isSavingOrEditing" class="fa fa-pencil"></i>
            <i *ngIf="isSavingOrEditing" class="fa fa-spin fa-spinner"></i>
          </button>
        </div>

        <button id="jira-issue-type-canceEdit" *ngIf="isInEditmode" 
                (click)="discardChangesOnEdit()" 
                class="btn btn-sm btn-link"> 
          Cancel Edit 
        </button>

      </div>
      <br>
      <div id="jira-issue-type-allow-div" *ngIf="modelToSave && modelToSave.SenseaiIssueTypeField && modelToSave.JiraIssueTypeField" class="col-md-12 text-center pb-3">
        <div class="form-check">
          <label class="form-check-label">
            <input id="jira-issue-type-allow-checkb" type="checkbox" [(ngModel)]="modelToSave.allowAttachments" class="form-check-input">
            Allow Attachments
          </label>
        </div>
      </div>
    </div>

    <!-- Mapping details to be added -->
    <div class="row p-0 m-0">
      <div class="col-md-12 py-3 border">
        <div class="row pb-3" *ngIf="modelToSave.AttributeMapping && modelToSave.AttributeMapping.length > 0">
          <div id="senseai-fields" class="col-md-5"> SenseAI Fields </div>
          <div id="jira-fields" class="col-md-5"> JIRA Fields </div>
        </div>

        <div name="jira-issue-type-AttributeMapping" *ngFor="let field of modelToSave.AttributeMapping; let i = index" [ngClass]="{'bg-light': i % 2 == 0}"
          class="row py-1 map-list-item">
          <div class="col-md-5">
            <select name="senseaiValue-field" [(ngModel)]="field.SenseaiValue" class="form-control">
              <!-- <select [disabled]="isInEditmode" [(ngModel)]="field.SenseaiValue" class="form-control"> -->
              <option *ngFor="let jit of senseAiIssueTypesFields" [ngValue]="jit"> {{ jit.fieldName }} </option>
            </select>

            <div name="jira-issue-type-AttributeValuesMapping" *ngIf="field?.SenseaiValue?.values" class="pl-4 py-1">
              <div class="py-1" *ngFor="let vi of field.AttributeValuesMapping">
                <select name="senseaiValue.vi" [(ngModel)]="vi.senseaiValue" class="form-control input-sm">
                  <!-- <select [disabled]="isInEditmode" [(ngModel)]="vi.senseaiValue" class="form-control input-sm"> -->
                  <option *ngFor="let v of field.SenseaiValue.values" value="{{v.id}}"> {{ v.text }} </option>
                </select>
              </div>
              <!-- <button *ngIf="!isInEditmode" (click)="addValueMapItem(field)" -->
              <button name="jira-issue-type-addValueMap" (click)="addValueMapItem(field)" class="btn btn-sm btn-dark btn-block mt-1">Add value map</button>
            </div>


          </div>
          <div class="col-md-5">
            <select name="jira-issue-type-fl" [(ngModel)]="field.JiraValue" class="form-control">
              <!-- <select [disabled]="isInEditmode" [(ngModel)]="field.JiraValue" class="form-control"> -->
              <option *ngFor="let jit of jiraIssueTypesFields" [ngValue]="jit"> {{ jit.fieldName }} </option>
            </select>

            <div name="jira-issue-type-map" *ngIf="field?.JiraValue?.values" class="pl-4 py-1">
              <div class="py-1" *ngFor="let vi of field.AttributeValuesMapping">
                <select name="jira-issue-type-select"  [(ngModel)]="vi.jiraValue" class="form-control input-sm">
                  <!-- <select [disabled]="isInEditmode" [(ngModel)]="vi.jiraValue" class="form-control input-sm"> -->
                  <!-- <option *ngFor="let v of field.JiraValue.values" value="{{v.text}}"> {{ v.text }} </option> -->
                  <option *ngFor="let v of field.JiraValue.values" value="{{StringifyObj(v)}}"> {{ v.text }} </option>
                </select>
              </div>
              <!-- <button *ngIf="!isInEditmode" (click)="addValueMapItem(field)" -->
              <button name="jira-issue-type-addValueMap" (click)="addValueMapItem(field)" class="btn btn-sm btn-dark btn-block mt-1">Add value map</button>
            </div>
          </div>

          <div class="col-md-2">
            <button id="jira-issue-type-remove" class="btn btn-block btn-outline-secondary" (click)="removeIssueTypeField(i)">
              <!-- <button *ngIf="!isInEditmode" class="btn btn-block btn-outline-secondary" (click)="removeIssueTypeField(i)"> -->
              <i class="fa fa-trash"></i>
            </button>

            <div name="jira-issue-type-delete" *ngFor="let v of field.AttributeValuesMapping; let i = index;" class="my-2">
              <button class="btn btn-outline-secondary" (click)="deleteAttributeValue(field, i)">
                <!-- <button *ngIf="!isInEditmode" class="btn btn-outline-secondary" (click)="deleteAttributeValue(field, i)"> -->
                <i class="fa fa-trash"></i>
              </button>
              <br>
            </div>
          </div>
        </div>


        <div class="row pt-2">
          <div  class="col-md-4 offset-4">
            <button id="jira-issue-type-senseai" [disabled]="(!(modelToSave && modelToSave.SenseaiIssueTypeField && modelToSave.JiraIssueTypeField)) || jiraAttributes_loading || senseAiAttributes_loading" 
                    class="btn btn-block btn-sm btn-dark" 
                    (click)="addIssueTypeField()">
              <!-- <button *ngIf="!isInEditmode" class="btn btn-block btn-sm btn-dark" (click)="addIssueTypeField()"> -->
              Add fields
              <i class="pl-2 fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Mapping table -->
  <div class="col-md-6">
    <br>
    <div class="col-md-12 pb-3">
      <b>Mapped issues</b>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Sense AI</th>
          <th>Jira</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="mappingList && mappingList.length > 0">
        <tr *ngFor="let i of mappingList">
          <td>
            <span>{{i.senseaiIssueTypeFieldName}}</span>
          </td>
          <td>
            <span>{{i.jiraIssueTypeFieldName}}</span>
          </td>
          <td class="text-center">
            <button id="jira-issue-type-view-edit" class="btn btn-sm btn-outline-secondary mx-1" (click)="getIssueTypeMapDetails(i.id)">
              <i class="fa fa-pencil pr-2"></i> View/Edit
            </button>
            <button id="jira-issue-type-delete-map" class="btn btn-sm btn-outline-danger mx-1" data-toggle="modal" data-target="#confirmDeleteModal"
              (click)="prepareDeleteMapping(i)">
              <i class="fa fa-trash pr-2"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>

    <!-- <pre id="mts">{{ model | json}}</pre> -->
    <!-- <pre id="mts">{{ modelToSave | json}}</pre> -->
    <br>
  </div>


</div>



<!-- CONFIRM MODAL TO DELETE AN EXISTING MAPPING ROW -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog">
  <div *ngIf="mappingToBeDeleted" class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Are you sure you want to delete this mapping?</h6>
        <button id="jira-issue-type-times" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm table-bordered table-striped">
          <tr>
            <td> {{mappingToBeDeleted.senseaiIssueTypeFieldName}} </td>
            <td> {{mappingToBeDeleted.jiraIssueTypeFieldName}} </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button id="jira-issue-type-yes" type="button" class="btn btn-danger px-4" (click)="deleteMapping()" data-dismiss="modal">Yes</button>
        <button id="jira-issue-type-canc" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="validationMessagesModal" tabindex="-2" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Mapping is not valid</h6>
        <button id="jira-issue-type-not-valid" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul id="jira-issue-type-ul" >
          <li id="jira-issue-type-mess" class="text-danger" *ngFor="let m of validationMessages"> {{m}} </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="wizard-footer fixed-bottom bg-light py-2 px-5">
  <button id="jira-issue-type-back" class="col-md-2 btn btn-sm btn-outline-secondary" (click)="goBack()">
    <i class="fa fa-arrow-left pr-2"></i> Back
  </button>
  <button id="jira-issue-type-next" type="button" class="btn btn-success btn-sm col-md-2 offset-8" (click)="saveIssueMapping()">
    Next <i class="pl-2 fa fa-arrow-right"></i>
  </button>
</footer>