<div class="main">
    <div class="container">
        <div class="row" style="display: none">
            <div class="col-md-12">
                <h6 class="application">Adapter Name</h6>
                <input id="adapterNameInput" kendoTextBox class="input-name" [readOnly]="true" [readonly]="readonly" [value]="selectedSystem.adapterName">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h6 class="name">System</h6>
                <kendo-dropdownlist id="systemInput" class="input-name" [data]="systems" [textField]="'title'" [valueField]="'id'" [valuePrimitive]="true" [value]="selectedSystem.id" [readonly]="readonly" (valueChange)="valueChange($event)">
                </kendo-dropdownlist>
            </div>
            <div style="margin-top: 10px; position: relative;"></div>
        </div>
    </div>
</div>
