<div id="clone-issue-div" class="content" style="margin-left: 1rem">
    <h4 class="title-header">{{"Clone Issue: " + currentIssue.title}}</h4><br />
    <span id="clone-issue-reporter" >
        <i class="fa fa-lg fa-exclamation-circle"></i>
        <span style="font-size: 14px;">You will be the reporter of the cloned issue.</span>
    </span>
    <div class="field-group" style="margin-top: 1.8rem;">
        <label for="title">Title<span class="aui-icon icon-required">*</span></label><br />
        <input class="text long-field" id="title" name="title" type="text" (input)="changeTitle($event)" [value]="clonedIssue.title">
    </div>
    <div class="field-group">
        <div style="height: 1.5rem;" *ngIf="linkedIssues && linkedIssues.length > 0">
            <span style="display: inline-flex">
                <input id="clone-issue-linkedIssues" style="width: 15px; margin-right: 0.3rem;" type="checkbox" [checked]="areLinkedIssuesCloned" (change)="cloneLinkedIssues($event)" />
                <label style="margin-top: 0.45rem">Clone Linked Issues</label>
            </span>
        </div>
        <div style="height: 1.5rem;" *ngIf="clonedIssue && clonedIssue.sprintId">
            <span style="display: inline-flex">
                <input id="clone-issue-sprint-cloned"  style="width: 15px; margin-right: 0.3rem;" type="checkbox" [checked]="isSprintValueCloned" (change)="cloneSprintValue($event)" />
                <label style="margin-top: 0.45rem">Clone Sprint Value</label>
            </span>
        </div>
    </div><br />
    <div class="buttons-container form-footer">
        <div class="buttons">
            <input *ngIf="permissionService.hasPermission('/api/Process/Browse/AddIssue') && permissionService.hasPermission('/api/People/GetPeopleByUserFromAdmin')" class="aui-button aui-button-primary btn btn-primary" id="create-issue-submit" type="submit" value="Create" (click)="cloneIssue()">
            <button class="aui-button aui-button-primary btn cancel" (click)="cancelClicked()">Cancel</button>
        </div>
    </div>
</div>