.content {
    float: right;
    width: 88%;
    margin-left: 1rem;
}

input {
    height: 32px;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    background-color: #fff;
    padding: 4px 7px 5px;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-sizing: border-box;
    margin: 0;
    vertical-align: baseline;
    width: 50%;
}

.field-group, fieldset.group {
    padding: 4px 0;
}

.field-group label, .field-group legend, .field-group legend>span, fieldset.group label, fieldset.group legend,  fieldset.group legend>span {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    color: #5e6c84;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    float: none;
    margin: 0 16px 0 0;
    display: block;
    text-align: left;
    width: auto;
}

legend, .field-group>label, .field-group>aui-label {
    float: left;
    padding: 5px 0 0 0;
    position: relative;
    width: 130px;
    word-wrap: break-word;
}

legend, label {
    color: #707070;
}

.field-group .icon-required, form.aui fieldset.group .icon-required {
    position: static;
}
.icon-required {
    left: 100%;
    position: absolute;
    top: 5px;
}
.icon-required, .icon-f-required {
    width: 10px;
}

.aui-icon {
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: -999em;
    vertical-align: text-bottom;
    width: 16px;
    color: #d04437;
}

.title-header {
    color: #0052cc;
    margin-bottom: 1.7rem;
    margin-top: 1.5rem;
}


.fa-exclamation-circle {
    float: left;
    color: #ff9a21;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}

.buttons-container, #edit-issue-dialog .buttons-container {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

 .buttons-container.form-footer .aui-button, .adg3 .jira-dialog .jira-dialog-content .form-footer .aui-button {
    color: #42526e;
    background: #f4f5f7;
    border: none;
    margin-right: 4px;
    height: 32px;
    min-width: 24px;
    border-radius: 3px;
    text-shadow: none;
    line-height: 32px;
    padding: 0 10px;
    color: #fff;
    background: #0052cc;
}

.buttons-container .cancel {
    background-color: #dc3545 !important;
}
.buttons-container>.buttons>* {
    font-size: 14px;
}
.cancel {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
    vertical-align: baseline;
}

#create-issue-dialog .buttons-container .buttons, #edit-issue-dialog .buttons-container .buttons {
    display: inline-block;
    float: none;
}

.buttons-container>.buttons {
    font-size: 0;
}
#create-issue-submit {
    width: auto;
    background-color: #9bc34d !important;
}

#create-issue-submit:hover {
    background-color: #9bc34d !important;
}

.buttons-container .buttons {
    float: left;
    white-space: nowrap;
}

.buttons-container .cancel:focus, .buttons-container .cancel:hover {
    background-color: #dc3545 !important;
}