.dialog {
    text-align: center;
    font-size: 15px;
    max-height: 60rem !important;
}

.remap-text {
    font-size: 16px;
}

.action-buttons {
    top: 1rem;
}

.manual-step-checkbox {
    float: left;
}

.add {
    margin: 1px 10px;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.k-checkbox:checked+.k-checkbox-label::before {
    border-color: grey;
    background-color: grey;
}

.k-widget ::selection, .k-block ::selection, .k-panel ::selection {
    background-color: grey;
    color: #fff;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.remap-combo {
    width: 13rem;
    font-size: 14px;
}

hr {
    margin-top: 0 !important;
}

.recording-png {
    width: 39%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recording-text {
    display: block;
    text-align: center;
}

.k-i-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 64px;
    background-color: rgba(255, 255, 255, .3);
    color: #5b91a9 !important;
    background: none;
}

::ng-deep .k-notification-group {
    z-index: 2147483647 !important;
}