<kendo-dialog minWidth="500" title="Remap Test Cases" *ngIf="mapTestCasesWindowOpen" (close)="close()">
    <div class="dialog">
        <div class="row">
            <div class="col-12">
                <span class="remap-text">Remap Project</span>
            </div>
        </div><br />
        <div class="row">
            <div class="col-6">
                <span>{{selectedProject ? selectedProject.title : ''}}</span>
            </div>
            <div class="col-6">
                <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Plan/GetATSProjects')" class="remap-combo" required [data]="atsProjects" [filterable]="true" [textField]="'nameField'" [valueField]="'noderefField'" [value]="selectedATSProject" (valueChange)="changeSelectedProject($event)">
                </kendo-combobox>
            </div>
        </div><br />
        <hr/>
        <div class="row">
            <div class="col-12">
                <span class="remap-text">Remap SubProject</span>
            </div>
        </div><br />
        <div class="row">
            <div class="col-6">
                <span>{{selectedSubProject ? selectedSubProject.title : ''}}</span>
            </div>
            <div class="col-6">
                <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Plan/GetATSSubProjects')" class="remap-combo" required [data]="atsSubProjects" [filterable]="true" [textField]="'nameField'" [valueField]="'noderefField'" [value]="selectedATSSubProject" (valueChange)="changeSelectedSubProject($event)">
                </kendo-combobox>
            </div>
        </div><br />
        <hr *ngIf="(testSuiteSystems && testSuiteSystems.length > 0) || (testSuiteCatalogs && testSuiteCatalogs.length > 0)" />
        <div class="row" *ngIf="testSuiteSystems && testSuiteSystems.length > 0">
            <div class="col-12">
                <span class="remap-text">Remap Systems</span>
            </div>
        </div><br *ngIf="testSuiteSystems && testSuiteSystems.length > 0" />
        <div *ngFor="let testSuiteSystem of testSuiteSystems">
            <div class="row">
                <div class="col-6">
                    <span>{{testSuiteSystem.title}}</span>
                </div>
                <div class="col-6">
                    <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Plan/GetATSSystems')" class="remap-combo" required [data]="atsSystems" [filterable]="true" [textField]="'nameField'" [valueField]="'noderefField'" [value]="testSuiteSystem.atsSystem" (valueChange)="changeSelectedAtsSystem($event, testSuiteSystem)">
                    </kendo-combobox>
                </div>
            </div><br />
        </div>
        <hr *ngIf="testSuiteCatalogs && testSuiteCatalogs.length > 0" />
        <div class="row" *ngIf="testSuiteCatalogs && testSuiteCatalogs.length > 0">
            <div class="col-12">
                <span class="remap-text">Remap Catalogs</span>
            </div>
        </div><br *ngIf="testSuiteCatalogs && testSuiteCatalogs.length > 0" />
        <div *ngFor="let testSuiteCatalog of testSuiteCatalogs">
            <div class="row">
                <div class="col-6">
                    <span>{{testSuiteCatalog.title}}</span>
                </div>
                <div class="col-6">
                    <kendo-combobox [disabled]="!permissionService.hasPermission('/api/Plan/GetATSCatalogs')" class="remap-combo" required [data]="atsCatalogs" [filterable]="true" [textField]="'nameField'" [valueField]="'noderefField'" [value]="testSuiteCatalog.atsCatalog" (valueChange)="changeSelectedAtsCatalog($event, testSuiteCatalog)">
                    </kendo-combobox>
                </div>
            </div><br />
        </div>
        <div class="row manual-step-checkbox">
            <div class="col-md-12">
                <input type="checkbox" id="manualStepSkip" class="k-checkbox" [(ngModel)]="maintainManualSteps" />
                <label class="k-checkbox-label" for="manualStepSkip">
                    Maintain Manual Steps during Export
                </label>
            </div>
        </div><br />
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <button class="btn add" [disabled]="disableSubmitBtn()" (click)="submit()">Submit</button>
                    <button class="btn exit" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>
<div *ngIf="loading" class="k-i-loading"></div>

