td {
    border-bottom: 1px solid #dee2e6;
    cursor: pointer !important;
    box-sizing: border-box;
    max-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

tr {
    cursor: pointer;
}

.fa-edit {
    color: #f0ad4e;
    margin-right: 0.45rem;
    font-size: 1.2em;
}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 4px 0px;
    padding-top: 4.5px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    border: 1px solid gray;
    float: right;
    font-size: 15px;
}

.hierarchy-actions {
    left: auto !important;
    top: auto !important;
    position: absolute;
    margin-top: 2.1rem;
    right: 0;
    width: 12rem !important;
}

.edit, .move {
    margin-bottom: 0.2rem;
}

.action:hover {
    background-color: rgba(0,0,0,.075);
}

.action {
    padding: 4px !important;
}

.actions {
    float: right;
    display: inline-flex;
    margin-top: 0.4rem;
}

.fa-trash {
    color: #d9534f;
    font-size: 1.23em;
    margin-right: 0.7rem;
}

.fa-file-o {
    color: #337ab7;
    margin-right: 0.7rem;
    font-size: 1.07em;
}

