<table id="h-items" class="table table-hover">
    <tr id="h-items-active" [ngClass]="{'table-active' : selectedHierarchy && selectedHierarchy.id === hierarchy.id}" *ngFor="let hierarchy of hierarchies">
        <td id="h-items-buttonClick" (click)="onHierarchyClick(hierarchy)" (dblclick)="onHierarchyDblClick(hierarchy)">
            <span>{{hierarchy.title}}</span>
            <button id="h-items-actions" name="h-items-actions" type="button" *ngIf="!hideIcons && showHierarchyActions()" #moreBtn class="btn btn-default btn-circle btn-lg" (click)="showActions(hierarchy)"><i
          class="fa fa-ellipsis-h"></i></button>
            <kendo-popup id="h-items-popup" *ngIf="hierarchy.showActions" [anchor]="moreBtn" (anchorViewportLeave)="showActions(hierarchy)" class="hierarchy-actions">
                <div id="h-items-content" class='content' style="font-size: 15px; margin-bottom: 0.3rem">
                    <div id="h-items-Move" (click)="moveCopyHierarchy(hierarchy)" class="action move" *ngIf="moveCopyHierarchyPermissions()">
                        <i class="fa fa-lg fa-file-o"></i>Move/Copy
                    </div>
                    <div id="h-items-edit" (click)="editHierarchy(hierarchy)" class="action edit" *ngIf="permissionService.hasPermission('/api/Process/Browse/UpdateHierarchy')">
                        <i class="fa fa-lg fa-edit"></i>Edit
                    </div>
                    <div id="h-items-delete-h" (click)="deleteHierarchy(hierarchy)" class="action" *ngIf="permissionService.hasPermission('/api/Process/Browse/DeleteHierarchy')">
                        <i class="fa fa-lg fa-trash"></i>Delete
                    </div>
                </div>
            </kendo-popup>
        </td>
    </tr>
</table>

<app-add-edit-hierarchy [hierarchyTypeTitle]="hierarchyTypeTitle" [openAddHierarchy]="openAddHierarchy" [hierarchyToAdd]="hierarchyToAdd" [selectedHierarchy]="hierarchyToAdd" [isHierarchyEdited]="true" (closeAddHierarchyWindow)="closeHierarchyDialog()"
    (hierarchyListUpdated)="updateHierarchyList($event)">
</app-add-edit-hierarchy>

<app-delete-hierarchy [hierarchyTypeTitle]="hierarchyTypeTitle" [deleteHierarchyWindowOpen]="deleteHierarchyWindowOpen" [_selectedHierarchy]="hierarchyToDelete" (closeDeleteHierarchyWindow)="closeDeleteHierarchyWindow()" [allHierarchies]="allHierarchies"
    (removeHierarchyFromList)="removeHierarchyFromList($event)">

</app-delete-hierarchy>

<app-move-copy-hierarchy [openMoveCopyHierarchy]="openMoveCopyHierarchy" [hierarchyToMoveCopy]="hierarchyToMoveCopy" (closeMoveCopyHierarchy)="closeMoveCopyHierarchy()">
</app-move-copy-hierarchy>
