<div class="row">
    <div class="col-md-12">
        <kendo-textbox-container class="input-role">
            <h6 class="role">Role</h6>
            <input id="changeRoleInput" kendoTextBox type="text" name="role" [readonly]="readonly" [value]="workflowItemData.Role" (input)="roleChanged($event.currentTarget.value, true)">
        </kendo-textbox-container>
    </div>
</div>
