<kendo-grid
id="link-process-grid" 
  [kendoGridBinding]="folderWorkflows"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  [sort]="sort"
  [sortable]="true"
  [navigable]="true"
  (dataStateChange)="dataStateChange($event)"
  kendoGridFocusable
>
  <kendo-grid-column field="title" title="Workflow Name" width="300">
  </kendo-grid-column>
  <kendo-grid-column title="Action">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button name="link-process- link" kendoButton *ngIf="dataItem.linkStatus==0" (click)="linkWf(dataItem.id)">Link Workflow</button>
      <button name="link-process-unlink" kendoButton *ngIf="dataItem.linkStatus==1" (click)="unLinkWf(dataItem.linkProcessWorkflowId)">Unlink
        Workflow
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
