<div class="row pb-3">
  <br>
  <div class="container" *ngIf="summary">
    <div class="row border rounded bg-light p-3">

      <div class="col-md-6">
        <table id="ji-summary-table" class="table table-sm">
          <tbody>
            <tr>
              <td> SenseAi Project </td>
              <th> {{ summary.senseaiProjectName }} </th>
            </tr>

            <tr>
              <td> Jira Project </td>
              <th> {{ summary.jiraProjectName }} </th>
            </tr>

            <tr>
              <td> No. of users mapped </td>
              <th> {{ summary.userMappedCount }} </th>
            </tr>

            <tr>
              <td>Jira Link </td>
              <th> {{summary.jiraLink}} </th>
            </tr>

            <tr>
              <td> Map Hierachies </td>
              <th>
                <ng-container *ngIf="summary.hierarchySummmaries.length==0">
                  <input type="checkbox">
                </ng-container>
                <ng-container class="row" *ngIf="summary.hierarchySummmaries.length>0">
                  <input type="checkbox" checked="checked">
                  <table id="ji-map-hierarchies" class="table table-sm table-striped">
                    <tbody>
                      <tr *ngFor="let h of summary.hierarchySummmaries">
                        <td> {{h.hierarchyTypeName}} </td>
                        <td> {{h.hierarchyName}} </td>
                      </tr>
                    </tbody>
                  </table>
                </ng-container>
              </th>

            </tr>
            <tr>
              <td> WebHooks </td>
              <th>
                <ng-container *ngFor="let w of summary.webhook.events; let i=index">
                  <span
                    *ngIf="summary.webhook.events.includes(jiraIssue[i]) && summary.webhook.events.includes(issueLink[i])">
                    <span *ngIf="i==0">
                      <input type="checkbox" checked="checked"> Issue
                      <input type="checkbox" checked="checked"> Issue Link
                    </span>
                  </span>
                </ng-container>

                <ng-container *ngFor="let w of summary.webhook.events; let i=index">
                  <span
                    *ngIf="summary.webhook.events.includes(jiraIssue[i]) && !summary.webhook.events.includes(issueLink[i])">
                    <span *ngIf="i==0">
                      <input type="checkbox" checked="checked"> Issue
                      <input type="checkbox"> Issue Link
                    </span>
                  </span>
                </ng-container>

                <ng-container *ngFor="let w of summary.webhook.events; let i=index">
                  <span
                    *ngIf="!summary.webhook.events.includes(jiraIssue[i]) && summary.webhook.events.includes(issueLink[i])">
                    <span *ngIf="i==0">
                      <input type="checkbox"> Issue
                      <input type="checkbox" checked="checked"> Issue Link
                    </span>
                  </span>
                </ng-container>
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <table id="ji-summary-issue-types" class="table table-sm table-striped">
          <thead>
            <tr>
              <th>SenseAi</th>
              <th>Jira</th>
              <th class="text-center">Attachments</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of summary.issueTypesSyncronized">
              <td> {{ f.senseaiIssueTypeName }} </td>
              <td> {{ f.jiraIssueTypeName }} </td>

              <td class="text-center"> <span *ngIf="f.attachment==true">
                  <i class="fa fa-check"></i>
                </span>
                <span *ngIf="f.attachment==false">
                  <i class="fa fa-times"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <br>
      <br>

      <div name="ji-summary-progresses" *ngIf="progressData && progressData.length > 0" class="col-md-12 py-4">
        <div class="row">
          <div name="ji-summary-progressData" *ngFor="let p of progressData" class="col-md-12 pb-3">
            <h6 class="d-flex justify-content-between">
              <small>
                {{ p.Name }}
                <i *ngIf="p.Current == p.Total" class="ml-1 fa fa-check-circle-o text-success"> </i>
              </small>
              <small class="text-right">
                <i> {{ p.Current }} / {{ p.Total }}
                  <b>( {{ p.Current / p.Total * 100 | number:'1.2-2' }}% ) </b>
                </i>
              </small>
            </h6>
            <div class="progress" style="height: 5px;">
              <div name="ji-summary-div" class="progress-bar progress-bar-striped"
                [ngClass]="{ 'bg-success': p.Current == p.Total, 'bg-primary': p.Current != p.Total}" role="progressbar"
                [style.width.%]="p.Current / p.Total * 100" [attr.aria-valuenow]="p.Current / p.Total * 100"
                [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<footer class="wizard-footer fixed-bottom bg-light py-2 px-5">
  <button id="ji-summary-back" class="col-md-2 btn btn-sm btn-outline-secondary" (click)="goBack()">
    <i class="fa fa-arrow-left pr-2"></i> Back
  </button>
  <div class="form-check col-md-2  offset-6 d-inline-block text-right">
    <label class="form-check-label">
      <input id="ji-summary-sync-issues" type="checkbox" class="form-check-input" [disabled]="startedToSync"
        [(ngModel)]="syncIssues">
      Sync issues
    </label>
  </div>
  <button id="ji-summary-complete" *ngIf="!startedToSync" type="button" class="btn btn-success btn-sm col-md-2"
    [disabled]="isSyncing" (click)="complete()">
    Complete
    <i *ngIf="isSyncing" class="ml-2 fa fa-spin fa-spinner"></i>
    <i *ngIf="!isSyncing" class="ml-2 fa fa-check"></i>
  </button>

  <button id="ji-summary-finish" *ngIf="startedToSync" type="button" class="btn btn-success btn-sm col-md-2"
    (click)="finish()">
    <span *ngIf="!isSyncing">Finish</span>
    <span *ngIf="isSyncing">Go to main page</span>
    <i *ngIf="isSyncing" class="ml-2 fa fa-spin fa-spinner"></i>
    <i *ngIf="!isSyncing" class="ml-2 fa fa-check"></i>
  </button>
</footer>