<div class="pick-date date-range">
    <label class="example-input-wrapper">
    <span class="example-input-wrapper-text">Select start and end date: </span>
    <input id="dateInput" class="select-date" placeholder="Select start and end Date"
           [(ngModel)]="dateTimeRange"
           [selectMode]="'range'" [owlDateTimeTrigger]="selectTime"
           [owlDateTime]="selectTime"
           (change)="valueChange($event)">
    <owl-date-time id="dateTimePicker" #selectTime (afterPickerClosed)="pickerClosed()"></owl-date-time>
  </label>
    <button id="goBack" class="go-back" type="button" (click)="goBack()">Go Back</button>
</div>
<kendo-splitter orientation="horizontal" style="left:1px;">
    <kendo-splitter-pane class="body" size="15%" style="box-shadow: rgb(136, 136,
    136) 10px 0px 5px -2px;
    background-color: whitesmoke;">
        <app-tree-view (treeViewItemSelected)="treeViewItemSelected($event)"></app-tree-view>
    </kendo-splitter-pane>
    <kendo-splitter-pane>
        <div class="scrolling-wrapper-flexbox">
            <div id="draggableCard"class="card drag-block" ngDraggable *ngFor="let item of
        workflowVersions">
                <p id="imageTitle" class="image-title">{{item.title}} - v{{item.version}} - {{ item.dateCreated | date:'medium' }}</p>
                <img id="workFlowImage" class="workflow-image" [src]="item.workflowImage" ondragstart="return true;" />
            </div>
        </div>
    </kendo-splitter-pane>
</kendo-splitter>
