input[type="text"] {}

input[type="number"] {}

.k-dialog-buttongroup {
    border-color: rgba(33, 37, 41, 0.125);
    height: 38px !important;
}

.no-button {
    background-color: #C00D0F;
    border-color: #C00D0F;
    color: #fff;
}

.cancel-button {
    background: #C00D0F !important;
    border-color: #C00D0F !important;
    color: #fff !important;
}

.control-label-title {
    position: relative;
    margin-left: 10px;
}

.show-all-data {
    position: relative;
}
