<div id="workflow-version-container-fluid" class="workflow-ver container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h6 id="workflow-version-title" class="application">Versions</h6>
            <kendo-dropdownlist id="workflow-version-versions" [data]="workflowVersions" [disabled]="versionsDisabled" class="dropdown-version-list" [valuePrimitive]="false" [textField]="'versionText'" [valueField]="'version'" [value]="selectedWorkflowVersion" (valueChange)="open($event)">
                <ng-template style="background-color: tomato" kendoDropDownListItemTemplate let-dataItem>
                    <span name="workflow-version--s1" class="dropdown"><i class='fa fa-reply-all'></i></span> &nbsp; &nbsp;
                    <span name="workflow-version-s2"> {{ dataItem.versionText }} </span>
                </ng-template>
            </kendo-dropdownlist>
        </div>
    </div>
</div>
<kendo-dialog id="workflow-version-dialog" title="Please confirm" *ngIf="rollbackDialogOpen" (close)="close()" [minWidth]="250" [width]="450">
    <p id="workflow-version-paragraph" style="margin: 30px; text-align: center;">Are you sure you want to continue rollback to version {{this.selectedWorkflowVersion.version}}?</p>
    <kendo-dialog-actions id="workflow-version-actions" >
        <button id="workflow-version-no" kendoButton (click)="close()">No</button>
        <button id="workflow-version-yes" kendoButton (click)="rollback(false)" primary="true">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>
