<app-ai-analitics-menu></app-ai-analitics-menu>
<div id="main-background-div" class="main-background">
    <section id="container-div" class="container">
        <div id="content-div" class="content">
            <div class="row">
                <div class="col-6" *ngIf="licenseService.hasLicense(license.Defect_Insights)">
                    <a  id="defects-statistics-anchor" class="a" [routerLink]="['/predictive-analytics-defect/defects-statistics']">
                        <div class="card">
                            <div class="card-body">
                                <h5 id="defects-insights-tag" > <i id="defects-insights-icon" class="fa fa-search" aria-hidden="true"></i> Defect Insights</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6" *ngIf="licenseService.hasLicense(license.Defect_Replay)">
                    <a id="defects-replay-anchor" class="a" [routerLink]="['/predictive-analytics-defect/defects-replay']">
                        <div class="card card-hover">
                            <div class="card-body ">
                                <h5 id="defects-replay-tag" > <i id="defects-replay-icon" class="fa fa-reply" aria-hidden="true"></i> Defect Replay</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
