<div class="row">
    <div class="col-md-12 ">
        <h6 class="descroption">Description</h6>
        <textarea id="description-textarea" class="form-control text-box" kendoTextArea [value]="workflowItemData.Description" (input)="changeDescription($event.target.value)"></textarea>
    </div>
</div>
