.descroption {
    margin-top: 8px;
    position: relative;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.text-box {
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
