<app-ai-analitics-menu></app-ai-analitics-menu>
<div class="container-fluid dashboard-main">
  <div class="row">
    <div class="col-2 filter-content" *ngIf="permissionService.hasPermission('/getTestExecutionBySubProject/projectId/')">
      <div class="row">
          <h5 id="filter-t "class="filter">Filters</h5>
      </div>
      <app-filters [projects]="projects" (changedSubProject)="onChangeSubProject($event)" (changedProject)="onChangeProject($event)"></app-filters>
      <div id="row-classifiers-filter" class="row classifiers-filter" *ngIf="allSprints && allSprints.length > 0">
        <label style="font-size: 15px; width: 100%" for="curentSprint">
          <b>Current Sprint</b>
        </label>
        <app-search-sprint style="width: 100%" [allSprints]="allSprints" (sprintsFiltered)="setFilteredSprints($event)"></app-search-sprint>
        <app-current-sprints style="width: 100%" [sprints]="sprints" (setCurrentSprint)="setCurrentSprint($event)"></app-current-sprints>
      </div>
      <div class="row classifiers-filter" *ngIf="passedSprints && passedSprints.length > 0">
        <label id="passed-s" style="font-size: 15px; width: 100%" for="passedSprints">
          <b>Passed Sprints</b>
        </label>
        <div class="sprint-year">
          <label id="s-year"class="color-per" for="defectsRangeFilter">
            Select a year
          </label>
          <select id="OnChangeYear" class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="selectedYear" (change)="onChangeYear($event)">
            <option class="color-per" *ngFor="let year of sprintYears" [ngValue]="year">
              {{year}}
            </option>
          </select>
        </div>
        <div class="passed-sprints">
          <app-passed-sprints style="width: 100%" [_passedSprints]="passedSprints" (setPassedSprint)="setPassedSprint($event)"></app-passed-sprints>
        </div>
      </div>
      <div class="row" *ngIf="permissionService.hasPermission('/getTestExecutionBySubProject/projectId/')">
        <button id="a-f-button" class="defects-reports-apply-filers-btn btn-block btn apply-filters" [disabled]="!selectedProject" (click)="applyFilters()">
            Apply Filters
        </button>
      </div>
    </div>
    <div class="col-10 main-container">
      <div class="row classifiers-filter-inner" *ngIf="((sprintComparisonResults && sprintComparisonResults.length > 0) || 
        (releaseComparisonResults && releaseComparisonResults.project))">
        <h6 class="defects-title" id="defects-title-h6">Current Status</h6>
        <hr class="line" />
      </div>
      <app-compare-sprints 
        *ngIf="((sprintComparisonResults && sprintComparisonResults.length > 0) || 
        (releaseComparisonResults && releaseComparisonResults.project))"
        [passedSprints]="passedSprints" 
        [_currentSprint]="currentSprintToFilter"  
        [_passedSprint]="passedSprintToFilter"
        [sprintComparisonResults]="sprintComparisonResults"
        [releaseComparisonResults]="releaseComparisonResults"></app-compare-sprints>
      <hr class="break-line" *ngIf="((sprintComparisonResults && sprintComparisonResults.length > 0) || 
      (releaseComparisonResults && releaseComparisonResults.project))" />
      <div class="row classifiers-filter-inner">
        <h6 id="project-future-projection" class="defects-title">Project future projection</h6><hr class="line" />
        <div class="col-3 prediction">
          <select class="custom-select my-1 mr-sm-2" [(ngModel)]="selectedPredictionSelection"
            (change)="onChangePredictionSelection($event)" id="PredictionSelection">
            <option *ngFor="let property of predictionSelection" [ngValue]="property" [value]="property.value" 
              selected="selectedPredictionSelection.value === property.value">
              {{property.name}}
            </option>
          </select>
        </div>
      </div>
      <app-future-projection [projectionResults]="projectionResults"></app-future-projection>
      <hr class="break-line" />
      <div class="row classifiers-filter-inner">
        <h6 id="test-exe-project" class="defects-title">Test Execution by Project</h6><hr class="line" />
      </div>
      <app-test-execution [testExecutionResults]="testExecutionResults" (setSubProjectToFilter)="setSubProjectToFilter($event)"></app-test-execution>
    </div>
  </div>
</div>