.filters,
.force-directed-graph,
.business-areas-teemap,
.business-areas-bar-chart {
    background-color: white;
    box-shadow: 8px 7px 18px 4px grey;
}

.container-fluid {
    float: right;
    width: calc(100% - 260px);
    margin-top: 0.5rem;
}

.alert {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1;
}

::-webkit-scrollbar {
    width: 10px;
}

#radio_filters {
    margin-top: 4px;
    margin-left: 5%;
}

#filters_on_defects {
    margin-top: 4px;
}

#legend_container {
    display: block;
}

.box_legend {
    display: inline-block;
    height: 10px;
    width: 10px;
    padding: 5px;
    border: 0px solid;
    margin-right: 2px;
}

#status_choices,
#severity_choices,
#priority_choices {
    display: none;
}

#colorPer {
    margin-top: 2px;
}

.classifiers-filter {
    margin-top: 10px;
    margin-bottom: 10px;
    background: whitesmoke;
    border: 0px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    border-color: solid 1px grey;
    transition: 0.3s;
    border-style: solid;
    border-color: #9999;
    border-width: 1px;
}

.classifiers-filter-inner {
    margin-left: 10px;
    margin-bottom: 10px;
}

#processing_span {
    display: none;
}

#legend_of_treemap {
    display: inline-block;
    margin-left: 25px;
}

.color-list {
    display: inline-block;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.apply-filters {
    color: #ffffff;
    background-color: #92c94d;
}

.defect-title {
    color: rgb(16, 74, 93);
    font-size: 16px;
    font-weight: 600;
}

input[type=checkbox],
input[type=radio] {
    width: 17px;
    height: 17px;
}

.center-message {
    color: rgb(16, 74, 93);
}

.main-container {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-left: 0;
    max-width: 77.7%;
    padding-right: 0;
}

.defects-title {
    color: #257590;
    margin-top: 1rem;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    color: grey;
}

.filters {
    color: #000;
}

.filter {
    color: rgb(16, 74, 93);
}

.color-per {
    color: grey;
    font-size: 15px;
}

.sprint-year {
    padding: 0;
    width: 100%;
}

.passed-sprints {
    padding: 0;
    border: 1px solid lightgray;
    max-height: 250px;
    overflow: auto;
    margin-top: 0.6rem;
    width: 100%;
}

select {
    width: 100%;
    height: 2rem;
    color: #257590;
    padding-top: 3px;
    padding-bottom: 4px;
    display: inherit;
}

.line {
    width: 100%;
    margin-top: 0;
    margin-right: 1.2rem;
}

.filter-content {
    margin-right: 1.5%;
    max-width: 20.666667%;
    flex: 0 0 20.666667%;
}

.percentage {
    color: rgb(16, 74, 93);
    font-size: 25px;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.iteration-percentage {
    color: #23a2cd;
    font-size: 22px;
}

.break-line {
    color: lightgray;
    border: 1px solid;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.4rem;
    margin-bottom: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}

@media screen and (max-width: 768px) {
    .box {
        width: 70%;
    }
}
#AllSprints{
    border-radius: 0px;
    height: 150px;
}
