<kendo-dialog id="add-edit-system-tag" [minWidth]="isSystemTagEdited ? '500' : '600'" [height]="isSystemTagEdited ? '500px' : '620px'" [title]="isSystemTagEdited ? 'Edit System Tag' : 'Add New System Tag'" *ngIf="systemTagWindowOpen" (close)="close()">
    <div class="dialog">
        <div class="row">
            <div class="col-12">
                <span id="system-tag-title">Title</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="system-tag-title" type="text" (input)="changeTitle($event)" [value]="selectedSystemTag.title" />
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-12">
                <span id="system-tag-description">Description</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="system-tag-description" type="text" (input)="changeDescription($event)" [value]="selectedSystemTag.description" />
            </div>
        </div><br /><br />
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <button id="submit-system-tag" class="btn add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">Submit</button>
                    <button id="cancel-system-tag" class="btn exit" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>
