<div>
    <strong id="detected--defects-strong-text" >Total number of detected defects pes business area</strong>
    <div>
        <div style="display: block">
            <canvas id="detected-defects-canvas" *ngIf="!nodata" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="defectsBarColor">
            </canvas>
            <p id="no-data-paragraph" *ngIf="nodata">
                No data for this period.
            </p>
        </div>
    </div>
</div>