<div id="regular-user" class="main regular-user container-fluid">
    <img id="full-i" class="full-image" src="assets/images/background.jpg">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="user-profile-pannel" class="user-profile-pannel">
                <div class="row">
                    <div class="col-md-12">
                        <p id="x-parag" class="close" (click)="back()">X</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="change-email" class="user-profile-title">Change Email Address</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="avatar">
                            <ngx-avatar id="my-avatar" class="my-avatar" size="80" name="{{currentUser.name}}"></ngx-avatar>
                        </div>
                    </div>
                </div>
                <div class="seperate-line"></div>
                <form id="emailForm" #emailForm="ngForm" (ngSubmit)="confirm()">
                    <div class="row">
                        <div class="col-md-12">
                            <input id="newEmail" type="email" class="password" [email]="true" placeholder="Enter Email" name="newEmail" [(ngModel)]="changeEmailForm.newEmail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required #newEmail="ngModel" email>
                            <input id="confirmEmail" type="email" class="password" [email]="true" placeholder="Confirm Email" name="confirmEmail" [(ngModel)]="changeEmailForm.confirmEmail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required #newEmail="ngModel" email (click)="checkEmail()">
                            <p class="error-message" *ngIf="newEmail.errors?.email">Enter valid email</p>
                        </div>

                    </div>
                    <div style="padding-top: 40px;"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <h6 id="changePassword" class="role"><a class="href" (click)="onPassword()">Change Password</a></h6>
                            <h6 id="changeProfileName" class="role"><a class="href" (click)="onUser()">Change Profile Name</a></h6>
                            <h6 id="logout" class="role"><a class="changeUser" (click)="logout()">Logout</a></h6>
                        </div>
                        <div class="col-md-6">
                            <button id="cl-btn" type="button" class="btn btn-danger action-buttons white" (click)="back()"> Close</button>
                            <button id="confirm-Email" type="submit" class="btn btn-success action-buttons blue" [disabled]="!emailForm.form.valid || (changeEmailForm.newEmail !== changeEmailForm.confirmEmail)">
                                Confirm
                            </button>
                        </div>
                    </div>
                    <div class="box">
                        <a id="question-circle-anch" class="button" href="#email"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div id="email" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Change Email Address</h2>
        <a id="times" class="close" (click)="back()">&times;</a>
        <div class="content grey-text ">
            <i id="icon-sc" class="fa fa-lightbulb-o " aria-hidden="true "></i>Use this screen to change the email address of the user and view other available changes.
            <div class="table ">
                <div class="table-row blue ">
                    <div id="field" class="table-cell ">
                        Field
                    </div>
                    <div id="usage" class="table-cell ">
                        Usage
                    </div>
                </div>
                <div class="table-row ">
                    <div id="email" class="table-cell blue-text ">
                        Enter Email
                    </div>
                    <div id="email-desc" class="table-cell grey-text ">
                        Field used to write the new email address
                    </div>
                </div>
                <div class="table-row ">
                    <div id="confirm" class="table-cell blue-text ">
                        Confirm Email
                    </div>
                    <div id="confirm-desc" class="table-cell grey-text ">
                        Field to rewrite the new email address for confirmation
                    </div>
                </div>
                <div class="table-row ">
                    <div id="change-pass" class="table-cell blue-text ">
                        Change Password button
                    </div>
                    <div id="change-pasw-desc" class="table-cell grey-text ">
                        Opens a screen to change the password
                    </div>
                </div>
                <div class="table-row ">
                    <div id="change-profile" class="table-cell blue-text ">
                        Change Profile Name
                    </div>
                    <div id="change-profile-desc" class="table-cell grey-text ">
                        Opens a screen to change the profile name
                    </div>
                </div>
                <div class="table-row ">
                    <div id="logout" class="table-cell blue-text ">
                        Logout
                    </div>
                    <div id="logout-desc" class="table-cell grey-text ">
                        Logs out from Sense.ai
                    </div>
                </div>
                <div class="table-row ">
                    <div id="conf-btn" class="table-cell blue-text ">
                        Confirm button
                    </div>
                    <div id="cofn-btn-desc" class="table-cell grey-text ">
                        Submits the changes made on the email address
                    </div>
                </div>
                <div class="table-row ">
                    <div id="cancel-btn" class="table-cell blue-text ">
                        Cancel button
                    </div>
                    <div id="cancel-btn-desc" class="table-cell grey-text ">
                        Discards the changes made on the email address
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>