<div id="priority" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Requirement Layout </h2>
        <a class="close" href="/#/settings/requirment-type">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                          Configure Priorities section
            </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to view and manage the priorities and requirement types.

                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Title
                                    </div>
                                    <div class="table-cell grey-text">
                                        The level of priority.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Description
                                    </div>
                                    <div class="table-cell grey-text">
                                        The description of priority.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Edit button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Allows editing on the selected priority level.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Delete button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Deletes the selected priority level.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “+” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Create new priority level
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree1">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                          Configure Requirement Types section
          </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to view and manage the priorities and requirement types.

                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Title
                                    </div>
                                    <div class="table-cell grey-text">
                                        The title of the requirement type.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Description
                                    </div>
                                    <div class="table-cell grey-text">
                                        The description of the requirement type.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Edit button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Allows editing on the selected requirement type.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Delete button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Deletes the selected requirement type.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “+” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Create new requirement type.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
