<kendo-dialog width="600" height="200" id="delete-people-test1" title="Delete Assignee" *ngIf="deletePeopleWindowOpen" (close)="close()">
    <div class="row">
        <div class="col-12">
            <span id="delete-people-description" class="description">
        Are you sure you want to delete '{{selectedPeople.name}}' ?
      </span>
        </div>
    </div>
    <kendo-dialog-actions>
        <div class="row">
            <div class="col-12 action-buttons">
                <button id="delete-people-yes" name="delete-people-yes" class="btn add" (click)="deletePeople()">Yes</button>
                <button id="delete-people-no" name="delete-people-no" class="btn exit" (click)="close()">No</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>
