<kendo-grid id="edit-dataset-rows" [kendoGridBinding]="rows" #grid [pageSize]="gridState.take" [skip]="gridState.skip" [pageable]="true" [filterable]="true" [filter]="gridState.filter" (dataStateChange)="onStateChange($event)" [selectable]="{checkboxOnly:false,mode:'single'}"
    (remove)="removeHandler($event)">
    <kendo-grid-column title="Row id" [field]="'rowNo'">
    </kendo-grid-column>
    <kendo-grid-command-column>
        <ng-template kendoGridCellTemplate let-dataItem>
            <button name="viewRowButton" kendoButton (click)="viewRow(dataItem,rowTemplate)">View
      </button>
            <button name="deleeDataSetButton" *ngIf="permissionsService.hasPermission('/api/Data/DeleteDataSetItem')" kendoGridRemoveCommand class="btn btn-delete">Delete</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
<ng-template #rowTemplate>
    <app-view-dataset-row [model]="selectedRow"></app-view-dataset-row>
    <kendo-dialog-actions>
        <div class="row float-right bottom-actions">
            <div class="col-12">
                <button id="saveDataSetButton" *ngIf="permissionsService.hasPermission('/api/Data/UpdateDataSetItem')" class="btn add" (click)="close('confirm')">Save
        </button>
                <button id="cancelDataSetButton" class="btn exit" (click)="close('cancel')">Cancel
        </button>
            </div>
        </div>
    </kendo-dialog-actions>
</ng-template>
<kendo-dialog width="400" height="290" title="Update Or Create New" *ngIf="showIsLinkedLastVersionDialog" (close)="closeDialog()">
  <div class="row">
      <div class="col-12">
          <span class="description">
              Dataset is linked with another path item, do you want to update DataSet or create another one?
          </span>
      </div>
    </div>
      <hr/>
      <div class="row">
        <div class="col-6 text-center">
          <button class="btn btn-primary" (click)='updateClick()'>Update</button>
        </div>
          <div class="col-6 text-center">
            <button class="btn btn-success" (click)='createNewClick()'>Create New</button>
          </div>
      </div>
      <br>
      <hr>
      <!-- <kendo-dialog-actions> -->
        <div class="row float-right bottom-actions">
          <div class="col-12">
              <button class="btn btn-danger exit" (click)="closeDialog()">Cancel</button>
          </div>
      </div>
    <!-- </kendo-dialog-actions> -->
</kendo-dialog>

<kendo-dialog width="400" height="290" title="Create New" *ngIf="showIsLinkedNotLastVersionDialog" (close)="closeNotLastDialog()">
  <div class="row">
      <div class="col-12">
          <span class="description">
              DataSet is linked with another path item which can not be changed. Do you want to create new DataSet insteed?
          </span>
      </div>
    </div>
      <hr/>
      <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-success" (click)='createNewNotLastClick()'>Yes Create New</button>
          </div>
      </div>
      <hr>
      <!-- <kendo-dialog-actions> -->
        <div class="row float-right bottom-actions">
          <div class="col-12">
              <button class="btn btn-danger exit" (click)="closeNotLastDialog()">Cancel</button>
          </div>
      </div>
    <!-- </kendo-dialog-actions> -->
</kendo-dialog>
