.title-grey-color {
    color: grey;
}

.container-fluid {
    float: right;
    width: calc(100% - 260px);
}

.apply-filters {
    color: #ffffff;
    background-color: #92c94d;
}

select {
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #92c94d;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #92c94d;
}

::-webkit-scrollbar {
    width: 10px;
}

.options {
    background-color: whitesmoke !important;
}