<app-ai-analitics-menu></app-ai-analitics-menu>
<div class="container-fluid dashboard-main">
    <div class="row shadow-sm p-3 mb-2 rounded align-items-end options">
        <div class="col-sm">
            <label id="detect-timestamps-label" for="detectTimestampFilter" class="title-grey-color">Detect
        Timestamps</label>
            <select id="detect-timestamps-label-select" class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="filters['detectTimestamp']" id="detectTimestampFilter">
        <option *ngFor="let detectTimestamp of detectTimestampFilter"
                [ngValue]="detectTimestamp">
          {{detectTimestamp}}
        </option>
      </select>
        </div>
        <div class="col-sm">
            <label id="from-label" for="fromFilter" class="title-grey-color">From</label>
            <div class="input-group">
                <input id="defects-reports-datepicker-input" class="defects-reports-datepicker form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="filters['fromDate']" ngbDatepicker [footerTemplate]="footerTemplateFrom" #d_from="ngbDatepicker">
                <div id="defects-reports-datepicker-div" class="defects-reports-datepicker input-group-append">
                    <button id="defects-reports-datepicker-button"class="btn btn-outline-secondary fa fa-calendar" (click)="d_from.toggle()" type="button"></button>
                </div>
            </div>
            <ng-template #footerTemplateFrom>
                <hr class="my-0">
                <button id="defects-reports-datepicker-today" class="btn btn-primary btn-sm m-2 float-left" (click)="filters['fromDate']= today; d_from.close()">
          Today
        </button>
                <button id="defects-reports-datepicker-close"class="btn btn-secondary btn-sm m-2 float-right" (click)="d_from.close()">Close</button>
            </ng-template>
        </div>
        <div class="col-sm">
            <label id="to-label" for="toFilter" class="title-grey-color">To</label>
            <div class="input-group">
                <input id="datepicker-input-2" class="defects-reports-datepicker form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="filters['toDate']" ngbDatepicker [footerTemplate]="footerTemplateTo" #d_to="ngbDatepicker">
                <div class="defects-reports-datepicker input-group-append">
                    <button id="calendar-button-2"class="btn btn-outline-secondary fa fa-calendar" (click)="d_to.toggle()" type="button"></button>
                </div>
            </div>
            <ng-template #footerTemplateTo>
                <hr class="my-0">
                <button id="today-button-2" class="btn btn-primary btn-sm m-2 float-left" (click)="filters['toDate']= today; d_to.close()">Today
        </button>
                <button id="close-button-2"class="btn btn-secondary btn-sm m-2 float-right" (click)="d_to.close()">Close</button>
            </ng-template>
        </div>
        <div class="col-sm">
            <button id="apply-filters-button-2" class="defects-reports-apply-filers-btn align-items-end btn-bg btn
        apply-filters" (click)="applyFilters()" *ngIf="permissionService.hasPermission('/countPriorityPerType/hashId/') || permissionService.hasPermission('/countStatus/hashId/') 
        || permissionService.hasPermission('/getDataForBusinessAreaBarChart/hashId/') || permissionService.hasPermission('/countSeverityPerBusinessArea/hashId/') ||
        permissionService.hasPermission('/countTypePerBusinessArea/hashId/') || permissionService.hasPermission('/getTimeToFixPerBusinessAreaAndType/hashId/') || permissionService.hasPermission('/getDiscoveryRatioByArea/hashId/')">
        Apply
        Filters
      </button>

        </div>
    </div>


    <div class="row">
        <div class="col-6 shadow-sm p-3 mb-2 rounded" *ngIf="permissionService.hasPermission('/countPriorityPerType/hashId/') ? true : false">
            <app-priority-stacked-bar  [childMessage]="parentMessage"></app-priority-stacked-bar>
        </div>
        <div class="col-6 shadow-sm p-3 mb-2 rounded" *ngIf="permissionService.hasPermission('/countStatus/hashId/') ? true : false">
            <app-status-pie-chart [childMessage]="parentMessage"></app-status-pie-chart>
        </div>
    </div>
    <div class="row">
        <div class="col-12 shadow-sm p-3 mb-2 rounded" *ngIf="permissionService.hasPermission('/getDataForBusinessAreaBarChart/hashId/') ? true : false">
            <app-defects-per-buss-area [childMessage]="parentMessage"></app-defects-per-buss-area>
        </div>
    </div>
    <div class="row">
        <div class="col-12 shadow-sm p-3 mb-2 rounded" *ngIf="permissionService.hasPermission('/countSeverityPerBusinessArea/hashId/') ? true : false">
            <app-severity-per-business-area-treemap [childMessage]="parentMessage">
            </app-severity-per-business-area-treemap>
        </div>
    </div>
    <div class="row">
        <div class="col-12 shadow-sm p-3 mb-2 rounded" *ngIf="permissionService.hasPermission('/countTypePerBusinessArea/hashId/') ? true : false">
            <app-root-cause-per-business-area-treemap [childMessage]="parentMessage">
            </app-root-cause-per-business-area-treemap>
        </div>
    </div>
    <div class="row">
        <div class="col-12 shadow-sm p-3 mb-2 rounded" *ngIf="permissionService.hasPermission('/getTimeToFixPerBusinessAreaAndType/hashId/') ? true : false">
            <app-time-to-fix-per-bus-area-root-cause [childMessage]="parentMessage">
            </app-time-to-fix-per-bus-area-root-cause>
        </div>
    </div>
    <div class="row">
        <div class="col-12 shadow-sm p-3 mb-2 rounded" *ngIf="permissionService.hasPermission('/getDiscoveryRatioByArea/hashId/') ? true : false">
            <app-discovery-ratio-grouped-bar-chart [childMessage]="parentMessage">
            </app-discovery-ratio-grouped-bar-chart>
        </div>
    </div>
</div>
