<app-ai-analitics-menu></app-ai-analitics-menu>
<div id="dashboard-main-div" class="container-fluid dashboard-main">
    <div id="data-mining-main" class="row data-mining-main">
        <div class="col-2 filter-content">
            <div id="filtersDataMining" class="row" style="margin-left: 0.2%">
                <h5 id="filtersTitle"class="filter">Filters</h5>
            </div>
            <div class="row timestamp-filters" *ngIf="permissionService.hasPermission('/api/Design/SearchTypicals') ? true : false">
                <label id="catalogLabel"class="color-per" for="project">
                    Catalog
                </label>
                <kendo-combobox  id="selectCatalogCombobox" class="catalog" style="width: 100%" placeholder="Select Catalog" [data]="catalogs" [filterable]="true" [textField]="'title'" [valueField]="'id'" [value]="selectedCatalog" (filterChange)="handleCatalogChange($event)" (valueChange)="catalogChanged($event)">
                </kendo-combobox><br />
                <label id="application" class="color-per" for="subproject" style="margin-top: 0.5rem">
                    Application
                </label>
                <kendo-combobox id="selectTypicalCombobox" class="application" style="width: 100%" placeholder="Select Application" [data]="typicals" [filterable]="true" [textField]="'title'" [valueField]="'id'" [value]="selectedTypical" [filterable]="true" (filterChange)="handleTypicalChange($event)" (valueChange)="changeTypical($event)">
                </kendo-combobox>
            </div>
            <div id="filtersDataMining"  class="row apply-filters-row" *ngIf="permissionService.hasPermission('/api/Design/SearchTypicals') ? true : false">
                <button id="aplyFiltersBtn" class="defects-reports-apply-filers-btn btn-block btn apply-filters" [disabled]="!selectedTypical" (click)="applyFilters()">
                    Apply Filters
                </button>
            </div>
        </div>
        <div id="force-directed-graph" class="col-10 force-directed-graph" style="overflow: auto;max-width: 79.3%;">
            <div id="classifiers-filter-inner" class="row classifiers-filter-inner">
                <h5 id="results" class="defects-title">Results</h5>
                <div id="inner-row-statistcs" class="row inner-row-statistcs" style="width: 100%; height: auto;">
                    <app-data-associations [selectedTypical]="typicalForAssociations"></app-data-associations>
                </div>
            </div>
        </div>
    </div>
</div>
