.pane-content {
    width: 100%;
}

.line {
    margin-top: 0;
    margin-bottom: 0;
}

.headers {
    padding-bottom: 0.6rem;
    padding-top: 1.2rem;
    padding-left: 0.3rem;
    margin: 0;
    color: #696969 !important;
}

.wf-issues {
    padding-bottom: 1.7rem;
    padding-top: 1.5rem;
}

.navigation {
    margin-top: 1.5rem;
    display: inline-flex;
    float: right;
    width: fit-content;
    overflow: hidden;
}

.process-header {
    display: inline-flex;
    width: 100%;
}

.fa-angle-left:hover {
    color: black !important;
}

.fa-search:hover {
    color: black !important;
}

.process-spliter {
    overflow: hidden;
}

.fa-angle-left {
    margin-top: 1rem;
    margin-right: 1.3rem;
    color: #696969 !important;
    cursor: pointer;
}

.fa-search {
    color: #696969 !important;
    margin-top: 0.9rem;
}

.k-pane {
    overflow-x: hidden;
}

.form-group {
    margin-right: 1rem !important;
}

.form-control {
    width: 150%;
}

.has-search .form-control {
    margin-top: 0.9rem;
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.link {
    cursor: pointer;
    text-decoration: underline !important;
}

.navigation-text {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: inline-flex;
}

#content {
    width: 88%;
    float: right;
    position: relative;
}