<div id="processHierarchies">
    <app-designer-details (goBackClicked)="goBackClicked($event)" *ngIf="openProcessDetails" [allIssues]="allIssues" [processDetail]="selectedProcess"></app-designer-details>
    <div [ngStyle]="{ display: openProcessDetails ? 'none' : 'block' }">
        <app-sidebar> </app-sidebar>
        <div id="content">
            <app-subnav-menu *ngIf="hierarchyTypes && hierarchyTypes.length > 0" (processDetailsClicked)="processDetailsClicked()" [searchCriteria]="searchCriteria" [hierarchies]="
            hierarchyItemsComponent ? hierarchyItemsComponent.hierarchies : []" [selectedProcesses]="selectedProcesses" [selectedProcess]="selectedProcess" [selectedHierarchy]="selectedHierarchy" [_hierarchyTypes]="hierarchyTypes" [displayHierarchy]="true"
                (hierarchyTypeTitleChanged)="setLastLevelHierarchy($event)" (requirementsMoved)="requirementsMoved($event)">
            </app-subnav-menu>
            <span *ngIf="hierarchyTypes && hierarchyTypes.length > 0"></span>
            <kendo-splitter style="height: 83.8vh">
                <kendo-splitter-pane [size]="selectedProcess ? '65%' : '100%'">
                    <kendo-splitter orientation="vertical">
                        <kendo-splitter-pane [size]="isLastLevelHierarchy ? '75%' : '100%'" class="process-spliter" [collapsible]="false">
                            <div class="pane-content">
                                <app-process-header [selectedHierarchy]="selectedHierarchy" [searchCriteria]="searchCriteria" [navigation]="navigation" (onClickNavigate)="navigateClicked($event)" (goBackClicked)="goBack()" (hierarchyChanged)="onChangeHierarchies($event)" [hierarchies]="
                    hierarchyItemsComponent
                        ? hierarchyItemsComponent.hierarchies
                        : []
                    " [hierarchyTypes]="hierarchyTypes">
                                </app-process-header>
                                <kendo-splitter style="height: 91.8%;">
                                    <kendo-splitter-pane size="50%">
                                        <div class="pane-content">
                                            <app-hierarchy-items [hierarchyTypes]="hierarchyTypes" (hierarchyClicked)="hierarchyClicked($event)" [listOfHierarchies]="listOfHierarchies" [resetHierarchyProcessList]="resetHierarchyProcessList"></app-hierarchy-items>
                                        </div>
                                    </kendo-splitter-pane>
                                    <kendo-splitter-pane size="49.5%">
                                        <div class="pane-content">
                                            <app-process-items (processSelection)="processSelection($event)" (processUpdated)="processUpdated($event)" (processClicked)="processClicked($event)" [selectedHierarchy]="selectedHierarchy" [listOfProcesses]="listOfProcesses" [resetHierarchyProcessList]="resetHierarchyProcessList"
                                                (processRemoved)="setRemovedProcess($event)" (processAdded)="setAddedProcess($event)" [searchCriteria]="searchCriteria"></app-process-items>
                                        </div>
                                    </kendo-splitter-pane>
                                </kendo-splitter>
                            </div>
                        </kendo-splitter-pane>
                        <kendo-splitter-pane size="25%" *ngIf="isLastLevelHierarchy">
                            <kendo-splitter style="height: 100%">
                                <kendo-splitter-pane size="50%">
                                    <div class="pane-content">
                                        <app-hierarchy-statistics [selectedHierarchy]="selectedHierarchy" [processRemoved]="processRemoved" [processAdded]="processAdded"></app-hierarchy-statistics>
                                    </div>
                                </kendo-splitter-pane>
                                <kendo-splitter-pane size="49.5%">
                                    <div class="pane-content">
                                        <app-process-statistics [selectedProcess]="selectedProcess"></app-process-statistics>
                                    </div>
                                </kendo-splitter-pane>
                            </kendo-splitter>
                        </kendo-splitter-pane>
                    </kendo-splitter>
                </kendo-splitter-pane>
                <kendo-splitter-pane *ngIf="selectedProcess">
                    <h4 class="headers wf-issues">Workflows / Issues</h4>
                    <hr class="line" />
                    <div class="pane-content">
                        <div>
                            <div style="margin-top: 10px;"></div>
                            <app-workflow-issues [process]="selectedProcess" [allIssues]="allIssues"></app-workflow-issues>
                            <br />
                            <app-process-description *ngIf="selectedProcess" [selectedProcess]="selectedProcess"></app-process-description>
                        </div>
                    </div>
                </kendo-splitter-pane>
            </kendo-splitter>
        </div>
    </div>
</div>