<div id="add-role" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Add / Edit Assignee View </h2>
        <a class="close" href="/#/settings/people">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                          Add / Edit Assignee View
                  </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to add a new assignee.

                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Login User
                                    </div>
                                    <div class="table-cell grey-text">
                                        Select the login user from the dropdown list.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Nick Name
                                    </div>
                                    <div class="table-cell grey-text">
                                        Define the nick name of the assignee.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Full Name
                                    </div>
                                    <div class="table-cell grey-text">
                                        Define the full name of the assignee.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Role
                                    </div>
                                    <div class="table-cell grey-text">
                                        Select the role of the assignee from the dropdown list.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Email
                                    </div>
                                    <div class="table-cell grey-text">
                                        Insert the email adress of the assignee.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “Submit” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Save the changes on the assignee.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “Cancel” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Cancel the changes made.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
