<div class="row">
    <div class="col-3" style="display: block; border-right: 1px solid lightgray" *ngIf="ratioChartData[0].data.length > 0">
        <app-pie-chart 
            id="p-c-1"
            [datasets]="ratioChartData" 
            [labels]="pieChartLabels"
            [chartType]="pieChartType" 
            [options]="pieChartOptions" 
            [currentSprint]="currentSprint ? currentSprint.title : ''"
            [passedSprint]="'Projection'" 
            [trend]="'Execution Trend'" 
            [trendPercentage]="ratioTrend" 
            [showSprintsPercentage]="false" 
            [colors]="pieChartColors">
        </app-pie-chart>
    </div>
    <div class="col-3" style="display: block; border-right: 1px solid lightgray" *ngIf="passChartData[0].data.length > 0">
        <app-pie-chart 
            id="p-c-2"
            [datasets]="passChartData" 
            [labels]="pieChartLabels"
            [chartType]="pieChartType" 
            [options]="pieChartOptions" 
            [currentSprint]="currentSprint ? currentSprint.title : ''"
            [passedSprint]="'Projection'" 
            [trend]="'Pass Trend'" 
            [trendPercentage]="passTrend" 
            [showSprintsPercentage]="false" 
            [colors]="pieChartColors">
        </app-pie-chart>
    </div>
    <div class="col-3" style="display: block; border-right: 1px solid lightgray" *ngIf="executedChartData[0].data.length > 0">
        <app-pie-chart 
            id="p-c-3"
            [datasets]="executedChartData" 
            [labels]="pieChartLabels"
            [chartType]="pieChartType" 
            [options]="pieChartOptions" 
            [currentSprint]="currentSprint ? currentSprint.title : ''"
            [passedSprint]="'Projection'" 
            [trend]="'Executed Count'" 
            [trendPercentage]="executedCountTrend" 
            [showSprintsPercentage]="false" 
            [colors]="pieChartColors">
        </app-pie-chart>
    </div>
    <div class="col-3" style="display: block" *ngIf="outstandingChartData[0].data.length > 0">
        <app-pie-chart 
            id="p-c-4"
            [datasets]="outstandingChartData" 
            [labels]="pieChartLabels"
            [chartType]="pieChartType" 
            [options]="pieChartOptions" 
            [currentSprint]="currentSprint ? currentSprint.title : ''"
            [passedSprint]="'Projection'" 
            [trend]="'Outstanding Defects'" 
            [trendPercentage]="outstandingDefectsTrend" 
            [showSprintsPercentage]="false" 
            [colors]="pieChartColors">
        </app-pie-chart>
    </div>
</div>