body,
html {
    font-family: 'Montserrat', sans-serif;
}

.data-item-row {
    margin-left: 15px
}

.bottom-actions {
    position: relative;
    top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.add {
    margin: 1px 10px;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.edit {
    background: #9bc34d;
    color: white;
    border-color: #9bc34d;
}

.delete {
    background: #e55039;
    color: white;
    border-color: #e55039;
}