<kendo-grid id="dataSets-grid" [kendoGridBinding]="dataSets" #grid [pageSize]="gridState.take" [skip]="gridState.skip" [selectable]="selectableSettings" [pageable]="true" [filterable]="true" [filter]="gridState.filter" [kendoGridSelectBy]="'id'" (dataStateChange)="onStateChange($event)"
    [selectedKeys]="selectedDataSetsIds" (edit)="editHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)" (selectionChange)="selectionChanged($event)">
    <ng-template *ngIf="permissionService.hasPermission('/api/Data/GetDataSetItem')" kendoGridToolbarTemplate>
        <button *ngIf="permissionService.hasPermission('/api/Data/AddDataSet')" id="addNewmanualDataset" kendoGridAddCommand>Add new</button>
    </ng-template>
    <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
    <kendo-grid-column title="Title" field="title">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div>
                <span>{{dataItem.title}}</span>
                <span class="data-item-row"> {{dataItem.nrRows}} rows</span>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="Command" [width]="300">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="row">
                <div *ngIf="permissionService.hasPermission('/api/Data/UpdateManualDataSet')" class="col-4">
                    <button id="editManualDataset" class="edit" kendoGridEditCommand [primary]="true">Edit
                    </button>
                </div>
                <div *ngIf="permissionService.hasPermission('/api/Data/DeleteDataSetItem')" class="col-4">
                    <button id="deleteManualDataset" kendoGridRemoveCommand class="delete">Delete
                    </button>
                </div>
                <div *ngIf="permissionService.hasPermission('/api/Data/GetDataSetItem')"class="col-4">
                    <button id="viewManualDataset"kendoButton class="" (click)="viewRows(dataItem,rowsTemplate)">View
                    </button>
                </div>
            </div>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
<app-edit-form-dataset [model]="editDataItem" [pathItem]="pathItem" [isNew]="isNew" (refreshDatasets)="loadDataSets($event)" (save)="saveHandler($event)" (cancel)="cancelHandler()">
</app-edit-form-dataset>

<ng-template #rowsTemplate>
    <app-dataset-rows [dataSet]="selectedDataSet" [pathitem] = 'pathItem' (closeParent)="loadDataSets($event, true)"></app-dataset-rows>
</ng-template>
