<app-activity-item *ngIf="(isArisWorkflow && type === ArisWorkflowType.Activity) || (!isArisWorkflow && type === GenericWorkflowType.Activity)"></app-activity-item>
<app-application-system-type-item *ngIf="isArisWorkflow && type === ArisWorkflowType.SystemType"></app-application-system-type-item>
<app-event-item *ngIf="isArisWorkflow && type === ArisWorkflowType.Event"></app-event-item>
<app-process-item *ngIf="isArisWorkflow && type === ArisWorkflowType.Process"></app-process-item>
<app-resource-item *ngIf="isArisWorkflow && type === ArisWorkflowType.Resource"></app-resource-item>
<app-role-item *ngIf="isArisWorkflow && type === ArisWorkflowType.Role"></app-role-item>
<app-screen-item *ngIf="isArisWorkflow && type === ArisWorkflowType.T24Screen"></app-screen-item>

