td, th {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.sprint-row {
    cursor: pointer !important;
    color: gray;
}

.sprint-row:hover {
    background-color: rgba(0,0,0,.075);
    color: #257590 !important;
}

.active {
    background-color: rgba(0,0,0,.075);
    color: #257590 !important;
}

tr {
    width: 100%;
    word-break: break-word;
}

table {
    font-size: 13px;
    background: white;
    width: 100%;
    border-radius: 5px;
}

.header {
    border-bottom: 1px solid lightgray;
}
