<table id="dtBasicExample" cellspacing="0">
    <thead>
        <tr class="header">
            <th>Sprint Title</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr class="sprint-row" 
            *ngFor="let sprint of passedSprints" 
            (click)="onClickSprint(sprint)"
            [ngClass]="{'active': (selectedSprint && selectedSprint.id === sprint.id)}">
            <td>{{sprint.title}}</td>
            <td>{{format(sprint.start)}}</td>
            <td>{{format(sprint.end)}}</td>
        </tr>
    </tbody>
</table>