<app-sidebar></app-sidebar>
<section class="wrapper">
    <div class="container-fluid">
        <a id="import-hier-import-bank" class="button custom-help" href="#import-bank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        <div class="row">
            <div class="col-4" style="margin-left: auto; margin-right: auto">
                <div class="upload">
                    <h6 id="import-hier-req" class="load-csv-file">Import Banking Requirements</h6>
                    <input [className]="'upload-elements btn'" id="file" type="file" (change)="onFileChange($event)" #fileInput />
                    <div class="action-buttons">
                        <button id="import-hier-subm" type="submit" class="btn load" (click)="onSubmit()">
                                Submit<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
                        </button>
                        <button id="import-hier-reset" class="btn clear" type="reset" (click)="clearFile()">
                            Reset
                        </button>
                    </div>
                    <div>
                        <div id="import-hier-progress" class="progress-bar-container">
                            <div id="import-hier-stripes"class="progress-bar stripes"><span class="progress-bar-inner"></span></div>
                            <div id="import-hier-lower" class="progress-bar stripes animated reverse slower"><span class="progress-bar-inner"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <kendo-dialog id="import-hier-dialog" title="Please confirm" *ngIf="confirmForceDelete" (close)="openOrCloseConfirmDialog()" [minWidth]="250" [width]="450">
        <p style="margin: 30px; text-align: center;">Banking Requirements already exist with this SubProject. Do you want to replace it?</p>
        <kendo-dialog-actions id="import-hier-actions">
            <button id="import-hier-no" kendoButton (click)="openOrCloseConfirmDialog()">No</button>
            <button id="import-hier-yes" kendoButton (click)="submitForceDelete()" primary="true">Yes<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
        </kendo-dialog-actions>
    </kendo-dialog>
    <app-alert></app-alert>
</section>
<app-import-bank-req-popup></app-import-bank-req-popup>
