<div id="defects-import" class="overlay">
    <div class="popup">
        <h2 id="blue-text"> Defects Import </h2>
        <a class="close" href="/#/defects-import">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                          Defects Import screen
          </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to import defects from .csv format file to Validata Sense.ai. English and Spanish defects are supported.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Select language dropdown list
                                    </div>
                                    <div class="table-cell grey-text">
                                        Select the language of the defects to be imported.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Choose File button
                                    </div>
                                    <div class="table-cell grey-text">
                                        From the appearing pop-up window, navigate to find the desired file to be imported.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Reset button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Discard file’s selection.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Submit button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Import selected file’s defects in Validata Sense.ai.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        User Field Name
                                    </div>
                                    <div class="table-cell grey-text">
                                        The Validata Sense.ai name of the fields that should be mapped.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        CSV File Header Name
                                    </div>
                                    <div class="table-cell grey-text">
                                        The file’s name fields that should be mapped.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card 2 -->
            </div>
        </div>