.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}

.default-settings, .user-profile, .change-password, .change-username, .change-email {
    position: fixed;
    z-index: 200;
    height: 100%;
    width: 100%;
    top: 0;
    background: white;
}

.main-component {
    /* margin-top:130px; */
    top: 4.3rem;
    position: relative;
}

@media only screen and (max-width: 1366px) {}