<div class="row">
    <div class="col-12">
        <app-navbar 
            *ngIf="showNavbar && !location.path().includes('/project-selection')" 
            [numberOfTypicalChanges]="numberOfTypicalChanges"
            [uiVersion]="uiVersion"
            [apiVersion]="apiVersion"
            [mlVersion]="mlVersion"
            (defaultSettingsClicked)="openDefaultSettings()" 
            (userProfileClicked)="openUserProfile()"
            (changePasswordClicked)="openChangePassword()"
            (closePopup)="closePopups()"
        >
        </app-navbar>
    </div>
</div>
<div class="row" class="main-component">
    <div class="col-12" style="position: relative;top: 0rem;"
    [ngStyle]="{'display': (defaultSettingsOpened || userProfileOpened) ? 'none' : 'block'}">
        <router-outlet></router-outlet>
    </div>
    <div class= "default-settings" *ngIf="defaultSettingsOpened">
        <app-default-settings (closeComponent)="closeDefaultSettings()"></app-default-settings> 
    </div>
    <div class="user-profile" *ngIf="userProfileOpened">
        <app-change-profile 
            (userProfileClosed)="closeUserProfile()" 
            (changePasswordClicked)="openChangePassword()" 
            (changeUsernameClicked)="openChangeUsername()" 
            (changeEmailClicked)="openChangeEmail()">
        </app-change-profile>
    </div>
    <div class="change-password" *ngIf="changePasswordOpened">
        <app-change-password 
            (changePasswordClosed)="closeChangePassword()" 
            (changeUsernameClicked)="openChangeUsername()" 
            (changeEmailClicked)="openChangeEmail()">
        </app-change-password>
    </div>
    <div class="change-username" *ngIf="changeUsernameOpened">
        <app-change-user-name 
            (changeUsernameClosed)="closeChangeUsername()" 
            (changePasswordClicked)="openChangePassword()" 
            (changeEmailClicked)="openChangeEmail()">
        </app-change-user-name>
    </div>
    <div class="change-email" *ngIf="changeEmailOpened">
        <app-change-email 
            (changeEmailClosed)="closeChangeEmail()"
            (changePasswordClicked)="openChangePassword()"
            (changeUsernameClicked)="openChangeUsername()"
        ></app-change-email>
    </div>
</div>


