<div id="workflow-issues-main-container-fluid" class="container-fluid">
    <section id="workflow-issues-wrapper" class="wrapper issue-workflow">
        <kendo-tabstrip>
            <kendo-tabstrip-tab [title]="'By Workflow'" [selected]="true">
                <ng-template kendoTabContent>
                    <div class="row">
                        <div class="col-12">
                            <kendo-treeview style="white-space: unset" [nodes]="workflowIssues" textField="text" kendoTreeViewExpandable [(expandedKeys)]="expandedKeys" [hasChildren]="hasChildren" [children]="children">
                                <ng-template kendoTreeViewNodeTemplate let-dataItem>
                                    <span id="workflow-issues-dataText">{{dataItem.text}}</span>
                                    <div id="workflow-issues-dataText-button" *ngIf="dataItem.type == 1 && permissionService.hasPermission('/api/Design/GetWorkflow')">
                                        <span id="workflow-issues-dataText-icon" class="fa fa-lg fa-eye eye-icon" (click)="openPopup(dataItem.id)"></span>
                                    </div>
                                    <span id="workflow-issues-dataText-id" *ngIf="dataItem.type==1"><a [routerLink]="['/workflow-designer']" [queryParams]="{id:dataItem.id}" target="_blank"><img src="assets/external-link-alt-solid.svg" height="15" width="15"></a></span>
                                    <span id="workflow-issues-dataText-id-1" *ngIf="dataItem.type!=1"><a (click)="openIssueDetails(dataItem.id)"><img src="assets/external-link-alt-solid.svg" height="15" width="15"></a></span>
                                </ng-template>
                            </kendo-treeview>
                        </div>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab class="kendo-tab-custom" [title]="'By Issues'">
                <ng-template kendoTabContent>
                    <kendo-treeview style="white-space: unset" [nodes]="issueWorkflows" textField="text" kendoTreeViewExpandable [(expandedKeys)]="expandedKeys" [hasChildren]="hasChildren" [children]="children">
                        <ng-template kendoTreeViewNodeTemplate let-dataItem>
                            <span id="workflow-issues-dataText2">{{dataItem.text}}</span>
                            <div id="workflow-issues-dataText-type2" *ngIf="dataItem.type == 1 && permissionService.hasPermission('/api/Design/GetWorkflow')">
                                <span id="workflow-issues-dataText-icon2" class="fa fa-lg fa-eye eye-icon" (click)="openPopup(dataItem.id)"></span>
                            </div>
                            <span><a (click)="openIssueDetails(dataItem.id)"><img src="assets/external-link-alt-solid.svg" height="15" width="15"></a></span>
                        </ng-template>
                    </kendo-treeview>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </section>
    <kendo-dialog id="workflow-issues-details" title="Issue Details" *ngIf="openIssueDetail" (close)="closeIssuePopup()" [minWidth]="400" [width]="400" [height]="800">
        <app-issue-details [issueTypes]="issueTypes" [sprints]="sprints" [_issue]="issueOpen" [people]="people" [openDetails]="true" [disableClose]="true" (issueUpdated)="updateIssue($event)" (detailsClosed)="closeIssuePopup()">
        </app-issue-details>
    </kendo-dialog>
    <kendo-dialog id="workflow-issues-openPopup" title="Workflow Details" *ngIf="openedPopup" (close)="closePopup('cancel')" [minWidth]="900" [width]="900" [height]="800">
        <app-view-workflow class="workflow-id" [workflowId]="workflowId"></app-view-workflow>
    </kendo-dialog>
</div>
