.fa-eye {
    color: #337ab7;
    font-size: 1.25em;
}

kendo-tabstrip {
    border-color: transparent !important;
    color: #212529;
    background-color: #fff;
}

.k-tabstrip-items {
    border-color: transparent !important;
    color: #212529;
}

.k-splitter-flex .k-pane-static {
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: transparent;
}

.workflow-id {
    background-color: #f6f6f6;
    overflow: hidden !important;
}

.eye-icon {
    position: relative;
    padding-right: 12px;
    left: 4px;
}
