<div id="workflowVersionDiv" *ngIf="permissionService.hasPermission('/api/Design/GetWorkflowVersions')" class="workflow-ver container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h6 class="application">Versions</h6>
            <kendo-dropdownlist id="versionDropdownDialog" [data]="workflowVersions" [disabled]="versionsDisabled" class="dropdown-version-list" [valuePrimitive]="false" [textField]="'versionText'" [valueField]="'version'" [value]="selectedWorkflowVersion" (valueChange)="open($event)">
                <ng-template style="background-color: tomato" kendoDropDownListItemTemplate let-dataItem>
                    <span id="dropdownSpan" class="dropdown"><i class='fa fa-reply-all workflow-version-dropdown'></i></span>
                    <span id="dropDownversionTextSpan"> {{ dataItem.versionText }} </span>
                </ng-template>
            </kendo-dropdownlist>
        </div>
    </div>
</div>
<kendo-dialog id="confirmRollbackDialog" title="Please confirm" *ngIf="rollbackDialogOpen" (close)="close()" [minWidth]="250" [width]="450">
    <p id="textRollbackVersionParagraph" style="margin: 30px; text-align: center;">Are you sure you want to continue rollback to version {{this.selectedWorkflowVersion.version}}?</p>
    <kendo-dialog-actions>
        <button id="noRollbackButton" kendoButton (click)="close()">No</button>
        <button id="yesRollbackButton" kendoButton (click)="rollback(false)" primary="true">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog id="noRights-dialog" title="Rights" *ngIf="noRightsDialogOpen" (close)="closeInfo()" [minWidth]="250" [width]="450">
        <p id="noRightsParagraph" style="margin: 30px; text-align: center;">You have no righs to proceed with rollback action</p>
        <kendo-dialog-actions>
                <button id="noRollbackButton" style="background: #dee2e6;" kendoButton (click)="closeInfo()">Cancel</button>
        </kendo-dialog-actions>

</kendo-dialog >

