.dropdown-version-list {
    width: 100%;
    position: relative;
    padding: 10px 0;
    z-index: 1;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.main {
    top: 192px;
    height: auto;
    width: 100%;
    position: absolute;
    font-family: "Montserrat", sans-serif;
}

.properties {
    color: #0d4b5e;
    position: relative;
    padding-top: 25px;
    font-family: "Montserrat", sans-serif;
}

.name {
    color: #0d4b5e;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.input-name {
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

.application {
    margin-top: 11px;
    position: relative;
    color: #0d4b5e;
    font-size: 14px;
    margin-bottom: -6px;
    font-family: "Montserrat", sans-serif;
}

.bottom-space {
    position: relative;
    margin-bottom: 18px;
    font-family: "Montserrat", sans-serif;
}

.input-group-text {
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

.descroption {
    margin-top: 8px;
    position: relative;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.text-box {
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.dependencies {
    margin-top: 15px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#authStep {
    position: relative;
    margin-top: 10px !important;
    color: #0d4b5e !important;
}

.authStep {
    position: relative;
    margin-top: 10px !important;
    color: #0d4b5e !important;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#errorTest {
    position: relative;
    margin-top: 10px !important;
    color: #0d4b5e !important;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.errorStep {
    position: relative;
    margin-top: 10px !important;
    color: black !important;
    font-weight: 600;
}

.k-checkbox-label {
    color: black;
}

.k-textbox-container {
    position: relative;
    padding-top: 0 !important;
    display: inline-flex;
    width: 100% !important;
    height: 40px;
    flex-direction: column;
    justify-content: stretch;
}

.k-textbox-container>.k-textbox,
.k-textbox-container>.k-textarea,
.k-textbox-container>.k-widget {
    flex: 1 1 auto;
    width: auto;
    font-size: 1.7vh !important;
    font-family: 'Montserrat', sans-serif;
}

.k-widget.form-control .k-input {
    padding: 0.375rem 0.75rem;
    height: 2.25rem;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.k-autocomplete,
.k-combobox .k-dropdown-wrap,
.k-datepicker .k-picker-wrap,
.k-timepicker .k-picker-wrap,
.k-datetimepicker .k-picker-wrap,
.k-dateinput .k-dateinput-wrap,
.k-textbox,
.k-textarea,
.k-input.k-textbox,
.k-multiselect-wrap,
.k-numerictextbox .k-numeric-wrap {
    border-color: rgba(33, 37, 41, 0.15);
    color: #212529;
    background-color: #fff;
    height: 41px;
    font-family: 'Montserrat', sans-serif;
}

.workflow-version-dropdown {
    position: relative;
    left: -6px;
}