<div class="main">
    <div class="container">
        <kendo-tabstrip [keepTabContent]="true">
            <kendo-tabstrip-tab [title]="'Basic'" [selected]="true">
                <ng-template kendoTabContent>
                    <app-title></app-title>
                    <app-role></app-role>
                    <app-manual-action></app-manual-action>
                    <app-description></app-description>
                </ng-template>
            </kendo-tabstrip-tab>
            <!-- <kendo-tabstrip-tab [title]="'Advanced'">
                <ng-template kendoTabContent>
                    <p>Tab advanced Content</p>
                </ng-template>
            </kendo-tabstrip-tab> -->
        </kendo-tabstrip>
    </div>
</div>
