.name-issue-btn {
    color: #fff;
    background-color: #5cb85c;
    cursor: default !important;
    font-size: 14px;
    padding-top: 2.5px !important;
    margin-right: 0.1rem;
    margin-top: 0.5rem;
}

.btn-circle {
    width: 36px;
    height: 36px;
    padding: 4px 0px;
    padding-top: 4px;
    border-radius: 18px !important;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-highlight {
    border-color: blue;
    border-width: 3px
}

.assignee-popup {
    left: 32rem !important;
    top: 80% !important;
    position: absolute;
}

.requirement {
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    background-color: #92c94d;
    border-color: #92c94d;
    ;
    color: white;
}

.btn-circle-issue {
    width: 24px;
    height: 24px;
    padding: 4px 0px;
    padding-top: 4px;
    border-radius: 15px;
    text-align: center;
    font-size: 11px;
    line-height: 1.42857;
}

.btn-circle-issue-small {
    width: 22px;
    height: 22px;
    padding: 4px 0px;
    padding-top: 4px;
    border-radius: 15px;
    text-align: center;
    font-size: 9px;
    line-height: 1.42857;
}

.name-issue-btn {
    color: #fff;
    background-color: #5cb85c;
    cursor: default !important;
    padding-top: 2.5px !important;
    margin-right: 0.5rem;
}

.btn-unhighlight {
    border-color: white;
}

.fa-search {
    color: #696969 !important;
    margin-top: 0.5rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-group {
    margin-right: 1rem !important;
}

.form-control {
    width: 100%;
    margin-top: 0.5rem;
    padding: .375rem 2.75rem;
}

.form-control-x {
    position: absolute;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: right;
    color: #aaa;
    left: 24vh;
    bottom: 1.7vh;
}

.clearable {
    position: relative;
    display: inline-block;
}

.clearable input[type=text] {
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
}
.clearable__clear {
  position: absolute;
  right:0; 
  margin-top: -2rem;
  padding: 0 8px;
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
}

.clearable input::-ms-clear {
    /* Remove IE default X */
    display: none;
}

.more-btn {
    color: rgb(122, 134, 154);
    background-color: rgb(223, 225, 230);
}

.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
}

.tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
}

.tag a:hover {
    opacity: 1.0
}

.tag .remove {
    vertical-align: bottom;
    top: 0;
}

.tag a {
    margin: 0 0 0 .3em;
}

.tag a .glyphicon-white {
    color: #fff;
    margin-bottom: 2px;
}

.custom-help {
    background: rgba(0, 0, 0, .12);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    top: 8px;
    /* left: 80em; */
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}