<div class="row">
    <a class="button custom-help" href="#backlog"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
    <span class="clearable form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
    <input id="filter-input-search" type="text" name="" [value]="searchCriteria" (input)="onSearch($event)" placeholder="Search..." class="form-control">
    <i class="clearable__clear" *ngIf="searchCriteria && searchCriteria !== ''" (click)="clear()">&times;</i>
    </span>

    <div *ngFor="let item of assignees; let i = index">


        <button [id]="'click'+ i" kendoButton *ngIf="i < 6" [toggleable]="true" (click)="onClick(item)" class="btn btn-default btn-circle btn-lg name-issue-btn" [ngStyle]="{'background-color': item.color}" [ngClass]="{'btn-highlight': shouldHighlight(item)}" [title]="item.name">

      <span>{{item.name.charAt(0)}}</span>
    </button>
        <button [id]="'clickMore'+ i" kendoButton #anchor *ngIf="i === 6" [toggleable]="true" (click)="onClickMoreBtn()" class="btn btn-default btn-circle btn-lg name-issue-btn more-btn k-button" [ngClass]="{'btn-highlight': highlightMoreBtn}" [title]="">
      <span>{{"+" + (assignees.length - i)}}</span>
    </button>

    </div>

    <kendo-popup id="filter-assignees" *ngIf="show" class="assignee-popup" [anchor]="anchor" (anchorViewportLeave)="show = false">
        <div class='content' style="font-size: 14px; margin-right: 0.4rem; margin-left: 0.4rem; margin-bottom: 0.3rem" *ngFor="let item of assignees.slice(6)">
            <input id="filter-onCheckboxClick" type="checkbox" style="margin-right: 0.3rem" (change)="onCheckboxClick(item)" [checked]="shouldHighlight(item)" />
            <button id="filter-itemName" class="btn btn-default btn-circle-issue-small name-issue-btn" [ngStyle]="{'background-color': item.color}" style="margin-top: 0; margin-left: 0.1rem" [title]="item.name">
              <span>{{item.name.charAt(0)}}</span>
          </button>
            <span>{{item.name}}</span>
        </div>
    </kendo-popup>

    <div>
        <button name="filter-selectedRequirement" class="btn btn-default requirement" (click)="openRequirement($event)">
      {{selectedRequirement ? selectedRequirement.title : "Filter by Requirement"}}
      <i class="clearable__clear" *ngIf="selectedRequirement" style="position: relative">&times;</i>
    </button>
    </div>
</div>

<app-requirement-dialog [openRequirementDialog]="openRequirementDialog" (closeRequirement)="closeRequirementDialog()" (submitRequirement)="selectRequirementSubmited($event)"></app-requirement-dialog>
<app-sprint-planer-popup></app-sprint-planer-popup>