<app-sidebar></app-sidebar>
<div>
  <section class="container">
    <div class="row">
      <div class="col-6"
           *ngIf="
            licenseService.hasLicense(license.Requirements_and_hierarchies)
          ">
        <a class="a"
          id="settings-hirarchy-type" 
           [routerLink]="['/settings/hierarchy-types']">
          <div class="card">
            <div class="card-body">
              <h5>
                <i id="settings-hirarchy"
                   class="fa fa-linode"
                   aria-hidden="true"></i>
                Hierarchy Manager
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 "
           *ngIf="licenseService.hasLicense(license.Prebuild_processed)">
        <a class="a"
        id="settings-import-banking-requirments"
           [routerLink]="['/settings/import-hierarchy']" *ngIf="permissionService.hasPermission('/api/Process/Browse/ImportHierarchy')">
          <div class="card card-hover" *ngIf="permissionService.hasPermission('/api/Process/Browse/ImportHierarchy')">
            <div class="card-body ">
              <h5>
                <i id="settings-import"
                   class="fa fa-download"
                   aria-hidden="true"></i>
                Import Banking Requirements
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row ">
      <div class="col-6"
           *ngIf="licenseService.hasLicense(license.Sprint_planning_and_management)">
        <a class="a"
        id="settings-issue-types"
           [routerLink]="['/settings/issue-types']">
          <div class="card ">
            <div class="card-body ">
              <h5>
                <i id="settings-issues"
                   class="fa fa-exclamation"
                   aria-hidden="true"></i> Issue Types
              </h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6"
           *ngIf="licenseService.hasLicense(license.Requirements_and_hierarchies)">
        <a class="a"
           id="settings-hirarchy-a"
           [routerLink]="['/settings/requirment-type']">
          <div class="card ">
            <div class="card-body ">
              <h5>
                <i id="settings-req"
                   class="fa fa-check"
                   aria-hidden="true"></i> Requirement Characteristics
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row p-0 m-0"
         *ngIf="hasJiraPermissions()">
      <div class="col-12 pl-0">
        <a class="a">
          <div class="card jira-card w-100">
            <div class="card-body ">
              <app-jira-project-details></app-jira-project-details>
              <!-- <h5>
                                    <i class="fa fa-retweet" aria-hidden="true"></i> Jira Integration
                                </h5> -->
            </div>
          </div>
        </a>
      </div>
    </div>

    <div style="margin-top: 4rem;"></div>
    <div class="row roles-people">
      <div class="col-12">
        <h5 class="roles-title">
          Manage Assignee and Roles
        </h5>
      </div>
      <div class="col-6 ">
        <a class="a"
        id="settings-roles"
           [routerLink]="['/settings/roles']">
          <div class="card ">
            <div class="card-body ">
              <h5><i class="fa fa-users"
                   aria-hidden="true"></i> Roles</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 ">
        <a class="a"
           [routerLink]="['/settings/people']">
          <div class="card ">
            <div class="card-body ">
              <h5>
                <i class="fa fa-address-book"
                   aria-hidden="true"></i> Assignee
              </h5>
            </div>
          </div>
        </a>
      </div>
      <a class="button custom-help"
         href="#settings"><i class="fa fa-question-circle"
           aria-hidden="true"></i></a>
      <!-- 
      <div class="col-6"
           *ngIf="hasJiraPermissions()">
        <a class="a"
        id="settings-jira-integration"
           [routerLink]="['jira-integration']">
          <div class="card ">
            <div class="card-body ">
              <h5>
                <i class="fa fa-retweet"
                   aria-hidden="true"></i> Jira
                Integration
              </h5>
            </div>
          </div>
        </a>
      </div> -->
    </div>
  </section>
</div>
<app-settings-popup></app-settings-popup>