.name {
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.input-name {
    width: 100%;
}

.application {
    margin-top: 8px;
    position: relative;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-checkbox-label {
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-widget.form-control .k-input {
    padding: .375rem .75rem;
    height: 2.25rem;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-autocomplete,
.k-combobox .k-dropdown-wrap,
.k-datepicker .k-picker-wrap,
.k-timepicker .k-picker-wrap,
.k-datetimepicker .k-picker-wrap,
.k-dateinput .k-dateinput-wrap,
.k-textbox,
.k-textarea,
.k-input.k-textbox,
.k-multiselect-wrap,
.k-numerictextbox .k-numeric-wrap {
    border-color: rgba(33, 37, 41, 0.15);
    color: #212529;
    height: 27px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.add-data-item {
    border: 0;
    background-color: #92c94d;
    border-color: #92c94d;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-right: 21px;
}

.trash-icone {
    padding: 10px 15px;
    background: #C00D0F;
    border-color: #C00D0F;
    color: #fff;
}
