<form novalidate #myForm="ngForm">
    <table>
        <tbody>
            <tr>
                <td>
                    <kendo-grid  id="dynamic-data-grid" [data]="attributes" #grid [filterable]="true" [selectable]="true" [pageSize]="10" [pageable]="true" [skip]="skip" (pageChange)="pageChange($event)" (dataStateChange)="dataStateChange($event)" [filter]="state.filter" (cellClick)="cellClick($event)"
                        (remove)="removeDynamic($event)">
                        <kendo-grid-column field="Name" title="Field">
                        </kendo-grid-column>
                        <kendo-grid-column field="DefValue" title="Calculation Item">
                        </kendo-grid-column>
                        <kendo-grid-column>
                            <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem class="edit-b">
                                <button name="addDataItem" class="btn add-data-item" type="button" [disabled]="readonly" (click)="addDataItem(dataItem)">
                                    Add Data Item
                                </button>
                                <button name="removeDataItemButton" class="trash-icone" kendoGridRemoveCommand type="button" [disabled]="readonly">
                                    <i class="fa fa-trash trash-b"></i>
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="kendo-dialouge">
        <kendo-dialog id="addNewReferenceDialog" title="Add New Reference" *ngIf="opened" (close)="close('cancel')" [minWidth]="450" [width]="750">
            <app-dynamicdatapopup [selectedTargetAttribute]="selectedAttribute" [graphJson]="graphJson" (applyDynamicData)="applyDynamicData($event)"></app-dynamicdatapopup>
        </kendo-dialog>
    </div>
</form>
