.dashboard-main {
    background-color: #EFEFEF;
    width: calc(100% - 260px);
    float: right;
    margin-top: 0.5rem;
}

.filters,
.force-directed-graph,
.business-areas-teemap,
.business-areas-bar-chart {
    background-color: white;
    box-shadow: 8px 7px 18px 4px grey;
}

.alert {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #92c94d;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #92c94d;
}

::-webkit-scrollbar {
    width: 10px;
}

#radio_filters {
    margin-top: 4px;
    margin-left: 5%;
}

#filters_on_defects {
    margin-top: 4px;
}

#legend_container {
    display: block;
}

.box_legend {
    display: inline-block;
    height: 10px;
    width: 10px;
    padding: 5px;
    border: 0px solid;
    margin-right: 2px;
}

#status_choices,
#severity_choices,
#priority_choices {
    display: none;
}

#colorPer {
    margin-top: 2px;
}

.timestamp-filters {
    margin: 10px;
    background: whitesmoke;
    border: 0px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    border-color: solid 1px grey;
    transition: 0.3s;
    border-style: solid;
    border-color: #9999;
    border-width: 2px;
}

.classifiers-filter {
    margin: 10px;
    background: whitesmoke;
    border: 0px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    border-color: solid 1px grey;
    transition: 0.3s;
    border-style: solid;
    border-color: #9999;
    border-width: 2px;
}

.classifiers-filter-inner {
    margin-left: 10px;
    margin-bottom: 10px;
}

#processing_span {
    display: none;
}

#legend_of_treemap {
    display: inline-block;
    margin-left: 25px;
}

.color-list {
    display: inline-block;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.apply-filters {
    color: #ffffff;
    background-color: #92c94d;
}

.defect-title {
    color: rgb(16, 74, 93);
    font-size: 16px;
    font-weight: 600;
}

input[type=checkbox],
input[type=radio] {
    width: 17px;
    height: 17px;
}

.center-message {
    color: rgb(16, 74, 93);
}

.defects-title {
    color: rgb(16, 74, 93);
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    color: grey;
}

.filters {
    color: #000;
}

.color-per{
    color: grey;
}

select {
    border-radius: 50px;
    width: 100%;
    display: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}

@media screen and (max-width: 768px) {
    .box {
        width: 70%;
    }
}

path {
    stroke: #fff;
  }

.inner-row-statistcs{
    margin-top: 20px;
    margin-bottom: 10px;
}

.inputTypes{
    width: 50%;
    border-radius: 5px;
}

.valueLabels{
    color: #2A5465;
    font-size: 20px;
}

.valueLabels_after{
    color: #B92750;
    font-size: 28px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: -webkit-fill-available;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
