<app-ai-analitics-menu></app-ai-analitics-menu>
<ngx-loading-bar></ngx-loading-bar>
<div class="container-fluid dashboard-main">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <div>
        <label id="flabel" class="color-per" for="colorPer">
          Filters
        </label>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
      <label class="color-per" for="colorLegend" id="colorLabel">
        Color Legend
      </label>
      <div class="row">
        <div *ngFor="let data of colorLegend;  let i=index" class="color-list">
          <div class="box_legend" [ngStyle]="{'background': data.color}"></div>
          <label class="form-check-label color-per">{{data.name}}</label>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" *ngIf="permissionService.hasPermission('/RiskOptimizerUI/projectId/')">
      <div class="row timestamp-filters">
        <label id="plabel" class="color-per" for="project">
          Project
        </label>
        <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="selectedProject" id="projectRangeFilter"
                (change)="onChangeprojectRangeFilter($event.target.value)">
          <option class="color-per" *ngFor="let project of ProjectsFilter" [ngValue]="project.Id" [value]="project.Id">
            {{project.Title}}
          </option>
        </select>
        <label id="slabel" class="color-per" for="subproject" *ngIf="SubprojectsData == true">
          Subproject
        </label>
        <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="selectedSubproject"
                id="subprojectRangeFilter" (change)="onChangesubprojectRangeFilter($event.target.value)"
                *ngIf="SubprojectsData == true">
          <option class="color-per" *ngFor="let subproject of SubprojectsFilter" [ngValue]="subproject.Id"
                  [value]="subproject.Id">
            {{subproject.Title}}
          </option>
        </select>
      </div>
      <div class="classifiers-filter" *ngIf="SprintsData == true">
        <label id='cslabel' class="color-per" for="curentSprint">
          Target Sprint
        </label>
        <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="selectedSprint"
                id="SprintRangeFilter" (change)="onChangeSprintRangeFilter($event.target.value)">
          <option class="color-per" *ngFor="let Sprint of SprintFilter" [ngValue]="Sprint.Id" [value]="Sprint.Id">
            {{Sprint.Title}}
          </option>
        </select>
      </div>
      <div class="classifiers-filter" *ngIf="Runbtn == true">
        <label id="target-constraints" class="color-per" for="subproject" *ngIf="Runbtn == true">
          Target Constraints
        </label>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row" style="margin-top:5px">
              <div id="days-div" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                Days:
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <input id="Time_Spent" type="number" class="inputTypes" name="Time_Spent" [(ngModel)]="Time_Spent"
                       min="1" ng-model="x" value="1">
              </div>
            </div>

            <hr>
            <div class="row" style="margin-top:25px">
              <div id="machine-cost-budget-div" class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                Machine Cost Budget (€):
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <input id="Machine_Budget" type="number" class="inputTypes" name="Machine_Budget"
                       [(ngModel)]="Machine_Budget" min="0" ng-model="x" value="0">
              </div>
            </div>
            <div class="row" style="margin-top:5px">
              <div id="Machine-Cost-Per-Hour-div" class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                Machine Cost per hour (€):
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <input id="Personel_Budget" type="number" class="inputTypes" name="Personel_Budget"
                       [(ngModel)]="Personel_Budget" min="1" ng-model="x" value="8" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button id="run-optimization-btn" class="defects-reports-apply-filers-btn btn-block btn apply-filters"
              (click)="runOptmization()" [disabled]="!Runbtn">
        Run Risk Optimisation
      </button>
      <label style="color:blue;">{{waiting}}</label>
    </div>
    <div class="col-lg-9 col-3 col-md-12 col-sm-12 col-xs-12 force-directed-graph">
      <h5 class="defects-title">What if Analysis</h5>
      <span id="processing_span">is loading...</span>
      <div class="row inner-row-statistcs" style="width: 100%; height: auto;" *ngIf="Runbtn">
        <div class="col-4 rounded">
          <div class="row ">
            <div class="col-4 shadow-sm p-3 mb-2 rounded">
              <label id="test_case_label_new" class="valueLabels_after"><b>{{test_case_label_new}}</b></label><label
              class="valueLabels"><b> {{test_case_label_old}}</b></label><br>
              <b>Test Cases</b>
            </div>
            <div class="col-4 shadow-sm p-3 mb-2 rounded">
              <label id="defects_label_new" class="valueLabels_after"><b>{{defects_label_new}}</b></label><label
              class="valueLabels"><b> {{defects_label_old}}</b></label><br>
              <b>Total Probable Defects</b>
            </div>
            <div class="col-4 shadow-sm p-3 mb-2 rounded">
              <label id="cost_new" class="valueLabels_after"><b>{{cost_new}}</b></label><label
              class="valueLabels"><b> {{cost_old}}</b></label><br>
              <b>Total Execution Time (min)</b>
            </div>
          </div>
          <div class="row ">
            <div class="col-4 shadow-sm p-3 mb-2 rounded">
              <label id="coverage_new" class="valueLabels_after"><b>{{coverage_new}}</b></label><label
              class="valueLabels"><b> {{coverage_old}}</b></label><br>
              <b>Test Coverage </b>
            </div>
            <div class="col-4 shadow-sm p-3 mb-2 rounded">
              <label id="datacoverage_new" class="valueLabels_after"><b>{{datacoverage_new}}</b></label><label
              class="valueLabels"><b> {{datacoverage_old}}</b></label><br>
              <b> Test Data Coverage (max value)</b>
            </div>
            <div class="col-4 shadow-sm p-3 mb-2 rounded">
              <label id="totalRisk_new" class="valueLabels_after"><b>{{totalRisk_new}}</b></label><label
              class="valueLabels"><b> {{totalRisk_old}}</b></label><br>
              <b> Total Risk Average (%)</b>
            </div>
          </div>
        </div>
        <div id="sev-div" class="col-4 shadow-sm p-3 mb-2 rounded" *ngIf="Runbtn">
          Severity
          <canvas id="canvas-sev" baseChart height="180px" [datasets]="barChartSeverityData"
                  [labels]="barChartSeverityLabels" [options]="barChartOptions"
                  [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
                  [colors]="barChartColorsSev_Prior">
          </canvas>
        </div>
        <div id="priority-div" class="col-4 shadow-sm p-3 mb-2 rounded" *ngIf="Runbtn">
          Priority
          <canvas id="canvas-prio" baseChart height="180px" [datasets]="barChartPriorityData"
                  [labels]="barChartPriorityLabels" [options]="barChartOptions"
                  [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
                  [colors]="barChartColorsSev_Prior">
          </canvas>
        </div>
      </div>
      <div class="row inner-row-statistcs" *ngIf="display_charts == true">
        <div id="test-cases-div" class="col-6 shadow-sm p-3 mb-2 rounded">
          Test Cases
          <canvas id="canvas-risk-optimizier" baseChart height="50px" [datasets]="barChartTestCasesData"
                  [labels]="barChartTestCasesLabels" [options]="barChartOptions"
                  [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
                  [colors]="barChartColorsDouble">
          </canvas>
          Execution Time (min)
          <canvas id="canvas2-risk-optimizer" baseChart height="50px" [datasets]="barChartCostData"
                  [labels]="barChartCostLabels" [options]="barChartOptions"
                  [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
                  [colors]="barChartColorsDouble">
          </canvas>
          Defects per root cause
          <canvas baseChart [datasets]="barChartRootCauseData" [labels]="barChartRootCauseLabels"
                  [options]="barChartRootCauseOptions"
                  [plugins]="barChartRootCausePlugins" [legend]="barChartRootCauseLegend"
                  [chartType]="barChartRootCauseType" [colors]="colorRootCauseLegend">
          </canvas>

        </div>
        <div id="test-coverage2" class="col-6 shadow-sm p-3 mb-2 rounded">
          Test Coverage (%)
          <canvas id="canvas3-risk-optimizier" baseChart height="50px" [datasets]="barChartCoverageData"
                  [labels]="barChartCoverageLabels" [options]="barChartOptions"
                  [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
                  [colors]="barChartColorsDouble">
          </canvas>
          Data Coverage AVG (%)
          <canvas id="canvas4-risk-optimizier" baseChart height="50px" [datasets]="barChartDataCoverageData"
                  [labels]="barChartDataCoverageLabels" [options]="barChartOptions"
                  [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
                  [colors]="barChartColorsDouble">
          </canvas>
          Defects
          <canvas id="canvas5-risk-optimizier" baseChart height="50px" [datasets]="barChartDefectsData"
                  [labels]="barChartDefectsLabels" [options]="barChartOptions"
                  [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
                  [colors]="barChartColorDefects">
          </canvas>
          <div>
            <div class="col-6" style="display:inline-block"><label>Risk Contribution</label></div>
            <div class="col-6" style="display:inline-block">
              <label class="color-per">
                Show me:
              </label>
<!--              [(ngModel)]="selectedProduct"-->
              <select class="custom-select my-1 mr-sm-2" type="text"
                      (change)="onChangeProductRangeFilter($event.target.value)">
                <option value="" selected="selected">Choose Product</option>
                <option class="color-per" *ngFor="let product of ProductsDistinctList" [ngValue]="product.value"
                        [value]="product.value">
                  {{product.title}}
                </option>
              </select>
            </div>
            <canvas id="risk-contributon-canvas" baseChart [data]="pieChartRiskContributionData"
                    [labels]="pieChartRiskContributionLabels" [chartType]="pieChartRiskContributionType"
                    [options]="pieChartRiskContributionOptions" [legend]="pieChartRiskContributionLegend"
                    [colors]="pieChartRiskContributionColors">
            </canvas>
          </div>
        </div>
      </div>
      <div class="row inner-row-statistcs" *ngIf="display_charts == true">
        <label class="color-per mb-2 ml-2">
          Test Cases Details:
        </label>
        <div *ngFor="let item of accordeondata;let i = index;" style="width: -webkit-fill-available;">
          <button class="accordion" (click)="toggleAccordian($event, i,item.testCaseKeys)"> {{item.parentName}} </button>
          <div class="panel" *ngFor="let child of item.childProperties" hide="!item.isActive">
            <table id="{{'table'+i}}" mat-table [dataSource]="dataSource[i]" class="mat-elevation-z8"
                   style="width: -webkit-fill-available;">
              <!-- Position Column -->
              <ng-container matColumnDef="TCid">
                <th mat-header-cell *matHeaderCellDef> Test case ID</th>
                <td mat-cell *matCellDef="let element"> {{element.TCid}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="defects">
                <th mat-header-cell *matHeaderCellDef> Defects</th>
                <td mat-cell *matCellDef="let element"> {{element.defects}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="execTime">
                <th mat-header-cell *matHeaderCellDef> Execution Time</th>
                <td mat-cell *matCellDef="let element"> {{element.execTime}} </td>
              </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="coverage">
                <th mat-header-cell *matHeaderCellDef> Coverage</th>
                <td mat-cell *matCellDef="let element"> {{element.coverage}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="dataCoverage">
                <th mat-header-cell *matHeaderCellDef> Data Coverage</th>
                <td mat-cell *matCellDef="let element"> {{element.dataCoverage}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="Severity">
                <th mat-header-cell *matHeaderCellDef> Severity</th>
                <td mat-cell *matCellDef="let element"> {{element.Severity}} </td>
              </ng-container>

              <!-- Prioriyt Column -->
              <ng-container matColumnDef="Prioriyt">
                <th mat-header-cell *matHeaderCellDef> Priority</th>
                <td mat-cell *matCellDef="let element"> {{element.Prioriyt}} </td>
              </ng-container>

              <!-- Machcost Column -->
              <ng-container matColumnDef="Machcost">
                <th mat-header-cell *matHeaderCellDef> Machine Cost</th>
                <td mat-cell *matCellDef="let element"> {{element.Machcost}} </td>
              </ng-container>

              <!-- probability Column -->
              <ng-container matColumnDef="probability">
                <th mat-header-cell *matHeaderCellDef> Risk probability</th>
                <td mat-cell *matCellDef="let element"> {{element.probability}} </td>
              </ng-container>
              <!-- Coverage Risk Column -->
              <ng-container matColumnDef="coverage_risk">
                <th mat-header-cell *matHeaderCellDef> Coverage Risk</th>
                <td mat-cell *matCellDef="let element"> {{element.coverage_risk}} </td>
              </ng-container>

              <!-- defect_risk Column -->
              <ng-container matColumnDef="defect_risk">
                <th mat-header-cell *matHeaderCellDef> Defect Risk</th>
                <td mat-cell *matCellDef="let element"> {{element.defect_risk}} </td>
              </ng-container>

              <!-- budget_risk Column -->
              <ng-container matColumnDef="budget_risk">
                <th mat-header-cell *matHeaderCellDef> Budget risk</th>
                <td mat-cell *matCellDef="let element"> {{element.budget_risk}} </td>
              </ng-container>

              <!-- severity_risk Column -->
              <ng-container matColumnDef="severity_risk">
                <th mat-header-cell *matHeaderCellDef> Severity risk</th>
                <td mat-cell *matCellDef="let element"> {{element.severity_risk}} </td>
              </ng-container>

              <!-- total_risk Column -->
              <ng-container matColumnDef="total_risk">
                <th mat-header-cell *matHeaderCellDef> Total risk</th>
                <td mat-cell *matCellDef="let element"> {{element.total_risk}} </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <!--<div class="col-6 shadow-sm p-3 mb-2 rounded"  >
            Defects
            <canvas baseChart height="40px" [datasets]="barChartDefectsData" [labels]="barChartDefectsLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColorDefects">
            </canvas>
          </div>
          <div class="col-6 shadow-sm p-3 mb-2 rounded">
            Defects per root cause
              <div *ngIf="!nodata">
                <div style="display: block">
                  <canvas baseChart [datasets]="barChartDataDefectsRootCause" [labels]="barChartLabelsDefectsRootCause" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegendDefectsRootCause" [chartType]="barChartTypeDefectsRootCause">
                  </canvas>
                </div>
              </div>
              <p *ngIf="nodata">
                No data for this period.
              </p>
          </div>-->
        </div>
      </div>
    </div>
    <app-alert></app-alert>
  </div>
