.compare-workflow {
    position: fixed;
    z-index: 101;
    width: 100%;
    background: white;
}

.time-variance {
    margin-top: 0.4rem !important;
    position: fixed !important;
    right: 4.5% !important;
}

.main{
    position: relative;
    top: 1rem;
}

::ng-deep .k-tabstrip{
    height: 720px;
}