<div id="designer-details-div1" class="compare-workflow">
    <app-time-variance *ngIf="showTimeVariance" (closeTimeVariance)="closeTimeVariance($event)" [workflow]="workflowComponent ? workflowComponent.selectedTreeViewItem : null" [processDetail]="workflowComponent ? workflowComponent._processDetail : null">
    </app-time-variance>
</div>

<div id="designer-details-main" class="main" [ngStyle]="{'display': showTimeVariance ? 'none' : 'block'}">
    <app-workflow-toolbar [allIssues]="allIssues" [processDetail]="processDetail" (backClicked)="backClicked($event)" (importClicked)="importClicked($event)" (generateClicked)="generateClicked($event)" (saveClicked)="saveClicked($event)" (issueClicked)="issueClicked($event)"
        (closeProcessDetails)="closeProcessDetails()"></app-workflow-toolbar>
    <div>
        <kendo-tabstrip id="designer-details-tabstrip" (tabSelect)="pageChanges($event)">
            <kendo-tabstrip-tab id="designer-details-tab1" [title]="' Design Requirement'" [selected]="true">
                <ng-template kendoTabContent>
                    <app-work-flow [processDetail]="processDetail" (importClicked)="importClicked($event)"></app-work-flow>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab id="designer-details-tab2" [title]="'Attachments'">
                <ng-template kendoTabContent>
                    <app-details [processDetail]="processDetail" [allIssues]="allIssues"></app-details>
                </ng-template>

            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </div>

</div>