<kendo-dialog
  id="delete-resource" 
  width="650"
  height="200"
  title="Delete Resource"
  *ngIf="deleteResourceWindowOpen"
  (close)="close()"
>
  <div id="text-div" class="row">
    <div class="col-12">
      <span id="text" class="description">
          Are you sure you want to delete '{{selectedResource.NAME}}' resource ?
      </span>
    </div>
  </div>
  <kendo-dialog-actions id="del-attr-act">
    <div class="row">
      <div id="action-buttons" class="col-12 action-buttons">
        <button id="y-btn" class="btn add"  (click)="deleteResource()">Yes</button>
        <button id="n-btn" class="btn exit" (click)="close()">No</button>
      </div>
    </div>
  </kendo-dialog-actions>
</kendo-dialog>

