<div id="main" class="main">
    <div id="app" class="joint-app joint-theme-modern stylesForPopUp">
        <div id="app-header" class="app-header" style="display: none">
            <div id="toolbarContainer" class="toolbar-container">
            </div>
        </div>
        <div id="stencilContainer" class="stencil-container " style="display: none">
        </div>
        <div id="paperContainer" class="paper-container "></div>
        <div id="navigatorContainer" class="navigator-container"></div>
    </div>
</div>
    