<kendo-dialog [minWidth]="'600'" [title]="isHierarchyEdited ? ('Edit ' + hierarchyTypeTitle)  : ('Add ' + hierarchyTypeTitle)" *ngIf="_openAddHierarchy" (close)="close()">
    <div id="add-edit-hirarchy-dialog" class="dialog">
        <div id="add-edit-hirarchy-row" class="row" *ngIf="!hierarchyToAdd.firstLevel">
            <div class="col-1">
                <span id="add-edit-hirarchy-parent">Parent*</span>
            </div>
            <div class="col-11">
                <kendo-combobox id="add-edit-hirarchy-barentBox" class="hierarchies" [data]="hierarchies" [filterable]="true" textField="title" valueField="id" [(ngModel)]="hierarchyToAdd.parent" (valueChange)="onChangeHierarchy($event)">
                </kendo-combobox>
            </div>
        </div><br />
        <div class="row">
            <div class="col-1">
                <label for="title" id="add-edit-hirarchy-title" class="label">Title*</label>
            </div>
            <div class="col-11">
                <input autocomplete="off" id="add-edit-hirarchy-inpoutTitle" id="title" type="text" (input)="changeTitle($event)" [value]="hierarchyToAdd.title" />
            </div>
        </div><br />
        <div class="row">
            <div class="col-1">
                <label for="description" id="add-edit-hirarchy-description" class="label">Description</label>
            </div>
            <div class="col-11">
                <textarea id="add-edit-hirarchy-descriptionContentArea" id="description" (input)="changeDescription($event)">{{hierarchyToAdd.description}}</textarea>
            </div>
        </div><br />
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <button id="add-edit-hirarchy-add" name="add-edit-hirarchy-add" class="btn add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">Submit</button>
                    <button id="add-edit-hirarchy-exit" name="add-edit-hirarchy-exit" class="btn exit" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>
