<kendo-dialog id="del-sys-tag" width="600" height="200" title="Delete System Tag" *ngIf="deleteSystemTagWindowOpen" (close)="close()">
    <div id="del-sys-tag-div" class="row">
        <div class="col-12">
            <span id="del-sys-tag-text" class="description">
                Are you sure you want to delete '{{selectedSystemTag.title}}' systemTag ?
            </span>
        </div>
    </div>
    <kendo-dialog-actions id="del-sys-tag-actions" >
        <div class="row">
            <div class="col-12 action-buttons">
                <button id="sys-tag-yes" class="btn add" (click)="deleteSystemTag()">Yes</button>
                <button id="sys-tag-no" class="btn exit" (click)="close()">No</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>