<!-- <div class="dialog">
    <div class="title">
        <h2>Add / Edit Hirarchy</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-12">
            <span>Title*</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="text" [(ngModel)]="selectedHierarchyType.title" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span>Description</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <textarea class="textarea" [(ngModel)]="selectedHierarchyType.description"></textarea>
        </div>
    </div>
    <div class="row" *ngIf="!isHierarchyTypeEdited && lastHierarchyType">
        <div class="col-12">
            <span>Parent Hierarchy*</span>
        </div>
    </div>
    <div class="row" *ngIf="!isHierarchyTypeEdited && lastHierarchyType">
        <div class="col-12">
            <kendo-combobox [data]="lastHierarchyTypeList" [disabled]="true" [textField]="'title'" [valueField]="id" [placeholder]="'Select Parent Hierarchy'" (valueChange)="setParent($event)" [allowCustom]="true" [value]="lastHierarchyType">
            </kendo-combobox>
        </div>
    </div>
    <button class="btn add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">
      <span class="add-icon"></span>Add Hierarchy
    </button>
</div>
<div class="example-wrapper">
    <kendo-dialog title="Please confirm" *ngIf="forceDelete" (close)="closeWindow()" [minWidth]="450" [width]="550" [height]="250" [@.disabled]="true">
        <p>
            {{ !confirmForceDelete ? messageForceDelete : "Are you sure to delete all the Created requirements?" }}
        </p>
        <kendo-dialog-actions>
            <button kendoButton class="cancel-button" (click)="closeWindow()">
        No
      </button>
            <button kendoButton class="submit-button" (click)="approveConfirm()" primary="true">
        {{ !confirmForceDelete ? "Force Delete" : "Delete"
        }}<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
      </button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div> -->
<kendo-dialog id="add-hierarchy-type-dialog" [minWidth]="'550'" [height]="isHierarchyTypeEdited ? '800px' : '850px'" [title]="isHierarchyTypeEdited ? 'Edit Hierarchy' : 'Add New Hierarchy'" *ngIf="_hierarchyTypeWindowOpen" (close)="close()">
    <div class="dialog">
        <div class="row">
            <div class="col-12">
                <span id="add-hierarchy-type-title" >Title*</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="add-hierarchy-type-title" type="text" [(ngModel)]="selectedHierarchyType.title" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span id="add-hierarchy-type-descrip" >Description</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea id="add-hierarchy-type-descp-area" class="textarea" [(ngModel)]="selectedHierarchyType.description"></textarea>
            </div>
        </div>
        <div class="row" *ngIf="!isHierarchyTypeEdited && lastHierarchyType">
            <div class="col-12">
                <span >Parent Hierarchy*</span>
            </div>
        </div>
        <div class="row" *ngIf="!isHierarchyTypeEdited && lastHierarchyType">
            <div class="col-12">
                <kendo-combobox id="add-hierarchy-type-parent-combo" [data]="lastHierarchyTypeList" [disabled]="true" [textField]="'title'" [valueField]="id" [placeholder]="'Select Parent Hierarchy'" (valueChange)="setParent($event)" [allowCustom]="true" [value]="lastHierarchyType">
                </kendo-combobox>
            </div>
        </div>
        <button id="add-hierarchy-type-disable" class="btn add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">
      <span id="add-hierarchy-type-span" class="add-icon"></span>{{isHierarchyTypeEdited ? 'Edit Hierarchy' : 'Add New Hierarchy'}}
    </button>
        <!-- <button class="btn exit" (click)="close()">Cancel</button> -->
    </div>
</kendo-dialog>
<div class="example-wrapper">
    <kendo-dialog id="add-hierarchy-type-force-delete" title="Please confirm" *ngIf="forceDelete" (close)="closeWindow()" [minWidth]="450" [width]="550" [height]="250" [@.disabled]="true">
        <p id="confirmForceDelete">
            {{ !confirmForceDelete ? messageForceDelete : "Are you sure to delete all the Created requirements?" }}
        </p>
        <kendo-dialog-actions id="add-hierarchy-type-">
            <button id="add-hierarchy-type-close-window" kendoButton class="cancel-button" (click)="closeWindow()">
        No
      </button>
        <button id="add-hierarchy-type-cofr" kendoButton class="submit-button" (click)="approveConfirm()" primary="true">
        {{ !confirmForceDelete ? "Force Delete" : "Delete"
        }}<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
      </button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>
