/* .title h2 {
    color: #9e9e9e;
}

.dialog {
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    border: 1px solid #464545;
    width: 92%;
    top: 2rem;
    position: relative;
    padding: 49px 25px;
    border-radius: 18px;
    box-shadow: 2px 0px 18px 1px #464545;
    margin-left: auto;
    margin-right: auto;
}

input {
    height: 3rem;
    width: 100%;
    border-radius: 25px;
    background: transparent;
    border-color: #eeeff2;
    border-top-color: #eeeff240;
    border-left-color: #eeeff240;
    margin-bottom: 20px;
}

.textarea {
    width: 100%;
    height: 6rem;
    border-radius: 25px;
    background: transparent;
    border-color: #eeeff2;
    margin-bottom: 20px;
}

.add {
    margin: 9px 0;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 18px 39px;
    width: 100%;
    margin-top: 5rem;
    border-radius: 50px;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.k-window-content {
    overflow: hidden !important;
}

kendo-combobox {
    width: 100%;
}

.k-dialog-wrapper .k-dialog {
    border-radius: 45px;
    height: 62%;
}

.k-window-titlebar {
    border-color: rgba(33, 37, 41, 0.125);
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 45px;
    border-top-color: transparent;
    width: 97%;
    border-bottom-color: transparent;
    margin-left: 8px;
    margin-top: 7px;
}

.k-window-title {
    content: "/f23b ";
}

.kendo-custom {
    position: relative;
    right: 29.5rem;
    height: 83vh;
} */

.dialog {
    text-align: center;
    font-size: 18px;
    overflow: hidden;
}

input {
    height: 3rem;
    width: 100%;
    border-radius: 25px;
    background: transparent;
    border-color: #eeeff2;
    border-top-color: #eeeff240;
    border-left-color: #eeeff240;
    margin-bottom: 20px;
}

.textarea {
    width: 100%;
    height: 6rem;
    border-radius: 25px;
    background: transparent;
    border-color: #eeeff2;
    margin-bottom: 20px;
}

.add {
    margin: 9px 0;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 18px 39px;
    width: 100%;
    margin-top: 5rem;
    border-radius: 50px;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.k-window-content {
    overflow: hidden !important;
}

kendo-combobox {
    width: 100%;
}

.k-dialog-wrapper .k-dialog {
    border-radius: 45px;
    height: 62%;
}

.k-window-titlebar {
    border-color: rgba(33, 37, 41, 0.125);
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 45px;
    border-top-color: transparent;
    width: 97%;
    border-bottom-color: transparent;
    margin-left: 8px;
    margin-top: 7px;
}

.k-window-title {
    content: "/f23b ";
}