<app-sidebar></app-sidebar>
<div id="content">
    <div class="row" style="margin:1%;font-size:small">
        <div class="col-2">
            <ng-multiselect-dropdown id="issue-tracking-priorities" [placeholder]="'Priority:'" [data]="priorities" [(ngModel)]="selectedPriorities" [settings]="dropdownSettings" (onSelect)="filterByPriorities()" (onDeSelect)="filterByPriorities()" (onSelectAll)="onSelectDeselectAll('priorityTitle')"
                (onDeSelectAll)="onSelectDeselectAll('priorityTitle')">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-2">
            <ng-multiselect-dropdown id="issue-tracking-issue-types" [placeholder]="'Issue Type:'" [data]="issueTypes" [(ngModel)]="selectedIssueTypes" [settings]="dropdownSettings" (onSelect)="filterByIssueTypes()" (onDeSelect)="filterByIssueTypes()" (onSelectAll)="onSelectDeselectAll('issueTypeTitle')"
                (onDeSelectAll)="onSelectDeselectAll('issueTypeTitle')">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-2">
            <ng-multiselect-dropdown id="issue-tracking-statuses" [placeholder]="'Status:'" [data]="statuses" [(ngModel)]="selectedStatuses" [settings]="dropdownSettings" (onSelect)="filterByStatuses()" (onDeSelect)="filterByStatuses()" (onSelectAll)="onSelectDeselectAll('statusTitle')" (onDeSelectAll)="onSelectDeselectAll('statusTitle')">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-2">
            <ng-multiselect-dropdown id="issue-tracking-assignees" [placeholder]="'Assignee:'" [data]="assignees" [(ngModel)]="selectedAssignees" [settings]="dropdownSettingsAssignees" (onSelect)="filterByAssignees()" (onDeSelect)="filterByAssignees()" (onSelectAll)="onSelectDeselectAll('assigneeName')"
                (onDeSelectAll)="onSelectDeselectAll('assigneeName')">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-2">
            <ng-multiselect-dropdown id="issue-tracking-heirarchies" [placeholder]="'Component:'" [data]="hierarchyTypes" [(ngModel)]="selectedHierarchyTypes" [settings]="dropdownSettings" (onSelect)="filterByHierarchies()" (onDeSelect)="filterByHierarchies()" (onSelectAll)="onSelectDeselectAll('componentId')"
                (onDeSelectAll)="onSelectDeselectAll('componentId')">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-2">
            <ng-multiselect-dropdown id="issue-tracking-sprints" [placeholder]="'Sprint:'" [data]="sprints" [(ngModel)]="selectedSprints" [settings]="dropdownSettings" (onSelect)="filterBySprints()" (onDeSelect)="filterBySprints()" (onSelectAll)="onSelectDeselectAll('sprintTitle')" (onDeSelectAll)="onSelectDeselectAll('sprintTitle')">
            </ng-multiselect-dropdown>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <span class="clearable form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
            <input id="issue-tracking-contains" type="text" name="" [value]="searchCriteria" (input)="onSearch($event)" placeholder="Contains..." class="form-control">
            <i class="clearable__clear" *ngIf="searchCriteria && searchCriteria !== ''" (click)="clearSearch()">&times;</i>
            </span>
        </div>
    </div>
    <kendo-grid id="issue-tracking-grid" [data]="gridData" [resizable]="true" [pageSize]="state.take" (pageChange)="pageChange($event)" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="false" [pageable]="true" [filterable]="false" (dataStateChange)="dataStateChange($event)"
        [kendoGridSelectBy]="'id'" [selectable]="selectableSettings" [selectedKeys]="selectedIssueId" (selectedKeysChange)="openIssueDetails($event)">
        <ng-template kendoGridToolbarTemplate>
            <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
            <a class="button custom-help" href="#issue"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </ng-template>
        <kendo-grid-column title="IssueId" field="id" [hidden]="true"></kendo-grid-column>
        <kendo-grid-column width="230" title="Title" field="title"></kendo-grid-column>
        <kendo-grid-column title="Assignee" field="assigneeName"></kendo-grid-column>
        <kendo-grid-column title="Reporter" field="reporterName">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.reporterName == null? "None" : dataItem.reporterName}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Priority" field="priorityTitle" [filterable]="false"></kendo-grid-column>
        <kendo-grid-column title="Status" field="statusTitle"></kendo-grid-column>
        <kendo-grid-column title="Issue Type" field="issueTypeTitle"></kendo-grid-column>
        <kendo-grid-column title="Component" field="componentId" [hidden]="true"></kendo-grid-column>
        <kendo-grid-column title="Sprint" field="sprintTitle" [hidden]="false"></kendo-grid-column>
        <kendo-grid-column title="SprintId" field="sprintId" [hidden]="true"></kendo-grid-column>
        <kendo-grid-column width="100" title="Start Date" field="startDate">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.startDate === "0001-01-01T00:00:00"? " ": dataItem.startDate | date}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column width="100" title="Due Date" field="dueDate">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.dueDate === "0001-01-01T00:00:00"? " ": dataItem.dueDate | date}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-excel fileName="Issues.xlsx" [fetchData]="exportDataExcel"></kendo-grid-excel>
        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-info></kendo-pager-info>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <kendo-pager-page-sizes [pageSizes]="[5, 10, 15, 20]"></kendo-pager-page-sizes>
        </ng-template>
    </kendo-grid>
    <div *ngIf="loading" class="k-i-loading"></div>
    <kendo-dialog id="issue-tracking-dialog" title="Issue Details" *ngIf="openIssueDetailsPopUp" (close)="closeIssueDetailsPopup()" [minWidth]="400" [width]="400" [height]="800">
        <app-issue-details [issueTypes]="issueTypes" [sprints]="sprints" [_issue]="selectedIssue" [people]="assignees" [disableClose]="true" [openDetails]="openIssueDetailsPopUp" (issueUpdated)="refreshIssues()">
        </app-issue-details>
    </kendo-dialog>
</div>
<app-issue-tracking-popup></app-issue-tracking-popup>