#content {
    float: right;
    width: 88%;
    margin-left: 1rem;
    margin-top: 1rem;
    position: relative;
}

.filter-component {
    height: 3.5rem;
    border-top: 1px solid #e5e5e5 !important;
    margin-left: 0;
    margin-right: 0;
}

.k-i-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    background-color: rgba(255, 255, 255, .3);
    color: #ff6757;
}

.labels {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.757143em;
    font-style: inherit;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
    color: rgb(94, 108, 132);
    line-height: 12px;
    overflow: hidden;
    padding: 6px;
    border-radius: 3px;
    box-sizing: border-box;
}

.values {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    color: black;
    display: flex;
    font-size: 14px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 1.42857;
    max-width: 100%;
    overflow-wrap: break-word;
    border-color: transparent;
    border-radius: 3px;
    border-style: solid;
    flex: 1 0 auto;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    border-width: 2px;
    padding: 6px;
}

.headers {
    padding-bottom: 0.6rem;
    padding-top: 0.8rem;
    padding-left: 0.3rem;
    margin: 0;
    color: #4e4c4c !important;
}

.issue-tracking-header {
    display: inline-flex;
    width: 100%;
}

.fa-search {
    color: #696969 !important;
    margin-top: 0.5rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    font-size: small;
}

.form-control {
    width: 100%;
    margin-top: 0.5rem;
    padding: .375rem 2.75rem;
}

.form-group {
    margin-right: 2% !important;
}

.clearable {
    position: relative;
    display: inline-block;
    position: relative;
    margin-left: 4%;
}

.clearable input[type=text] {
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
}

.clearable__clear {
    position: absolute;
    right: 0;
    margin-top: -2.2rem;
    padding: 0 8px;
    font-style: normal;
    font-size: 1.2em;
    user-select: none;
    cursor: pointer;
}

kendo-grid {
    width: 96%;
    max-height: 80%;
    margin: 2%;
}

::ng-deep .multiselect-dropdown {
    background-color: grey;
    color: white;
}

::ng-deep.k-grid tbody tr:hover,
.k-grid tbody tr.k-state-hover {
    color: black;
    background-color: #92c94d;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
    background: #92c94d !important;
    border: 1px solid white !important;
}

.custom-help {
    background: rgba(0, 0, 0, .12);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    /* top: 44em; */
    left: 96em;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}