<kendo-dialog id="add-edit-typical" [minWidth]="isTypicalEdited ? '500' : '600'" [height]="isTypicalEdited ? '500px' : '620px'" [title]="isTypicalEdited ? 'Edit Typical' : 'Add Typical'" *ngIf="typicalWindowOpen" (close)="close()">
    <div class="dialog">
            <div class="row" *ngIf="!this.isTypicalEdited">
                    <div class="col-12">
                        <span id="typical-title-span">Catalog</span>
                    </div>
                </div>
        <div class="row" *ngIf="!this.isTypicalEdited">
            <div class="col-12" *ngIf="selectedCatalogFromDropDown != undefined">
                 <kendo-combobox id='catalog-name' class="catalog-name" [data]="catalogList" placeholder="Select Catalog" [textField]="'title'" [valueField]="'id'" 
                 [filterable]="true" [value]="selectedCatalogFromDropDown" (valueChange)="changeCatalog($event)">
                </kendo-combobox>
            </div>
            <div class="col-12" *ngIf="selectedCatalogFromDropDown == undefined">
                    <kendo-combobox id='catalog-name' class="catalog-name" [data]="catalogList" placeholder="Select Catalog" [textField]="'title'" [valueField]="'id'" 
                    [filterable]="true" [value]="selectedCatalog" (valueChange)="changeCatalog($event)">
                   </kendo-combobox>
               </div>
        </div> <br *ngIf="!this.isTypicalEdited" /><br *ngIf="!this.isTypicalEdited" />
        <div class="row">
            <div class="col-12">
                <span id="typical-title-span">Title</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="typical-title" type="text" (input)="changeTitle($event)" [value]="selectedTypical.title" />
            </div>
        </div>
        <br/><br/>
        <div class="row" *ngIf="!this.isTypicalEdited">
            <div class="col-12">
                <span id="typical-type">Typical Type</span>
            </div>
        </div>
        <div class="row" *ngIf="!this.isTypicalEdited">
            <div class="col-12">
                <kendo-combobox id="typical-types" class="typical-types" [data]="typicalTypes" placeholder="Select Typical Type" [textField]="'title'" [valueField]="'type'" [filterable]="true" [value]="selectedTypicalType" (valueChange)="changeTypicalType($event)">
                </kendo-combobox>
            </div>
        </div><br *ngIf="!this.isTypicalEdited" /><br *ngIf="!this.isTypicalEdited" />
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <button id="submit-typical" class="btn add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">Submit</button>
                    <button id="cancel-typical" class="btn exit" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>
