.edit-systemtag-btn {
    color: white;
    width: 5rem;
    margin-right: 1.5rem;
}

.delete-systemtag-btn {
    width: 5rem;
    margin-right: 1.5rem;
    font-size: 14px;
}

.action-buttons {
    border-color: #92c94d;
    color: #ffffff;
    background-color: #92c94d;
}

.action-buttons :hover {
    border-color: #c7cdd5;
    color: #212529;
    background-color: #ced3db;
}
