<div id="sys-tag-container-fluid" class="container-fluid">
    <kendo-grid id="sys-tag-grid" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
        <ng-template kendoGridToolbarTemplate>
            <div class="row">
                <div class="input-group col-md-2">
                    <kendo-combobox *ngIf="permissionService.hasPermission('/api/Administration/GetSystemTags')" class="form-control" name="systemList" [data]="systemList" [textField]="'title'" [valueField]="id" (valueChange)="getTagsBySystem($event)" [placeholder]="'Select System'"></kendo-combobox>
                </div>
                <button name="openSystemTagPopUp" class="k-button k-grid-add-command ng-star-inserted" (click)="openSystemTagPopUp()" *ngIf="permissionService.hasPermission('/api/Administration/AddSystemTag')">Add new</button>
            </div>
        </ng-template>
        <kendo-grid-column title="Title" [field]="'title'">
        </kendo-grid-column>
        <kendo-grid-column title="Description" [field]="'description'">
        </kendo-grid-column>
        <kendo-grid-column field="Actions" [filterable]="false" width="450">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button *ngIf="permissionService.hasPermission('/api/Administration/UpdateSystemTag')" name="sys-tag-pop-up" class="edit-systemtag-btn k-button k-grid-add-command ng-star-inserted" (click)="openSystemTagPopUp(dataItem)">
                    Edit
                </button>
                <button *ngIf="permissionService.hasPermission('/api/Administration/DeleteSystemTag')" name="sys-tag-del" class="btn btn-danger delete-systemtag-btn" (click)="openDeleteSystemTagWindow(dataItem)">
                    Delete
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <app-delete-system-tag [deleteSystemTagWindowOpen]="deleteSystemTagWindowOpen" [selectedSystemTag]="selectedSystemTag" (closeDeleteSystemTagWindow)="close()" (removeSystemTagFromList)="removeSystemTagFromList($event)">
    </app-delete-system-tag>
    <app-add-edit-system-tag [isSystemTagEdited]="isSystemEdited" [selectedSystemTag]="selectedSystemTag" [systemTagWindowOpen]="systemTagWindowOpen" (closeSystemWindow)="close()" (systemTagListUpdated)="updateSystemTagList($event)">
    </app-add-edit-system-tag>
</div>
