.body {
    overflow: hidden;
}

.image-title {
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: #0d4b5e;
}

.title {
    color: #0d4b5e;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    position: relative;
}

.workflow-image {
    height: auto;
    display: flex;
    width: 518px;
}

.workflow-image:active {
    -webkit-transform: scale(2);
    transform: scale(2);
    cursor: zoom-out;
}

.right {
    border-right: 1px solid #ccc;
}

.scrolling-wrapper-flexbox {
    display: flex;
    overflow-x: auto;
    height: calc(100vh - 140px);
    background-color: whitesmoke;
}

.k-splitter-flex.k-splitter-horizontal {
    flex-direction: row;
    height: 87vh;
}

kendo-splitter+kendo-splitter {
    margin: 20px 0 0;
}

.card {
    flex: 0 0 auto;
    margin-left: 14px;
    position: relative;
}

.form-control {
    display: block;
    width: 96%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.treeview {
    position: absolute;
    z-index: 2;
    width: 15%;
    height: 781px;
    flex: 0 0 auto;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

app-tree-view {
    position: relative;
    top: 15px;
}

.pick-date {
    height: 70px;
    width: 100%;
}

.date-range {
    display: flex;
    justify-content: center;
}

.select-date {
    position: relative;
    top: 20px;
    width: 386px;
    border-radius: 24px;
    text-align: center;
    border-color: #0d4b5e;
    border-style: solid;
    border-width: 2px;
    font-size: 14px;
}

.example-input-wrapper-text {
    position: relative;
    top: 20px;
    margin-right: 10px;
    font-weight: 500;
    color: #0d4b5e;
}

.filter {
    position: relative;
    height: 40px;
    width: 100px;
    border: 0;
    background-color: #0d4b5e;
    color: white;
    margin: 12px 25px;
    border-radius: 9px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.verticalLine {
    border-left: 3px solid #dfdfdf;
    height: auto;
    z-index: 2;
    margin-left: 14px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 2px solid #0d4b5e;
    border-radius: .25rem;
    margin-left: 14px;
    max-height: 770px;
    -moz-box-shadow: 7px 7px 7px #ccc;
    -webkit-box-shadow: 7px 7px 7px #ccc;
    box-shadow: 7px 7px 7px #ccc;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

img {
    height: 95% !important;
    object-fit: contain !important;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.go-back {
    position: absolute;
    right: 23px;
    top: 1rem;
    border: 0;
    background-color: #92c94d;
    padding: 8px 49px;
    color: #0d4b5e;
    cursor: pointer;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.owl-dt-inline-container,
.owl-dt-popup-container {
    width: 49px;
    position: relative;
    width: 23.5em !important;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 1600px) {}