<div id="time-variance-big-div" class="pick-date date-range">
    <label id="time-variance-lab" class="example-input-wrapper">
    <span id="time-variance-span" class="example-input-wrapper-text">Select start and end date: </span>
    <input id="time-variance-change" class="select-date" placeholder="Select start and end Date"
           [(ngModel)]="dateTimeRange"
           [selectMode]="'range'" [owlDateTimeTrigger]="selectTime"
           [owlDateTime]="selectTime"
           (change)="valueChange($event)">
    <owl-date-time id="time-variance-owl" #selectTime (afterPickerClosed)="pickerClosed()"></owl-date-time>
  </label>
    <button id="time-variance-back" class="go-back" type="button" (click)="goBack()">Go Back</button>
</div>
<div class="scrolling-wrapper-flexbox">
    <div class="card drag-block" ngDraggable *ngFor="let item of
workflowVersions">
        <p name="time-variance-version" class="image-title">{{item.title}} - v{{item.version}} - {{ item.dateCreated | date:'medium' }}</p>
        <img name="time-variance-img" class="workflow-image" [src]="item.workflowImage" ondragstart="return true;" />
    </div>
</div>
