#content {
    float: right;
    width: 88%;
    height: 100%;
    word-wrap: break-word;
    background: #FFFFFF;
    font-family: Raleway, sans-serif;
}

.edit-system-btn {
    width: 5rem;
    color: black;
    margin-right: 1.5rem;
    background-color: lightgray;
}

.delete-system-btn {
    width: 5rem;
    margin-right: 1.5rem;
    font-size: 14px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    font-size: small;
}

.form-control {
    width: 100%;
    margin-top: 0.5rem;
    padding: .375rem 2.75rem;
}

.form-group {
    margin-right: 2% !important;
}

.fa-search {
    color: #696969 !important;
    margin-top: 0.5rem;
}

.clearable {
    position: relative;
    display: inline-block;
    position: relative;
}

.clearable input[type=text] {
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
}

.clearable__clear {
    position: absolute;
    right: 0;
    margin-top: -2.2rem;
    padding: 0 8px;
    font-style: normal;
    font-size: 1.2em;
    user-select: none;
    cursor: pointer;
}

.action-buttons {
    border-color: #92c94d;
    color: #ffffff;
    background-color: #92c94d;
}

.action-buttons :hover {
    border-color: #c7cdd5;
    color: #212529;
    background-color: #ced3db;
}

.custom-add-button {
    vertical-align: middle;
    background: #92c94d;
    color: white;
    border-radius: 86px;
    height: 57px;
    width: 57px;
    font-size: 28px;
}

.custom-help {
    background: rgba(0, 0, 0, .12);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
