<app-sidebar> </app-sidebar>
<div id="people-container" class="container-fluid">
    <section id="content">
        <div class="row">
            <div class="col-6">
                <span id="people-formGroup" class="clearable form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
                <input id="people-inpitSearch" type="text" name="" [value]="searchCriteria" (input)="onSearch($event)" placeholder="Contains..." class="form-control">
                <i class="clearable__clear" *ngIf="searchCriteria && searchCriteria !== ''" (click)="clearSearch()">&times;</i>
                </span>
            </div>
        </div>
        <kendo-grid id="people-grid" [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true" (dataStateChange)="dataStateChange($event)">
            <ng-template kendoGridToolbarTemplate *ngIf="addPeoplePermission()">
                <button id="people-openPeople" name="OpenPeople" (click)="openPeopleWindow()" class="k-button k-grid-add-command ng-star-inserted custom-add-button">
          <i aria-hidden="true" class="fa fa-plus"></i>
        </button>
                <a id="people-roles" class="button custom-help" href="#roles"><i class="fa fa-question-circle"
            aria-hidden="true"></i></a>

            </ng-template>
            <kendo-grid-column id="people-user" title="Login User" [field]="'userAdminPanel'"> </kendo-grid-column>
            <kendo-grid-column id="people-nickName" title="Nick Name" [field]="'name'"> </kendo-grid-column>
            <kendo-grid-column id="people-FullName" title="Full Name" [field]="'surname'">
            </kendo-grid-column>
            <kendo-grid-column id="people-Role" title="Role" [field]="'role'"> </kendo-grid-column>
            <kendo-grid-column id="people-address" title="Address" [field]="'address'" [hidden]="true">
            </kendo-grid-column>
            <kendo-grid-column id="people-email" title="Email" [field]="'email'"> </kendo-grid-column>
            <kendo-grid-column id="people-actions" field="Actions" [filterable]="false" width="350" *ngIf="deletePeoplePermission() || editPeoplePermission()">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button id="people-edit" name="people-edit" class="edit-system-btn k-button k-grid-add-command ng-star-inserted" (click)="openPeopleWindow(dataItem)" *ngIf="editPeoplePermission()">
            Edit
          </button>
                    <button id="people-delete" name="people-delete" class="btn btn-danger delete-system-btn" (click)="openDeletePeopleWindow(dataItem)" *ngIf="deletePeoplePermission()">
            Delete
          </button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
        <app-add-edit-people [isPeopleEdited]="isPeopleEdited" [selectedPeople]="selectedPeople" [registerUsers]="registerUsers" [usersAdminPanel]="_usersAdminPanel" [peopleWindowOpen]="peopleWindowOpen" (closePeopleWindow)="close()" (peopleListUpdated)="updatePeopleList($event)">
        </app-add-edit-people>
        <app-delete-people [deletePeopleWindowOpen]="deletePeopleWindowOpen" [selectedPeople]="selectedPeople" (closeDeletePeopleWindow)="close()" (removePeopleFromList)="removePeopleFromList($event)">
        </app-delete-people>
    </section>
</div>
<app-role-popup></app-role-popup>
