.workflow-search {
    width: 100%;
}

#searchWorkflow {
    background-color: #92c94d;
    color: #fff;
    height: 51px;
    border-radius: 30px;
    margin-top: 1rem;
    width: 209px;
}

::-webkit-input-placeholder {
    color: #0d4b5e;
}

::-moz-placeholder {
    color: #0d4b5e;
}

:-ms-input-placeholder {
    color: #0d4b5e;
}

:-moz-placeholder {
    color: #0d4b5e;
}

.search-circle {
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #92979b;
    ;
    left: calc(50% - -169px);
    top: -60px;
    border-radius: 47px;
    cursor: pointer;
}

.search-icon {
    position: relative;
    left: 23px;
    font-size: 3vh;
    top: 19px;
    color: #fff;
    cursor: pointer;
}

input::placeholder {
    color: #ffffff !important;
    font-size: 1.9vh;
}

.test {
    position: relative;
    height: 250px;
    width: 250px;
    background-color: yellow;
    margin-top: 100px;
}

.select-version-title {
    position: relative;
    padding-top: 10px;
}

#searchWorkflow::placeholder {
    color: #fff;
}

.treeview-item {
    margin-left: 0px;
    width: 100%;
    white-space: normal;
}

@media only screen and (max-width: 1600px) {
    .search-icon {
        left: 39%;
        position: relative;
        font-size: 2.5vh;
        top: 14px;
    }
    .search-circle {
        width: 60px;
        height: 60px;
        position: absolute;
        background-color: #92979b;
        top: -54px;
        border-radius: 47px;
        cursor: pointer;
        left: calc(50% - -164px);
        padding: 5px;
    }
    #searchWorkflow {
        width: 90%;
    }
}

@media only screen and (max-width: 1366px) {
    .search-icon {
        font-size: 2.5vh;
        top: 18px;
    }
    .search-circle {
        width: 70px;
        height: 70px;
        position: absolute;
        background-color: #92979b;
        top: -60px;
        border-radius: 47px;
        cursor: pointer;
        background-color: #92979b;
        left: calc(50% - -30px);
    }
    #searchWorkflow {
        width: 50%;
    }
}