<div id="system-type-div" class="row">
    <div class="col-md-12">
        <kendo-textbox-container id="system-type-textbox" class="input-name">
            <h6 class="system-type">System Type</h6>
            <input id="system-type-changed" kendoTextBox type="text" name="name" [readonly]="readonly" [value]="workflowItemData.Title" (input)="systemTypeChanged($event.currentTarget.value)">
        </kendo-textbox-container>
    </div>
    <div style="margin-top: 10px; position: relative;"></div>
</div>
