.description {
    border: 1px solid #e3e4e4;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.2rem;
    box-sizing: border-box;
}

.description-label {
    margin-left: 0;
    margin-right: 0;
}

.description-col {
    overflow: auto;
    height: inherit;
}