<div id="process-description-label" class="row description-label">
    <div class="col-12">
        <span id="process-description">Description:</span>
    </div>
</div>
<div id="process-description-label2" class="row description">
    <div id="process-description-label123123" mwlResizable [enableGhostResize]="true" [resizeEdges]="{bottom: true}" [ngStyle]="{'height': descriptionHeight}" class="col-12 description-col" (resizeStart)="onResizeEnd($event)" (resizing)="onResizeEnd($event)">
        {{selectedProcess ? selectedProcess.description : ''}}
    </div>
</div>
