<kendo-splitter id="details-splitter" >
    <kendo-splitter-pane id="details-pane1" size="50%">
        <div id="details-process-resources" class="process-resources">
            <h4 id="details-attach" class="headers resource">Attachments</h4>
            <a id="details-anchor" class="nav-link add-resource" (click)="uploader.click()" *ngIf="permissionSerivce.hasPermission('/api/Process/Browse/AddProcessResources')"><i class="fa fa-plus attach"
           aria-hidden="true"></i>Attach</a>
            <input id="details-file-selection" hidden type="file" multiple="true" #uploader (change)="onFileSelected($event)" />
        </div>

        <hr class="line" />
        <div id="details-pane-content" class="pane-content">
            <app-process-resources [processDetail]="_processDetail" [addedResources]="addedResources"></app-process-resources>
        </div>
    </kendo-splitter-pane>
    <kendo-splitter-pane id="details-pane2" size="50%">
        <h4 id="details-workflows" class="headers wf-issues">Workflows / Issues</h4>
        <hr id="details-horizontal" class="line" />
        <div id="details-workflow-issues" class="pane-content">
            <div>
                <div style="margin-top: 10px;"></div>
                <app-workflow-issues [process]="_processDetail" [allIssues]="allIssues"></app-workflow-issues>
            </div>
        </div>
    </kendo-splitter-pane>
</kendo-splitter>
