.line {
    margin-top: 0;
    margin-bottom: 0;
}

.headers {
    padding-bottom: 0.6rem;
    padding-top: 1.2rem;
    padding-left: 0.3rem;
    margin: 0;
    color: #696969 !important;
    padding-bottom: 1.2rem;
}

.process-resources {
    display: inline-flex;
    width: 100%;
}

.resource {
    width: 95%;
}

.add-resource {
    margin-top: 0.8rem;
    cursor:pointer;
    display: inline-flex;
}

.fa-plus {
    color: #696969;
    margin-top: 0.25rem;
}

.attach {
    position: relative;
}
