<div id="typic-div" class="row">
    <div class="col-md-12">
        <kendo-textbox-container id="typic-id" class="input-name">
            <h6 class="typical-name">Typical Name</h6>
            <input id="tpyic-changed" kendoTextBox type="text" name="name" [readonly]="readonly" [value]="workflowItemData.TypicalName" (input)="typicalNameChanged($event.currentTarget.value)">
        </kendo-textbox-container>
    </div>
    <div style="margin-top: 10px; position: relative;"></div>
</div>
        