<kendo-dialog id="add-edit-catalog" [minWidth]="isCatalogEdited ? '500' : '600'" [height]="isCatalogEdited ? '500px' : '620px'" [title]="isCatalogEdited ? 'Edit Catalog' : 'Add New Catalog'" *ngIf="catalogWindowOpen" (close)="close()">
    <div class="dialog">
        <div class="row">
            <div class="col-12">
                <span id="title-span">Title</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="selected-catalog" type="text" (input)="changeTitle($event)" [value]="selectedCatalog.title" />
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-12">
                <span id="description-span" >Description</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea id="description-change" (input)="changeDescription($event)">{{selectedCatalog.description}}</textarea>
            </div>
        </div><br /><br />
        <div *ngIf="!isCatalogEdited">
            <div class="row">
                <div class="col-12">
                    <span id="catalog-level-span">Catalog Level</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <kendo-combobox id="catalog-levels" class="catalog-levels" [data]="catalogLevels" [filterable]="true" [value]="selectedCatalog.level" (valueChange)="changeCatalogLevel($event)">
                    </kendo-combobox>
                </div>
            </div><br /><br />
        </div>
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <button id="catalog-btn-add" class="btn add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">Submit</button>
                    <button id="catalog-btn-exit" class="btn exit" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a id="add-system-anchor" class="button" href="#add-system"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
    </div>
</kendo-dialog>
<div id="add-system" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Add / Edit Catalog</h2>
        <a id="systems-catalogs-anchor" class="close" href="/#/systems-catalogs">&times;</a>
        <div id="content" class="content">
            <i id="details-icon" class="fa fa-lightbulb-o" aria-hidden="true"></i> <span id="details-span" class="grey-text">Use this screen to edit the details of the catalog. The fields that are editable, are Title and Description.</span>
            <div class="table">
                <div class="table-row blue">
                    <div id="table-cell-field" class="table-cell">
                        Field
                    </div>
                    <div id="table-cell-usage" class="table-cell">
                        Usage
                    </div>
                </div>
                <div class="table-row">
                    <div id="table-cell-title" class="table-cell blue-text">
                        Title
                    </div>
                    <div id="table-cell-catalog" class="table-cell grey-text">
                        The name of the catalog
                    </div>
                </div>
                <div class="table-row">
                    <div id="table-cell-description" class="table-cell blue-text">
                        Description
                    </div>
                    <div id="table-cell-catalog-desc" class="table-cell grey-text">
                        The description of the catalog </div>
                </div>
                <div class="table-row">
                    <div id="table-submit-btn" class="table-cell blue-text">
                        Submit button
                    </div>
                    <div id="submit-changes" class="table-cell grey-text">
                        Submits the changes made on the catalog
                    </div>
                </div>
                <div class="table-row">
                    <div id="table-cancel" class="table-cell blue-text">
                        Cancel button
                    </div>
                    <div id="table-discard" class="table-cell grey-text">
                        Discards the changes made on the catalog
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>