<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-8">
        <div id="main-window" class="main-window">


          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-12">
              <div class="sticky-top">
                <kendo-tabstrip>
                  <kendo-tabstrip-tab [title]="'Basic Product Details'" [selected]="true">
                    <ng-template kendoTabContent>
                      <div class="row top-section">
                        <div class="col-md-8 col-8">
                          <table id="rightTable" class="rightTable">
                            <tbody>
                            <tr *ngFor="let field of signalRService.arrangementFields">
                              <td>
                                <span class="PropertiesTD">{{field.description}}</span>
                              </td>
                              <td *ngIf="!field.isMultiValue">
                                <input id="fieldDescriptionInput" class="arr-tabs" [value]="field.value" readonly/>
                              </td>
                              <td *ngIf="field.isMultiValue">
                                <kendo-combobox
                                  id="multivalueFieldCombobox"
                                  class="form-control arr-tabs-select"
                                  [data]="field.possibleValues"
                                  [readonly]="true"
                                  [value]="field.value">
                                </kendo-combobox>
                              </td>
                              <br>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-4 col-4">
                          <button id="deployProduct" class="btn btn-info deploy-product" (click)="deployProduct()">Deploy Product</button>
                        </div>
                      </div>
                    </ng-template>
                  </kendo-tabstrip-tab>
                </kendo-tabstrip>
                <div class="tags">
                  <div class="row">
                    <div class="col-md-12">
                      <div *ngFor="let tab of signalRService.propAndAttributes;let i = index">
                        <a  
                          id="propertyNameAnchor"
                          class="tags-name"
                          [attr.href]="'#' + i">{{ tab.property.propertyName}}
                        </a> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs">
                <div class="row">
                  <div class="col-12">
                    <div class="tabs-name tabdiv" *ngFor="let propAttr of signalRService.propAndAttributes;let i = index">
                      <p class="tab-property" [id]="i">{{ propAttr.property.propertyName}}</p>
                      <div class="action-buttons property-actions ">
                          <button
                          [id]="'editButton'+i"
                          [disabled]="propAttr.property.isEditMode"
                          [class]="propAttr.property.isEditMode ? 'disabledBtn' : 'editableBtn'" 
                          (click)="onClickEdit(propAttr)" >Edit</button>
                        <button 
                          [id]="'saveButton'+i"
                          [disabled]="!propAttr.property.isEditMode"
                          [class]="propAttr.property.isEditMode ? 'editableBtn' : 'disabledBtn'"
                          (click)="onClickSave(propAttr)">Save</button>
                        <button 
                          [id]="'cancelButton'+i"
                          [disabled]="!propAttr.property.isEditMode"
                          [class]="propAttr.property.isEditMode ? 'editableBtn' : 'disabledBtn'"
                          (click)="onClickCancel(propAttr)" >Cancel</button>
                      </div>
                      <div class="atribute d-flex flex-row" *ngIf="propAttr.property.currencyId && propAttr.property.currencyId !== 'N/A'">
                        <div class="container">
                          <div class="row">
                              <div class="col-3">
                                  <p id="currencyParagraph" class="title">Currency</p>
                              </div>
                              <div class="col-1 aaproduct-buttons">

                              </div>
                              <div class="col-8 aaproduct-fields">
                                <kendo-combobox
                                  id="currenciesCombobox"
                                  class="form-control select"
                                  [data]="propAttr.currencies"
                                  [readonly]="propAttr.property.isEditMode"
                                  [value]="propAttr.property.currencyId"
                                  (valueChange)="selectedCurrency($event, propAttr)">
                                </kendo-combobox>
                              </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="atribute d-flex flex-row" *ngFor="let attribute of propAttr.attributes; let j = index">
                        <div class="container" id="property{{i}}_attribute{{j}}">
                          <div class="row">
                            <div class="col-3">
                              <p id="fullDescriptionParagraph" class="title">{{getFullDescriptionForAttribute(attribute)}}</p>
                            </div>
                            <div  class="col-1 aaproduct-buttons">
                                <img 
                                  *ngIf="attribute.expandMultiValue || attribute.expandSingleMultiValue " 
                                  id="expandMultiValue"
                                  src="assets/aaproduct/mvexpansion.gif" 
                                  title="Expand Multi Value"
                                  [class]="propAttr.property.isEditMode ? 'editableBtn' : 'disabledBtn'" 
                                  (click)="onClickExpandButton(attribute, propAttr)"
                                > {{" "}}
                                <img 
                                  *ngIf="attribute.expandSubValue || attribute.expandSingleSubValue" 
                                  id="expandSubValue"
                                  src="assets/aaproduct/svexpansion.gif" 
                                  title="Expand Sub Value"
                                  [class]="propAttr.property.isEditMode ? 'editableBtn' : 'disabledBtn'" 
                                  (click)="onClickExpandButton(attribute, propAttr)"
                                > {{" "}}
                                <img 
                                  *ngIf="attribute.showDeleteButton" 
                                  id="deleteValue"
                                  src="assets/aaproduct/mvdelete.gif" 
                                  title="Delete Value"
                                  [class]="propAttr.property.isEditMode ? 'editableBtn' : 'disabledBtn'" 
                                  (click)="onClickDeleteButton(attribute, propAttr)"
                                > {{" "}}
                            </div>
                            <div class="col-8 aaproduct-fields">
                              <input id="changeFieldInput" class="input-value" [value]="attribute.value" (input)="onChangeField($event, attribute)" [readonly]="!propAttr.property.isEditMode"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-5">
                <input id="sessionId" type="hidden" id="BotSessionId" value="{{BotSessionId}}">
            </div>
        </div>
    </div>
</div>