.rowBarBody {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.7%;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #102a41;
    border-bottom: 1px solid #dcc5c5;
    font-weight: 600;
}

.categories {
    margin-left: 2%;
    margin-top: 1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: larger;
}

.ValuesTD {
    background-color: #eae5e5;
    border: 1px solid #d6bdbd;
    width: 100% !important;
}

.leftTable {
    display: inline-block;
    left: 99px;
    position: relative
}

.rightTable {
    display: inline-block;
    position: relative;
}

.PropertiesTD {
    font-weight: 500;
}

.reasonDiv {
    position: relative;
    height: 100px;
    width: 73.3%;
    left: 3.4%;
    border: 1px solid #f5eaea;
}

.reasonTitle {
    position: relative;
    top: 28px;
    left: 2%;
    margin: 34px 18px;
    font-weight: 500;
}

.label {
    float: left;
    margin-left: 18px;
    margin-right: 10px;
    padding-top: -20px;
    position: relative;
    color: #292973;
    z-index: 1;
    text-decoration: underline;
}

.tabdiv {
  background-color: white;
  width: 97%;
  height: auto;
  display: block;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #d8b6b6;
  border-radius: 4px 4px 2px 2px;
}

.tabDivContainer {
    background-color: #f5f5f5;
    position: relative;
    top: 9%;
}

.tab-div-title {
    position: absolute;
    margin-top: -1.1vh;
    margin-left: 1.5vh;
    background-color: #e2e6e6;
    border-radius: 4px 4px 4px 4px;
    padding: 2px;
    border: 1px solid #d2caca;
}

.main {
    background-color: #0d475a;
    height: 93.2vh;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.main-window {
    background-color: #f5f6fa;
    height: 87vh;
    width: 90%;
    margin: 28px;
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
}

.bot-window {
    width: 76%;
    height: 72vh;
    background-color: white;
    border-radius: 5px;
    top: 9%;
    position: relative;
    /*box-shadow: -2px 1px 23px -1px #ccc;*/
}

.seperate-line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
}

.close {
    background: white;
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 28px;
    right: 198px;
    line-height: 47px;
    border-radius: 50px;
}

.k-tabstrip>.k-content {
    border-color: transparent !important;
    color: #212529;
    background-color: #fff;
}

.tags {
    position: -webkit-sticky;
    position: sticky;
    background-color: #f5f6fa;
}

.tags-name {
    display: inline;
    position: relative;
    padding-right: 7px;
    margin-left: 29px;
    text-transform: capitalize;
    color: #0d475a;
    text-decoration: underline;
}

.k-tabstrip {
    border-width: 0;
    border-color: transparent;
    color: inherit;
    background-color: #f5f6fa !important;
    display: flex;
    flex-direction: column;
}

.tab-property {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  top: -11px;
  background-color: #e2e6e6;
  border-radius: 4px 4px 4px 4px;
  padding: 0 3px 0 3px;
  border: 1px solid #d2caca;
  display: flex;
  left: 31px;
  text-transform: uppercase;
  color: red;
  margin-bottom: 0;
  font-weight: 500;
}

.tab-atribute {
    font-size: 14px;
    position: relative;
    margin-left: 15px;
    margin-right: 12px;
    text-transform: capitalize;
}

.atribute {
    display: flex;
    height: 32px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tabs {
    background: #e9ecef;
}

.top-section {
    overflow: hidden;
    background-color: #f5f6fa;
}

.form {
    display: table;
}

.input-div {
    display: block;
    margin-left: auto;
    width: 300px;
}

.form {
    display: table;
}

p {
    display: table-row;
}

label {
    display: block;
    float: left;
    width: 200px;
}

.iconsMV {
    display: flex;
    position: relative;
    right: 25px;
}

.tab-property2 {
    position: relative;
    display: contents;
}

.nextIcon {
    position: relative;
}

.downSearch {
    display: flex;
    position: relative;
    left: 10px;
}

.headerBot {
    display: flex;
    border-bottom: 1px solid #0d475a;
}

.headerBot>img {
    position: relative;
    left: 55px;
}

.headerBot>h1 {
    position: relative;
    left: 67px;
}

.bottomBot {
    top: 83%;
    position: relative;
}

.sendBottom {
    background-image: linear-gradient(to left top, #5cb075, #57ad6c, #52ab62, #4ea858, #4ba54e, #4fa045, #539c3b, #569732, #5e8f29, #648722, #68801c, #6b7817);
    color: white;
    width: 134%;
    position: relative;
    right: 9px;
    height: 73px;
}

.textarea-input {
    overflow: auto;
    resize: vertical;
    width: 121%;
    position: relative;
    height: 73px;
    box-shadow: 3px -11px 11px -1px #ccc;
    right: 15px;
}

.pointer {
    cursor: pointer;
}

.start-title {
    font-family: 'Montserrat', sans-serif;
}

.start-headers {
    font-family: 'Montserrat', sans-serif;
}

.conversation {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 82px;
    top: 5px;
}

.microfone {
    position: relative;
    left: 3px;
    top: 21px;
    z-index: 1;
    cursor: pointer;
}

.prod-icon {
    width: 100%;
    height: 10px;
    border: solid 1px #888;
    border-radius: 3px;
}

.k-tabstrip>.k-content {
    border-color: rgba(33, 37, 41, 0.125);
    color: #212529;
    background-color: #f5f6fa !important;
}

.IsMultiValue {
    display: none;
}

.infoIcon>img {
    background-color: white;
    border-radius: 100%;
}

.title {
  height: 10px;
  padding-right: 11px;
  margin-top: 3px;
  font-size: 16px;
}

.arr-tabs {
    position: relative;
    left: 26px;
    width: 20em;
    background-color: white;
    border-color: transparent;
    border-radius: 5px;
    margin-bottom: 0.1rem;
}

.arr-tabs-select {
    position: relative;
    left: 24px;
    width: 20.2em;
    border-color: transparent;
    border-radius: 5px;
    margin-bottom: 0.1rem;
}

.property-actions {
  padding-left: 9px;
}

.property-actions button {
  outline: none;
  padding: 5px; 
  border: 0px; 
  box-sizing: none; 
  background-color: transparent; 
}


.position-sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.input-value {
  display: block;
  position: relative;
  width: 30em;
  height: 2rem;
}

.active-link {
    display: none;
}

.attribute-description {
  margin-right: 2rem;
}

.aaproduct-buttons {
  padding: 0 !important;
  max-width: 5% !important;
}

.aaproduct-fields {
  padding-left: 0 !important;
}

.editableBtn {
  cursor: pointer;
  color: #000000;
}

.disabledBtn {
  cursor: default;
  color: #a6a6a6;
}

.currency {
  display: inline-flex;
  padding-left: 15px;
}

.select {
  width: 30rem !important;
}