<div class="row">
    <div class="col-md-12">
        <h6 class="application">Action</h6>
        <kendo-combobox class="input-name" #cmbActions [(ngModel)]="selectedAction" [valuePrimitive]="true" [data]="actions" [textField]="'action'" [valueField]="'action'" [readonly]="readonly" [filterable]=true (valueChange)="actionTypeChanged($event)">
        </kendo-combobox>
    </div>
</div>
