<kendo-dialog 
    id="complete-sprint-dialog" 
    [minWidth]="'400'" 
    [title]="sprintToDelete ? 'Delete Sprint' : 'Complete Sprint'" 
    *ngIf="openCompleteSprintWindow" 
    (close)="close()"
>
    <div class="content" style="text-align: center;">
        <div class="field-group" style="text-align: left;" *ngIf="!sprintToDelete">
            <label id="complete-sprint-done" style="width: 100%"><b>{{doneIssues.length}}</b> issues were done</label>
        </div>
        <div class="field-group" style="text-align: left;" *ngIf="!sprintToDelete">
            <label id="complete-sprint-incomplete" style="width: 100%"><b>{{openIssues.length}}</b> issues were incomplete</label>
        </div>
        <div class="field-group" style="text-align: left" [ngStyle]="{'margin-top': sprintToDelete ? '0' : '2rem'}" *ngIf="openIssues && openIssues.length">
            <label id="complete-sprint-move-incomplete" style="width: 100%">Select where all the incomplete issues should be moved:</label>
        </div><br />
        <div class="field-group" style="display: inline-flex" *ngIf="openIssues && openIssues.length">
            <input 
                id="complete-sprint-openIssues" 
                type="radio"
                style="width: auto"
                name="moveIssues"
                value="backlog"
                (change)="backlogClicked()"
                checked> &nbsp;
            <label style="width: auto; margin-top: 0.1rem">Backlog</label>
            <input 
                id="complete-sprint-new" 
                type="radio"
                style="width: auto"
                name="moveIssues"
                value="sprint"
                (change)="newSprintClicked()">&nbsp;
            <label style="width: auto; margin-top: 0.1rem">New Sprint</label>
        </div>
        <div class="field-group" *ngIf="newSprint && openIssues && openIssues.length">
            <label for="sprint">Sprint</label>
            <kendo-combobox id="complete-sprint-openSprint" class="sprints" [data]="openSprints" placeholder="Select Sprint" [textField]="'title'" [valueField]="'id'" [filterable]="true" [(ngModel)]="selectedSprint">
            </kendo-combobox>
        </div>
    </div>
    <kendo-dialog-actions id="complete-sprint-act" >
        <div class="buttons-container form-footer">
            <div class="buttons">
                <input  class="aui-button aui-button-primary btn btn-primary" id="select-sprint-submit"  type="submit" value="Submit"  [disabled]="disabledSubmitBtn()" (click)="submitClicked()">
                <button id="complete-sprint-cancel" class="aui-button aui-button-primary btn cancel" (click)="close()">Cancel</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>