<div id="screen-div" class="row">
    <div class="col-md-12">
        <kendo-textbox-container id="screen-textbox" class="input-name">
            <h6 class="screen">T24 Screen</h6>
            <input id="screen-changed" kendoTextBox type="text" name="name" [value]="workflowItemData.Screen" (input)="screenChanged($event.currentTarget.value)">
        </kendo-textbox-container>
    </div>
    <div style="margin-top: 10px; position: relative;"></div>
</div>
