<div class="pane-content">
    <kendo-grid id="workflowPathItems" [kendoGridBinding]="workflowPathItems" #pathItemsGrid [selectable]="{checkboxOnly:false,mode:'single'}">
        <kendo-grid-column title="Title" [field]="'pathItemTitle'">
        </kendo-grid-column>
        <kendo-grid-column title="Typical" [field]="'typicalName'">
        </kendo-grid-column>
        <kendo-grid-column title="Actions">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button name="selectDataSets" class="custom-button" kendoButton 
                *ngIf="dataItem.actionType === WorkflowItemActionType.Input && 
                    (licenseService.hasLicense(license.AI_recommended_Data) || 
                    licenseService.hasLicense(license.Synthetic_data))" 
                (click)="openDataSet(dataItem,dataSetTemplate)">
          Select Data Sets
        </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>
<a class="button custom-help" href="#workflowPathItems"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
<ng-template #dataSetTemplate>
    <div *ngIf="licenseService.hasLicense(license.AI_recommended_Data)">AI Suggested</div>
    <app-suggested-datasets *ngIf="licenseService.hasLicense(license.AI_recommended_Data)" [pathItem]="selectedPathItem" [workflowId]="workflowId" (dataSetCreated)="dataSetCreated($event)"></app-suggested-datasets>
    <br>
    <div *ngIf="licenseService.hasLicense(license.Synthetic_data)">Available data sets</div>
    <app-manual-dataset *ngIf="licenseService.hasLicense(license.Synthetic_data)" [pathItem]="selectedPathItem"></app-manual-dataset>
    <kendo-dialog-actions>
        <div class="row float-right bottom-actions">
            <div class="col-12">
                <button id="addDataSetButton" *ngIf="permissionService.hasPermission('/api/Data/AddDataSet')" class="btn add" (click)="close('confirm')">OK</button>
                <button id="cancelDataSetButton" class="btn exit" (click)="close('cancel')">Cancel</button>
            </div>
        </div>
    </kendo-dialog-actions>
</ng-template>
<!-- popup content -->
<div id="workflowPathItems" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Data Intelligence Help Text Menu </h2>
        <a id="toDataManagment" class="close" href="/#/data-management">&times;</a>
        <div id="accordion">
            <!-- subproject search -->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button id="subprojectContentView" class="btn btn-link collapsed" data-toggle="collapse" data-target="#workflowPathDetailsView1" aria-expanded="false" aria-controls="collapseTwo">
                            Subproject content View
                        </button>
                    </h5>
                </div>
                <div id="workflowPathDetailsView1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to see all the included paths on the selected workflow.
                            <div class="table">
                                <div class="table-row blue">
                                    <div id="field" class="table-cell">
                                        Field
                                    </div>
                                    <div id="usage" class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="subprojectLevel" class="table-cell blue-text">
                                        Subproject level
                                    </div>
                                    <div id="nameOfSubproject"class="table-cell grey-text">
                                        Name of the Subproject
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="folderLevel" class="table-cell blue-text">
                                        Folder level
                                    </div>
                                    <div id="nameOfCreatedFolders" class="table-cell grey-text">
                                        Name of the created folders. When expanded, you can see the existing workflows under the selected folder.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="searchPopUp" class="table-cell blue-text">
                                        Search
                                    </div>
                                    <div id="searchExplained"  class="table-cell grey-text">
                                        Shows all workflows under folder that contains the “key word” that the user searches for.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="generateTests" class="table-cell blue-text">
                                        Generate test cases
                                    </div>
                                    <div id="generateTestExplained"class="table-cell grey-text">
                                        Click this button after selecting the data sets at the left pane ofthe screen to generate the test cases and see them in Test Case Intelligence module.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- workflow -->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button id="workflowPathDetailsViewTitle" class="btn btn-link collapsed" data-toggle="collapse" data-target="#workflowPathDetailsView" aria-expanded="false" aria-controls="collapseTwo">
                            Workflow path details view
                        </button>
                    </h5>
                </div>
                <div id="workflowPathDetailsView" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to see all the included paths on the selected workflow.
                            <div class="table">
                                <div class="table-row blue">
                                    <div id="fieldDiv" class="table-cell">
                                        Field
                                    </div>
                                    <div id="fieldDiv" class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="titleDiv" class="table-cell blue-text">
                                        Title
                                    </div>
                                    <div id="pathName" class="table-cell grey-text">
                                        The name of the path
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button id="viewOfTestStepsTitle" class="btn btn-link" data-toggle="collapse" data-target="#viewOfTestSteps" aria-expanded="true" aria-controls="collapseOne">
                                View of the Test Steps
                      </button>
                    </h5>
                </div>

                <div id="viewOfTestSteps" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to view the test steps included in the chosen workflow and select the appropriate data sets for application steps.
                            <div class="table">
                                <div class="table-row blue">
                                    <div id="fieldDiv2" class="table-cell">
                                        Field
                                    </div>
                                    <div id="usageDiv2" class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="titleDiv2" class="table-cell blue-text">
                                        Title
                                    </div>
                                    <div id="titleExplained" class="table-cell grey-text">
                                        The name of the test step
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="typicalDiv2" class="table-cell blue-text">
                                        Typical
                                    </div>
                                    <div id="typicalExplained" class="table-cell grey-text">
                                        The typical of the test step
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="actionDiv2" class="table-cell blue-text">
                                        Actions
                                    </div>
                                    <div  id="actionExplained" class="table-cell grey-text">
                                        The available actions on the test step
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div id="selectDataSetsDiv" class="table-cell blue-text">
                                        Select Data Sets button
                                    </div>
                                    <div id="selectDataSetsExplained" class="table-cell grey-text">
                                        Opens a window to select a data set only for application steps
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>