<div>
  <strong id="defect-status-allocation-strong-text" >Defect status allocation</strong>
  <div>
    <div style="display: block">
      <canvas id="defect-status-allocation-canvas" *ngIf="!nodata" baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [legend]="pieChartLegend" [colors]="pieChartColors">
      </canvas>
      <p id="no-data-defect-status-allocation" *ngIf="nodata">
        No data for this period.
      </p>
    </div>
  </div>
</div>