@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body,
html {
    background-color: #FEFEFE;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat/Montserrat-Black.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
    font-weight: Normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
    font-weight: Bold;
}

@font-face {
    font-family: "Averia Libre";
    src: url("../assets/fonts/Averia_Libre/AveriaLibre-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Averia Libre";
    src: url("../assets/fonts/Averia_Libre/AveriaLibre-Regular.ttf");
    font-weight: Normal;
}

@font-face {
    font-family: "Averia Libre";
    src: url("../assets/fonts/Averia_Libre/AveriaLibre-Bold.ttf");
    font-weight: Bold;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url("../assets/fonts/Alegreya_Sans/AlegreyaSans-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url("../assets/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf");
    font-weight: Normal;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url("../assets/fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf");
    font-weight: Bold;
}


/* ::-webkit-scrollbar-thumb {
  background: #92c94d;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
  background: #92c94d;
}

::-webkit-scrollbar {
  width: 10px;
} */

.compare-status {
    z-index: auto !important;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  .custom-day.selected{  
    background-color: rgb(2, 117, 216);
    color: white;
  }

  ngb-datepicker {
    position: absolute !important;
    right: 65px;
    background-color: white !important;
  }

.compare-status .k-overlay {
    z-index: auto !important;
}

.k-treeview .k-in {
    transition: none !important;
}

.k-multiselect-wrap {
    transition: none !important;
}

.k-button {
    transition: none !important;
}

.k-dropdown .k-dropdown-wrap {
    transition: none !important;
}

.mat-form-field-infix {
    display: inline-flex !important;
    width: 100% !important;
    color: gray !important;
    padding-bottom: 0 !important;
    font-size: 13px;
}

.mat-form-field-underline {
    color: gray !important;
}

.mat-input-element {
    caret-color: gray !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: gray !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: gray !important;
}

.mat-icon {
    font-size: 19px;
}

.mat-form-field-wrapper {
    width: 100% !important;
}

.mat-form-field {
    width: 100% !important;
}

.k-notification-group {
    z-index: 9999;
}

.workflow-issue .link-label {
    margin-top: 0.45rem;
}

.workflow-issue .link-workflow-issue {
    padding: 0 !important;
}

.req-header .k-menu {
    background: #dadada !important;
}

.req-header .workflow-issue .link-workflow-issue {
    background-color: rgb(154, 153, 153) !important;
    color: white !important;
    border-radius: 8px;
}

.req-header .workflow-issue .link-workflow-issue:hover {
    background-color: #696969 !important;
}

.joint-app {
    position: absolute;
    width: 50%;
    left: 25%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mat-badge-medium.mat-badge-after .mat-badge-content {
    right: -8px;
    top: -15px;
    background: #286090;
}

.issue-dialog .k-dialog {
    max-height: 700px;
}

.preview-process .k-window .k-content {
    overflow: hidden !important;
}

.issue-workflow .k-tabstrip .k-content {
    max-height: 45vh !important;
}

.dates .k-picker-wrap .k-dateinput .k-dateinput-wrap input {
    font-size: 0.8rem !important;
}

body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    font-family: sans-serif, Arial;
    overflow-x: hidden;
}

.app-header {
    position: absolute;
    width: 100%;
    height: 6%;
    min-height: 34px;
}

.app-body {
    position: relative;
    height: -moz-calc(100% - 36px);
    height: -webkit-calc(100% - 36px);
    top: 6%;
    height: calc(100% - 36px);
    background: whitesmoke;
}

.app-title {
    display: inline-block;
    width: 240px;
    height: 100%;
    padding: 0;
}

.app-title>h1 {
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0 30px;
}


/*  Paper  */

.paper-container {
    position: absolute;
    top: 0;
    height: 99.5%;
    overflow: hidden;
    box-sizing: border-box;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
}


/*  Inspector  */

.inspector-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 120px;
    width: 240px;
    box-sizing: border-box;
}

.object-property[data-property$="/fill"],
.object-property[data-property$="/stroke"],
.field[data-field$="/fill"],
.field[data-field$="/stroke"] {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.joint-select-box.joint-color-palette .select-box-option:nth-child(2):not(.hover) {
    border-width: 1px;
}

.joint-inspector-select-box-options {
    width: 190px;
}


/*  Navigator  */

.navigator-container {
    position: absolute;
    right: 2%;
    bottom: 13%;
    width: 240px;
    height: 125px;
}


/*  Stencil  */

.stencil-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 15rem;
    height: 100%;
    z-index: 1;
}

.joint-stencil .joint-element[data-type="standard.Image"] text,
.joint-stencil .joint-element[data-type="standard.Cylinder"] text,
.joint-stencil .joint-element[data-type="standard.InscribedImage"] text,
.joint-stencil .joint-element[data-type="devs.Atomic"] .inPorts text,
.joint-stencil .joint-element[data-type="devs.Atomic"] .outPorts text,
.joint-stencil .joint-element[data-type="pn.Transition"] text,
.joint-stencil .joint-element .joint-port text {
    display: none;
}

.joint-free-transform[data-type="standard.Image"] {
    display: none !important;
}

.joint-stencil .joint-element.joint-type-uml rect,
.joint-stencil .joint-element.joint-type-uml path {
    stroke: #4a4d6e;
}

.joint-dialog.joint-lightbox .fg {
    background-color: #f6f6f6;
}

.groups-toggle {
    display: none;
}

.joint-stencil.joint-theme-modern.collapsible>.content {
    top: 3%;
}

.inspector-container {
    position: absolute;
    top: 26%;
    left: 0;
    bottom: 291px;
    width: 240px;
    box-sizing: border-box;
    z-index: 1;
}

app-tree-view {
    position: absolute;
    width: 25%;
    left: 2%;
    top: 140px;
}

.k-window-titlebar {
    border-color: inherit;
    color: #3b3f40;
    background-color: #ffffff;
    background-clip: padding-box;
}

.k-button-group .k-group-start,
.k-button-group .k-button:first-child {
    background: #dee2e6;
    color: #495057;
}

.k-button-group .k-group-end,
.k-button-group .k-button:last-child {
    background: #92c94d;
    color: #fff;
}

.k-button.k-primary,
.k-slider .k-draghandle {
    border-color: #92c94d;
    color: #ffffff;
    background-color: #92c94d;
    background-image: linear-gradient(rgba(255, 138, 88, 0), rgba(255, 138, 88, 0.2));
    margin-left: 22px;
}

@media only screen and (max-width: 1620px) {
    .stencil-container {
        position: relative;
        top: 0;
        height: 46%;
        z-index: 1;
    }
    .app-body {
        position: relative;
        height: calc(100% - 60px);
        top: 6%;
        width: 100%;
    }
}


/*  astrit CSS test */

.custom-button {
    margin-right: 15px;
}

.k-treeview .k-in.k-state-selected {
    border-color: #92c94d;
    color: #fff;
    background-color: #92c94d;
}

.k-upload-selected {
    display: none !important;
}

.process-dialog .k-dialog {
    overflow: auto !important;
}

.k-tabstrip-items .k-link {
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
    flex: 1 1 auto;
    flex-direction: row;
    align-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-grid th.k-state-selected,
.k-grid td.k-state-selected,
.k-grid tr.k-state-selected>td {
    color: #e9ecef;
    background-color: #6c757d;
}

.k-command-cell>.k-button {
    margin-left: 0.16em;
    margin-right: 0.16em;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-splitter-flex.k-splitter-horizontal {
    flex-direction: row;
    height: 830px;
}

.k-textbox-container>.k-textbox,
.k-textbox-container>.k-textarea,
.k-textbox-container>.k-widget {
    flex: 1 1 auto;
    width: auto;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-widget.form-control .k-input {
    padding: 0.375rem 0.75rem;
    height: 2.25rem;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-button {
    transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

tr.k-state-selected>td {
    color: #212529;
    background-color: rgba(0, 123, 255, 0.25);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-button {
    transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
    font-size: 14px;
    background: #92c94d;
    font-family: "Montserrat", sans-serif;
    color: white;
    border-color: #92c94d;
}

.btn-info {
    color: #fff;
    background-color: #92c94d;
    border-color: #92c94d;
}

.delete {
    background-color: #e55039;
    border-color: #e55039;
}

.k-grid .k-alt {
    color: #212529;
    background-color: rgba(33, 37, 41, 0.03);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-grid th:first-child,
.k-grid td:first-child {
    border-left-width: 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-grid td,
.k-grid .k-grid-content,
.k-grid .k-grid-header-locked,
.k-grid .k-grid-content-locked {
    border-color: rgba(33, 37, 41, 0.125);
    font-size: 14px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.k-grid-header .k-header {
    position: relative;
    vertical-align: bottom;
    font-size: 14px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.k-menu:not(.k-context-menu) {
    border-width: 0;
    background: #ffffff;
    background-clip: padding-box;
    font-family: "Montserrat", sans-serif;
}

.k-multiselect-wrap .k-button:last-child {
    margin-bottom: 0.25rem;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-multiselect-wrap .k-button {
    min-height: calc(1.5em + 0.25rem + 4px);
    padding: calc(0.125rem + 1px) 0.375rem;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}


/* DropDown Versions Background Color */

.k-popup,
.k-menu-group,
.k-menu.k-context-menu {
    border-color: rgba(33, 37, 41, 0.15);
    color: #212529;
    background-color: #DCDCDC;
}

.k-menu.k-menu-horizontal:not(.k-context-menu)>.k-item>.k-link {
    padding: 0;
    padding-right: 15px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: black;
}

.k-item {
    box-shadow: initial !important;
}

.k-treeview .k-in {
    border-radius: 0.25rem;
    margin: 0;
    padding: 0.375rem 0.375rem;
    border: 1px solid transparent;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-grid-content tr:last-child td,
.k-grid-content-locked tr:last-child td {
    border-bottom-width: 0;
    font-family: "Montserrat", sans-serif;
}

.k-window-title {
    margin: -0.15em 0;
    font-size: 1.25rem;
    line-height: 1.3;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    flex: 1;
    font-family: "Montserrat", sans-serif;
}

.k-overlay {
    background-color: #0d4b5e !important;
    opacity: 0.9;
}


/* Data managment */

.k-splitter-flex .k-pane-static {
    flex-grow: 0;
    flex-shrink: 0;
    overflow-x: hidden;
    box-shadow: rgb(185, 187, 189) 10px 0 5px -2px;
}

.k-treeview .k-in.k-state-selected {
    border-color: #92c94d;
    color: #fff;
    background-color: #92c94d;
    font-family: "Montserrat", sans-serif;
}

.k-menu.k-menu-horizontal:not(.k-context-menu) {
    padding: .5rem 1rem;
    font-family: "Montserrat", sans-serif;
}


/* Toolbar */

.toolbar-container {
    display: inline-block;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    top: 9px;
    /* border: solid 1px black; */
}

.toolbar-container .joint-toolbar {
    width: 100%;
    height: 100%;
}

.toolbar-container label {
    white-space: nowrap;
}

.toolbar-container button:not(:empty) {
    padding: 0 4px;
}

.toolbar-container button.joint-widget[data-type="zoomIn"],
.toolbar-container button.joint-widget[data-type="zoomOut"] {
    display: none;
}

.joint-stencil.joint-theme-modern {
    color: #c6c7e2;
    background: #F5F5F5;
    box-shadow: 6px 0 14px -2px #dcdcdc;
    height: 769px;
}

.joint-toolbar.joint-theme-modern {
    background: whitesmoke;
    z-index: 2;
    -moz-box-shadow: -4px 0 17px -2px #92979b8c;
    -webkit-box-shadow: -4px 0 17px -2px #92979b8c;
    box-shadow: -4px 0 17px -2px #92979b8c;
    position: absolute;
    border-radius: 16px;
    height: 66px;
    width: 99.8%;
    z-index: 999;
}


/* splitter  arrow */

.k-splitbar-draggable-horizontal .k-resize-handle {
    position: static;
    width: 4px;
    height: 25px;
}

.k-splitbar {
    color: #f6f6f6;
    background-color: #d5dae0;
}

.k-dialog-buttongroup {
    border-color: rgba(33, 37, 41, 0.125);
    height: 69px;
}


/* Modern */

.joint-theme-picker.joint-theme-modern {
    border: 1px solid lightgray;
}

.joint-app.joint-theme-modern .app-title {
    background: #30d0c6;
}

.joint-app.joint-theme-modern .inspector-container {
    background: #0d4b5e;
    display: none;
}

.k-widget.form-control,
.k-maskedtextbox.form-control .k-textbox,
.k-textbox.form-control {
    width: 220px;
}

.joint-widget.joint-theme-modern[data-name="clear"]:after,
.joint-widget.joint-theme-modern[data-name="layout"]:after,
.joint-widget.joint-theme-modern[data-name="print"]:after {
    display: block;
    width: 31px;
    height: 31px;
    content: " ";
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(./../assets/toolbar-icons-modern.png);
}

.joint-widget.joint-theme-modern[data-name="clear"]:after {
    background-position: 0 -62px;
}

.joint-widget.joint-theme-modern[data-name="clear"]:hover:after {
    background-position: -31px -62px;
}

.joint-widget.joint-theme-modern[data-name="layout"]:after {
    background-position: 0 -124px;
}

.joint-widget.joint-theme-modern[data-name="layout"]:hover:after {
    background-position: -31px -124px;
}

.joint-widget.joint-theme-modern[data-name="print"]:after {
    background-position: 0 -248px;
}

.joint-widget.joint-theme-modern[data-name="print"]:hover:after {
    background-position: -31px -248px;
}

.joint-widget.joint-theme-modern[data-name="clear"],
.joint-widget.joint-theme-modern[data-name="layout"],
.joint-widget.joint-theme-modern[data-name="print"] {
    position: relative;
    top: -1px;
    border: none;
    padding: 0;
}

.k-pager-numbers .k-state-selected,
.k-pager-numbers .k-state-selected:hover {
    border-width: 1px;
    border-style: solid;
    border-color: #dcdcdc;
    color: #6d7073;
    background-color: #dcdcdc;
    z-index: 2;
    cursor: default;
}

.node-text {
    font-family: sans-serif;
    font-size: 10px;
}

.node .selected {
    stroke: black;
}

.link {
    stroke: #999;
}

.tooltip {
    position: absolute;
    background-color: white;
    max-width: 200px;
    height: auto;
    padding: 1px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}

#viewMoreButton {
    z-index: 9999 !important;
    pointer-events: all;
}


/* business areas bar chart */

.tooltipBarChart {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}

#svg_d3_treemap {
    font: 12px sans-serif;
}

.page-item.active .page-link {
    background-color: #92979b !important;
    border-color: #92979b !important;
}

.modal-lg {
    max-width: 90% !important;
}

.bordered {
    border: 1px solid #ccc;
}

.p-15 {
    padding: 15px;
}

.p-30 {
    padding: 30px;
}

.m-15 {
    margin: 15px;
}

.justification-header {
    font-weight: bold;
}

.bg-blue {
    background: #1a8fb3;
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-m-45 {
    transform: rotate(-45deg);
}

.font-14 {
    font-size: 14px;
}

.center-text {
    text-align: center;
}

.justification-item-width {
    width: 130px;
}

.justification-line-item {
    text-align: center;
    margin-top: -15px;
}

.justification-line-item>div {
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    width: 150px;
}

.justification-line-item.right-align {
    text-align: right;
    top: 9px;
}

.justification-line-item.error>div {
    background: rgb(224, 197, 108);
}

.justification-line-item.critical>div {
    background: rgb(196, 65, 65);
}

.justification-line-item.warning>div {
    background: rgb(196, 107, 65);
}

.justification-line-item.medium>div {
    background: rgb(255, 217, 94);
}

.justification-line-item.success>div {
    background: rgb(152, 233, 85);
}


/* Ml CSS */


/* astrit CSS test */

@media only screen and (max-width: 1600px) {
    .stencil-container {
        top: -62px;
        width: 15rem;
    }
    .app-header {
        height: 14%;
        top: -9px;
    }
    .paper-container {
        top: -61px;
    }
    .joint-app.joint-theme-modern .inspector-container {
        top: 230px;
    }
    .joint-app.joint-theme-modern .toolbar-container {
        overflow-y: auto;
        height: 105%;
        background-color: #f6f6f6;
    }
    .joint-toolbar.joint-theme-modern {
        flex-wrap: wrap;
        border-radius: 0;
    }
    .joint-app.joint-theme-modern .app-title h1 {
        line-height: 92px;
    }
    .joint-app.joint-theme-modern .app-body {
        height: -moz-calc(100% - 48px);
        height: -webkit-calc(100% - 48px);
        height: calc(100% - 48px);
        top: 18.4%;
    }
}


/*  IE  */

@media screen and (max-width: 1490px) and (min-width: 0\0) {
    .joint-toolbar.joint-theme-modern div[data-name="zoom-slider"] input,
    .joint-toolbar.joint-theme-modern label[data-name="zoom-slider-label"] {
        display: none;
    }
    .joint-app.joint-theme-modern .toolbar-container button[data-type="zoomIn"],
    .joint-app.joint-theme-modern .toolbar-container button[data-type="zoomOut"] {
        display: block;
    }
}

@media screen and (max-width: 1440px) {
    .stencil-container {
        width: 26%;
    }
}

@media screen and (max-width: 1230px) and (min-width: 1170px) {
    .joint-toolbar.joint-theme-modern div[data-name="zoom-slider"] input,
    .joint-toolbar.joint-theme-modern label[data-name="zoom-slider-label"] {
        display: none;
    }
    .joint-app.joint-theme-modern .toolbar-container button[data-type="zoomIn"],
    .joint-app.joint-theme-modern .toolbar-container button[data-type="zoomOut"] {
        display: block;
    }
}

@media screen and (max-width: 1380px) and (min-width: 0\0) {
    .joint-toolbar.joint-theme-modern div[data-name="zoom-slider"] input,
    .joint-toolbar.joint-theme-modern label[data-name="zoom-slider-label"] {
        display: inline-block;
    }
    .joint-app.joint-theme-modern .toolbar-container button[data-type="zoomIn"],
    .joint-app.joint-theme-modern .toolbar-container button[data-type="zoomOut"] {
        display: none;
    }
    .joint-app.joint-theme-modern .toolbar-container {
        overflow-y: auto;
    }
    .joint-toolbar.joint-theme-modern {
        flex-wrap: wrap;
    }
    .joint-app.joint-theme-modern .app-title h1 {
        line-height: 92px;
    }
    .joint-app.joint-theme-modern .app-body {
        height: -moz-calc(100% - 92px);
        height: -webkit-calc(100% - 92px);
        height: calc(100% - 92px);
    }
}

@media only screen and (max-width: 1366px) {
    .stencil-container {
        top: -62px;
        width: 15rem;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        /* padding-right: .5rem; */
        padding-left: .5rem;
    }
}