<kendo-dialog [minWidth]="isPriorityEdited ? '500' : '500'" [height]="isPriorityEdited ? '500px' : '500px'" [title]="isPriorityEdited ? 'Edit Priority' : 'Add Priority'" *ngIf="priorityWindowOpen" (close)="close()">
    <div id="add-dialog" class="dialog">
        <div id="add-row" class="row">
            <div class="col-12">
                <span id="add-title">Title*</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="add-input-text" type="text" (input)="changeTitle($event)" [value]="selectedPriority.title" />
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-12">
                <span id="add-description">Description</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="add-changecode" type="text" (input)="changeCode($event)" [value]="selectedPriority.code" />
            </div>
        </div><br /><br />
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <button name="add-submit" id="add-submit" class="btn add" [disabled]="disableSubmitBtn" (click)="submitClicked()">Submit</button>
                    <button name="add-cancel" id="add-cancel" class="btn exit" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>
