<app-ai-analitics-menu></app-ai-analitics-menu>
<div class="container-fluid defects-reports-container">
    <div class="row align-items-end defects-reports-filters">
        <div class="col-sm">
            <label id="detectTimestampFilterLabel" class="title-grey-color" for="shownValuesFilter">Shown Values</label>
            <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="shownValues" id="detectTimestampFilter">
        <option *ngFor="let value of possibleShownValues" [ngValue]="value">{{value}}
        </option>
      </select>
        </div>
        <div class="col-sm">
            <label id="detectTimestampFilterLabel" class="title-grey-color" for="detectTimestampFilter">Defect
        Timestamps</label>
            <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="filters['detectTimestamp']" id="detectTimestampFilter">
        <option *ngFor="let detectTimestamp of detectTimestampFilter" [ngValue]="detectTimestamp">
          {{detectTimestamp}}
        </option>
      </select>
        </div>
        <div class="col-sm">
            <label id="fromLabel" class="title-grey-color" for="fromFilter">From</label>
            <div class="input-group">
                <input id="defect-reports-datepicker" class="defects-reports-filter-margin form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="filters['fromDate']" ngbDatepicker [footerTemplate]="footerTemplateFrom" #d_from="ngbDatepicker">
                <div class="defects-reports-filter-margin input-group-append">
                    <button id="calendarBtn" class="btn btn-outline-secondary fa fa-calendar" (click)="d_from.toggle()" type="button"></button>
                </div>
            </div>
            <ng-template #footerTemplateFrom>
                <hr class="my-0">
                <button id="todayButton" class="btn btn-primary btn-sm m-2 float-left" (click)="filters['fromDate']= today; d_from.close()">
                    Today
                </button>
                <button id="closeButton" class="btn btn-secondary btn-sm m-2 float-right" (click)="d_from.close()">
                    Close
                </button>
            </ng-template>
        </div>
        <div class="col-sm">
            <label id="toLabel" class="title-grey-color" for="toFilter">To</label>
            <div class="input-group">
                <input id="dp" class="defects-reports-filter-margin form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="filters['toDate']" ngbDatepicker [footerTemplate]="footerTemplateTo" #d_to="ngbDatepicker">
                <div id="defects-reports-2" class="defects-reports-filter-margin input-group-append">
                    <button id="toBtn" class="btn btn-outline-secondary fa fa-calendar" (click)="d_to.toggle()" type="button"></button>
                </div>
            </div>
            <ng-template #footerTemplateTo>
                <hr class="my-0">
                <button id="todayBtn2" class="btn btn-primary btn-sm m-2 float-left" (click)="filters['toDate']= today; d_to.close()">Today
        </button>
                <button id="closeBtn2" class="btn btn-secondary btn-sm m-2 float-right" (click)="d_to.close()">Close</button>
            </ng-template>
        </div>
        <div class="col-sm">
            <label id="severityLabel" class="title-grey-color" for="severityFilter">Severity</label>
            <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="filters['severity']" id="severityFilter">
        <option *ngFor="let severity of severityFilter" [ngValue]="severity">{{severity}}</option>
      </select>
        </div>
        <div class="col-sm">
            <label id="priorityLabel" class="title-grey-color" for="priorityFilter">Priority</label>
            <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="filters['priority']" id="priorityFilter">
        <option *ngFor="let priority of priorityFilter" [ngValue]="priority">{{priority}}</option>
      </select>
        </div>
        <div class="col-sm">
            <label id="statusLabel" class="title-grey-color" for="statusFilter">Status</label>
            <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="filters['status']" id="statusFilter">
        <option *ngFor="let status of statusFilter" [ngValue]="status">{{status}}</option>
      </select>
        </div>
        <div class="col-sm">
            <label id="bussinessAreaLabel" class="title-grey-color" for="bussinessAreasFilter">Bussiness Area</label>
            <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="filters['bussinessArea']" id="bussinessAreasFilter">
        <option *ngFor="let bussinessArea of bussinessAreasFilter" [ngValue]="bussinessArea">{{bussinessArea}}
        </option>
      </select>
        </div>

        <div class="col-sm">
            <label id="tasksLabel" class="title-grey-color" for="tasksFilter">Issue Type</label>
            <select class="custom-select my-1 mr-sm-2" type="text" [(ngModel)]="filters['issuetype']" id="tasksFilter">
                <option *ngFor="let issuetype of tasksFilter" [ngValue]="issuetype">{{issuetype}}
                </option>
            </select>
        </div>

        <div class="col-sm">
            <button id="applyFiltersDefect" *ngIf="permissionService.hasPermission('/getFilteredDefects/hashId/') ? true : false" class="defects-reports-filter-margin btn apply-filters" (click)="applyFilters()">Apply
        Filters
      </button>
        </div>
        <div class="col-sm">
            <button id="clearFiltersBtn" *ngIf="permissionService.hasPermission('/getFilteredDefects/hashId/') ? true : false" class="defects-reports-filter-margin btn apply-filters" (click)="clearFilters()">Clear Filters
        </button>
        </div>
        <div class="col-sm">
            <a class="button custom-help" href="#defects-report"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="defects-reports-table-wrapper">
        <table id="main-Table" #mainTable style="width:100%" datatable [dtOptions]="dtOptions" class="table row-border hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Business area</th>
                    <th>Issue Type</th>
                    <th>Route cause</th>
                    <th>Severity</th>
                    <th>Priority</th>
                    <th>Target date</th>
                    <th>Time to fix</th>
                    <th>Status</th>
                    <th width="300">Defect ageing</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody *ngIf="reports?.length != 0">
                <tr *ngFor="let item of reports">
                    <td>{{item.DEFECTID}}
                        <img src="assets/reporticons/bulb.svg" alt="" class="bulb" *ngIf="showPredictions == true">
                    </td>
                    <td class="text-elypsis">
                        <span *ngIf="showPredictions == false">{{item.NAME}}</span>
                        <span *ngIf="showPredictions == true">
               <span style="color: red" *ngIf="item.ENRICHEDNAME != '' || item.ENRICHEDNAME != null">
               {{item.ENRICHEDNAME}}
               </span>
                        <span *ngIf="item.ENRICHEDNAME == '' || item.ENRICHEDNAME == null">
               {{item.NAME}}
               </span>
                        </span>
                    </td>
                    <td>{{item.COMPONENT}}</td>
                    <td>{{item.ISSUETYPE}}</td>
                    <td>
                        <span *ngIf="showPredictions == false">{{item.TYPE}}</span>
                        <span *ngIf="showPredictions == true">
               <span class="prediction_values" *ngFor="let item_pred of
                  item.TYPEPREDICTION">{{item_pred.name}} : {{item_pred.value | number : '1.1-2'}}%
               <br>
               </span>
                        <span *ngIf="item.TYPEPREDICTION == null">{{item.TYPE}}
               </span>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="showPredictions == false" [ngClass]="severityColor(item.SEVERITY)">{{item.SEVERITY}}</span>
                        <span *ngIf="showPredictions == true">
            <span class="prediction_values" *ngFor="let item_pred of
                  item.SEVERITYPREDICTION">{{item_pred.name}} :
              {{item_pred.value | number : '1.1-2'}}% <br>
            </span>
                        <span *ngIf="item.SEVERITYPREDICTION == null" [ngClass]="severityColor(item.SEVERITY)">{{item.SEVERITY}}
               </span>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="showPredictions == false" [ngClass]="priorityColor(item.PRIORITY)">{{item.PRIORITY}}</span>
                        <span *ngIf="showPredictions == true">
               <span class="prediction_values" *ngFor="let item_pred of
                  item.PRIORITYPREDICTION">{{item_pred.name}} :
                 {{item_pred.value | number : '1.1-2'}}% <br> </span>
                        <span *ngIf="item.PRIORITYPREDICTION == null" [ngClass]="priorityColor(item.PRIORITY)">{{item.PRIORITY}}</span>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="showPredictions == false">{{item.TARGETDATE}}</span>
                        <span *ngIf="showPredictions == true">
               <span class="prediction_values" *ngIf="item.TARGETDATEPREDICTION
                  != null">{{item.TARGETDATEPREDICTION}}</span>
                        <span *ngIf="item.TARGETDATEPREDICTION == null">{{item.TARGETDATE}}</span>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="showPredictions == false">{{item.TIMETOFIX}} days</span>
                        <span *ngIf="showPredictions == true">
               <span *ngIf="item.TIMETOFIXPREDICTION == null">{{item.TIMETOFIX}}
                 days</span>
                        <span class="prediction_values" *ngIf="item.TIMETOFIXPREDICTION !=
                  null">{{item.TIMETOFIXPREDICTION}} days</span>
                        </span>
                    </td>
                    <td>{{item.STATUS}}</td>
                    <td>
                        <div class="ageing-overaly">
                            <div class="ageing-container">
                                <div *ngFor="let ageingItem of item.history" class="ageing-item" [ngStyle]="{'width': ageingItem.statusDaysPercentage}" [ngClass]="[ageingItem.alias]">
                                    <div class="ageing-tooltip">
                                        <h5>{{ageingItem.STATUS}}</h5>
                                        <p>
                                            <label class="bold mgr-5">Date: </label>
                                            <label class="float-right">{{ageingItem.MODIFIEDDATE|date}}</label>
                                        </p>
                                        <p>
                                            <label class="bold mgr-5">Number of days: </label>
                                            <label class="float-right">{{ageingItem.statusDays}}</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </td>
                    <td class="table-content">
                        <a routerLink="/defects-reports/detail/{{item.DEFECTID}}">
                            <img src="assets/reporticons/view.svg" alt="" class="view">
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="reports?.length == 0">
                <tr>
                    <td colspan="12" class="no-data-available">No matching records found!</td>
                </tr>
                <tbody>
        </table>
    </div>
</div>
<app-defect-reports-popup></app-defect-reports-popup>
