.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}

.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

g.node circle {
    stroke: white !important;
    stroke-width: 1.5px;
}

.defects-reports-filters {
    margin-bottom: 15px;
    margin-top: 15px;
}

.defects-reports-filter-margin {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}

.no-data-available {
    text-align: center !important;
    width: 100%
}

.dataTables_empty {
    display: none !important;
}

.table-content {
    text-align: center;
}

.prediction_values {
    color: red;
}

.ageing-overaly {
    display: block;
    position: relative;
    padding: 5px 15px 25px 15px;
    background: #f1f1f1;
}

.ageing-container {
    background: white;
    position: relative;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.ageing-item {
    height: 15px;
    float: left;
    opacity: 0.8;
    position: relative;
}

.ageing-item:hover {
    opacity: 1;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.ageing-item.open,
.ageing-item.detected {
    background: #78d0ef;
}

.ageing-item.inprogress {
    background: #FAC365;
}

.ageing-item.closed {
    background: #6dbf47;
}

.ageing-item.reopen {
    background: #2B95BA;
}

.ageing-item.readyForRelease {
    background: #c04aaf;
}

.ageing-labels-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.ageing-label {
    position: relative;
}

.ageing-label>span {
    position: absolute;
}

.ageing-label.targeted-date>span {
    font-weight: bold;
}

.ageing-label::before {
    position: absolute;
    left: 50%;
    content: "";
    border-left: 1px solid black;
    height: 5px;
    width: 1px;
    top: 0;
}

.ageing-label.labeled::before {
    height: 10px;
}

.ageing-tooltip {
    display: none;
    position: absolute;
    bottom: calc(100% + 20px);
    right: 0;
    padding: 10px 20px;
    background: white;
    border: 1px solid #ccc;
    min-width: 300px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.ageing-item:hover .ageing-tooltip {
    display: block;
}

.ageing-tooltip p {
    margin-bottom: 0 !important;
}

.bold {
    font-weight: bold;
}

.mgr-5 {
    margin-right: 5px;
}

.sorting {
    color: rgb(16, 74, 93);
}

.title-grey-color {
    color: grey;
}

.apply-filters {
    color: #ffffff;
    background-color: #92c94d;
}

.sorting_disabled {
    color: rgb(16, 74, 93);
}

select {
    border-radius: 50px;
    color: #888888;
}

::-webkit-scrollbar-thumb {
    background: #92c94d;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #92c94d;
}

::-webkit-scrollbar {
    width: 10px;
}

tr {
    text-align: center;
    font-weight: 500;
    color: #888888;
    font-size: 14px;
}

td {
    font-size: 14px;
}

.view {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bulb {
    width: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.itemType {
    border-radius: 40px 40px 40px 40px;
}

.text-elypsis {
    display: -webkit-box;
    max-width: 100%;
    height: 30px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-help {
    background: rgba(0, 0, 0, .12);
    width: 40px;
    height: 40px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    bottom: 0;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
