<kendo-dialog width="600" height="200" title="Delete Requirement Type" *ngIf="deletePriorityWindowOpen" (close)="close()">
    <div id="delete-priority-row" class="row">
        <div class="col-12">
            <span id="delete-priority-description" class="description">
                Are you sure you want to delete '{{selectedPriority.title}}'?
            </span>
        </div>
    </div>
    <kendo-dialog-actions>
        <div class="row">
            <div class="col-12 action-buttons">
                <button name="delete-priority-yes" id="delete-priority-yes" class="btn add" (click)="deletePriority()">Yes</button>
                <button name="delete-priority-no" id="delete-priority-no" class="btn exit" (click)="close()">No</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>
