<div class="main">
    <div class="container">
        <kendo-tabstrip>
            <kendo-tabstrip-tab [title]="'Basic'" [selected]="true">
                <ng-template kendoTabContent>
                    <app-title></app-title>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="application">Action</h6>
                            <kendo-dropdownlist id="actionSelectionDropdown" class="input-name" [data]="items" [textField]="'title'" [valueField]="'id'" [value]="selectedItem" [readonly]="readonly" (valueChange)="valueChange($event)">
                            </kendo-dropdownlist>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div *ngIf="selectedItem.title==='Menu'">
                                <h6 class="name">Menu</h6>
                                <kendo-combobox id="menuSelectionCombobox" class="form-control select-menu" #cmbMenus [data]="menus" [textField]="'name'" [valueField]="'id'" [filterable]=true [value]="selectedMenu" [readonly]="readonly" (valueChange)="menuChanged($event)">
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        <span class="template">{{ dataItem.url }}</span>
                                    </ng-template>
                                </kendo-combobox>
                            </div>
                        </div>
                        <div style="margin-top: 10px; position: relative;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="name">Path</h6>
                            <input id="pathInput" kendoTextBox class="form-control text-box path" [readonly]="readonly" [(ngModel)]="workflowItemData.Parameters">
                        </div>
                        <div style="margin-top: 10px; position: relative;"></div>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
            <!-- <kendo-tabstrip-tab [title]="'Advanced'">
                <ng-template kendoTabContent>
                    <p></p>
                </ng-template>
            </kendo-tabstrip-tab> -->
        </kendo-tabstrip>
    </div>
</div>
