.main {
    height: auto;
    width: 100%;
    position: absolute;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.properties {
    color: #0d4b5e;
    position: relative;
    padding-top: 25px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.name {
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.input-name {
    width: 100%;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.application {
    margin-top: 8px;
    position: relative;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.catalog {
    width: 100%;
}

.input-group-text {
    width: 100%;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.descroption {
    margin-top: 8px;
    position: relative;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.dependencies {
    margin-top: 25px;
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-checkbox-label {
    color: black;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.k-textbox-container {
    position: relative;
    padding-top: 0 !important;
    display: inline-flex;
    width: 100% !important;
    flex-direction: column;
    justify-content: stretch;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.filter {
    display: block;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin-left: 1rem;
}

.dynamic-data {
    position: relative;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    left: 93px;
    background-color: #92c94d;
    border-color: #92c94d;
}

@media screen and (max-width: 1600px) {
    .dynamic-data {
        left: 67px;
    }
}
