<div class="main">
    <div class="container">
        <kendo-tabstrip [keepTabContent]="true">
            <kendo-tabstrip-tab [title]="'Basic'" [selected]="true">
                <ng-template kendoTabContent>
                    <app-title></app-title>
                    <app-catalog-typical class="catalog" (typicalChanged)="typicalChanged($event)" [typicalLabel]="'Enquiry'"></app-catalog-typical>
                    <app-enquiry-actions></app-enquiry-actions>
                    <app-description></app-description>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'Advanced'" [selected]="false">
                <ng-template kendoTabContent>
                    <app-isnegativestep></app-isnegativestep>
                    <br>
                    <br>
                    <div class="row">
                        <div>
                            <button id="filtersButtonEnquiryAction" class="btn btn-info filter" (click)="openFilters($event)">
                                Filters
                            </button>
                        </div>
                    <!-- <div>
                        <button class="btn btn-info dynamic-data" (click)="openDynamicData($event)">
                            Dynamic Data
                        </button>
                    </div> -->
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </div>
    <div class="kendo-dialouge">
        <kendo-dialog id="dynamicDataEnquiryDialog" title="Dynamic Data" *ngIf="opened" (close)="close('cancel')" [width]="1050">
            <app-dynamicdata></app-dynamicdata>
        </kendo-dialog>
    </div>
    <div class="kendo-dialouge">
        <kendo-dialog id="filtersPostfiltersEnquiryDialog" title="Filters/Postfilters" *ngIf="openedfilters" (close)="closefilters('cancel')" [width]="1050">
            <app-filters-postfilters [cells]="cells" #filters></app-filters-postfilters>
        </kendo-dialog>
    </div>
</div>
