<div class="modal-content" id="modal_overdue_content">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Overdue Tasks</h4>
        <button id="activeModalbutton" type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row " style="margin-top:1%; ">
            <div class="col-xl-12 bordercorners ">
                <div>
                    <table #mainTable id="defects-table" style="width:100%" datatable [dtOptions]="dtOptions" class="table row-border hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Defect Id</th>
                                <th>Defect description</th>
                                <th>Developer assigned</th>
                                <th>Start Date</th>
                                <th>Due Date</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="OverdueTasksInfo?.length != 0">

                            <tr *ngFor="let item of OverdueTasksInfo">

                                <td>{{item.DEFECT_ID}}</td>
                                <td>{{item.DEFECT_NAME}}</td>
                                <td>{{item.DEVELOPER_NAME}}</td>
                                <td>{{item.STARTDATE}}</td>
                                <td>{{item.ENDDATE}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="OverdueTasksInfo?.length == 0">
                            <tr>
                                <td colspan="12" class="no-data-available">No matching records found 1111!</td>
                            </tr>
                            <tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>
    <div id="footer-div" class="modal-footer">
    </div>
</div>