<div>
    <strong id="discovery-ratio-strong" >Discovery ratio per business area and root cause</strong>
    <div *ngIf="!nodata" class="row">
        <div class="col-md-12">
            <div style="display: block">
                <canvas id="discovery-ratio-canvas" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </div>
    </div>
    <p id="no-data-parag" *ngIf="nodata">
        No data for this period.
    </p>
    <div class="row">
        <div class="col-md-12">
            <ng5-slider id="slider-discovery" [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChange)="onRangeSliderApply_DiscRatio()">
            </ng5-slider>
        </div>
    </div>
</div>