<app-ai-analitics-menu></app-ai-analitics-menu>
<div id="main-background" class="main-background">
    <section id="containerSection" class="container">
        <div id="contentDiv" class="content">
            <div class="row">
                <div class="col-6">
                    <a id="dataMiningAssocAnchor" class="a" [routerLink]="['/data-mining/model-associations']">
                        <div id="cardDiv" class="card">
                            <div id="cardBody" class="card-body">
                                <h5> <i id="modelAssocIcon" class="fa fa-share-alt" aria-hidden="true"></i> Model Associations</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a id="dataMiningClassificAnchor"class="a" [routerLink]="['/data-mining/defect-classification']">
                        <div class="card card-hover">
                            <div class="card-body ">
                                <h5> <i id="defectClassificIcon" class="fa fa-line-chart" aria-hidden="true"></i> Defect Classification</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
