<app-ai-analitics-menu></app-ai-analitics-menu>
<section class="wrapper">
    <div class="container-fluid">
        <div class="row" *ngIf="permissionService.hasPermission('/api/Design/SearchWorkflows') ? true : false">
            <div class="col-md-4"><br/>
                <h6 id="searchForWorkflows" class="application">Search for workflow</h6>
                <kendo-combobox id="searchWorkflowsCombobox" class="form-control application" (valueChange)="selectionChange($event)" (filterChange)="searchWorkflows($event)" #cmbWorkflows [data]="workflowList" [readonly]="readonly" [filterable]="true" [textField]="'title'"
                    [valueField]="'id'">
                </kendo-combobox>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 ">
                <div class="upload ">
                    <h6 id="loaadFiles-h6" class="load-csv-file ">Load file</h6>
                    <input [className]="(files.length> 0) ? 'upload-elements btn hideLabel' : 'upload-elements btn'" id="file" type="file" (change)="onFileSelected($event)" multiple="multiple" />
                    <div class="card" *ngFor="let file of files">
                        <div class="card-header">
                            <span id="{{'filename'+ i}}">{{file.fileName}}</span>
                            <button id="{{'deleteClicked'+ i}}" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onDeleteClicked(file.fileName)">
                                <span id="{{'times'+ i}}" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <button id="resetButton" class="btn clear" type="reset" (click)="reset()">
                            Reset
                        </button>
                        <button id="uploadExecutionLogs" type="submit" class="btn load" (click)="executeMlLog()" *ngIf="permissionService.hasPermission('/api/Insight/UploadExecutionLogs') ? true : false">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            <a class="button custom-help" href="#ml-logs"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
    </div>
    <app-alert></app-alert>
</section>
<app-ml-logs-popup></app-ml-logs-popup>