.color-thead {
    background-color: #114b5e;
    color: #ffffff;
}

.load-csv-file {
    background: #e9ecef;
    text-align: center;
    padding: 14px 6px;
    margin-top: 29px;
    margin-bottom: 43px;
    border-radius: 5px;
    width: 105%;
}

.load {
    width: 70%;
    margin-top: 1rem;
    color: white;
    background: #0e495b;
}

.upload {
    display: inline-grid;
}

.upload-elements {
    margin-top: 30px;
    margin: 0 auto;
}

.table-position {
    position: relative;
    margin-top: 30px;
}

.selector {
    width: 50%;
}

.card {
    margin-bottom: 0.4rem;
}

.hideLabel {
    color: transparent;
}

.action-buttons {
    display: flex;
}

.load {
    width: 70%;
    margin-top: 36px;
    color: white;
    background: #4CAF50;
    font-family: 'Montserrat', sans-serif;
}

.clear {
    width: 70%;
    margin-top: 36px;
    color: #111;
    background: lightgray;
    margin-right: 12px;
    font-family: 'Montserrat', sans-serif;
}

.custom-help {
    width: 40px;
    height: 40px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    bottom: 0;
    top: 27em;
    left: 40px;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}