<div id="jira-integration" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Jira-Sense.ai Integration </h2>
        <a class="close" href="/#/settings/jira-integration">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="jira-integration-popup-btn" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                          Jira-Sense.ai Integration LogIn screen
              </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to log in to Jira-Sense.ai integration functionality.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Jira Link
                                    </div>
                                    <div class="table-cell grey-text">
                                        The link of the jira used.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Jira Email
                                    </div>
                                    <div class="table-cell grey-text">
                                        The email of the user.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Jira Token
                                    </div>
                                    <div class="table-cell grey-text">
                                        Validation number to log In to Jira-Sense.ai integration.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Log In button
                                    </div>
                                    <div class="table-cell grey-text">
                                        User’s log in and proceed to next step (Map Projects tab)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card 2 -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="jira-integration-popup-btn2" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject1" aria-expanded="false" aria-controls="collapseThree">
                          Map Projects Screen
            </button>
                    </h2>
                </div>
                <div id="subproject1" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to map Sense.ai and Jira project.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        SenseAI Project
                                    </div>
                                    <div class="table-cell grey-text">
                                        The name of the selected Sense.ai project.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        SenseAI Sub-Project
                                    </div>
                                    <div class="table-cell grey-text">
                                        The name of the selected Sense.ai sub-project.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Select Jira Project
                                    </div>
                                    <div class="table-cell grey-text">
                                        The name of the selected Jira project.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Save and Continue button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Save the mapping and proceed to next step (Map Issue Types tab)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Map issue type screen -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="jira-integration-popup-issue-types-sc" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject2" aria-expanded="false" aria-controls="collapseThree">
                        Map Issue Types Screen
          </button>
                    </h2>
                </div>
                <div id="subproject2" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to map Sense.ai and Jira issue types.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Issue Type
                                    </div>
                                    <div class="table-cell grey-text">
                                        The desired Sense.ai issue type that needs to be synchronized.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Jira Issue Type
                                    </div>
                                    <div class="table-cell grey-text">
                                        The desired Jira issue type that needs to be sunchronized.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Save mapping button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Saves the mapping.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Add fields + button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Add fields to achieve the desired mapping.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Sense AI
                                    </div>
                                    <div class="table-cell grey-text">
                                        Display of Sense.ai issue type mapped.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Jira
                                    </div>
                                    <div class="table-cell grey-text">
                                        Display of Jira issue types mapped.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Back button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Roll back to the previous step (Map Projects tab)
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Continue button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Save the mapping and proceed to next step (Map Users tab)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Map user screen -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="jira-integration-popup-users" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject3" aria-expanded="false" aria-controls="collapseThree">
                        Map Users Screen
        </button>
                    </h2>
                </div>
                <div id="subproject3" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to map Sense.ai and Jira users.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Add user + button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Select Sense.ai and Jira users to map.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Back button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Roll back to the previous step (Map Issue Types tab)
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Continue button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Save the mapping and proceed to next step (Complete tab)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
