<div id="systems-cat-container" class="container-fluid">
    <section id="systems-cat-section" class="wrapper">
        <kendo-tabstrip id="systems-cat-tabstrip" >
            <kendo-tabstrip-tab id="systems-cat-tabs1"  [title]="'Systems'" [selected]="true">
                <ng-template kendoTabContent>
                    <app-systems [systems]="systems" [gridData]="systemsGridData" [state]="systemState" (systemDataStateChanged)="systemDataStateChange($event)" (systemListChanged)="systemListChange($event)">
                    </app-systems>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab id="systems-cat-tabs2" [title]="'System Tags'">
                <ng-template kendoTabContent>
                    <app-system-tags [systemTags]="systemTags" [gridData]="systemTagsGridData" [state]="systemTagState" (systemTagDataStateChanged)="systemTagDataStateChange($event)" (systemTagsListChanged)="systemTagsListChange($event)" (systemTagIdChanged)="systemIdChanged($event)"
                        (systemTagIdChanged)="getIdOfSystem($event)">
                        ></app-system-tags>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab id="systems-cat-tabs3" [title]="'Catalogs'">
                <ng-template kendoTabContent>
                    <app-catalogs [catalogs]="catalogs" [systems]="systems" [gridData]="catalogsGridData" [state]="catalogState" (catalogDataStateChanged)="catalogDataStateChange($event)" (catalogListChanged)="catalogListChange($event)">
                    </app-catalogs>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab id="systems-cat-tabs4" [title]="'Typicals'">
                <ng-template kendoTabContent>
                    <app-typicals [typicals]="typicals" [gridData]="typicalsGridData" [state]="typicalState" (typicalDataStateChanged)="typicalDataStateChange($event)" (typicalListChanged)="typicalListChange($event)"  (typicalIdChanged)="typicalIdChanged($event)" (typicalIdChanged)="getIdOfTypical($event)">
                    </app-typicals>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </section>
</div>