<kendo-grid id="suggestedDataSets" [kendoGridBinding]="suggestedDataSets" #grid [selectable]="true" [kendoGridSelectBy]="'id'" [selectedKeys]="selectedDataSetsIds" (selectionChange)="dataSetSelectionChanged($event)">
    <kendo-grid-checkbox-column id="kendoCheckbox" [width]="40"></kendo-grid-checkbox-column>
    <kendo-grid-column title="Dataset title">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div>
                <span>{{dataItem.title}}</span>
                <span style="margin-left: 50px">{{dataItem.rows?.length}} rows</span>
            </div>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>