<div id="assocDiv" style="position: absolute;width: 190px;height: 100px;top: 24px;left: 20px;background-color: white;z-index:9999999999999999;"></div>
<div id="diagramDiv" #diagramDiv style="border:none;width:1280px; height:800px">
</div>