<kendo-dialog [minWidth]="isCatalogEdited ? '500' : '600'" [title]="isProcessEdited ? 'Edit Requirement' : 'Add Requirement'" *ngIf="_openAddProcess" (close)="close()" class="process-dialog">
    <div id="add-edit-process-dialog" class="dialog">
        <div class="row">
            <div class="col-4">
                <span id="add-edit-process-heirarchy"> Hierarchy*</span>
            </div>
            <div class="col-8">
                <kendo-combobox id="add-edit-process-heirarchyComboClist" class="hierarchies" [data]="hierarchies" [filterable]="true" textField="title" valueField="id" [value]="selectedProcess.hierarchy" (valueChange)="onChangeHierarchy($event)">
                </kendo-combobox>
            </div>
        </div>
        <br />
        <div style="display:none" class="row">
            <div class="col-4">
                <span id="add-edit-process-type">Type*</span>
            </div>
            <div class="col-6">
                <label id="add-edit-process-labelType" style="margin-right: 0.6rem">
          <input id="add-edit-process-inpytType" type="radio" name="processtype" (change)="arisTypeSelected()"
            [checked]="selectedProcess.processType === 2" />
          Aris
        </label>
                <label>
          <input id="add-edit-process-inputTupeRadio" type="radio" name="processtype" (change)="genericTypeSelected()"
            [checked]="selectedProcess.processType === 1" />
          Generic
        </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label for="title" id="add-edit-process-title2" class="label">Title*</label>
            </div>
            <div class="col-8">
                <input id="title2" style="border-radius: 5px" type="text" (keyup)="changeTitle($event)" [value]="selectedProcess.title" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label for="description" class="label">Description</label>
            </div>
            <div class="col-8">
                <textarea id="description2" style="border-radius: 5px" (keyup)="changeDescription($event)">{{ selectedProcess.description }}</textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <span>Attach</span>
            </div>
            <div class="col-8">
                <input [className]="
            resources.length > 0
              ? 'upload-elements btn hideLabel'
              : 'upload-elements btn'
          " id="file" type="file" (change)="onFileSelected($event)" multiple="multiple" />
                <div class="card" *ngFor="let file of resources">
                    <div class="card-header">
                        <span>{{ file.fileName }}</span>
                        <button name="submitFileAttach" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onDeleteClicked(file.id)">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <span>Assignee</span>
            </div>
            <div class="col-8">
                <kendo-combobox id="add-edit-process-assaigneSelectList" class="people" [data]="people" [filterable]="true" textField="name" valueField="id" [value]="selectedProcess.owner" (valueChange)="onChangePeople($event)">
                </kendo-combobox>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <span>Priority</span>
            </div>
            <div class="col-8">
                <kendo-combobox id="add-edit-process-SelectPriorityList" class="people" [data]="priority" [filterable]="true" textField="title" valueField="id" [value]="selectedProcess.priorityObj" (valueChange)="onChangePriority($event)">
                </kendo-combobox>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <span style="    white-space: nowrap;">Information type</span>
            </div>
            <div class="col-8">
                <kendo-combobox id="add-edit-process-InformationType" class="people" [data]="requirementType" [filterable]="true" textField="title" valueField="id" [value]="selectedProcess.requirementTypeObj" (valueChange)="onChangeRequirementType($event)">
                </kendo-combobox>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-6">
                <span style="    white-space: nowrap;">Expected number of test cases:</span>
            </div>
            <div class="col-6">
                <!-- <kendo-combobox class="people" [data]="requirementType" [filterable]="true" textField="text" valueField="id" [value]="selectedProcess.requirementTypeObj" (valueChange)="onChangeRequirementType($event)">
                </kendo-combobox> -->
                <input style="width: 85%;border-radius: 5px;" type="number" class="number" id="testCases" (input)="onChangeExpectedNumberOfTestCases($event)" [value]="selectedProcess.expectedNumberOfTestCases" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <span style="    white-space: nowrap;">Core Application</span>
            </div>
            <div class="col-8">
                <kendo-combobox id="add-edit-process-CoreApplicaion" class="people" [data]="filteredtypicals" [filterable]="true" textField="title" valueField="id" [value]="selectedProcess.typicalObj" (valueChange)="onChangeTypical($event)" (filterChange)="handleFilter($event)">
                </kendo-combobox>
            </div>
        </div>
        <br />
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <button name="sumbitProcessAdd" class="btn add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">
            Submit
          </button>
                    <button class="btn exit" (click)="close()" name="CancelProcessAdd">
            Cancel
          </button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
</kendo-dialog>
