<kendo-dialog width="600" title="Delete Requirement" id="delete-process-main" *ngIf="_deleteProcessWindowOpen" (close)="close()">
    <div class="row">
        <div class="col-12">
            <span id="delete-process-description" class="description">
        {{message}}
      </span>
        </div>
    </div>
    <kendo-dialog-actions>
        <div class="row">
            <div class="col-12 action-buttons">
                <button id="delete-process-yes" name="delete-process-yes" class="btn add" (click)="deleteProcess()">Yes</button>
                <button class="btn exit" id="delete-process-no" name="delete-process-no" (click)="close()">No</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>
