.main {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

.stylesForPopUp {
    position: absolute;
    width: 100%;
    left: 0;
    height: 98%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.main-highlight {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 92%;
    font-family: "Montserrat", sans-serif;
}

.paper-container {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    left: 0%;
    right: 0;
    width: 100%;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 1620px) {
    .app-body {
        position: relative;
        height: calc(100% - 60px);
        top: 6%;
    }
    .joint-app.joint-theme-modern .toolbar-container {
        overflow-y: auto;
        height: 125%;
        background-color: #f6f6f6;
    }
    .joint-app.joint-theme-modern .app-body {
        height: calc(100% - 92px);
        top: 7.5%;
    }
}