<div class="main">
    <div id="app" class="joint-app joint-theme-modern stylesForPopUp ">
        <div class="app-header">
            <div class="toolbar-container">
            </div>
        </div>
        <div class="main-highlight">
            <div class="stencil-container " style="display: none">
            </div>
            <div class="paper-container "></div>
            <div class="navigator-container"></div>
        </div>
    </div>
</div>