
<a id="ji-project-details-anch" *ngIf="!subproject">
    <h5 id="ji-project-details-integr" >
        <i class="fa fa-retweet"></i> Jira Integration
    </h5>
    <a id="ji-project-details-config" [routerLink]="['jira-integration']" class="btn btn-secondary btn-sm d-block">
        <i class="fa fa-cog mr-2"></i>
      Configuration
    </a>
</a>

<span class="text-center" *ngIf="loadingData == false && subproject">
    <h5 id="ji-project-details-tag" >
        <i class="fa fa-retweet"></i> Jira Integration
    </h5>
    <a id="ji-project-details-subpr" class="sense-link d-block" href="{{subproject.jiraLink}}" target="_blank"> {{ subproject.jiraLink }} </a>
    <p>Mapping Configuration Status: 
      <b id="ji-project-details-to-do" *ngIf="!subproject.isJiraIntegrationEnabled && !subproject.jiraLink"> To Do</b>
      <b id="ji-project-details--in-progress" *ngIf="!subproject.isJiraIntegrationEnabled && subproject.jiraLink"> In progress</b>
      <b id="ji-project-details-done" *ngIf="subproject.isJiraIntegrationEnabled"> Done</b>
      <!-- <i class="fa" [ngClass]="{ 'fa-times': !subproject.isJiraIntegrationEnabled, 'fa-check': subproject.isJiraIntegrationEnabled}"></i> -->
    </p>
    <a id="ji-project-details-config" [routerLink]="['jira-integration']" class="btn btn-secondary btn-sm d-block">
        <i class="fa fa-cog mr-2"></i>
      Configuration
    </a>
</span>
