<app-ai-analitics-menu></app-ai-analitics-menu>
<div class="container-fluid dashboard-main">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 defects-replay">
            <button id="view-overdue-tasks=button" class="view-overdue-info-btn btn apply-filters" (click)="onClickForModalOpen() " *ngIf="permssionService.hasPermission('/getAllDevelopersWorkload/hashId/')">View Overdue tasks</button>
            <button id="commit-plan-send-notifications" class="view-overdue-info-btn btn apply-filters" (click)="commitSchedule()" *ngIf="permssionService.hasPermission('/getAllDevelopersWorkload/hashId/')">Commit Plan and Send Notifications</button>
            <button id="calculate-plan" class="view-overdue-info-btn btn apply-filters" (click)="calculatePlan()" *ngIf="permssionService.hasPermission('/getAllDevelopersWorkload/hashId/')">Calculate Plan for Defects and Tasks<i class="fa fa-spinner fa-spin fa-fw"
                *ngIf="loading">
            </i></button>
            <a class="button custom-help" href="#developers-workload"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-ssm-12 col-xs-12 defects-replay">
            <h5 id="workload-assignment" class="defects-title">Workload assignment per developer</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div>
                <label id="colorPerLab" class="color-per" for="colorPer">
          Colour per.
        </label>
                <select class="custom-select my-1 mr-sm-2" type="number" [(ngModel)]="selectedColorPer" (ngModelChange)="onChangeColorPer($event)" id="colorPer">
          <option *ngFor="let property of colorPer" [ngValue]="property">
            {{property.name}}
          </option>
        </select>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <label class="color-per" for="colorLegend" id="colorLabel2">
                Color Label
            </label>
            <div class="row">
                <div *ngFor="let data of colorLegend;  let i=index" class="color-list" id="legend_of_timeline">
                    <div id="{{'box_legend' + i}}" class="box_legend" [ngStyle]="{'background': data.color}"></div>
                    <label id="{{'label'+ i}}" class="form-check-label color-per">{{data.name}}</label>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" class="uncommited-task" *ngIf="permssionService.hasPermission('/getAllDevelopersWorkload/hashId/')">
            <label><input id="onlyUncommitedTasks" [(ngModel)]="showOnlyUncommitedTasks" (ngModelChange)="onChangeShowOnlyUncommitedTasks($event)" type="checkbox" /> Show only uncommited tasks</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-ssm-12 col-xs-12 defects-replay">
            <div class="FixedHeightContainer">
                <div class="Content" id="timeline" #timeline></div>
            </div>
        </div>
    </div>

    <div class="row" id="workload_row_div">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 defects-replay">
            <h5 id="workloadPerDeveloper-days" class="defects-title">Workload per developer {{workload_timespan}} days</h5>

            <div style="display: block">
                <canvas id="defectsBarColorCanvas" height="60" *ngIf="!nodata" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="defectsBarColor">
        </canvas>
                <p *ngIf="nodata">
                    No data for this period.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-ssm-12 col-xs-12 defects-replay">
            <h5 id="workloadAssignment-qa" class="defects-title">Workload assignment per QA</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-ssm-12 col-xs-12 defects-replay">
            <div class="FixedHeightContainer">
                <div class="Content" id="timelineQA" #timelineQA></div>
            </div>
        </div>
    </div>
    <div class="row" id="workload_row_div">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 defects-replay">
            <h5 id="workloadAssignment-qa-days" class="defects-title">Workload per QA {{workload_timespan}} days</h5>

            <div style="display: block">
                <canvas id="canvas-workloadPerQA" height="60" *ngIf="!nodata" baseChart [datasets]="barChartDataQA" [labels]="barChartLabelsQA" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [colors]="defectsBarColor">
        </canvas>
                <p id="nodata" *ngIf="nodata">
                    No data for this period.
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="row">
    <div class="col-md-12">
      <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChange)="onRangeSliderApply()">
      </ng5-slider>
    </div>
  </div> -->
</div>
<app-developers-workload-popup></app-developers-workload-popup>