.view-overdue-info-btn {
    margin-right: .25rem !important;
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}

#timeline {
    border: 1px solid lightgray;
}

.apply-filters {
    color: #ffffff;
    background-color: #92c94d;
}

#legend_container {
    display: block;
}

.box_legend {
    display: inline-block;
    height: 10px;
    width: 10px;
    padding: 5px;
    border: 0px solid;
    margin-right: 2px;
}

#legend_of_timeline_div {
    display: -webkit-inline-box;
}

#legend_of_timeline {
    margin-left: 5px;
}

#workload_row_div {
    margin-top: 10px;
}

.FixedHeightContainer {
    float: right;
    height: 300px;
    width: 100%;
    padding: 3px;
}

.Content {
    height: 300px;
    overflow: auto;
    background: #fff;
}

::ng-deep .uncommited:before {
    content: "New";
    position: absolute;
    right: 0px;
    background-color: #ea0b0bf2;
    z-index: 9001;
    color: white;
    border-radius: 14%;
    font-size: 13px;
    font-family: monospace;
    font-style: oblique;
    padding: 1px;
    height: 13px;
    line-height: 10px;
    text-align: center;
}

.uncommited-task {
    margin-top: auto;
}

.custom-help {
    width: 40px;
    height: 40px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    bottom: 0;
    right: 23px;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}