<kendo-dialog id="it-dialog" [width]="500" [height]="isIssueTypeEdited ? '500px' : '620px'" [title]="isIssueTypeEdited ? 'Edit Issue Type' : 'Add New Issue Type'" *ngIf="_issueTypeWindowOpen" (close)="close()">
    <div>
        <div class="row dialog">
            <div class="col-12">
                <span id="it-title" >Title*</span>
            </div>
        </div>
        <div class="row dialog">
            <div class="col-12">
                <input id="it-title-input" type="text" [readonly]="isIssueTypeEdited && selectedIssueType.default" (input)="changeTitle($event)" [value]="selectedIssueType.title" />
            </div>
        </div><br />
        <div class="row dialog">
            <div class="col-12">
                <span id="it-descr" >Description</span>
            </div>
        </div>
        <div class="row dialog">
            <div class="col-12">
                <textarea id="it-description-area" (input)="changeDescription($event)" [readOnly]="isIssueTypeEdited && selectedIssueType.default" [value]="selectedIssueType.description"></textarea>
            </div>
        </div><br />
        <div class="row dialog">
            <div class="col-12">
                <span id="it-unit" >Unit</span>
            </div>
        </div>
        <div class="row dialog">
            <div class="col-12">
                <kendo-combobox id="it-unit-combo" style="width: 16rem" [data]="units" placeholder="Select Unit" [value]="selectedIssueType.unit" (valueChange)="changeUnit($event)">
                </kendo-combobox>
            </div>
        </div><br />
        <div class="row dialog">
            <div class="col-12">
                <span id="it-field-config" >Configure Fields</span>
            </div>
        </div>
        <div class="row fields">
            <div class="col-6" *ngFor="let field of issueTypeFields">
                <span><input id="it-field-checked" type="checkbox" [disabled]="isIssueTypeEdited && selectedIssueType.default" [checked]="field.checked" [(ngModel)]="field.checked" style="margin-right: 0.2rem" />{{field.name}}</span><br />
            </div><br />
        </div><br />
        <kendo-dialog-actions>
            <div class="row">
                <div class="col-12 action-buttons">
                    <button id="it-sub" class="btn add" [disabled]="disableSubmitBtn()" (click)="submitClicked()">Submit</button>
                    <button id="it-exit" class="btn exit" (click)="close()">Cancel</button>
                </div>
            </div>
        </kendo-dialog-actions>
    </div>
    <a id="it-quest" class="button custom-help" href="#add-issue"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
</kendo-dialog>
<app-add-edit-issue-popup></app-add-edit-issue-popup>
