.dialog {
    text-align: center;
    font-size: 18px;
    overflow: hidden;
}

.dialog input {
    width: 16rem;
    height: 2rem;
}

textarea {
    width: 16rem;
    height: 6rem;
}

.action-buttons {
    top: 1rem;
}

.fields {
    margin-left: auto;
    margin-right: auto;
    background: #f8f9fa;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.add {
    margin: 1px 10px;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 39px;
}

.k-window-content {
    overflow: hidden !important;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.custom-help {
    background: rgba(0, 0, 0, .12);
    width: 40px;
    height: 40px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    bottom: 23px;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
