<div class="row">
    <div class="col-md-12">
        <h6 class="application">Action</h6>
        <kendo-dropdownlist id="actionSelectionDropodown" class="input-name" [data]="actions" [readonly]="readonly" [textField]="'title'" [valueField]="'id'" [value]="selectedAction" (valueChange)="actionTypeChanged($event)">
        </kendo-dropdownlist>
    </div>
</div>
