<div class="row p-0 m-0">
  <div class="col-md-6">

    


    <div id="login_container">
      <label class="radio-inline col-6 text-center">
        <input id="jira-cloud" type="radio" name="optradio" [(ngModel)]="selectedJiraModelType" (ngModelChange)="selectJiraModel($event)" [value]="1" checked> Jira Cloud
      </label>
      <label class="radio-inline col-6 text-center">
        <input id="jira-premise" type="radio" name="optradio" [(ngModel)]="selectedJiraModelType" (ngModelChange)="selectJiraModel($event)" [value]="2"> Jira On Premise
      </label>
      <br>
      <br>


      <div class="form-group">
        <label id="jira-email" *ngIf="selectedJiraModelType == 1">Jira Email: </label>
        <label id="jira-username" *ngIf="selectedJiraModelType == 2">Jira Username: </label>
        <input id="jira-username" [placeholder]="selectedJiraModelType == 1 ? 'name.surname@your-organization.com' : 'name.surname'" [(ngModel)]="jiraUsername" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label id="jira-api-token" *ngIf="selectedJiraModelType == 1">Jira API token: </label>
        <label id="jira-passw" *ngIf="selectedJiraModelType == 2">Jira Password: </label>
        <input id="jira-token" [(ngModel)]="jiraToken" [type]="selectedJiraModelType == 1 ? 'text' : 'password'" type="text" class="form-control">
        <small id="jira-generate-token" *ngIf="selectedJiraModelType == 1" class="form-text text-muted">
          <a href="https://id.atlassian.com/manage/api-tokens" target="_blank"> Generate token </a>
        </small>
      </div>
      <!-- <br> -->
      <button id="jira-continue" [disabled]="!(jiraUsername && jiraToken)" 
              (click)="login()"
              class="btn btn-primary btn-block">
        Continue <i class="fa fa-arrow-right pl-2"></i>
      </button>
    </div>

  </div>


  <div class="col-md-6 p-0">
    <div id="instructions" class="p-2 text-center">
      <br>
      <h4>Instructions</h4>
      <h6 id="cloud-title" *ngIf="selectedJiraModelType == 1" class="text-muted">(Jira Cloud)</h6>
      <h6 id="premise-title" *ngIf="selectedJiraModelType == 2" class="text-muted">(Jira OnPremise)</h6>
      <br>
      <div *ngFor="let i of selectedJiraModelType == 1 ? instructionData : onPremiseInstructionData" class="pb-5">
        <a name="large-inst" (click)="enlargeInstruction(i)">
          <img name="img-modal" data-toggle="modal" data-target="#imageModal" class="d-block w-100 img-thumbnail" src="{{i.imgSrc}}" alt="Copy">
        </a>
        <b name="step-name" > {{i.stepName}}: </b> <span [innerHtml]="i.description"></span>
        <br *ngIf="i.extraText">
        <i name="jira-icon" *ngIf="i.extraText"> {{i.extraText}} </i>
      </div>

  </div>
</div>


<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div *ngIf="selectedInstructionStep" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button id="jira-instruction-step" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span id="jira-span" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
            <img id="jira-img" class="modalImg img-thumbnail" src="{{selectedInstructionStep.imgSrc}}" >
            <br>
            <br>
            <b id="jira-desc" >{{selectedInstructionStep.stepName}}: </b> <span [innerHtml]="selectedInstructionStep.description"></span>
        </div>
      </div>
    </div>
  </div>
</div>