#login_container {
  padding-top: 20vh;
  width: 60%;
  margin: 0 auto;
}

#instructions {
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.modal-dialog {
  max-width: 100vw !important;
  margin: 1.75rem !important;
}

.modalImg {
  max-width: 90vw;
  margin: 0 auto;
}

.modal-header {
  border: none !important;
}