<div id="ml-logs" class="overlay">
    <div class="popup">
        <h2 id="blue-text"> Execution Logs </h2>
        <a class="close" href="/#/ml-logs">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                          Execution Logs   screen
        </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to import execution logs in Validata Sense.ai.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Search for workflow
                                    </div>
                                    <div class="table-cell grey-text">
                                        Link execution log with a specific workflow.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Choose file button
                                    </div>
                                    <div class="table-cell grey-text">
                                        From the appearing pop-up window, navigate to find the desired file to be imported.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Reset button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Discard file’s selection.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Submit button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Import selected file’s logs in Validata Sense.ai.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card 2 -->
            </div>
        </div>