<div class="main">
    <div id="screen-item-container"  class="container">
        <app-title></app-title>
        <app-screen></app-screen>
        <app-typical-name></app-typical-name>
    </div>
</div>