<table id="table-tableHover" class="table table-hover">
    <tr [ngClass]="{'table-active' : isActive(process), 'process': true}" [id]="process.id" *ngFor="let process of processes">
        <td [id]="process.id" class="process">
            <span id="table-processTitle" class="title" [id]="process.id">{{process.title}}</span>
            <button id="table-hideShow" name="table-hideshow" type="button" *ngIf="!hideIcons && showProcessActions()" #moreBtn class="btn btn-default btn-circle btn-lg" (click)="showActions(process)"><i class="fa fa-ellipsis-h"></i></button>
            <kendo-popup id="table-processActions" *ngIf="process.showActions" [anchor]="moreBtn" (anchorViewportLeave)="!process.showActions" class="process-actions">
                <div id="table-tablcontenteHover" class='content' style="font-size: 15px; margin-bottom: 0.3rem">
                    <div id="table-preview" (click)="previewWorkflow(process)" class="action preview" *ngIf="previewProcessPermission(process)">
                        <i class="fa fa-lg fa-eye"></i>Preview
                    </div>
                    <div id="table-editProcess" (click)="editProcess(process)" class="action edit" *ngIf="updateProcessPermission()">
                        <i class="fa fa-lg fa-edit"></i>Edit
                    </div>
                    <div id="table-deleteProcess" (click)="deleteProcess(process)" class="action" *ngIf="permissionService.hasPermission('/api/Process/Browse/DeleteProcess')">
                        <i class="fa fa-lg fa-trash"></i>Delete
                    </div>
                </div>
            </kendo-popup>
        </td>
    </tr>
</table>

<app-add-edit-process [openAddProcess]="openAddProcess" [selectedProcess]="processToAdd" [selectedHierarchy]="_selectedHierarchy" [isProcessEdited]="true" (closeAddProcessWindow)="closeProcessDialog()" (processListUpdated)="updateProcessList($event)"></app-add-edit-process>

<app-delete-process [deleteProcessWindowOpen]="deleteProcessWindowOpen" [selectedProcess]="processToDelete" (closeDeleteProcessWindow)="closeDeleteProcessWindow()" (removeProcessFromList)="removeProcessFromList($event)">

</app-delete-process>

<kendo-dialog *ngIf="openPreviewWorkflow" (close)="closePreviewWorkflow()" [width]="800" [height]="700" title="Preview Requirement" class="preview-process">
    <app-preview-workflow [process]="processToPreview" [openPreviewWorkflow]="openPreviewWorkflow">
    </app-preview-workflow>
</kendo-dialog>
