.popup h2 {
  margin-top: 0;
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}

.popup .close {
  cursor: pointer;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  top: 20px;
  right: 30px;
  transition: all 0.2s;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #f2f2f2;
}

.popup .close:hover {
  color: #333333;
  font-family: "Montserrat", sans-serif;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
}

.overlay:target:before {
  display: none;
  font-family: "Montserrat", sans-serif;
}

.overlay:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: #0d4b5e96;
  position: fixed;
  z-index: 9;
  font-family: "Montserrat", sans-serif;
}

.overlay .popup {
  border-radius: 5px;
  width: 30%;
  position: fixed;
  top: 0;
  color: #f2f2f2;
  left: 35%;
  padding: 25px;
  margin: 70px auto;
  z-index: 10;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.overlay:target .popup {
  top: -100%;
  left: -100%;
}

@media screen and (max-width: 768px) {
  .overlay .popup {
    width: 70%;
    left: 15%;
    font-family: "Montserrat", sans-serif;
  }
}
