<section>
    <div *ngIf="showAlert">
        <div class="overlay">
            <div id="pop-up" class="popup" [ngStyle]="{'background-color': bgColor }">
                <h2>{{alertTitle}}</h2>
                <a id="alert-times"class="close" (click)="showAlert=!showAlert">&times;</a>
                <div id="content" class="content" [innerHTML]="alertMessage"></div>
            </div>
        </div>
    </div>
</section>