.main-background {
    background-color: #dee2e661;
    height: auto;
}

.title {
    padding-bottom: 15px;
    text-align: center;
    color: #124b5e;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, .54);
    border-radius: .25rem;
    color: white;
    height: 6rem;
    box-shadow: rgba(0, 0, 0, .54) 0px 0px 6px 1px;
}

.card-text,
.card-number {
    text-align: center;
}

.card-number {
    font-size: 34px;
}

.card-text {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.card-light {
    /* border-color: #124b5e; */
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    height: 6rem;
    padding-top: 29px;
    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    box-shadow: rgba(0, 0, 0, .54) 0px 0px 6px 1px;
}

kendo-combobox {
    margin-left: auto;
    margin-right: auto;
}

.k-widget.form-control,
.k-maskedtextbox.form-control .k-textbox,
.k-textbox.form-control {
    top: 20px;
    width: 100%;
}

.select-sprint {
    padding-bottom: 4vh;
}

.grafs {
    display: flex;
    justify-content: center;
}

.pie-chart {
    background-color: #fff;
    border-radius: 38px;
    margin-top: 10px;
}

.circle-chart {
    background-color: #fff;
    border-radius: 38px;
    margin: 0px 41px;
}

#content {
    float: right;
    width: calc(100% - 260px);
}

.content {
    position: relative;
}

.current-sprint {
    display: flex;
    justify-content: center;
    color: #555;
}

.canvas {
    height: 70vh !important;
}


/* AM Code */

.btn-custom {
    background-color: rgba(0, 0, 0, .54);
    border-color: rgba(0, 0, 0, .54);
    border-color: rgba(0, 0, 0, .54);
    color: #fff;
    font-size: 10px;
}

.custom-help {
    background: rgba(0, 0, 0, .12);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    top: 49rem;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}


/* AM Code */