<app-ai-analitics-menu></app-ai-analitics-menu>
<div class="main-background">
    <section id="content">
        <br>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card" *ngIf="permissionService.hasPermission('/api/Process/Browse/GetProcessesBySubProject') ? true : false">
                            <p id="requirements" class="card-text"> Requirements</p>
                            <h4 id="requirementsTag" class="card-number" [textContent]=this.processes></h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" *ngIf="permissionService.hasPermission('/api/Process/Browse/GetAllProcessWorkflowsBySubProject')">
                            <p  id="workflows" class="card-text"> Workflows</p>
                            <h4 id="workflowsTag" class="card-number" [textContent]=this.workflow></h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" *ngIf="permissionService.hasPermission('/api/Process/Browse/GetAllProcessTestCasesBySubProject')">
                            <p id="executedTestCases" class="card-text">Executed Test cases</p>
                            <h4 id="executedTestCasesTag" class="card-number" [textContent]=this.testcases></h4>
                        </div>
                    </div>
                <!-- <div class="col">
                        <div class="card">
                            <p class="card-text"> Test steps</p>
                            <h4 class="card-number" [textContent]=this.teststeps></h4>
                        </div>
                    </div> -->
                    <div class="col">
                        <div class="card" *ngIf="permissionService.hasPermission('/api/Process/Browse/GetAllProcessOpenIssuesBySubProject')">
                            <p class="card-text"> Open issues</p>
                            <h4 class="card-number" [textContent]=this.openissues></h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" *ngIf="permissionService.hasPermission('/api/Process/Sprint/GetSprintIssues')">
                            <p id="issues-in-sprint" class="card-text"> Issues in sprint</p>
                            <h4 id="issues-in-sprint-h4" class="card-number" [textContent]=this.issuesInSprint></h4>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-light" *ngIf="permissionService.hasPermission('/api/Process/Sprint/GetSprintIssues')">
                            <h4 id="processes_in_sprint" class="card-number" [textContent]=this.processesInSprint></h4>
                            <p id="requirements-affected-by-issues" class="card-text">Requirements affected by Issues</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-light" *ngIf="permissionService.hasPermission('/api/Process/Browse/GetSprintIssuesWorkflow')">
                            <h4 id="workflowsSprint-paragraph" class="card-number" [textContent]=this.workflowsInSprint></h4>
                            <p id="workflowsIssue-paragraph" class="card-text">Workflows affected by Issues</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-light" *ngIf="permissionService.hasPermission('/api/Process/Browse/GetSprintIssuesTestCase')">
                            <h4 id="test-cases-InSprint-h4" class="card-number" [textContent]=this.testcasesInSprint></h4>
                            <p  id="test-cases-InSprint-p" class="card-text">Executed Test Cases affected by Issues</p>
                        </div>
                    </div>
                </div>
                <!-- #cards -->
                <!-- space -->
                <div style="margin-bottom: 1rem"></div>
                <!-- #space -->
                <!-- grafs -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                        <button id="overallViewButton" (click)="seeAll()" class="btn btn-custom">Overall View</button>
                    </div>
                </div>
                <div class="row grafs">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 pie-chart">
                        <div style="display: block">
                            <canvas id="pieChart" baseChart [datasets]="pieChartData.data" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartData.options"></canvas>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 circle-chart">
                        <div class="select-sprint">
                            <kendo-combobox id="sprintsCombobox" class="form-control field-dropdown" #cmbSprint [data]="sprints" [value]="selectedSprint" [filterable]="true" [textField]="'title'" [valueField]="'id'" (valueChange)="sprintChanged($event)">
                            </kendo-combobox>
                        </div>
                        <h2 class="current-sprint" *ngIf="selectedSprint">{{selectedSprint ? selectedSprint.title : ''}}</h2>
                        <div style="display: block; width:100%;">
                            <canvas id="radarChartType" baseChart [datasets]="radarChartData" [labels]="radarChartLabels " [chartType]="radarChartType " [title]="radarChartTitle" [colors]="radarChartColors"></canvas>
                        </div>
                    </div>
                </div>
                <!-- #grafs -->
            </div>
            <a id="propertiesAnchor" class="button custom-help" href="#properties"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </div>
    </section>
</div>
<app-dashboard-popup></app-dashboard-popup>