<div class="pane-content">
  <kendo-splitter id="link-process-splitter" orientation="vertical">
    <kendo-splitter-pane id="link-process-pane1" size="400px">
      <kendo-splitter id="link-process-splitter2">
        <kendo-splitter-pane id="link-process-pane2"size="50%">
          <kendo-grid id="link-process-grid" [kendoGridBinding]="processes" [selectable]="{checkboxOnly:false,mode:'single'}"
                      [kendoGridSelectBy]="'id'" (selectionChange)="handleProcessSelection($event)" [filterable]="true">
            <kendo-grid-column title="Process title" [field]="'title'">
            </kendo-grid-column>
          </kendo-grid>
        </kendo-splitter-pane>
        <kendo-splitter-pane id="link-process-pane3" size="50%">
          <kendo-grid id="link-process-grid2" [kendoGridBinding]="processWorkflows" [selectable]="{checkboxOnly:false,mode:'single'}"
                      [kendoGridSelectBy]="'workflowId'" (selectionChange)="handleWorkflowSelection($event)" [filterable]="true">
            <kendo-grid-column title="Workflow title" [field]="'title'">
            </kendo-grid-column>
          </kendo-grid>
        </kendo-splitter-pane>
      </kendo-splitter>
    </kendo-splitter-pane>
    <kendo-splitter-pane id="link-process-pane4">
      <div *ngIf="selectedProcess && selectedWorkflow">
        <div id="link-process-sel-process">
          Selected Process:<br/>
          <span *ngIf="selectedProcess.title">{{selectedProcess.title}}</span>
          <span *ngIf="!selectedProcess.title">No selected Process!</span>
        </div>
        <div id="link-process-sel-workflow" >
          Selected Workflow:<br/>
          <span *ngIf="selectedWorkflow.title">{{selectedWorkflow.title}}</span>
          <span *ngIf="!selectedWorkflow.title">No selected Workflow!</span>
        </div>
        <button kendoButton [disabled]="!selectedWorkflow.workflowId || !selectedProcess.id"
                (click)="linkProcessWorkflow()">Link Process - Workflow
        </button>
      </div>
    </kendo-splitter-pane>
  </kendo-splitter>
</div>
