<div id="regular-user" class="main regular-user container-fluid">
    <img id="img-change-name"class="full-image" src="assets/images/background.jpg">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="user-profile-pannel">
                <div class="row">
                    <div class="col-md-12">
                        <p id="parag-x"class="close" (click)="back()">X</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id="change-user-name" class="user-profile-title">Change Username</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="avatar">
                            <ngx-avatar id="av" class="my-avatar" size="80" name="{{currentUser.name}}"></ngx-avatar>
                        </div>
                    </div>
                </div>
                <div class="seperate-line"></div>
                <div class="row">
                    <div class="col-md-12">
                        <input id="newProfileName" type="text" class="password" placeholder="Enter Username" [(ngModel)]="changeUserNameForm.newProfileName" required>

                    </div>
                </div>
                <div style="padding-top: 40px;"></div>
                <div class="row">
                    <div class="col-md-6">
                        <h6 id="chan-pass" class="role"><a class="href" (click)="onPassword()">Change Password</a></h6>
                        <h6 id="chan-em" class="role"><a class="href" (click)="onEmail()">Change Email</a></h6>
                        <h6 id="logout" class="role"><a class="changeUser" (click)="logOut()">Logout</a></h6>
                    </div>
                    <div class="col-md-6">
                        <button id="close-b" type="submit" class="btn btn-danger action-buttons white" (click)="back()"> Close</button>
                        <button ic="conf-b" type="submit" class="btn btn-success action-buttons blue" (click)="confirm()"> Confirm</button>

                    </div>
                </div>
                <div class="box">
                    <a id="username-anc" class="button" href="#username"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div id="username" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Change Username</h2>
        <a id="change-user-name" class="close" href="/#/change-user-name">&times;</a>
        <div class="content grey-text ">
            <i id="text-icon" class="fa fa-lightbulb-o " aria-hidden="true "></i>Use this screen to change the LogIn name of the user and view other available changes.
            <div class="table ">
                <div class="table-row blue ">
                    <div id="field-c" class="table-cell ">
                        Field
                    </div>
                    <div id="usage-c" class="table-cell ">
                        Usage
                    </div>
                </div>
                <div class="table-row ">
                    <div id="usern-c" class="table-cell blue-text ">
                        Enter Username
                    </div>
                    <div id="usern-desc" class="table-cell grey-text ">
                        Field used to write the new username
                    </div>
                </div>
                <div class="table-row ">
                    <div id="passw-c" class="table-cell blue-text ">
                        Change Password button
                    </div>
                    <div id="passw-desc" class="table-cell grey-text ">
                        Opens a screen to change the password
                    </div>
                </div>
                <div class="table-row ">
                    <div id="em-c" class="table-cell blue-text ">
                        Change Email
                    </div>
                    <div id="em-desc" class="table-cell grey-text ">
                        Opens a screen to change the email
                    </div>
                </div>
                <div class="table-row ">
                    <div id="logo-c" class="table-cell blue-text ">
                        Logout
                    </div>
                    <div id="logo-desc" class="table-cell grey-text ">
                        Logs out from Sense.ai
                    </div>
                </div>
                <div class="table-row ">
                    <div id="conf-b" class="table-cell blue-text ">
                        Confirm button
                    </div>
                    <div id="conf-desc" class="table-cell grey-text ">
                        Submits the changes made on the email address
                    </div>
                </div>
                <div class="table-row ">
                    <div id="cancel-b" class="table-cell blue-text ">
                        Cancel button
                    </div>
                    <div id="cancel-b-desc" class="table-cell grey-text ">
                        Discards the changes made on the email address
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>