<div id="issue-types" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Issue Types </h2>
        <a class="close" href="/#/settings/issue-types">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button id="issue-t-view" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                          Issue Types View
              </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to view and manage the existing issue types.

                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Title
                                    </div>
                                    <div class="table-cell grey-text">
                                        The title of the issue type.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Description
                                    </div>
                                    <div class="table-cell grey-text">
                                        The description of the issue type.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Unit
                                    </div>
                                    <div class="table-cell grey-text">
                                        The time measurement unit for the issue type.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Actions
                                    </div>
                                    <div class="table-cell grey-text">
                                        The available actions on issue types.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Edit button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Allows editing on the selected issue type.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Delete button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Deletes the selected issue type.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        “+” button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Create new issue type.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
