<kendo-dialog width="600" title="Delete {{hierarchyTypeTitle}}" *ngIf="_deleteHierarchyWindowOpen" (close)="close()">
    <div id="deleteHirarchyRow" class="row">
        <div class="col-12">
            <span id="deleteHirarchy-message" class="description">
        {{message}}
      </span>
        </div>
        <br id="deleteHirarchy-deletedBreake" *ngIf="deleted" /> <br *ngIf="deleted" />
    </div>
    <div id="deleteHirarchy-hirarchy action" class="row hierarchy-action" *ngIf="deleted">
        <div class="col-md-12">
            <label>
        <input type="radio" id="deleteHirarchy-radiohirarchy" name="hierarchyAction" value="delete"
          (change)="deleteHrcClicked()" checked>
        Delete the associations
      </label>
            <label>
        <input type="radio" id="deleteHirarchy-hirarchyRadio" name="hierarchyAction" value="move"
          (change)="moveHrcClicked()">
        Move the associations
      </label>
        </div>
        <br /><br />
    </div>
    <div class="row" id="deleteHirarchy-deleted123" style="text-align: center" *ngIf="deleted">
        <div class="col-12">
            <kendo-combobox [data]="hierarchies" id="deleteHirarchy-selectHirarchy" textField="title" placeholder="Select Hierarchy" valueField="id" [filterable]="true" [(ngModel)]="selectedParent">
            </kendo-combobox>
        </div>
    </div>
    <kendo-dialog-actions>
        <div class="row">
            <div class="col-12 action-buttons">
                <button id="deleteHirarchy-yes" name="deleteHirarchy-yes" class="btn add" (click)="deleteHierarchy()" [disabled]="disableSubmitBtn()">Yes</button>
                <button id="deleteHirarchy-no" name="deleteHirarchy-no" class="btn exit" (click)="close()">No</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>
