.fa-plus {
    margin-right: 0.3rem;
}

.nav-item {
    cursor: pointer;
}

.navbar {
    width: 100%;
    margin-top: 3px;
    height: 2.5rem;
}

.k-i-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 64px;
    background-color: rgba(255, 255, 255, .3);
    color: #5b91a9 !important;
    background: none;
    z-index: 9999999999;
}
