<nav id="navbar-lg" class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="showNavbar()">
    <button id="navbar-lg-button-toogler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span id="navbar-lg-button-icon" class="navbar-toggler-icon"></span>
  </button>
    <div id="collapse-navbar-collapse" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="navbar-menu-items-subnav" class="navbar-nav mr-auto">
            <li id="navbar-menu-items-requirment" class="nav-item" (click)="addProcessClicked()" *ngIf="_selectedHierarchy && (!hierarchyTypeTitle || hierarchyTypeTitle === '') && requirementPermissions()">
                <a class="nav-link"><i class="fa fa-plus" aria-hidden="true"></i>Requirement</a>
            </li>
            <li id="navbar-menu-items-hirarchy" class="nav-item" *ngIf="hierarchyTypeTitle && hierarchyTypeTitle !== '' && displayHierarchy && hasHierarchyPermission()" (click)="addHierarchyClicked()">
                <a class="nav-link"><i class="fa fa-plus" aria-hidden="true"></i>{{hierarchyTypeTitle}}</a>
            </li>
            <li id="navbar-menu-items-copy-req" class="nav-item" *ngIf="selectedProcesses && selectedProcesses.length > 0" (click)="copyProcess()">
                <a class="nav-link">Copy Requirement</a>
            </li>
            <li id="navbar-menu-items-paste-req" class="nav-item" *ngIf="_selectedHierarchy && copyCutProcesses && copyCutProcesses.length > 0" (click)="pasteProcess()">
                <a class="nav-link">Paste Requirement</a>
            </li>
            <li id="navbar-menu-items-move-req" class="nav-item" *ngIf="_selectedHierarchy && selectedProcesses && selectedProcesses.length > 0 && moveRequirementPermissions()" (click)="moveRequirementClicked()">
                <a class="nav-link">Move Requirement</a>
            </li>
            <li id="navbar-menu-items-manage-req" class="nav-item" *ngIf="selectedProcess" (click)="openProcessDetails()">
                <a class="nav-link">Manage Requirement</a>
            </li>
            <li id="navbar-menu-items-generate-doc" class="nav-item" *ngIf="(selectedProcess || _selectedHierarchy) && licenseService.hasLicense(license.Documentation_and_Video_generation)" (click)="generateDocumentation()">
                <a class="nav-link">Generate Documentation</a>
            </li>
        </ul>
    </div>
</nav>

<app-add-edit-process [openAddProcess]="openAddProcess" [selectedProcess]="processToAdd" [selectedHierarchy]="_selectedHierarchy" [isProcessEdited]="false" (closeAddProcessWindow)="closeProcessDialog()" (processListUpdated)="updateProcessList($event)"></app-add-edit-process>

<app-add-edit-hierarchy [hierarchyTypeTitle]="hierarchyTypeTitle" [openAddHierarchy]="openAddHierarchy" [hierarchyToAdd]="hierarchyToAdd" [selectedHierarchy]="_selectedHierarchy" [isHierarchyEdited]="false" (closeAddHierarchyWindow)="closeHierarchyDialog()"
    (hierarchyListUpdated)="updateHierarchyList($event)">
</app-add-edit-hierarchy>

<app-requirement-dialog [shouldSelectHierarchyItem]="true" [openRequirementDialog]="openRequirementDialog" (closeRequirement)="closeRequirementDialog()" (submitHierarchyItem)="hierarchyItemSelected($event)"></app-requirement-dialog>

<div *ngIf="loading" class="k-i-loading"></div>

<app-generate-documentation [openDocumentGeneration]="openDocumentGeneration" (closeOpenDocumentGeneration)="closeDocumentGenerationDialog()" [selectedProcess]="selectedProcess" [selectedHierarchy]="_selectedHierarchy"></app-generate-documentation>
