<div class="row">
    <div class="col-12">
        <canvas 
            id="radar-canvas"
            baseChart 
            [datasets]="radarChartData.data" 
            [labels]="radarChartLabels" 
            [chartType]="radarChartType" 
            [options]="radarChartData.options"
            [colors]="radarChartColors">
        </canvas>
    </div>
</div>