<kendo-dialog id="del-cat"  width="600" height="200" title="Delete Catalog" *ngIf="deleteCatalogWindowOpen" (close)="close()">
    <div id="t-div" class="row">
        <div class="col-12">
            <span id="text-span" class="description">
                Are you sure you want to delete '{{selectedCatalog.title}}' catalog ?
            </span>
        </div>
    </div>
    <kendo-dialog-actions id="actions-group">
        <div id="act-group" class="row">
            <div class="col-12 action-buttons">
                <button id="btn-y" class="btn add" (click)="deleteCatalog()">Yes</button>
                <button id="btn-n" class="btn exit" (click)="close()">No</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>