<div id="developers-workload" class="overlay">
    <div class="popup">
        <h2 id="blue-text"> Developers Workload </h2>
        <a class="close" href="/#/developers-workload">&times;</a>
        <div class="accordion" id="accordionExample">
            <!-- subproject -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subproject" aria-expanded="false" aria-controls="collapseThree">
                          Developers Workload   screen
      </button>
                    </h2>
                </div>
                <div id="subproject" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="content grey-text">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Use this screen to see the suggested developers’ plan about existing defects (except closed) in Validata Sense.ai.
                            <div class="table">
                                <div class="table-row blue">
                                    <div class="table-cell">
                                        Field
                                    </div>
                                    <div class="table-cell">
                                        Usage
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        View Overdue Tasks button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Pops up a window with the overdue tasks.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Commit Plan and Send Notifications button
                                    </div>
                                    <div class="table-cell grey-text">
                                        Commits the plan and sends notifications by creating groups in slack.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Workload assignment per developer diagram
                                    </div>
                                    <div class="table-cell grey-text">
                                        Display of the names of the developers, the suggested assignments and the time needed to fulfill them.
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell blue-text">
                                        Workload per developer x days diagram
                                    </div>
                                    <div class="table-cell grey-text">
                                        Display of the occupation percentage in an x-day period.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card 2 -->
            </div>
        </div>