<app-sidebar></app-sidebar>
<section id="content" class="px-5">
    <aw-wizard id="wiz1" #wizard [navBarLayout]="'large-empty-symbols'">

        <!-- STEP 0 - AUTHENTICATE JIRA -->
        <aw-wizard-step id="wiz-step1" [canEnter]="!isAuthenticated" stepTitle="Log In" [navigationSymbol]="{ symbol: '&#xf090;', fontFamily: 'FontAwesome' }">
            <div class="container py-3">
                <app-ji-auth (authenticated)="authenticatedWithJira($event)"></app-ji-auth>
            </div>
        </aw-wizard-step>

        <!-- <aw-wizard-step [canEnter]="!isAuthenticated" stepTitle="Test" [navigationSymbol]="{ symbol: '&#xf090;', fontFamily: 'FontAwesome' }">
            <div style="height: 100%;" class="row p-0 m-0 h-100 bg-secondary">
                <p>sdsd</p>
            </div>
        </aw-wizard-step> -->

        <!-- STEP 1 - Map Projects -->
        <aw-wizard-step id="wiz-step2" stepTitle="Map Projects" [navigationSymbol]="{ symbol: '&#xf12e;', fontFamily: 'FontAwesome' }">
            <!-- <div class="container py-3"> -->
                <app-ji-project-map [currentIndex]="wizard_index" (nextStep)="navigateWizzardForward()" (savedProjectMapping)="getSavedProject($event)"></app-ji-project-map>
            <!-- </div> -->
        </aw-wizard-step>

        <!-- STEP 2  - Map Issue Types-->
        <aw-wizard-step id="wiz-step3" stepTitle="Map Issue Types" [navigationSymbol]="{ symbol: '&#xf085;', fontFamily: 'FontAwesome' }">
            <app-ji-issue-type-map [savedProject]="savedProject" (nextStep)="navigateWizzardForward()" (prevStep)="navigateWizzardBack()"></app-ji-issue-type-map>
        </aw-wizard-step>

        <!-- STEP 3 - Map Users-->
        <aw-wizard-step id="wiz-step4" stepTitle="Map Users" [navigationSymbol]="{ symbol: '&#xf0c0;', fontFamily: 'FontAwesome' }">
            <div class="container py-3">
                <app-ji-user-map (nextStep)="navigateWizzardForward()" (prevStep)="navigateWizzardBack()" [savedProject]="savedProject"></app-ji-user-map>
            </div>
        </aw-wizard-step>

        <!-- STEP 4 - Webhooks configuration -->
        <aw-wizard-step id="wiz-step5" stepTitle="Webhook Config" [navigationSymbol]="{ symbol: '&#xf11d;', fontFamily: 'FontAwesome' }">
            <div class="container py-3">
                <app-ji-webhook-config (nextStep)="navigateWizzardForward()" (prevStep)="navigateWizzardBack()" [savedProject]="savedProject" [currentIndex]="wizard_index"></app-ji-webhook-config>
            </div>
        </aw-wizard-step>

        <!-- STEP 5 - Complete wizard (Review) -->
        <aw-wizard-step id="wiz-step6" stepTitle="Summary" [navigationSymbol]="{ symbol: '&#xf00c;', fontFamily: 'FontAwesome' }">
            <app-ji-summary (nextStep)="navigateWizzardForward()" (prevStep)="navigateWizzardBack()" [savedProject]="savedProject" [currentIndex]="wizard_index"></app-ji-summary>
        </aw-wizard-step>

    </aw-wizard>
</section>
<section id="poupContent">
    <a class="button custom-help" href="#jira-integration"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
</section>
<section id="popup">
    <app-jira-integration-popup></app-jira-integration-popup>
</section>
