#content {
    float: right;
    width: calc(100% - 221px)!important;
    padding: 15px;
}

.custom-help {
    background: rgba(0, 0, 0, .12);
    width: 40px;
    height: 40px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0.18);
    float: right;
    right: 16px;
    top: 38em;
}

.fa-question-circle {
    color: rgba(0, 0, 0, 0.34);
    top: 7px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
}



  ::ng-deep.wizard-footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 12%);
    right: 0 !important;
    left: unset;
    background-color: #F1F1F1 !important;
  }