.workflows {
    background-color: #eeeeee;
}

.row {
    background-color: white;
}

.container-fluid {
    width: calc(100% - 260px);
    float: right;
}

.bordercorners {
    border-radius: 70px;
    border: 2px solid #0d4b5e;
    padding: 0px 40px;
}

.bordercorners:hover {
    cursor: pointer;
}

tr:hover {
    cursor: pointer;
}

.bordercorners2 {
    border-radius: 25px;
    border: 2px solid #eeeeee;
    padding: 20px;
    width: 200px;
    height: 212px;
}

.percentage {
    color: #003d52;
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
}

.title {
    color: rgb(68, 170, 188);
    font-family: Helvetica, "Times New Roman", Times, serif;
    font-size: 18px;
}

#title_date_coverage_modal {
    color: #225c67;
    font-family: Helvetica, "Times New Roman", Times, serif;
    font-size: 20px;
}

.workflows-apply-filers-btn {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}

#processing_span {
    background: #D3D3D3;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0!important;
}

::-webkit-scrollbar-thumb {
    background: #92c94d;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #92c94d;
}

::-webkit-scrollbar {
    width: 10px;
}

.apply-filters {
    color: #ffffff;
    background-color: #92c94d;
}

select {
    border-radius: 50px;
}

.title-grey-color {
    color: grey;
}

.title-grey-darkblue {
    color: #003d52;
}

.background-custom {
    background-color: whitesmoke !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #0d4b5e;
}

.icones-workflow {
    width: 14%;
    position: relative;
    left: -38px;
}
.table tr.active td {
  background-color:#123456 !important;
  color: white;
}
