<section>
        <kendo-menu id="work-flow-menu"  [vertical]="false" style="box-shadow: initial" *ngIf="showActions()">
            <kendo-menu-item id="work-flow-menu1" *ngIf="hasSavePermission()">
                <ng-template kendoMenuItemTemplate>
                    <span id="work-flow-save" (click)="saveClicked()">Save</span>
                </ng-template>
            </kendo-menu-item>
            <kendo-menu-item id="work-flow-menu2" *ngIf="hasIssuePermission()">
                <ng-template kendoMenuItemTemplate>
                    <span id="work-flow-issue" (click)="issueworkflow()">Issue</span>
                </ng-template>
            </kendo-menu-item>
            <kendo-menu-item id="work-flow-menu3" *ngIf="hasImportPermission()">
                <ng-template kendoMenuItemTemplate>
                    <span id="work-flow-import-aris" (click)="openImport()">Import Aris Process</span>
                </ng-template>
            </kendo-menu-item>
        </kendo-menu>
        <kendo-splitter id="work-flow-sp1" class="body" orientation="vertical">
            <kendo-splitter-pane id="work-flow-pane1" >
                <kendo-splitter id="work-flow-sp2" style="height:auto">
                    <kendo-splitter-pane id="work-flow-pane2">
                        <div class="pane-content">
                            <div id="app" class="joint-app joint-theme-modern">
                                <div  id="work-flow-header" class="app-header">
                                    <div id="work-flow-=toolbar" class="toolbar-container"></div>
                                </div>
                                <div class="app-body">
                                    <div id="work-flow-stencil" class="stencil-container" style="height: 100%" [ngClass]="{'elementVisibility': false }">
                                    </div>
                                    <div id="work-flow--inspector" class="inspector-container" [ngClass]="{'elementVisibility':
                      false }"></div>
                                    <div id="work-flow-paper" class="paper-container aris-paper-container" droppable></div>
                                    <div id="work-flow--nav" class="navigator-container" [ngStyle]="{'pointer-events':
                      'initial'}"></div>
                                </div>
                            </div>
                        </div>
                    </kendo-splitter-pane>
                    <kendo-splitter-pane id="work-flow-pane3" [collapsible]="true" [collapsed]="propertiesCollapsed" size="12%" style="background-color:
              whitesmoke; box-shadow: rgb(170, 170, 170) -3px 0px 10px 1px">
                        <app-workflow-version *ngIf="hasVersionPermission()" [isArisWorkflow]="isArisWorkflow" [workflowId]="selectedTreeViewItem ? selectedTreeViewItem.id :
                null"></app-workflow-version>
                        <app-propeties-container [type]="type" [isArisWorkflow]="isArisWorkflow"></app-propeties-container>
                    </kendo-splitter-pane>
                </kendo-splitter>
            </kendo-splitter-pane>
        </kendo-splitter>
        <div>
            <kendo-dialog id="work-flow-critical-dialog" title="Critical action" *ngIf="isIssueOpen" (close)="closeIssue()" [minWidth]="250" [width]="450">
                <div class="row">
                    <div class="col-md-12">
                <label>
                    <input id="work-flow-version-create" type="radio" name="issue" value="new" (change)="newClicked()" checked>
                        Create new
                        version
                </label>
                        <br>
                        <label>
                <input id="work-flow-upgrade-last" type="radio" name="issue" value="update"
                  (change)="updatedClicked()">
                Upgrade last version
              </label>
                    </div>
                </div>
                <kendo-dialog-actions id="work-flow-actions" >
                    <button id="work-flow-yes" kendoButton class="yes-button first confirm" (click)="issueClicked()" primary="true">
                Yes
                </button>
                    <button id="work-flow-no" kendoButton class="no-button second cancel" (click)="closeIssue()">
                No
                </button>
                </kendo-dialog-actions>
            </kendo-dialog>
        </div>
    
        <kendo-dialog id="work-flow-import" title="Import" *ngIf="isImportOpen" [minWidth]="400" [height]="300" (close)="closeImport()">
            <label class="k-form-field">
          <span id="work-flow-s1" >File:</span>
          <br>
          <input id="work-flow-file-changed" type="file" width="200" (change)="fileChanged($event)" />
          <div id="work-flow-loading-message"class="loading-message" *ngIf="showLoadingMessage">Waiting for the
            Workflows to be created...</div>
        </label>
            <kendo-dialog-actions id="work-flow-act" >
                <button  id="work-flow-sub" kendoButton class="yes-button first confirm" (click)="import()">
                    Submit
                </button>
                <button  id="work-flow-canc" kendoButton class="no-button second cancel" (click)="closeImport()">
                    Cancel
                </button>
            </kendo-dialog-actions>
        </kendo-dialog>
        <kendo-dialog id="work-flow-select-workflow" title="Select Workflow" *ngIf="isSelectWfOpen" [width]="650" (close)="closeSelectWf()">
                <div class="row">
                    <div class="col-12">
                        <kendo-grid id="work-flow-selectable-settings" [data]="gridData" [selectable]="selectableSettings" [pageSize]="gridState.take" [skip]="gridState.skip" [kendoGridSelectBy]="'id'" [pageable]="true" (dataStateChange)="onStateChange($event)" (selectionChange)="selectionChanged($event)" [selectedKeys]="selectedDataSetsIds">
                            <kendo-grid-column field="title" title="Title"></kendo-grid-column>
                        </kendo-grid>
                    </div>
                </div><br />
                <div class="text-right">
                    <button id="work-flow-create-workf" type="button" class="btn add" [disabled]="disableCreateBtn()" (click)="createWorkflow()">
                Create
              </button>
                    <button id="work-flow-cancel-workf" type="button" class="btn exit" (click)="closeSelectWf()">
                Cancel
              </button>
                </div>
            </kendo-dialog>
        <kendo-popup id="work-flow-connector" [offset]="offset" (anchorViewportLeave)="show= false" *ngIf="connectorShow">
            <div id="work-flow-content" class='content'>
                <button id="work-flow-toggle-y" class="k-button" (click)="onToggle('yes')">
            Yes
          </button>
                <button id="work-flow-toggle-n" class="k-button" (click)="onToggle('no')">
            No
          </button>
                <button id="work-flow-toggle-rem" class="k-button" (click)="onToggle('remove')">
            Remove
          </button>
            </div>
        </kendo-popup>
    </section>
    