.body {
    overflow: hidden;
    height: calc(100vh - 109px);
    width: 100%;
    float: right;
    left: 1px;
}


.border-workflow-version {
    background-color: whitesmoke;
    color: #0d4b5e;
}

.no-button {
    background-color: #C00D0F;
    border-color: #C00D0F;
    color: #fff;
}

.k-dialog-buttongroup {
    border-color: rgba(33, 37, 41, 0.125);
    height: 38px !important;
}

.highlight-button {
    position: relative;
    margin-top: 38px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    background-color: #0d4b5e;
    color: #fff;
    padding: 12px 26px;
    border-radius: 10px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.joint-app {
    position: absolute;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list-workflows {
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    background: #0e495b;
    border-radius: 1rem;
}

.list-workflows-col {
    text-align: center;
}

.expected-error-textarea {
    width: 18rem;
    height: 7rem;
}

.expected-error-row {
    text-align: center;
}

.btn-load {
    background-color: #0d4b5e;
    color: #fff;
    position: absolute;
    top: 25%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    left: calc(50% - 50px);
}

.btn-save {
    background-color: #777777;
    color: #fff;
    position: absolute;
    top: 15%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    left: calc(50% - 50px);
}

app-tree-view {
    position: relative;
    width: 100%;
    top: 15px;
    left: 1px;
    right: 1px;
}

.k-treeview .k-item {
    outline-style: none;
    margin: 0;
    padding: 0 0 0 15px;
    border-width: 0;
    display: block;
    position: relative !important;
    top: 15px !important;
}

.navigator-container {
    position: absolute;
    right: 2%;
    bottom: 11%;
    width: 240px;
    height: 120px;
}

.inspector-container {
    position: absolute;
    top: 39%;
    left: 0;
    height: 62%;
    bottom: 291px;
    width: 240px;
    box-sizing: border-box;
    z-index: 1;
}

.joint-stencil.joint-theme-modern {
    color: #0d4b5e6e;
    background: #0d4b5e;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}

::-webkit-scrollbar-thumb {
    background: #92c94d;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #92c94d;
}

::-webkit-scrollbar {
    width: 10px;
}

.elementVisibility {
    pointer-events: none;
}

.noneActive {
    pointer-events: none;
}

.action-buttons {
    top: 1rem;
    bottom: 1rem;
    margin-left: 16px;
}

.disabled-context-menu {
    display: none !important;
}

.enabled-context-menu {
    display: block;
}

.custom {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 25px;
    position: relative;
}

.workflow-versions {
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

.loading-message {
    margin-top: 3rem;
    text-align: center;
}

.create-btn {
    margin-right: 0.8rem;
    color: white;
}

.cancel-btn {
    color: #111;
    background: lightgray;
    border: lightgray;
}

.loading-view {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 999999999;
    font-size: 50px;
    color: #fff;
}

#content {
    float: right;
    width: 88%;
}

.first {
    float:right !important;
    margin:0 !important;
    background-color: #92c94d !important;
    color:white
}


.second {
    float:left !important;
    border:0 !important;
    background-color: #dee2e6 !important;
    color: #111;
}

.confirm{
    color: white !important;
}

.cancel{
    color: #495057 !important;
    background-color: #dee2e6 !important;
}


.add {
    margin: 1px 10px;
    background: #9bc34d;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.exit {
    background: #e55039;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.text-right{
    margin-right: 10px;
}

@media only screen and (max-width: 1600px) {
    .joint-app {
        overflow: hidden;
    }
    .navigator-container {
        bottom: 6%;
    }
    .navigator-container {
        bottom: 20%;
    }
    .search {
        flex-basis: 13.4666%;
        order: 0;
        overflow-x: hidden;
        box-shadow: 10px 0 5px -2px #b9bbbd;
        background-color: whitesmoke;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .joint-app {
        overflow: hidden;
    }
    .navigator-container {
        bottom: 6%;
    }
    .navigator-container {
        bottom: 20%;
    }
}