<div class="row">
    <div class="col-md-12">
        <kendo-textbox-container class="input-name">
            <h6 class="application">Test Step Name</h6>
            <input id="changeTitleInput" kendoTextBox type="text" name="name" [readonly]="readonly" [value]="workflowItemData.Title" (input)="titleChanged($event.currentTarget.value, true)">
        </kendo-textbox-container>
    </div>
    <div style="margin-top: 10px; position: relative;"></div>
</div>
