.main {
    width: 100%;
    background-color: transparent;
    box-shadow: 0 2px 2px rgb(169, 169, 169);
    font-family: "Montserrat", sans-serif;
    position: relative;
    top:1rem
}

app-tree-view {
    position: relative;
    width: 100%;
    top: 15px;
    left: 1px;
    right: 1px;
}

::-webkit-scrollbar-thumb {
    background: #92c94d;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #92c94d;
}

::-webkit-scrollbar {
    width: 10px;
}

.k-splitter-flex {
    display: flex;
    width: 100%;
    height: 87vh;
    font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 1600px) {
    .k-splitter-flex {
        display: flex;
        width: 100%;
        height: calc(100vh - 18.5vh);
    }
    .k-treeview .k-in {
        font-size: 1.7vh !important;
    }
}

@media screen and (max-width: 768px) {
    .box {
        width: 70%;
    }
}