<div class="main" *ngIf="permissionService.hasPermission('/api/Design/GetFolders')">
    <kendo-menu [openOnClick]="true" (select)="menuItemClick($event)" 
    *ngIf="licenseService.hasLicense(license.Test_case_export_to_ATS_for_execution) || 
    licenseService.hasLicense(license.Test_case_export_in_other_format) ||
    permissionService.hasPermission('/api/Plan/SavePlanToQualitySuite') || 
    permissionService.hasPermission('/api/Plan/ExportTestCases')">
        <kendo-menu-item text="Export Test Cases">
            <kendo-menu-item *ngIf="licenseService.hasLicense(license.Test_case_export_to_ATS_for_execution) || permissionService.hasPermission('/api/Plan/SavePlanToQualitySuite')" text="Export to Digital Automation Suite" [data]="'ats'" [disabled]="!exportTestCaseButton">
            </kendo-menu-item>
            <kendo-menu-item *ngIf="licenseService.hasLicense(license.Test_case_export_in_other_format) || permissionService.hasPermission('/api/Plan/ExportTestCases')" text="Export as Validata Xml" [data]="'vxml'" [disabled]="!exportTestCaseButton">
            </kendo-menu-item>
        </kendo-menu-item>
    </kendo-menu>
    <kendo-splitter>
        <kendo-splitter-pane [collapsible]="false" size="15%" style="flex-basis: 13.4666%; order: 0; overflow-x: hidden;  box-shadow: 10px 0 5px -2px #b9bbbd; background-color: whitesmoke">
            <div class="comp-title" style="text-align: center">
            </div>
            <div class="pane-content">
                <app-tree-view (treeViewItemSelected)="treeViewItemSelected($event)" [generatedTestCases]="true"></app-tree-view>
            </div>
        </kendo-splitter-pane>
        <kendo-splitter-pane [collapsible]="false" size="30%" style="height:auto; box-shadow: 10px 0 5px -2px #b9bbbd;">
            <div class="pane-content">
                <app-workflow-paths></app-workflow-paths>
            </div>
        </kendo-splitter-pane>
        <kendo-splitter-pane>
            <div class="pane-content">
                <app-test-suite></app-test-suite>
            </div>
        </kendo-splitter-pane>
    </kendo-splitter>
    <div>
        <kendo-dialog title="Export Success!" *ngIf="opened" (close)="close('cancel')" [minWidth]="100" [width]="300" [height]="200">
            <p style="text-align:center">Exported to ATS Successful!</p>
            <kendo-dialog-actions>
                <button kendoButton (click)="close('no')">Close
        </button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>
    <div kendoWindowContainer></div>
    <div kendoDialogContainer></div>
    <app-alert></app-alert>
    <map-test-cases [mapTestCasesWindowOpen]="mapTestCasesWindowOpen" [selectedTreeViewItem]="selectedTreeViewItem" [atsProjects]="atsProjects" [atsSubProjects]="atsSubProjects" [selectedATSProject]="selectedATSProject" [selectedATSSubProject]="selectedATSSubProject"
        [selectedProject]="selectedProject" [selectedSubProject]="selectedSubProject" [testSuiteSystems]="testSuiteSystems" [testSuiteCatalogs]="testSuiteCatalogs" [atsSystems]="atsSystems" [atsCatalogs]="atsCatalogs" (closeMapTestCasesWindow)="closeMapTestCasesWindow()"></map-test-cases>
</div>
