<div class="main">
    <div id="app" class="joint-app joint-theme-modern ">
        <div class="app-header">
            <div id="toolbar-container" class="toolbar-container" style="display: none">
            </div>
        </div>
        <div class="main-highlight">
            <div id="stencil-container" class="stencil-container " style="display: none">
            </div>
            <div id="paper-container" class="paper-container " style="display: 100%"></div>
            <div id="navigator-container" class="navigator-container" style="display: none"></div>
        </div>
    </div>
</div>
