<kendo-dialog
  id="delete-typical" 
  width="600"
  height="200"
  title="Delete Typical"
  *ngIf="deleteTypicalWindowOpen"
  (close)="close()"
>
  <div id="del-typical" class="row">
    <div class="col-12">
            <span id="del-typical-text" class="description">
                Are you sure you want to delete '{{selectedTypical.title}}' typical ?
            </span>
    </div>
  </div>
  <kendo-dialog-actions id="del-typical-actions" >
    <div class="row">
      <div class="col-12 action-buttons">
        <button id="delete-typ-yes" class="btn add"  (click)="deleteTypicalManually()" *ngIf="permissionService.hasPermission('/api/Data/DeleteTypicalManually')">Yes</button>
        <button id="delete-typ-no" class="btn exit" (click)="close()">No</button>
      </div>
    </div>
  </kendo-dialog-actions>
</kendo-dialog>