<kendo-dialog 
    [minWidth]="'800'"
    title="Compare" 
    *ngIf="_openCompareStatusWindow" 
    class="compare-status"
    (close)="close()"
>
  <div class="row">
    <div class="col-6" style="border-right: 1px solid lightgray">
      <label>Planned Current Status</label>
      <div *ngIf="!planedCurrentStatus">Planned Current Status is loading...</div>
      <div id="planned-current-status"></div>
      <div *ngIf="planedCurrentStatus" class="impact-workflows"><span id="workflow-number">{{currentStatusWorkflowCount}}</span> Workflows</div>
    </div>
    <div class="col-6">
      <label>Predicted Impact</label>
      <div *ngIf="!predictedImpact">Predicted Impact is loading...</div>
      <div id="predicted-impact"></div>
      <div class="impact-workflows" *ngIf="predictedImpact"><span id="workflow-number">{{predictedStatusWorkflowCount}}</span> Workflows</div>
    </div>
  </div>
</kendo-dialog>