label {
    font-size: 0.9em;
    color: gray;
}

.impact-workflows {
    height: 4rem;
    border: 1px solid lightgray;
    color: #B3345C;
    font-size: 16px;
    text-align: center;
    margin-top: 1rem;
}

#workflow-number {
    font-size: 26px;
}