<div style="position: absolute;width: 16%;height: 10%;top: 1.5rem;left: 1.5rem;background-color: white;z-index:9999999999999999;"></div>
<div #diagramDiv style="border: solid 1px blue; width:100%; height:100%">
</div>