<div id="sp-container" class="example-container">
    <div class="example-list" [ngStyle]="{'border-bottom': 'none'}" *ngIf="sprintItems && sprintItems[0]">
        <div id="sp-div" [title]="sprintItems[0].title" class="example-box sprints">
            <span class="title" [id]="sprintItems[0].id">{{sprintItems[0].title}}</span>
            <div id="sp-div-actions" class="sprint-actions">
                <span class="date" *ngIf="sprintItems[0].started">{{getDurationDate(sprintItems[0])}}</span>
                <button id="sp-startSprint" type="button" class="btn btn-primary start-sprint-btn" title="Start Sprint" *ngIf="!sprintItems[0].started && !hideStartBtn(sprintItems[0]) && permissionService.hasPermission('/api/Process/Sprint/StartSprint')" (click)="startSprint(sprintItems[0])">Start Sprint</button>
                <button id="sp-completeSprint" type="button" class="btn btn-default complete-sprint-btn" title="Complete Sprint" *ngIf="sprintItems[0].started && permissionService.hasPermission('/api/Process/Sprint/EndSprint')" (click)="completeSprint(sprintItems[0])">Complete Sprint</button>
                <button id="sp-showActions" type="button" #moreBtn class="btn btn-default sprint-more-btn" *ngIf="permissionService.hasPermission('/api/Process/Sprint/UpdateSprint') || permissionService.hasPermission('/api/Process/Sprint/DeleteSprint')" (click)="showActions(sprintItems[0])"><i class="fa fa-ellipsis-h"></i></button>
                <kendo-popup id="sp-actions-pop-up" *ngIf="sprintItems[0].showActions"  class="assignee-popup" [ngClass]="{'complete-assignee-popup': sprintItems[0].started || hideStartBtn(sprintItems[0])}"  [anchor]="moreBtn" (anchorViewportLeave)="!sprintItems[0].showActions" >
                    <div class='content' style="font-size: 15px; margin-bottom: 0.3rem">
                        <div id="sp-edit" class="edit-sprint" (click)="editSprint(sprintItems[0])" *ngIf="permissionService.hasPermission('/api/Process/Sprint/UpdateSprint')">Edit</div>
                        <div id="sp-delete" class="delete-sprint" (click)="deleteSprintClicked(sprintItems[0])" *ngIf="permissionService.hasPermission('/api/Process/Sprint/DeleteSprint')">Delete</div>
                    </div>
                </kendo-popup>
            </div>
        </div>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="sprintItems"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      *ngIf="sprintItems && sprintItems.length > 0">
        <div [title]="item.title"  *ngFor="let item of sprintItems | slice:1; let i = index;" [cdkDragDisabled]="item.elType === 'Sprint'"  [ngClass]="{'example-box': true, 'sprints': item.elType === 'Sprint', 'issues': item.elType === 'Issue', 'active': shouldBeActive(item)}"
            (cdkDragStarted)="startDrag(item)"
            (cdkDragDropped)="endDrag(item)" [id]="item.id" cdkDrag>
            <span class="title" [id]="item.id">{{item.title}}</span>
            <div name="sp-sprint-actions" class="sprint-actions" *ngIf="item.elType === 'Sprint'">
                <span name="sp-getDurationDate" class="date" *ngIf="item.started">{{getDurationDate(item)}}</span>
                <button name="sp-start" type="button" class="btn btn-primary start-sprint-btn" *ngIf="!item.started && !hideStartBtn(item) && permissionService.hasPermission('/api/Process/Sprint/StartSprint')" (click)="startSprint(item)">Start Sprint</button>
                <button name="sp-complete" type="button" class="btn btn-default complete-sprint-btn" *ngIf="item.started && permissionService.hasPermission('/api/Process/Sprint/EndSprint')" (click)="completeSprint(item)">Complete Sprint</button>
                <button name="sp-assignee-popup" type="button" #moreBtn class="btn btn-default sprint-more-btn" *ngIf="permissionService.hasPermission('/api/Process/Sprint/UpdateSprint') || permissionService.hasPermission('/api/Process/Sprint/DeleteSprint')" (click)="showActions(item)"><i class="fa fa-ellipsis-h"></i></button>
                <kendo-popup name="sp-actions-per-item" *ngIf="item.showActions" [ngStyle]="{'right': !openDetails ? '0' : 'auto'}" class="assignee-popup" [ngClass]="{'complete-assignee-popup': item.started || hideStartBtn(item)}" [anchor]="moreBtn" (anchorViewportLeave)="!item.showActions" >
                    <div class='content' style="font-size: 15px; margin-bottom: 0.3rem">
                        <div class="edit-sprint" (click)="editSprint(item)" *ngIf="permissionService.hasPermission('/api/Process/Sprint/UpdateSprint')">Edit</div>
                        <div class="delete-sprint" (click)="deleteSprintClicked(item)" *ngIf="permissionService.hasPermission('/api/Process/Sprint/DeleteSprint')">Delete</div>
                    </div>
                </kendo-popup>
            </div>
            
            <div class="issue-actions" *ngIf="item.elType === 'Issue'">
                <button class="btn btn-default btn-circle-issue btn-lg estimation-issue-btn" title="Estimate" *ngIf="item.estimate">
                    <span>{{item.estimate}}</span>
                </button>
                <button class="btn btn-default btn-circle-issue btn-lg name-issue-btn" [ngStyle]="{'background-color': item.assigne.color}" [title]="item.assigne.name" *ngIf="item.assigne && item.assigne.name !== ''">
                    <span>{{item.assigne.name.charAt(0)}}</span>
                </button>
                <button *ngIf="permissionService.hasPermission('/api/Process/Browse/DeleteIssue')"  class="btn btn-default btn-circle-issue btn-lg delete-issue-btn" title="Delete Issue" (click)="deleteIssueClicked(item)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <div 
                name="sp-selectedSprintItems" 
                [title]="item.title"  
                matBadgeOverlap="false" matBadgePosition="after"
                *cdkDragPreview
                [ngStyle]="{'width': openDetails ? '32%' : '44%'}"
                [ngClass]="{'example-box': true, 'sprints': item.elType === 'Sprint', 'issues': item.elType === 'Issue', 'active': shouldBeActive(item)}"
                [matBadge]="selectedSprintItems.length"
                [matBadgeHidden]="!(item.isDragged && selectedSprintItems.length > 1)"
                (cdkDragStarted)="startDrag(item)"
                (cdkDragDropped)="endDrag(item)">
                <span class="title">{{item.title}}</span>
                <div class="issue-actions" *ngIf="item.elType === 'Issue'">
                    <button name="sp-estimate" class="btn btn-default btn-circle-issue btn-lg estimation-issue-btn" title="Estimate" *ngIf="item.estimate">
                        <span>{{item.estimate}}</span>
                    </button>
                    <button name="sp-assigne" class="btn btn-default btn-circle-issue btn-lg name-issue-btn" [ngStyle]="{'background-color': item.assigne.color}" [title]="item.assigne.name" *ngIf="item.assigne && item.assigne.name !== ''">
                        <span>{{item.assigne.name.charAt(0)}}</span>
                    </button>
                    <button *ngIf="permissionService.hasPermission('/api/Process/Browse/DeleteIssue')" name="sp-delete-issue" class="btn btn-default btn-circle-issue btn-lg delete-issue-btn" title="Delete Issue" (click)="deleteIssueClicked(item)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</div>



<app-move-issue
    [openMoveIssueWindow]="openMoveIssueWindow"
    [issueToMove]="issueToMove"
    [sprints]="sprintsToMove"
    (closeMoveIssueWindow)="closeMoveIssueWindow()"
    (sprintListUpdated)="updateSprintList($event)"
>
</app-move-issue>

<app-complete-sprint 
    [sprintToDelete]="sprintToDelete"
    [openIssues]="openIssues" 
    [openSprints]="openSprints" 
    [openCompleteSprintWindow]="openCompleteSprintWindow"
    (closeCompleteSprintWindow)="closeCompleteSprintWindow()"
    [doneIssues]="doneIssues"
    (submitCompleteSprint)="submitCompleteSprint($event)">
</app-complete-sprint>

<app-delete-issue
    [issueToDelete]="issueToDelete"
    [openDeleteIssueWindow]="openDeleteIssueWindow"
    (closeDeleteIssueWindow)="closeDeleteIssueWindow()"
    (updateIssueList)="updateIssueList($event)">
</app-delete-issue>

<app-add-sprint 
    [isSprintEdited]="true" 
    [sprintToEdit]="sprintToEdit"
    [openAddSprintWindow]="openAddSprintWindow" 
    (closeAddSprintWindow)="closeAddSprintWindow()" 
    (sprintListUpdated)="updateSprints($event)">
</app-add-sprint>