td {
    border-bottom: 1px solid #dee2e6;
    box-sizing: border-box;
    max-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: default !important;
}

.actions {
    float: right;
    display: inline-flex;
    margin-top: 0.4rem;
}


.expand-sprint-btn {
    background-color: #fff;
    border-color: #ccc;
    color: #2e6da4;
    float: right;
}

.expand-sprint-btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #2e6da4;
}

.collapse-sprint-btn {
    background-color: #fff;
    border-color: #ccc;
    color: #2e6da4;
    float: right;
    padding-top: 0 !important;
}

.collapse-sprint-btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #2e6da4;
}


.fa-angle-down, .fa-angle-up {
    font-size: 1.4rem;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 4px 0px;
    padding-top: 4px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle-issue {
    width: 24px;
    height: 24px;
    padding: 4px 0px;
    padding-top: 4px;
    border-radius: 15px;
    text-align: center;
    font-size: 11px;
    line-height: 1.42857;
}

.sprint {
    height: 3rem;
}

.issue {
    height: 2rem;
    cursor: pointer !important;
}

td {
    padding-left: 13px;
    padding-right: 13px;
}


.estimation-issue-btn {
    color: #fff;
    background-color: #dfe1e6;
    color: black;
    cursor: default !important;
    margin-right: 0.5rem;
    min-width: 32px !important;
}

.name-issue-btn {
    color: #fff;
    background-color: #5cb85c;
    cursor: default !important;
    padding-bottom: 3px !important;
    margin-right: 0.5rem;
}

.issue-actions {
    display: inline-flex;
    float: right;
}

.move-issue-btn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding-top: 2px !important;
    padding-left: 2px !important;
}

.move-issue-btn:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.delete-issue-btn {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.delete-issue-btn:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.sprints .title {
    font-weight: bold;
    font-size: 1.2em;
}

.sprint-actions {
    display: inline-flex;
    float: right;
}

.start-sprint-btn {
    color: #fff;
    background-color: #92c94d;
    border-color: #92c94d;;
    height: 2rem;
    padding-top: 2px;
    font-size: 14px;
    padding-bottom: 2px;
    width: max-content;
}

.complete-sprint-btn {
    height: 2rem;
    padding-top: 2px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    font-size: 14px;
    padding-bottom: 2px;
    width: max-content;
}

.complete-sprint-btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.sprint-more-btn {
    height: 2rem;
    padding-top: 2px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding-bottom: 2px;
    width: max-content;
    margin-left: 0.3rem;
    font-size: 16px;
}

.edit-sprint, .delete-sprint {
    padding: 6px;
    cursor: pointer;
}

.edit-sprint:hover, .delete-sprint:hover {
    background-color: rgba(0,0,0,.075);
}

.assignee-popup {
    left: auto !important;
    width: 8.8rem;
    top: auto !important;
    float: right;
    margin-top: 2rem;
    right: 0 !important;
    position: absolute !important;
}

.complete-assignee-popup {
    width: 11.5rem;
}

.date {
    color: #6f6a6a;
    font-size: 12px;
    margin-top: 0.5rem;
    margin-right: 0.3rem;
    white-space: nowrap;
}

.fa-ellipsis-h {
    color: gray;
    font-size: 0.9em;
}

.sprint-more-btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    margin-right: 0.3rem;
}

.active {
    background-color: #dadada;
}


.example-container {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .sprints {
    padding: 1px 10px;
    height: 2.6rem;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: default;
    background: white;
    font-size: 14px;
  }

  .issues {
    padding: 1px 10px;
    height: 2rem;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
  }

  .issues:hover {
    background-color: rgba(0,0,0,.075);
  }

  .issues:active {
    background-color: rgba(0,0,0,.075);
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }