<div id="regular-user" class="main regular-user container-fluid">
    <img id="pass-img" class="full-image" src="assets/images/background.jpg" />

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="user-profile-pannel">
                <div class="row">
                    <div class="col-md-12">
                        <p id="pass-back" class="close" (click)="back()">X</p>
                    </div>
                </div>
                <form (ngSubmit)="confirm()" [formGroup]="frmSignup">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 id="change-password-h4" class="user-profile-title">Change Password</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="avatar">
                                <ngx-avatar id="av"class="my-avatar" size="80" name="{{ currentUser.name }}"></ngx-avatar>
                            </div>
                        </div>
                    </div>
                    <div class="seperate-line"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="curr-pass" type="password" class="password" [ngClass]="oldPassword.trim('') === '' ? 'is-invalid' : ''" placeholder="Current Password" name="oldPassword" [(ngModel)]="oldPassword" [ngModelOptions]="{ standalone: true }" required />
                            <input id="pass" type="password" class="password" [ngClass]="
                  frmSignup.controls['password'].invalid ? 'is-invalid' : ''
                " formControlName="password" placeholder="New Password" name="newPassword" required />
                            <div id="info-condition" class="info-condition">
                                <label id="has-err-minlength" class="col" [ngClass]="
                    frmSignup.controls['password'].hasError('required') ||
                    frmSignup.controls['password'].hasError('minlength')
                      ? 'text-danger'
                      : 'text-success'
                  ">
                  At least 8 characters!
                </label>
                                <label id="has-err-hasNumber" class="col" [ngClass]="
                    frmSignup.controls['password'].hasError('required') ||
                    frmSignup.controls['password'].hasError('hasNumber')
                      ? 'text-danger'
                      : 'text-success'
                  ">
                  At least 1 number!
                </label>
                                <label id="has-err-hasCapitalCase" class="col" [ngClass]="
                    frmSignup.controls['password'].hasError('required') ||
                    frmSignup.controls['password'].hasError('hasCapitalCase')
                      ? 'text-danger'
                      : 'text-success'
                  ">
                  At least 1 in Capital Case!
                </label>
                                <label id="has-err-hasSmallCase" class="col" [ngClass]="
                    frmSignup.controls['password'].hasError('required') ||
                    frmSignup.controls['password'].hasError('hasSmallCase')
                      ? 'text-danger'
                      : 'text-success'
                  ">
                  At least 1 Letter in Small Case!
                </label>
                                <label id="has-err-specialChar" class="col" [ngClass]="
                    frmSignup.controls['password'].hasError('required') ||
                    frmSignup.controls['password'].hasError(
                      'hasSpecialCharacters'
                    )
                      ? 'text-danger'
                      : 'text-success'
                  ">
                  At least 1 Special Character!
                </label>
                            </div>
                            <input id="confirmPassword" type="password" class="password" formControlName="confirmPassword" placeholder="Confirm Password" name="confirmPassword" [ngClass]="
                  frmSignup.controls['confirmPassword'].invalid
                    ? 'is-invalid'
                    : ''
                " required />
                        </div>
                    </div>
                    <div style="padding-top: 40px;"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="role">
                                <a id="changeEmail" class="href" (click)="onEmail()">Change Email</a>
                            </h6>
                            <h6 class="role">
                                <a  id="change-profName" class="href" (click)="onUser()">Change Profile Name</a>
                            </h6>
                            <h6 class="role">
                                <a id="logOut" class="changeUser" (click)="logOut()">Logout</a>
                            </h6>
                        </div>
                        <div class="col-md-6">
                            <button id="cl-btn" type="button" class="btn btn-danger action-buttons white" (click)="back()">
                                      Close
                            </button>
                            <button id="conf-btn" type="submit" [disabled]="isSubmitBtnDisabled()" class="btn btn-success action-buttons blue">
                                      Confirm
                           </button>
                        </div>
                    </div>
                    <div class="box">
                        <a id="pass-anchor" class="button" href="#password"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div id="password" class="overlay">
    <div class="popup">
        <h2 id="blue-text">Change Password</h2>
        <a id="times-a"class="close" (click)="back()">&times;</a>
        <div class="content grey-text ">
            <i class="fa fa-lightbulb-o " aria-hidden="true "></i>Use this screen to change the password of the user and view other available changes.
            <div class="table ">
                <div class="table-row blue ">
                    <div id="field-t" class="table-cell ">
                        Field
                    </div>
                    <div id="usage-t" class="table-cell ">
                        Usage
                    </div>
                </div>
                <div class="table-row ">
                    <div id="current-t" class="table-cell blue-text ">
                        Current Password
                    </div>
                    <div id="current-t-desc" class="table-cell grey-text ">
                        Field used to write the current user password
                    </div>
                </div>
                <div class="table-row ">
                    <div id="new-pass-t" class="table-cell blue-text ">
                        New Password
                    </div>
                    <div id="new-pass-t-desc" class="table-cell grey-text ">
                        Field used to write new user password
                    </div>
                </div>
                <div class="table-row ">
                    <div id="conf-pass-t" class="table-cell blue-text ">
                        Confirm Password
                    </div>
                    <div id="conf-pass-t-desc" class="table-cell grey-text ">
                        Field to rewrite the new user password for confirmation
                    </div>
                </div>
                <div class="table-row ">
                    <div id="change-email-t" class="table-cell blue-text ">
                        Change Email
                    </div>
                    <div id="change-email-t-desc" class="table-cell grey-text ">
                        Opens a screen to change the email
                    </div>
                </div>
                <div class="table-row ">
                    <div id="change-profile-t" class="table-cell blue-text ">
                        Change Profile Name
                    </div>
                    <div id="change-profile-t-desc" class="table-cell grey-text ">
                        Opens a screen to change the email
                    </div>
                </div>
                <div class="table-row ">
                    <div id="logout-t" class="table-cell blue-text ">
                        Logout
                    </div>
                    <div id="logout-t-desc" class="table-cell grey-text ">
                        Logs out from Sense.ai
                    </div>
                </div>
                <div class="table-row ">
                    <div id="confirm-btn" class="table-cell blue-text ">
                        Confirm button
                    </div>
                    <div id="confirm-btn-desc" class="table-cell grey-text ">
                        Submits the changes made on the password
                    </div>
                </div>
                <div class="table-row ">
                    <div id="cancel-btn" class="table-cell blue-text ">
                        Cancel button
                    </div>
                    <div id="cancenl-btn-desc" class="table-cell grey-text ">
                        Discards the changes made on the password
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>