<kendo-dialog id="del-sys" width="600" height="200" title="Delete System" *ngIf="deleteSystemWindowOpen" (close)="close()">
    <div id="big-div-text" class="row">
        <div class="col-12">
            <span id="del-sys-text" class="description">
                Are you sure you want to delete '{{selectedSystem.title}}' system ?
            </span>
        </div>
    </div>
    <kendo-dialog-actions id="del-sys-act" >
        <div class="row">
            <div class="col-12 action-buttons">
                <button id="sys-yes" class="btn add" (click)="deleteSystem()">Yes</button>
                <button id="sys-no" class="btn exit" (click)="close()">No</button>
            </div>
        </div>
    </kendo-dialog-actions>
</kendo-dialog>